<mat-card *ngIf="offering">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'VOLUME_PAGE.DETAILS.DISK_OFFERING' | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid grid-right">
      <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="isCustomField(column, customFields)">
          <cs-parameters-pair
            [name]="tableId + '.' + column"
            [value]="(tableId + '.' + offering[column]?.toString() | translate)  || '-'">
          </cs-parameters-pair>
        </ng-container>
        <ng-container *ngIf="!isCustomField(column, notCustomFields)">
          <cs-parameters-pair
            [name]="tableId + '.' + column"
            [value]="offering[column]  || '-'">
          </cs-parameters-pair>
        </ng-container>
        <ng-container *ngIf="column === 'created'">
          <div class="row">
            <div>{{ 'VOLUME_PAGE.DETAILS.created' | translate }}</div>
            <div>{{ offeringCreated | stringifyDate }}</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
