<mat-card *ngIf="offering">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'VOLUME_PAGE.DETAILS.DISK_OFFERING' | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid grid-right">
      <ng-container *ngFor="let column of columns">
        <div class="row">
          <!--Title-->
          <ng-container *ngIf="column !== 'name'">
            <div>{{ tableId.toUpperCase() + '.' + column.toUpperCase() | translate}}</div>
          </ng-container>
          <ng-container *ngIf="column === 'name'">
            <div>{{ tableId.toUpperCase() + '.' + column.toUpperCase() + '_SIDEBAR' | translate}}</div>
          </ng-container>

          <!--Value-->
          <ng-container *ngIf="column === 'name'">
            <div class="name-text" [matTooltip]="offering[column]">
              {{ offering[column] }}
            </div>
          </ng-container>
          <ng-container *ngIf="column === 'provisioningtype' || column === 'storagetype' || column === 'iscustomized'">
            <div>{{ (tableId.toUpperCase() + '.' + offering[column]?.toString().toUpperCase() | translate)  || '-'}}</div>
          </ng-container>
          <ng-container *ngIf="column !== 'provisioningtype' && column !==  'storagetype' && column !==  'name' && column !== 'iscustomized'">
            <div>{{ offering[column] || '-'}}</div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
