<h3 class="mdl-dialog__title">{{ 'CREATE_NEW_TAG_CATEGORY' | translate }}</h3>

<div class="mdl-dialog__content">

  <mdl-textfield
    type="text"
    [label]="'TAG_CATEGORY_NAME' | translate"
    floating-label
    name="domain"
    #keyField="ngModel"
    [(ngModel)]="categoryName"
    [class.is-invalid]="keyField.invalid && !keyField.pristine"
  ></mdl-textfield>

</div>

<div class="mdl-dialog__actions">
  <button
    mdl-button
    mdl-colored="primary"
    mdl-ripple
    (click)="onCreate()"
    [disabled]=""
  >
    {{ 'CREATE' | translate }}
  </button>
  <button
    mdl-button
    mdl-colored="primary"
    mdl-ripple
    (click)="onCancel()"
  >
    {{ 'CANCEL' | translate }}
  </button>
</div>
