<div *ngIf="entity">
  <div class="title-container">
    <h4 class="details-header">{{ entity.name }}</h4>
    <button mat-icon-button
            [matMenuTriggerFor]="actionsMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <nav mat-tab-nav-bar *ngIf="!isPredefinedTemplate">
    <a
      matTabLink
      [routerLink]="['./sg']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('sg')"
    >
      <div [matTooltip]="'SECURITY_GROUP_PAGE.SIDEBAR.FIREWALL' | translate" class="mat-tab-tooltip">
        <mat-icon>security</mat-icon>
      </div>
    </a>
    <a *ngIf="!entity?.preselected"
      matTabLink
      [routerLink]="['./tags']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('tags')"
    >
      <div [matTooltip]="'SECURITY_GROUP_PAGE.SIDEBAR.TAGS' | translate" class="mat-tab-tooltip">
        <mat-icon>local_offer</mat-icon>
      </div>
    </a>
  </nav>
</div>

<mat-menu #actionsMenu="matMenu">
  <cs-security-group-actions-container
    *ngIf="entity"
    [securityGroup]="entity"
  ></cs-security-group-actions-container>
</mat-menu>


<router-outlet></router-outlet>

<ng-container *ngIf="!isPredefinedTemplate">
  <cs-overlay-loading [active]="!entity"></cs-overlay-loading>
</ng-container>

