<ng-container *ngIf="entity">
  <cs-template-description [template]="entity"></cs-template-description>

  <cs-template-os-container [template]="entity"></cs-template-os-container>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="mat-card-title-text">{{ "TEMPLATE_PAGE.TEMPLATE_DETAILS.DETAILS" | translate }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="grid grid-right">
        <div class="row" *ngIf="entity.size">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.SIZE' | translate }}</div>
          <div>{{ entity.size | division:2:30:2 }} {{ 'UNITS.GB' | translate }}</div>
        </div>
        <div class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.EXTRACTABLE' | translate }}</div>
          <div>{{ entity.isextractable | viewValue | async }}</div>
        </div>
        <div class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.PUBLIC' | translate }}</div>
          <div>{{ entity.ispublic | viewValue | async }}</div>
        </div>
        <div class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.RECOMMENDED' | translate }}</div>
          <div>{{ entity.isfeatured | viewValue | async }}</div>
        </div>
        <div class="row" *ngIf="entity.passwordenabled !== undefined">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.PASSWORD_ENABLED' | translate }}</div>
          <div>{{ entity.passwordenabled | viewValue | async }}</div>
        </div>
        <div class="row" *ngIf="entity.isdynamicallyscalable !== undefined">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.DYNAMICALLY_SCALABLE' | translate }}</div>
          <div>{{ entity.isdynamicallyscalable | viewValue | async }}</div>
        </div>
        <div class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.CROSS_ZONES' | translate }}</div>
          <div>{{ entity.crossZones | viewValue | async }}</div>
        </div>
        <div class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.DOMAIN' | translate }}</div>
          <div>{{ entity.domain }}</div>
        </div>
        <div class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.CREATED' | translate }}</div>
          <div>{{ templateCreated | csStringifyDate }}</div>
        </div>
        <div *ngIf="entity.templatetype" class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.TYPE' | translate }}</div>
          <div>{{ templateTypeTranslationToken | translate }}</div>
        </div>
        <div *ngIf="entity.hypervisor" class="row">
          <div>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.HYPERVISOR' | translate }}</div>
          <div>{{ entity.hypervisor }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="downloadUrl(entity)">
    <mat-card-header>
      <mat-card-title><h2>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.DOWNLOAD_URL' | translate }}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <cs-input-group class="full-width-input">
        <mat-form-field class="full-width-input" cs-input-group-textbox>
          <input matInput [value]="downloadUrl(entity)" readonly>
        </mat-form-field>
        <cs-clipboard-button
          cs-input-group-button
          [value]="downloadUrl(entity)"
          tooltipPosition="below"
        ></cs-clipboard-button>
      </cs-input-group>
    </mat-card-content>
  </mat-card>
  <cs-template-group-container></cs-template-group-container>
</ng-container>
