<mat-card (click)="handleClick($event)" [class.card-selected]="isSelected(item)">

  <mat-card-header>
    <cs-template-os-icon-container [template]="item"></cs-template-os-icon-container>
    <mat-card-title [matTooltip]="item.name">
      <span [innerHTML]="item.name | highlight:query"></span>
    </mat-card-title>
    <ng-container *ngIf="isSelf">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu" class="menu">
        <mat-icon class="mdi-dots-vertical"></mat-icon>
      </button>
    </ng-container>
  </mat-card-header>

  <mat-card-content>
    <div class="card-data-line">
     {{ 'TEMPLATE_PAGE.CARD.OS' | translate }}:&nbsp;
      <span [innerHTML]="item.osTypeName | highlight:query"></span>
    </div>
    <div class="card-data-line">
      {{ 'TEMPLATE_PAGE.CARD.DESCRIPTION' | translate }}:
      <span [innerHTML]="item.displayText | highlight:query"></span>
    </div>
  </mat-card-content>

  <mat-menu #actionsMenu="matMenu">
    <cs-template-actions-container [template]="item"></cs-template-actions-container>
  </mat-menu>

</mat-card>
