:host {
  display: inline-flex;
  z-index: -1;
}

:host(.single-line) {
  cursor: pointer;
}

.last {
  margin-left: 20px;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiline {
  word-wrap: break-word;
  overflow: hidden;
}

.template-header {
  max-width: 235px !important;
  margin-left: 5px;
}

mat-card-title {
  display: flex;
  align-items: center;
}

cs-template-os-icon {
  flex-shrink: 0;
}
