<mat-card (click)="onClicked($event)">

  <mat-card-header>
    <mat-icon class="mdi-key"></mat-icon>
    <mat-card-title [matTooltip]="item.name">
      {{ item.name }}
    </mat-card-title>
    <button  mat-icon-button [matMenuTriggerFor]="actionsMenu" class="menu">
      <mat-icon class="mdi-dots-vertical"></mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="card-data-line">
      {{ item.fingerprint }}
    </div>
  </mat-card-content>

  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item (click)="onRemoveClicked()">
      <mat-icon class="mdi-delete"></mat-icon>
      <span>{{ 'COMMON.DELETE' | translate }}</span>
    </button>
  </mat-menu>

</mat-card>
