<mat-card (click)="onClicked($event)" class="entity-card">

  <mat-card-header class="entity-card-header">
    <div class="entity-card-thumbnail">
      <mat-icon class="mdi-key"></mat-icon>
    </div>
    <mat-card-title [matTooltip]="item.name" class="entity-card-title">
      {{ item.name }}
    </mat-card-title>
    <button  mat-icon-button [matMenuTriggerFor]="actionsMenu" class="entity-card-menu">
      <mat-icon class="mdi-dots-vertical"></mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="entity-card-data-line">
      {{ item.fingerprint }}
    </div>
  </mat-card-content>

  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item (click)="onRemoveClicked()">
      <mat-icon class="mdi-delete"></mat-icon>
      <span>{{ 'COMMON.DELETE' | translate }}</span>
    </button>
  </mat-menu>

</mat-card>
