//.grid.alert-dialog {
//  overflow: hidden;
//  height: 100px;
//
//  &.open {
//    height: auto;
//  }
//}

.support-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
