<ng-container *ngIf="account">
  <md-card>
    <md-card-header>
      <md-card-title>
        <h2 class="md-card-title-text">{{ 'ACCOUNT_PAGE.DETAILS.TITLE' | translate }}</h2>
      </md-card-title>
    </md-card-header>
    <md-card-content class="md-card-content-with-actions">
      <div class="md-card-content-container">
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [mdTooltip]="'ACCOUNT_PAGE.DETAILS.ID' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.ID' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.id"
              [mdTooltip]="account.id"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [mdTooltip]="'ACCOUNT_PAGE.DETAILS.ROLE' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.ROLE' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.rolename"
              [mdTooltip]="account.rolename"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [mdTooltip]="'ACCOUNT_PAGE.DETAILS.ROLE_TYPE' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.ROLE_TYPE' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.roletype"
              [mdTooltip]="account.roletype"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [mdTooltip]="'ACCOUNT_PAGE.DETAILS.DOMAIN' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.DOMAIN' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.domain"
              [mdTooltip]="account.domain"
            ></div>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</ng-container>

<cs-account-settings *ngIf="account && isAdmin()" [account]="account"></cs-account-settings>
<cs-account-limits *ngIf="limits" [limits]="limits" [isAdmin]="isAdmin()" (onLimitsEdit)="updateLimits($event)"></cs-account-limits>
<cs-account-statistics *ngIf="account  && isAdmin()"  [account]="account"></cs-account-statistics>
