<div *ngIf="entity">
  <div class="title-container">
    <h4 class="details-header">{{ entity?.name }}</h4>
    <button mat-icon-button
            [matMenuTriggerFor]="actionsMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="showDescription">
    <cs-description
      [description]="description"
      (descriptionChange)="onDescriptionChange($event)"
    ></cs-description>
  </ng-container>

  <cs-ssh-key-fingerprint [sshKeyPair]="entity"></cs-ssh-key-fingerprint>
</div>

<mat-menu #actionsMenu="matMenu">
  <button mat-menu-item (click)="onRemoveClicked(entity)">
    <mat-icon>delete</mat-icon>
    <span>{{ 'COMMON.DELETE' | translate }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>

<cs-no-results *ngIf="notFound" [text]="'SSH_KEYS.SSH_KEY_PAIR_NOT_FOUND' | translate"></cs-no-results>

<cs-overlay-loading [active]="!entity && !notFound"></cs-overlay-loading>
