mat-dialog-content {
  table {
    width: 100%;
    table-layout: fixed;
  }
}

.mat-cell {
  padding-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-wrapper {
  max-height: 250px;
  min-height: 150px;
}
