<h3 class="mdl-dialog__title">
  {{ (securityGroup.isPredefinedTemplate() ? 'TEMPLATE_RULES' : 'EDIT_RULES') | translate }}
</h3>
<div class="mdl-dialog__content">
  <form #rulesForm="ngForm">
    <table class="mdl-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">{{ 'TYPE' | translate }}</th>
        <th>{{ 'PROTOCOL' | translate }}</th>
        <template [ngIf]="protocol !== 'ICMP'">
          <th>{{ 'START_PORT' | translate }}</th>
          <th>{{ 'END_PORT' | translate }}</th>
        </template>
        <template [ngIf]="protocol === 'ICMP'">
          <th>{{ 'ICMP_TYPE' | translate }}</th>
          <th>{{ 'ICMP_CODE' | translate }}</th>
        </template>
        <th class="mdl-data-table__cell--non-numeric">CIDR</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!securityGroup.isPredefinedTemplate()">
        <td class="mdl-data-table__cell--non-numeric">
          <mdl-select class="type" [(ngModel)]="type" name="type">
            <mdl-option [value]="'Ingress'">{{ 'INGRESS' | translate }}</mdl-option>
            <mdl-option [value]="'Egress'">{{ 'EGRESS' | translate }}</mdl-option>
          </mdl-select>
        </td>
        <td>
          <mdl-select [(ngModel)]="protocol" name="protocol">
            <mdl-option [value]="'TCP'">TCP</mdl-option>
            <mdl-option [value]="'UDP'">UDP</mdl-option>
            <mdl-option [value]="'ICMP'">ICMP</mdl-option>
          </mdl-select>
        </td>
        <td>
          <mdl-textfield
            *ngIf="protocol === 'ICMP'"
            [class.is-invalid]="icmpTypeField.touched && icmpTypeField.invalid"
            name="icmpType"
            type="number"
            minValue="-1"
            error-msg="{{ 'ENTER_VALID_TYPE' | translate }}"
            [label]="(icmpType === -1 ? 'ICMP_ANY' : '') | translate"
            floating-label
            required
            [(ngModel)]="icmpType"
            #icmpTypeField="ngModel"
            (click)="onIcmpTypeClick()"
          ></mdl-textfield>
          <mdl-textfield
            *ngIf="protocol !== 'ICMP'"
            [class.is-invalid]="startPortField.touched && startPortField.invalid"
            name="startPort"
            type="number"
            minValue="0"
            maxValue="65536"
            error-msg="{{ 'ENTER_VALID_PORT' | translate }}"
            required
            [(ngModel)]="startPort"
            #startPortField="ngModel"
          ></mdl-textfield>
        </td>
        <td>
          <mdl-textfield
            [class.is-invalid]="icmpCodeField.touched && icmpCodeField.invalid"
            *ngIf="protocol === 'ICMP'"
            name="icmpCode"
            type="number"
            minValue="-1"
            [label]="(icmpCode === -1 ? 'ICMP_ANY' : '') | translate"
            floating-label
            error-msg="{{ 'ENTER_VALID_CODE' | translate }}"
            required
            [(ngModel)]="icmpCode"
            #icmpCodeField="ngModel"
            (click)="onIcmpCodeClick()"
          ></mdl-textfield>
          <mdl-textfield
            *ngIf="protocol !== 'ICMP'"
            [class.is-invalid]="endPortField.touched && endPortField.invalid"
            name="endPort"
            type="number"
            minValue="0"
            maxValue="65536"
            error-msg="{{ 'ENTER_VALID_PORT' | translate }}"
            required
            [(ngModel)]="endPort"
            #endPortField="ngModel"
          ></mdl-textfield>
        </td>
        <td>
          <mdl-textfield
            class="cidr"
            [class.is-invalid]="cidrField.touched && cidrField.invalid"
            name="cidr"
            type="text"
            pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$"
            error-msg="{{ 'ENTER_VALID_CIDR' | translate }}"
            required
            [(ngModel)]="cidr"
            #cidrField="ngModel"
            (click)="onCidrClick()"
          >
          </mdl-textfield>
        </td>
        <td>
          <button
            class="add-rule-button"
            mdl-button
            mdl-button-type="icon"
            (click)="addRule($event)"
            disabled="{{ securityGroup.isPredefinedTemplate() || adding || rulesForm.form.invalid }}"
          >
            <mdl-icon *ngIf="!adding">add</mdl-icon>
            <mdl-spinner single-color active *ngIf="adding"></mdl-spinner>
          </button>
        </td>
      </tr>
      <cs-security-group-rule
        *ngFor="let rule of securityGroup?.ingressRules"
        [type]="'Ingress'"
        [rule]="rule"
        [canRemove]="!securityGroup.isPredefinedTemplate()"
        (onRemove)="removeRule($event)"
      >
      </cs-security-group-rule>
      <cs-security-group-rule
        *ngFor="let rule of securityGroup?.egressRules"
        [type]="'Egress'"
        [rule]="rule"
        [canRemove]="!securityGroup.isPredefinedTemplate()"
        (onRemove)="removeRule($event)"
      >
      </cs-security-group-rule>
      </tbody>
    </table>
  </form>
</div>
<div class="mdl-dialog__actions">
  <button mdl-button mdl-ripple (click)="dialog.hide()">{{ 'CLOSE' | translate }}</button>
</div>
