<td class="mdl-data-table__cell--non-numeric">{{ type.toUpperCase() | translate }}</td>
<td>{{ rule.protocol.toUpperCase() }}</td>
<ng-template [ngIf]="rule.protocol === NetworkProtocols.ICMP">
  <td>{{ rule.icmpType }}</td>
  <td>{{ rule.icmpCode }}</td>
</ng-template>
<ng-template [ngIf]="rule.protocol !== NetworkProtocols.ICMP">
  <td>{{ rule.startPort }}</td>
  <td>{{ rule.endPort }}</td>
</ng-template>
<td class="mdl-data-table__cell--non-numeric">{{ rule.CIDR }}</td>
<td>
  <button
    class="delete-rule-button"
    mdl-button
    mdl-button-type="icon"
    (click)="handleRemoveClicked($event)"
    disabled="{{ !canRemove || deleting }}"
    [hidden]="!canRemove"
  >
    <mdl-icon *ngIf="!deleting">delete</mdl-icon>
    <mdl-spinner single-color active *ngIf="deleting"></mdl-spinner>
  </button>
</td>
