<ng-container *loading="!securityGroup">
  <h3
    class="mat-dialog-title"
    [innerHTML]="!editMode ?
    ('SECURITY_GROUP_PAGE.RULES.VIEW_TITLE' | translate:{ value: securityGroup.name }) :
    ('SECURITY_GROUP_PAGE.RULES.EDIT_TITLE' | translate:{ value: securityGroup.name })"
  >
  </h3>

  <div class="mat-dialog-content">
    <cs-sg-rule-addition-form
      *ngIf="!isPredefinedTemplate && editMode"
      [isAdding]="adding"
      (addRule)="onAddRule($event)"
    ></cs-sg-rule-addition-form>

    <div *ngIf="!editMode">
      <mat-form-field class="form-select-control">
        <mat-select
          multiple="true"
          [placeholder]="'SECURITY_GROUP_PAGE.RULES.SELECT_IP_VERSION' | translate"
          [(ngModel)]="selectedIPVersion"
          (selectionChange)="filter()"
          name="selectedIPVersion"
        >
          <mat-option *ngFor="let ipVersion of ipVersions" [value]="ipVersion">
            {{ ipVersion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-select-control">
        <mat-select
          multiple="true"
          [placeholder]="'SECURITY_GROUP_PAGE.RULES.SELECT_TYPE' | translate"
          name="selectedTypes"
          [(ngModel)]="selectedTypes"
          (selectionChange)="filter()"
        >
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-select-control">
        <mat-select
          multiple="true"
          [placeholder]="'SECURITY_GROUP_PAGE.RULES.SELECT_PROTOCOL' | translate"
          name="selectedProtocols"
          [(ngModel)]="selectedProtocols"
          (selectionChange)="filter()"
        >
          <mat-option *ngFor="let protocol of protocols" [value]="protocol.value">
            {{ protocol.text | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <cs-draggable-select
          name="groupBy"
          multiple="true"
          [placeholder]="'SECURITY_GROUP_PAGE.FILTERS.GROUP_BY' | translate"
          [(ngModel)]="selectedGroupings"
          [dragItems]="groupings"
          (change)="update()"
        >
          <mat-option *ngFor="let grouping of groupings" [value]="grouping">
            {{ grouping.label | translate }}
          </mat-option>
        </cs-draggable-select>
      </mat-form-field>
    </div>

    <cs-grouped-list
      *ngIf="visibleRules && visibleRules.length"
      [list]="visibleRules"
      [groupings]="selectedGroupings"
      [component]="ruleComponent"
      [dynamicInputs]="inputs"
      [dynamicOutputs]="outputs"
    >
    </cs-grouped-list>
    <div *ngIf="!visibleRules || !visibleRules.length">
      {{ 'SECURITY_GROUP_PAGE.RULES.NO_FIREWALL_RULES' | translate }}
    </div>
  </div>

  <div class="mat-dialog-actions">
    <button
      *ngIf="!isPredefinedTemplate"
      mat-button
      color="primary"
      (click)="confirmChangeMode()"
    >
      {{ (!editMode ? 'COMMON.EDIT' : 'COMMON.VIEW') | translate }}
    </button>
    <button mat-button color="primary" matDialogClose>
      {{ 'COMMON.CLOSE' | translate }}
    </button>
  </div>
</ng-container>
