:host {
  display: table;
  width: 100%;
}

.rule-row {

  .mat-cell {
    padding: 5px 0;
    font-size: 13px;
    border-bottom: none !important;
  }
}

.delete-button-cell {
  text-align: right !important;
}
