mdl-textfield {
  /deep/ .mdl-textfield__input,
  /deep/ .mdl-textfield__label {
    text-align: left;
  }

  &.cidr {
    width: 150px;
  }
}

.mat-dialog-content {
  table {
    width: 100%;
  }
}

:host /deep/ .mdl-textfield {
  width: 120px;
}

:host md-select.type /deep/ .mdl-textfield {
  width: 120px;
}

:host /deep/ mdl-spinner {
  position: relative;
  top: 2px;
}

.add-rule-button,
/deep/ .delete-rule-button {
  color: black;
}

.cidr {
  text-align: left;
}

:host /deep/ .mat-table th {
  text-align: left;
}

:host /deep/ .mat-table td {
  text-align: left;
}

.rule-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.mat-row:hover {
  background-color: transparent;
}

.table-form:hover {
  background-color: #eeeeee !important;
}
