<td class="mat-cell">
  {{ typeTranslationToken | translate }}
</td>
<td class="mat-cell">
  {{ protocolTranslationToken | translate }}
</td><ng-template [ngIf]="rule.protocol === NetworkProtocols.ICMP">
  <td class="mat-cell">{{ rule.icmpType }}</td>
  <td class="mat-cell">{{ rule.icmpCode }}</td>
</ng-template>

<ng-template [ngIf]="rule.protocol !== NetworkProtocols.ICMP">
  <td class="mat-cell">{{ rule.startPort }}</td>
  <td class="mat-cell">{{ rule.endPort }}</td>
</ng-template>
<td class="mat-cell">{{ rule.CIDR }}</td>
<td class="mat-cell">
  <button
    class="delete-rule-button"
    md-icon-button
    disabled="{{ !canRemove || deleting }}"
    [hidden]="!canRemove"
    (click)="handleRemoveClicked($event)"
  >
    <md-icon *ngIf="!deleting">delete</md-icon>
    <mdl-spinner single-color active *ngIf="deleting"></mdl-spinner>
  </button>
</td>
