mdl-textfield {
  /deep/ .mdl-textfield__input,
  /deep/ .mdl-textfield__label {
    text-align: right;
  }

  &.cidr {
    width: 150px;
  }
}

.mdl-dialog__content {
  overflow-y: auto;
  max-height: 550px;

  table {
    width: 100%;
  }
}

:host /deep/ .mdl-textfield {
   width: 85px;
}

:host mdl-select.type /deep/ .mdl-textfield {
  width: 120px;
}

:host mdl-select.icmp /deep/ .mdl-textfield {
  width: 200px;
  text-align: left;
  white-space: normal;
}

:host /deep/ mdl-spinner {
  position: relative;
  top: 2px;
}

:host mdl-select.icmp /deep/ .mdl-list__item-primary-content {
  display: block;
}

:host cs-security-group-rule:nth-child(3) {
  max-width: 200px;
  overflow: hidden;
}

.icmp-description {
  padding-top: 2px;
  font-size: 8pt;
}

/deep/ .wide {
  width: 1100px !important;
}

// the form becomes blurry when in has certain sizes
// this is a Chromium bug that manifests itself in Ubuntu and Windows and is related to css transforms
// we apply one of these classes to the form depending on the number of rules
// to manipulate the width and fix the blurriness
/deep/ .blur-fix-even {
  padding: 11.7px !important;
}

/deep/ .blur-fix-odd {
  padding: 11.8px !important;
 }
