<h3
  class="mat-dialog-title"
  [innerHTML]="isPredefinedTemplate ?
    ('SECURITY_GROUP_PAGE.RULES.VIEW_TITLE' | translate: { value: securityGroup?.name }) :
    ('SECURITY_GROUP_PAGE.RULES.EDIT_TITLE' | translate: { value: securityGroup?.name }) "
>
</h3>
<div class="mat-dialog-content">
  <form #rulesForm="ngForm" novalidate>
    <table class="mat-table">
      <tbody>
      <tr class="mat-row table-form" *ngIf="!isPredefinedTemplate">
        <td class="mat-cell">
          <md-select class="type" [(ngModel)]="type" name="type">
            <md-option
              *ngFor="let t of types"
              [value]="t.value"
            >
              {{ t.text | translate }}
            </md-option>
          </md-select>
        </td>
        <td class="mat-cell">
          <md-select [(ngModel)]="protocol" name="protocol">
            <md-option
              *ngFor="let p of protocols"
              [value]="p.value"
            >
              {{ p.text | translate }}
            </md-option>
          </md-select>
        </td>
        <td class="cidr mat-cell">
          <md-form-field class="cidr">
            <input
              mdInput
              name="cidr"
              type="text"
              [(ngModel)]="cidr"
              pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$"
              required
              (click)="onCidrClick()"
              #cidrField="ngModel"
            >
            <md-error *ngIf="cidrField.hasError('pattern')">
              {{ 'SECURITY_GROUP_PAGE.RULES.ENTER_VALID_CIDR' | translate }}
            </md-error>
          </md-form-field>
        </td>

        <td class="mat-cell">
          <ng-container *ngIf="protocol === NetworkProtocols.ICMP">
            <md-form-field floatPlaceholder="never">
              <input
                mdInput
                maxValue="255"
                minValue="-1"
                #icmpTypeField="ngModel"
                name="icmpType"
                [placeholder]="'SECURITY_GROUP_PAGE.RULES.ICMP_TYPE' | translate"
                [mdAutocomplete]="icmpTypesAuto"
                [(ngModel)]="selectedType"
                (ngModelChange)="setIcmpTypes(filterTypes(selectedType));"
              >
              <md-error *ngIf="icmpTypeField.invalid">{{
                'SECURITY_GROUP_PAGE.RULES.ENTER_VALID_TYPE' | translate }}
              </md-error>

              <md-autocomplete #icmpTypesAuto="mdAutocomplete">
                <md-option *ngFor="let t of icmpTypes" [value]="t.type">
                  {{ getIcmpTypeTranslationToken(t.type) | translate }} [{{ t.type }}]
                </md-option>
              </md-autocomplete>
            </md-form-field>
          </ng-container>

          <md-form-field *ngIf="protocol !== NetworkProtocols.ICMP">
            <input
              mdInput
              name="startPort"
              type="number"
              [(ngModel)]="startPort"
              [minValue]="0"
              [maxValue]="65536"
              integerValue
              required
              #startPortField="ngModel"
            >
            <md-error *ngIf="startPortField.invalid">
              {{ 'SECURITY_GROUP_PAGE.RULES.ENTER_VALID_PORT' | translate }}
            </md-error>
          </md-form-field>
        </td>

        <td class="mat-cell">
          <ng-container *ngIf="protocol === NetworkProtocols.ICMP">
            <md-form-field floatPlaceholder="never">
              <input
                mdInput
                name="icmpCode"
                maxValue="255"
                minValue="-1"
                #icmpCodeField="ngModel"
                [placeholder]="'SECURITY_GROUP_PAGE.RULES.ICMP_CODE' | translate"
                [mdAutocomplete]="icmpCodesAuto"
                [(ngModel)]="selectedCode"
                (ngModelChange)="setIcmpCodes(filterCodes(selectedCode))"
              >
              <md-error *ngIf="icmpCodeField.invalid">
                {{ 'SECURITY_GROUP_PAGE.RULES.ENTER_VALID_CODE' | translate }}
              </md-error>

              <md-autocomplete
                #icmpCodesAuto="mdAutocomplete"
                name="icmpCodesAuto"
              >
                <md-option *ngFor="let t of icmpCodes" [value]="t">
                  {{ getIcmpCodeTranslationToken(icmpType, t) | translate }} [{{ t }}]
                </md-option>
              </md-autocomplete>
            </md-form-field>
          </ng-container>

          <md-form-field *ngIf="protocol !== NetworkProtocols.ICMP">
            <input
              mdInput
              name="endPort"
              type="number"
              [(ngModel)]="endPort"
              [minValue]="0"
              [maxValue]="65536"
              integerValue
              required
              #endPortField="ngModel"
            >
            <md-error *ngIf="endPortField.invalid">
              {{ 'SECURITY_GROUP_PAGE.RULES.ENTER_VALID_PORT' | translate }}
            </md-error>
          </md-form-field>
        </td>

        <td class="mat-cell">
          <button
            md-icon-button
            class="add-rule-button"
            (click)="addRule($event)"
            disabled="{{ isPredefinedTemplate || adding || rulesForm.form.invalid }}"
          >
            <md-icon *ngIf="!adding">add</md-icon>
            <md-spinner *ngIf="adding"></md-spinner>
          </button>
        </td>
      </tr>
      <cs-security-group-rule
        class="mat-row rule-row"
        *ngFor="let rule of securityGroup?.ingressRules"
        [type]="NetworkRuleTypes.Ingress"
        [rule]="rule"
        [canRemove]="!isPredefinedTemplate"
        (onRemove)="removeRule($event)"
      >
      </cs-security-group-rule>
      <cs-security-group-rule
        class="mat-row rule-row"
        *ngFor="let rule of securityGroup?.egressRules"
        [type]="NetworkRuleTypes.Egress"
        [rule]="rule"
        [canRemove]="!isPredefinedTemplate"
        (onRemove)="removeRule($event)"
      >
      </cs-security-group-rule>
      </tbody>
    </table>
  </form>
</div>
<div class="mat-dialog-actions">
  <button md-button color="primary" mdDialogClose>
    {{ 'COMMON.CLOSE' | translate }}
  </button>
</div>
