<mat-card class="vm-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.TITLE' | translate }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="grid service-offering mat-card-content-container" [class.open]="expandServiceOffering">

      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.name' | translate }}</div>
        <div>{{ vm.serviceOffering.name }}</div>
      </div>

      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.description' | translate }}</div>
        <div>{{ vm.serviceOffering.displayText }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.cpuNumber != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.cpuNumber' | translate }}</div>
        <div>{{ vm.serviceOffering.cpuNumber }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.cpuSpeed != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.cpuSpeed' | translate }}</div>
        <div>{{ vm.serviceOffering.cpuSpeed }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.memory != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.memory' | translate }}</div>
        <div>{{ vm.serviceOffering.memory }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.created" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.created' | translate }}</div>
        <div>{{ vm.serviceOffering.created | stringifyDate }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.networkRate" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.networkRate' | translate }}</div>
        <div>{{ vm.serviceOffering.networkRate }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.offerHa != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.offerHa' | translate }}</div>
        <div>{{ vm.serviceOffering.offerHa | viewValue | async }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.limitCpu != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.limitCpu' | translate }}</div>
        <div>{{ vm.serviceOffering.limitCpu | viewValue | async }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.isVolatile != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.isVolatile' | translate }}</div>
        <div>{{ vm.serviceOffering.isVolatile | viewValue | async }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.isSystem != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.isSystem' | translate }}</div>
        <div>{{ vm.serviceOffering.isSystem | viewValue | async }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.defaultUse != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.defaultUse' | translate }}</div>
        <div>{{ vm.serviceOffering.defaultUse | viewValue | async }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.deploymentPlanner != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.deploymentPlanner' | translate }}</div>
        <div>{{ vm.serviceOffering.deploymentPlanner | viewValue | async }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.domain" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.domain' | translate }}</div>
        <div>{{ vm.serviceOffering.domain }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.diskBytesReadRate" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskBytesReadRate' | translate }}</div>
        <div>{{ vm.serviceOffering.diskBytesReadRate | division:10:6 }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.diskIopsWriteRate != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskBytesWriteRate' | translate }}</div>
        <div>{{ vm.serviceOffering.diskBytesWriteRate | division:10:6 }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.diskIopsReadRate != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskIopsReadRate' | translate }}</div>
        <div>{{ vm.serviceOffering.diskIopsReadRate }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.diskIopsWriteRate != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskIopsWriteRate' | translate }}</div>
        <div>{{ vm.serviceOffering.diskIopsWriteRate }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.provisioningType" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.provisioningType' | translate }}</div>
        <div>{{ vm.serviceOffering.provisioningType | translate }}</div>
      </div>

      <div *ngIf="vm?.serviceOffering?.storageType" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.storageType' | translate }}</div>
        <div>{{ vm.serviceOffering.storageType | translate }}</div>
      </div>

    </div>
    <mat-card-actions>
      <div class="card-left-button">
        <button
          [matTooltip]="'COMMON.CHANGE' | translate"
          matTooltipPosition="above"
          mat-icon-button
          (click)="changeServiceOffering()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="card-right-button">
        <button
          mat-icon-button
          (click)="toggleServiceOffering()"
          [class.open]="expandServiceOffering"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
