.mat-input-wrapper {
  text-align: left;
  padding-top: 18px;
}

.ellipsis-overflow {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11pt !important;
}
