<div class="tab-action-container" *ngIf="isAdmin">
  <button mat-mini-fab (click)="addUser()">
    <mat-icon class="mdi-plus"></mat-icon>
  </button>
</div>

<mat-accordion *ngIf="!!account">
  <mat-expansion-panel
    *ngFor="let user of sortedUsers"
    [expanded]="step === user.id"
    (opened)="openItem(user)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ user.firstname }} {{ user.lastname }}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <cs-account-user-card [user]="user"></cs-account-user-card>

    <mat-action-row
      *ngIf="isAdmin || currentUserId === user.id"
    >
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
        <mat-icon class="mdi-dots-vertical"></mat-icon>
      </button>
    </mat-action-row>

    <mat-menu
      #actionsMenu="matMenu"
      [style.width.px]="300"
    >
      <cs-account-user-actions
        [user]="user"
        (userDeleted)="deleteUser($event)"
        (userEdited)="editUser($event)"
        (userChangedPassword)="onUserChangePassword($event)"
        (userRegeneratedKey)="regenerateKeys($event)"
      >
      </cs-account-user-actions>
    </mat-menu>
  </mat-expansion-panel>
</mat-accordion>
