<cs-overlay-loading [active]="loading"></cs-overlay-loading>
<h3 *ngIf="!loading" class="mat-dialog-title">
  {{ (title || 'ACCOUNT_PAGE.USER.EDIT_USER') | translate }}
</h3>
<form (ngSubmit)="onUserUpdate()" [formGroup]="userForm">
  <div class="mat-dialog-content">
    <mat-form-field class="full-width-input">
      <input
        matInput
        name="username"
        [placeholder]="'ACCOUNT_PAGE.USER.USERNAME' | translate"
        autocomplete="new-username"
        required
        formControlName="username"
      >
    </mat-form-field>
    <mat-form-field *ngIf="!(user && user.id)" class="full-width-input">
      <input
        matInput
        name="password"
        [placeholder]="'ACCOUNT_PAGE.USER.PASSWORD' | translate"
        autocomplete="new-password"
        [type]="showPassword ? 'password' : 'text'"
        required
        formControlName="password"
      >
      <mat-icon
        matSuffix
        (click)="showPassword = !showPassword"
        [ngClass]="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      >
      </mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        name="firstName"
        formControlName="firstname"
        required
        [placeholder]="'ACCOUNT_PAGE.USER.FIRST_NAME' | translate"
      >
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        name="lastName"
        formControlName="lastname"
        required
        [placeholder]="'ACCOUNT_PAGE.USER.LAST_NAME' | translate"
      >
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        matInput
        name="email"
        formControlName="email"
        [placeholder]="'ACCOUNT_PAGE.USER.EMAIL' | translate"
        required
      >
    </mat-form-field>
    <cs-time-zone
      name="timezone"
      formControlName="timezone"
    ></cs-time-zone>
  </div>

  <div class="mat-dialog-actions">
    <button
      mat-button
      color="primary"
      matDialogClose
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="!userForm.valid"
    >
      {{ (confirmButtonText || 'COMMON.EDIT') | translate }}
    </button>
  </div>
</form>
