<h3 class="mat-dialog-title">
  {{ 'ACCOUNT_PAGE.USER.CHANGE_PASSWORD' | translate }}
</h3>
<form (ngSubmit)="onChangePassword()" #passwordForm="ngForm">
  <mat-form-field class="full-width-input">
    <input
      matInput
      required
      #passwordInput
      name="passwordInput"
      [(ngModel)]="password"
      [placeholder]="'ACCOUNT_PAGE.USER.PASSWORD' | translate"
      [type]="hidePassword ? 'password' : 'text'"
    >
    <mat-icon
      matSuffix
      (click)="hidePassword = !hidePassword"
      [ngClass]="hidePassword ? 'mdi-eye' : 'mdi-eye-off'"
    >
    </mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input
      matInput
      required
      #confirmPasswordInput
      name="confirmPasswordInput"
      [(ngModel)]="confirmPassword"
      [placeholder]="'ACCOUNT_PAGE.USER.CONFIRM_PASSWORD' | translate"
      [type]="hideConfirmPassword ? 'password' : 'text'"
    >
    <mat-icon
      matSuffix
      (click)="hideConfirmPassword = !hideConfirmPassword"
      [ngClass]="hideConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
    >
    </mat-icon>
  </mat-form-field>

  <mat-error
    *ngIf="password !== confirmPassword
      && passwordForm.controls['passwordInput'].touched
      && passwordForm.controls['confirmPasswordInput'].touched"
  >
    {{ 'ACCOUNT_PAGE.USER.CONFIRM_PASSWORD_ERROR' | translate }}
  </mat-error>

  <div class="mat-dialog-actions">
    <button
      mat-button
      color="primary"
      matDialogClose
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="!passwordForm.valid
      || (password !== confirmPassword
      && passwordForm.controls['passwordInput'].touched
      && passwordForm.controls['confirmPasswordInput'].touched)"
    >
      {{ ('COMMON.SAVE') | translate }}
    </button>
  </div>
</form>
