<cs-overlay-loading [active]="loading"></cs-overlay-loading>
<h3 class="mdl-dialog__title">{{ 'VOLUME_CREATION_FORM.NEW_VOLUME' | translate }}</h3>
<form (ngSubmit)="onCreate()" #volumeCreationForm="ngForm" novalidate>
  <div class="mdl-dialog__content">
    <div class="flex-column">
      <mdl-textfield
        type="text"
        label="{{ 'NAME' | translate }}"
        name="name"
        floating-label
        autofocus
        maxlength="255"
        required
        [(ngModel)]="name"
        #nameField="ngModel"
        [class.is-invalid]="nameField.invalid && !nameField.pristine"
      ></mdl-textfield>
      <cs-character-count
        [maxLength]="255"
        [value]="name"
      ></cs-character-count>
      <div>
        <h5>{{ 'ZONE' | translate }}</h5>
        <md-select
          [(ngModel)]="zoneId"
          id="zone"
          name="zone"
        >
          <md-option
            *ngFor="let z of zones"
            [value]="z.id"
          >
            {{ z.name }}
          </md-option>
        </md-select>
      </div>
      <div>
        <h5>{{ 'DISK_OFFERING' | translate }}</h5>
        <cs-disk-offering
          [diskOfferingList]="diskOfferings"
          (offeringUpdated)="updateDiskOffering($event)"
        ></cs-disk-offering>
      </div>
      <div *ngIf="showResizeSlider && minSize && maxSize">
        <cs-slider
          [min]="minSize"
          [max]="maxSize"
          [label]="'SIZE' | translate"
          [units]="'GB' | translate"
          name="diskSize"
          [(ngModel)]="size"
        ></cs-slider>
      </div>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button
      mdl-colored="primary"
      mdl-button
      mdl-ripple
      type="submit"
      [disabled]="!volumeCreationForm.valid"
    >
      {{ 'CREATE' | translate }}
    </button>
    <button
      mdl-colored="primary"
      mdl-button
      mdl-ripple
      type="button"
      (click)="onCancel()"
    >
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</form>
