<mat-list-item (click)="onClicked($event)" class="entity-list-item">
  <mat-icon class="mdi-key"></mat-icon>

  <h2 class="entity-list-item-title" [matTooltip]="item.name">
    {{ item.name }}
  </h2>

  <div class="entity-list-item-data">
    {{ item.fingerprint }}
  </div>

  <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
    <mat-icon class="mdi-dots-vertical"></mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item (click)="onRemoveClicked()">
      <mat-icon class="mdi-delete"></mat-icon>
      <span>{{ 'COMMON.DELETE' | translate }}</span>
    </button>
  </mat-menu>
</mat-list-item>
