<mat-list-item
  (click)="onClick.emit(item)"
  [class.selected-offering]="isSelected(item)"
>
  <div class="name">
    <span [innerHTML]="item.name | highlight:query"></span>
  </div>
  <div
    [innerHTML]="item.cpunumber"
  ></div>
  <div
    [innerHTML]="item.cpuspeed"
  ></div>
  <div
    [innerHTML]="item.memory"
  ></div>
  <div
    [innerHTML]="item.networkrate ? item.networkrate : '-'"
  ></div>
  <span>
        <mat-radio-button [checked]="isSelected(item)"></mat-radio-button>
      </span>
</mat-list-item>
