h4, h5 {
  margin: 10px;
}
.table-wrapper {
  background-color: rgba(226, 234, 6, 0.23);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  thead {
    text-align: left;
  }
  tbody {
    cursor: pointer;
  }
  td.name-text, th.name-text, th.field {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
