<cs-list
  (onAction)="showCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>
  <cs-account-list-filter
    [domains]="domains"
    [roles]="roles"
    (updateFilters)="updateFilters($event)"
    cs-list
  ></cs-account-list-filter>
  <cs-account-list
    *loading="!accounts"
    [groupings]="groupings"
    [accounts]="accounts"
    cs-list
  ></cs-account-list>
  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>

