<div class="options-panel filter-wrapper">
  <mat-form-field *ngIf="accounts.length > 1">
    <mat-select
      multiple="true"
      [placeholder]="'LOGS_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
      [ngModel]="selectedAccountIds"
      (selectionChange)="accountsChanged.emit($event.value)"
    >
      <mat-option
        *ngFor="let account of accounts"
        [value]="account.id"
      >{{ account?.fullDomain }}{{ account.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      [placeholder]="'LOGS_PAGE.FILTERS.SELECT_VM' | translate"
      [ngModel]="selectedVmId"
      (selectionChange)="vmChanged.emit($event.value)"
    >
      <mat-option
        *ngFor="let vm of vms"
        [value]="vm.id"
      >
        {{ vm.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      [placeholder]="'LOGS_PAGE.FILTERS.LOG_FILE' | translate"
      [ngModel]="selectedLogFile"
      (selectionChange)="logFileChanged.emit($event.value)"
    >
      <mat-option [value]="null">
        {{ 'LOGS_PAGE.FILTERS.LOG_FILE_NOT_SELECTED' | translate }}
      </mat-option>
      <mat-option
        *ngFor="let logFile of logFiles"
        [value]="logFile.file"
      >
        <span [matTooltip]="logFile.file">
          {{ logFile.file | csBasepath }}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="date-time">
    <cs-date-picker
      [label]="'LOGS_PAGE.FILTERS.START_DATE' | translate"
      [okLabel]="'COMMON.OK' | translate"
      [locale]="locale"
      [firstDayOfWeek]="firstDayOfWeek"
      [dateTimeFormat]="dateTimeFormatterService.dateTimeFormat"
      [cancelLabel]="'COMMON.CANCEL' | translate"
      [ngModel]="startDate"
      (changed)="startDateChanged.emit($event)"
    ></cs-date-picker>

    <cs-time-picker
      [timeFormat]="'hour24'"
      [ngModel]="startTime"
      (ngModelChange)="startTimeChanged.emit($event)"
    ></cs-time-picker>
  </div>

  <div class="date-time">
    <cs-date-picker
      [label]="'LOGS_PAGE.FILTERS.END_DATE' | translate"
      [okLabel]="'COMMON.OK' | translate"
      [locale]="locale"
      [firstDayOfWeek]="firstDayOfWeek"
      [dateTimeFormat]="dateTimeFormatterService.dateTimeFormat"
      [cancelLabel]="'COMMON.CANCEL' | translate"
      [ngModel]="endDate"
      (changed)="endDateChanged.emit($event)"
    ></cs-date-picker>

    <cs-time-picker
      [timeFormat]="'hour24'"
      [ngModel]="endTime"
      (ngModelChange)="endTimeChanged.emit($event)"
    ></cs-time-picker>
  </div>
</div>

<div class="filter-wrapper">
  <cs-vm-log-keywords
    class="keywords"
    [keywords]="keywords"
    (keywordAdded)="keywordAdded.emit($event)"
    (keywordRemoved)="keywordRemoved.emit($event)"
  ></cs-vm-log-keywords>

  <mat-checkbox
    [ngModel]="newestFirst"
    (change)="newestFirstChanged.emit()"
  >
    {{ 'LOGS_PAGE.FILTERS.NEWEST_FIRST' | translate }}
  </mat-checkbox>

  <div>
    <button mat-button (click)="refreshed.emit()" [disabled]="!selectedVmId">
      {{ 'LOGS_PAGE.FILTERS.SHOW_LOGS' | translate }}
    </button>
  </div>
</div>
