<cs-overlay-loading [active]="loading"></cs-overlay-loading>
<div [hidden]="loading">
  <h3 class="mat-dialog-title">
    {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.TITLE' | translate }}
  </h3>

  <div *ngIf="canResize">
    <form
      (ngSubmit)="resizeVolume()"
      #volumeResizeForm="ngForm"
      novalidate
    >
      <div class="mat-dialog-content">
        <div *ngIf="!volume?.isRoot">
          <h5>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.DISK_OFFERING' | translate }}</h5>
          <cs-disk-offering
            [diskOffering]="diskOffering"
            [diskOfferingList]="diskOfferings"
            (change)="updateDiskOffering($event)"
          ></cs-disk-offering>
        </div>
        <cs-slider
          *ngIf="diskOffering?.isCustomized || volume?.isRoot"
          [min]="volume.size | division:2:30"
          [max]="maxSize"
          [label]="'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.NEW_SIZE' | translate"
          [(ngModel)]="newSize"
          name="new-size"
          [units]="'UNITS.GB' | translate"
        ></cs-slider>
      </div>
      <div class="mat-dialog-actions">
        <button mat-button color="primary" matDialogClose type="button">
          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button
          *ngIf="canResize"
          mat-button
          color="primary"
          [disabled]="volumeResizeForm?.invalid"
        >
          {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.RESIZE' | translate }}
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="!canResize">
    <div class="mat-dialog-content">
      {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.NO_AVAILABLE_OFFERINGS' | translate }}
    </div>
  </div>
</div>
