<cs-overlay-loading [active]="loading"></cs-overlay-loading>
<h3 *ngIf="!loading" class="mat-dialog-title">{{ (title || 'TAGS.EDIT_TAG') | translate }}</h3>
<form (ngSubmit)="onTagUpdate()" #tagCreationForm="ngForm">
  <div class="mat-dialog-content">

    <mdl-textfield
      type="text"
      name="key"
      required
      autofocus
      floating-label
      #keyField="ngModel"
      [forbiddenValues]="forbiddenKeys || []"
      [error-msg]="keyFieldErrorMessage | translate"
      [(ngModel)]="key"
      [maxlength]="maxKeyLength"
      [label]="'TAGS.TAG_KEY' | translate"
      [class.is-invalid]="keyField.invalid && !keyField.pristine"
    ></mdl-textfield>
    <cs-character-count
      [value]="key"
      [maxLength]="maxKeyLength"
    ></cs-character-count>

    <mdl-textfield
      type="text"
      [label]="'TAGS.TAG_VALUE' | translate"
      name="value"
      required
      floating-label
      #valueField="ngModel"
      [(ngModel)]="value"
      [maxlength]="maxValueLength"
      [class.is-invalid]="valueField.invalid && !valueField.pristine"
    ></mdl-textfield>
    <cs-character-count
      [value]="value"
      [maxLength]="maxValueLength"
    ></cs-character-count>

  </div>

  <div class="mat-dialog-actions">
    <!--color-->
    <button
      md-button
      mdDialogClose
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <!--color-->
    <button
      md-button
      type="submit"
      [disabled]="!tagCreationForm.valid"
    >
      {{ (confirmButtonText || 'COMMON.EDIT') | translate }}
    </button>
  </div>
</form>
