<cs-overlay-loading [active]="loading"></cs-overlay-loading>
<h3 *ngIf="!loading" class="mat-dialog-title">{{ (title || 'TAGS.EDIT_TAG') | translate
  }}</h3>
<form (ngSubmit)="onTagUpdate()" #tagCreationForm="ngForm">
  <div class="mat-dialog-content">
    <md-input-container class="full-width-input">
      <input
        mdInput
        name="key"
        [(ngModel)]="key"
        [forbiddenValues]="forbiddenKeys || []"
        [placeholder]="'TAGS.TAG_KEY' | translate"
        [maxlength]="maxKeyLength"
        autofocus
        required
        #keyField="ngModel"
      >
      <md-error *ngIf="keyField.invalid">
        {{ keyFieldErrorMessage | translate }}
      </md-error>
      <md-hint align="end">
        <cs-character-count [value]="key" [maxLength]="maxKeyLength"></cs-character-count>
      </md-hint>
    </md-input-container>

    <md-input-container class="full-width-input">
      <input
        mdInput
        name="value"
        [(ngModel)]="value"
        [placeholder]="'TAGS.TAG_VALUE' | translate"
        [maxlength]="maxValueLength"
        required
      >
      <md-hint align="end">
        <cs-character-count
          [value]="value"
          [maxLength]="maxValueLength"
        ></cs-character-count>
      </md-hint>
    </md-input-container>
  </div>

  <div class="mat-dialog-actions">
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      type="submit"
      [disabled]="!tagCreationForm.valid"
    >
      {{ (confirmButtonText || 'COMMON.EDIT') | translate }}
    </button>
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      type="button"
      (click)="onCancel()"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
  </div>
</form>
