.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /**
   * We need to unset left value provided by library during resize.
   * Otherwise, the sidebar will be fixed relative to the left edge and when the browser window is resized,
   * the sidebar will not be attached to the right edge.
   * For details, see https://github.com/bwsw/cloudstack-ui/issues/1308
   */
  left: auto !important;
  box-sizing: border-box;
  transition: transform 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fafafa;
  padding: 10px 5px 10px 8px;
  border-left: 1px solid #e0e0e0;
  transform: translateX(100%);
  z-index: 2;

  &.open {
    transform: none;
  }
}

.sidebar /deep/ h4 {
  margin: 0 5px;
}

.sidebar /deep/ button {
  transition: transform 0.3s;
}

.sidebar /deep/ button.open {
  transform: rotate(180deg);
}

.sidebar /deep/ mat-card-content {
  line-height: 18px;

  & .mat-card-content-container {
    padding-bottom: 0;
    margin-bottom: 16px;
  }
}

.sidebar /deep/ .collapsed-panel .row,
.sidebar /deep/ .expanded-panel .row {
  display: flex;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
