@import '../../../../../style/_variables';

.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: $sidebar-width;
  box-sizing: border-box;
  transition: transform 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fafafa;
  padding: 10px 5px;
  border-left: 1px solid #E0E0E0;
  transform: translateX(100%);
  z-index: 2;

  &.open {
    transform: translate(0);
  }
}

.sidebar /deep/ h4 {
  margin: 0 5px;
}

.sidebar /deep/ .grid {
  .row {
    display: flex;
    flex-flow: row wrap;

    & > div {
      width: 50%;
      padding: 2px;
    }
  }
}

.sidebar /deep/ button {
  transition: transform 0.3s;
}

.sidebar /deep/ button.open {
  transform: rotate(180deg);
}

.sidebar /deep/ mat-card-content {
  width: 100%;
  line-height: 18px;

  & .mat-card-content-container {
    padding-bottom: 0;
    margin-bottom: 16px;
  }
}

.details-header {
  width: 340px;
}

.sidebar /deep/ .collapsed-panel .row,
.sidebar /deep/ .expanded-panel .row {
  display: flex;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
  z-index: 1;
}
