<cs-list>
  <cs-top-bar cs-panels>
    <mdl-select
      *ngIf="zones"
      class="filter-select"
      multiple="true"
      floating-label
      [label]="'GROUP_BY_LABEL' | translate"
      [(ngModel)]="selectedGroupingNames"
      (change)="updateGroupings()"
    >
      <mdl-option *ngFor="let g of availableGroupingNames" [value]="g">
        {{ g | translate }}
      </mdl-option>
    </mdl-select>

    <mdl-select
      *ngIf="zones"
      class="filter-select"
      multiple="true"
      floating-label
      [label]="'SELECT_ZONES' | translate"
      [(ngModel)]="selectedZones"
      (change)="update()"
    >
      <mdl-option *ngFor="let z of zones" [value]="z">{{ z.name }}</mdl-option>
    </mdl-select>
  </cs-top-bar>

  <cs-spare-drive-list
    *loading="!volumes"
    [volumes]="visibleVolumes"
    [groupings]="selectedGroupings"
    (onDelete)="showRemoveDialog($event)"
    (onResize)="updateVolume($event)"
    cs-list
  ></cs-spare-drive-list>

  <router-outlet cs-sidebar></router-outlet>
</cs-list>
