<cs-fancy-select>
  <h4 class="fancy-select-header">{{ 'VM_PAGE.VM_CREATION.SECURITY_GROUPS' | translate }}</h4>
  <button
    mat-button
    type="button"
    class="fancy-select-button"
    (click)="showDialog()"
  >
    <span *ngIf="showAddButton">
      {{ 'COMMON.ADD' | translate }}
    </span>

    <span *ngIf="showEditButton">
      {{ 'COMMON.EDIT' | translate }}
    </span>
  </button>
  <span class="fancy-select-content">
    <cs-security-group-manager-base-templates
      *ngIf="isModeNew"
      [securityGroups]="savedData?.rules?.templates"
    ></cs-security-group-manager-base-templates>

    <cs-security-group-manager-existing-group
      *ngIf="isModeExisting"
      [securityGroups]="savedData?.securityGroups"
    ></cs-security-group-manager-existing-group>
  </span>
</cs-fancy-select>
