<md-input-container *ngIf="instanceGroupNames" floatPlaceholder="never">
  <input
    mdInput
    #templateGroupField="ngModel"
    name="icmpType"
    [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.GROUP' | translate"
    [mdAutocomplete]="templateGroupAutocomplete"
    [(ngModel)]="instanceGroup.name"
    (change)="onChange()"
  >
  <md-autocomplete #templateGroupAutocomplete="mdAutocomplete">
    <md-option *ngFor="let g of instanceGroupNames" [value]="g">
      {{ g }}
    </md-option>
  </md-autocomplete>
</md-input-container>

<button
  *ngIf="showAddButton"
  md-button
  type="button"
  (click)="onOpenTranslationEditor()"
>
  {{ 'TEMPLATE_PAGE.INSTANCE_GROUP_EDITOR.ADD_TRANSLATIONS' | translate }}
</button>
