@import '../../../../../style/_variables';

.details .row > div:nth-child(2n) {
  text-align: right;
}

.grid.details {
  overflow: hidden;
  height: 3 * $sidebar-card-line-height;

  &.open {
    height: auto;
  }
}

.ellipsis-overflow {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
