@import '../../../../../style/_variables';

.details .row > div:nth-child(2n) {
  text-align: right;
}

.grid.details {
  overflow: hidden;
  height: 5 * $sidebar-card-line-height;

  .mat-icon-button--small {
    min-width: 22px;
    width: 22px !important;
    height: 22px !important;
    line-height: 22px !important;
    margin-left: 5px;

    .mat-icon {
      line-height: 18px;
      width: 18px;
      height: 28px;
    }
  }
}

.ellipsis-overflow {
  user-select: text !important;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host /deep/ mat-card .mat-card-content-container {
  margin-bottom: 0 !important;
}
