<div class="dialog">
  <h3 class="mat-dialog-title">{{ 'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.SELECT_VOLUME' | translate }}</h3>
  <div class="mat-dialog-content">
    <md-select
      *ngIf="volumes?.length"
      [(ngModel)]="selectedVolume"
    >
      <md-option
        *ngFor="let v of volumes"
        [value]="v"
      >
        {{ v.name }}
      </md-option>
    </md-select>
  </div>
  <div class="mat-dialog-actions">
    <button
      *ngIf="volumes?.length"
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onAttach()"
      [disabled]="!selectedVolume"
    >
      {{ 'COMMON.SELECT' | translate }}
    </button>
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onCancel()"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
  </div>
</div>
