<div class="dialog">
  <h3 class="mat-dialog-title">{{ 'SELECT_VOLUME' | translate }}</h3>
  <div class="mat-dialog-content">
    <mdl-select *ngIf="volumes?.length" [(ngModel)]="selectedVolume">
      <mdl-option *ngFor="let v of volumes" [value]="v">
        {{ v.name }}
      </mdl-option>
    </mdl-select>
    <div *ngIf="!volumes?.length">
      {{ 'NO_AVAILABLE_VOLUMES' | translate }}
    </div>
  </div>
  <div class="mat-dialog-actions">
    <button
      *ngIf="volumes?.length"
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onAttach()"
      [disabled]="!selectedVolume"
    >
      {{ 'SELECT' | translate }}
    </button>
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onCancel()"
    >
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</div>
