<md-card class="vm-card" mdl-shadow="2">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">
        {{ 'VM_PAGE.NETWORK_DETAILS.NETWORK_CONFIGURATION' | translate }}
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="md-card-content-container">
      <div class="collapsed-panel grid nic" *ngIf="!expandNIC">
        <div class="row" *ngFor="let nic of vm.nic; let i = index">
          <div>
            {{ 'VM_PAGE.NETWORK_DETAILS.NIC' | translate }} {{ i+1 }}
          </div>
          <div>
            {{ nic.ipAddress }}
          </div>
        </div>
      </div>
      <div class="expanded-panel grid nic" *ngIf="expandNIC">
        <div *ngFor="let nic of vm.nic; let i = index">
          <div class="nic-name">{{ 'VM_PAGE.NETWORK_DETAILS.NIC' | translate }} {{i+1}}</div>
          <div class="row">
            <div>{{ 'VM_PAGE.NETWORK_DETAILS.macAddress' | translate }}</div>
            <div>{{ nic.macAddress }}</div>
          </div>
          <div class="row">
            <div>{{ 'VM_PAGE.NETWORK_DETAILS.ipAddress' | translate }}</div>
            <div>{{ nic.ipAddress }}</div>
          </div>
          <div class="row">
            <div>{{ 'VM_PAGE.NETWORK_DETAILS.netmask' | translate }}</div>
            <div>{{ nic.netmask }}</div>
          </div>
          <div class="row">
            <div>{{ 'VM_PAGE.NETWORK_DETAILS.gateway' | translate }}</div>
            <div>{{ nic.gateway }}</div>
          </div>
          <div class="row">
            <div>{{ 'VM_PAGE.NETWORK_DETAILS.type' | translate }}</div>
            <div>{{ nic.type }}</div>
          </div>
          <ng-container>
            <div class="row">
              <div>{{ 'VM_PAGE.NETWORK_DETAILS.secondaryIp' | translate }}</div>
              <div>
                <button
                  md-icon-button
                  class="md-icon-button--small"
                  (click)="confirmAddSecondaryIp(vm)"
                >
                  <md-icon class="md-icon--small">add</md-icon>
                </button>
              </div>
            </div>
            <div class="secondary-ips">
              <div class="row" *ngFor="let ip of nic.secondaryIp">
                <div>{{ ip.ipaddress }}</div>
                <div>
                  <button
                    md-icon-button
                    class="md-icon-button--small"
                    (click)="confirmRemoveSecondaryIp(ip.id, vm)"
                  >
                    <md-icon class="md-icon--small">delete</md-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <md-card-actions style="text-align: right;">
      <button
        md-icon-button
        (click)="toggleNIC()"
        [class.open]="expandNIC"
      >
        <md-icon>keyboard_arrow_down</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
