<mdl-card class="vm-card" mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>{{ 'NETWORK_CONFIGURATION' | translate }}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div class="collapsed-panel grid nic" *ngIf="!expandNIC">
      <div class="row" *ngFor="let nic of vm.nic; let i = index">
        <div>
          {{ 'NIC' | translate }} {{ i+1 }}
        </div>
        <div>
          {{ nic.ipAddress }}
        </div>
      </div>
    </div>
    <div class="expanded-panel grid nic" *ngIf="expandNIC">
      <div *ngFor="let nic of vm.nic; let i = index">
        <div class="nic-name">{{ 'NIC' | translate }} {{i+1}}</div>
        <div class="row">
          <div>{{ 'NIC_FIELDS.macAddress' | translate }}</div>
          <div>{{ nic.macAddress }}</div>
        </div>
        <div class="row">
          <div>{{ 'NIC_FIELDS.ipAddress' | translate }}</div>
          <div>{{ nic.ipAddress }}</div>
        </div>
        <div class="row">
          <div>{{ 'NIC_FIELDS.netmask' | translate }}</div>
          <div>{{ nic.netmask }}</div>
        </div>
        <div class="row">
          <div>{{ 'NIC_FIELDS.gateway' | translate }}</div>
          <div>{{ nic.gateway }}</div>
        </div>
        <div class="row">
          <div>{{ 'NIC_FIELDS.type' | translate }}</div>
          <div>{{ nic.type }}</div>
        </div>
        <ng-container>
          <div class="row">
            <div>{{ 'NIC_FIELDS.secondaryIp' | translate }}</div>
            <div>
              <button
                mdl-button
                mdl-button-type="icon"
                class="md-icon-button--small"
                (click)="confirmAddSecondaryIp(vm)"
              >
                <md-icon class="md-icon--small">add</md-icon>
              </button>
            </div>
          </div>
          <div class="secondary-ips">
            <div class="row" *ngFor="let ip of nic.secondaryIp">
              <div>{{ ip.ipaddress }}</div>
              <div>
                <button
                  mdl-button
                  mdl-button-type="icon"
                  class="md-icon-button--small"
                  (click)="confirmRemoveSecondaryIp(ip.id, vm)"
                >
                  <md-icon class="md-icon--small">delete</md-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border style="text-align: right;">
    <button
      mdl-button
      mdl-ripple
      mdl-button-type="icon"
      (click)="toggleNIC()"
      [class.open]="expandNIC"
    >
      <md-icon>keyboard_arrow_down</md-icon>
    </button>
  </mdl-card-actions>
</mdl-card>
