.title-with-icon {
  display: flex;
  max-width: 500px;
  margin-left: 20px;

  .mat-icon-button {
    align-self: center;
  }
}

cs-input-group,
mat-form-field {
  width: 100%;
}

a {
  display: block;
  margin: 10px 0;
}
