<cs-top-bar>
  <div class="options-panel" *ngIf="showAccountFilter()">

    <md-select *ngIf="accounts.length"
      class="filter-select"
      multiple="true"
      [placeholder]="'SSH_KEYS.FILTERS.SELECT_ACCOUNTS' | translate"
      [(ngModel)]="selectedAccountIds"
      (change)="onAccountsChange.emit($event.value)"
    >
      <md-option *ngFor="let account of accounts" [value]="account.id">{{ account.fullDomain }}{{ account.name }}</md-option>
    </md-select>

    <cs-draggable-select
      class="filter-select"
      multiple="true"
      [placeholder]="'SSH_KEYS.FILTERS.GROUP_BY' | translate"
      [(ngModel)]="selectedGroupings"
      [dragItems]="groupings"
      (ngModelChange)="onGroupingsChange.emit($event)"
    >
      <md-option *ngFor="let g of groupings" [value]="g">
        {{ g.label | translate }}
      </md-option>
    </cs-draggable-select>
  </div>
</cs-top-bar>
