<div class="options-panel filter-wrapper">
  <mat-checkbox
    name="volumeOnly"
    [(ngModel)]="spareOnly"
    (change)="spareOnlyChanged.emit(spareOnly)"
  >
    {{ 'VOLUME_PAGE.FILTERS.SPARE_DRIVES_ONLY' | translate }}
  </mat-checkbox>
  <mat-form-field *ngIf="showAccountFilter()">
    <mat-select
      multiple="true"
      [placeholder]="'VOLUME_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
      [ngModel]="selectedAccountIds"
      (selectionChange)="accountsChanged.emit($event.value)"
    >
      <mat-option
        *ngFor="let account of accounts"
        [value]="account.id"
      >{{ account.fullDomain }}{{ account.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field
    *ngIf="zones"
  >
    <mat-select
      multiple="true"
      [placeholder]="'VOLUME_PAGE.FILTERS.SELECT_ZONES' | translate"
      [ngModel]="selectedZoneIds"
      (selectionChange)="zonesChanged.emit($event.value)"
    >
      <mat-option *ngFor="let z of zones" [value]="z.id">{{ z.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      multiple="true"
      [placeholder]="'VOLUME_PAGE.FILTERS.SELECT_TYPES' | translate"
      [ngModel]="selectedTypes"
      (selectionChange)="typesChanged.emit($event.value)"
    >
      <mat-option *ngFor="let t of types" [value]="t">
        {{ getVolumeTypeName(t) | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="zones">
    <cs-draggable-select
      multiple="true"
      [placeholder]="'VOLUME_PAGE.FILTERS.GROUP_BY' | translate"
      [ngModel]="selectedGroupings"
      [dragItems]="groupings"
      (selectionChange)="groupingsChanged.emit($event.value)"
    >
      <mat-option *ngFor="let g of groupings" [value]="g">
        {{ g.label | translate }}
      </mat-option>
    </cs-draggable-select>
  </mat-form-field>
</div>

<div class="filter-wrapper">
  <cs-search
    [ngModel]="query"
    (ngModelChange)="queryChanged.emit($event)"
  ></cs-search>
</div>
