@import '../../../style/_variables';

:host .tab-switch {
  display: inline-flex;
  width: auto;
  position: relative;
  margin: 0 19px;
  text-transform: uppercase;
}

.filter-select-container {
  display: inline-flex;
}

:host /deep/ .mat-tab-label {
  line-height: 30px !important;
  height: 30px !important;
  min-width: 60px !important;
}
