<cs-top-bar *ngIf="!dialogMode">
  <div class="options-panel">
    <md-tab-group
      class="tab-switch"
      [selectedIndex]="templateSwitchPosition"
      (selectChange)="setMode($event.index)"
      *ngIf="showIsoSwitch"
    >
      <md-tab label="{{ 'TEMPLATE_PAGE.DISPLAY_MODES.TEMPLATES' | translate }}"></md-tab>
      <md-tab label="{{ 'TEMPLATE_PAGE.DISPLAY_MODES.ISO' | translate }}"></md-tab>
    </md-tab-group>

    <md-select
      class="filter-select"
      multiple="true"
      [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_OS_FAMILIES' | translate"
      [(ngModel)]="selectedOsFamilies"
      (change)="updateFilters()"
    >
      <md-option
        *ngFor="let family of osFamilies"
        [value]="family"
      >
        {{ family }}
      </md-option>
    </md-select>
    <div *ngIf="filterTranslations" class="filter-select-container">
      <md-select
        class="filter-select"
        multiple="true"
        [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_TYPES' | translate"
        [(ngModel)]="selectedFilters"
        (change)="updateFilters()"
      >
        <md-option
          *ngFor="let f of categoryFilters"
          [value]="f"
        >
          {{ filterTranslations[f] }}
        </md-option>
      </md-select>
    </div>
    <md-select
      *ngIf="zones"
      class="filter-select"
      multiple="true"
      [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_ZONES' | translate"
      [(ngModel)]="selectedZones"
      (change)="updateFilters()"
    >
      <md-option *ngFor="let z of zones" [value]="z">{{ z.name }}</md-option>
    </md-select>

    <cs-divider-vertical></cs-divider-vertical>
    <md-select
      *ngIf="zones"
      class="filter-select"
      multiple="true"
      [placeholder]="'TEMPLATE_PAGE.FILTERS.GROUP_BY' | translate"
      [(ngModel)]="selectedGroupingNames"
      (change)="updateFilters()"
    >
      <md-option *ngFor="let g of availableGroupings" [value]="g">
        {{ g.label | translate }}
      </md-option>
    </md-select>
  </div>
</cs-top-bar>

<div
  class="options-panel"
  [class.delimiter]="showDelimiter"
  *ngIf="dialogMode"
>
  <md-tab-group
    class="tab-switch"
    [selectedIndex]="templateSwitchPosition"
    (selectChange)="setMode($event.index)"
    *ngIf="showIsoSwitch"
  >
    <md-tab label="{{ 'TEMPLATE_PAGE.DISPLAY_MODES.TEMPLATES' | translate }}"></md-tab>
    <md-tab label="{{ 'TEMPLATE_PAGE.DISPLAY_MODES.ISO' | translate }}"></md-tab>
  </md-tab-group>

  <md-select
    class="filter-select"
    multiple="true"
    placeholder="{{ 'TEMPLATE_PAGE.FILTERS.SELECT_OS_FAMILIES' | translate }}"
    [(ngModel)]="selectedOsFamilies"
    (change)="updateFilters()"
  >
    <md-option
      *ngFor="let family of osFamilies"
      [value]="family"
    >
      {{ family }}
    </md-option>
  </md-select>
  <div *ngIf="filterTranslations" class="filter-select-container">
    <md-select
      class="filter-select"
      multiple="true"
      placeholder="{{ 'TEMPLATE_PAGE.FILTERS.SELECT_TYPES' | translate }}"
      [(ngModel)]="selectedFilters"
      (change)="updateFilters()"
    >
      <md-option
        *ngFor="let f of categoryFilters"
        [value]="f"
      >
        {{ filterTranslations[f] }}
      </md-option>
    </md-select>
  </div>
</div>

<div [class.search-bar-white]="searchPanelWhite">
  <cs-search
    [(ngModel)]="query"
    (ngModelChange)="updateFilters()"
  ></cs-search>
</div>
