<cs-top-bar *ngIf="!dialogMode">
  <div class="options-panel filter-wrapper">
    <mat-button-toggle-group
      (change)="setMode($event.value)"
      *ngIf="showIsoSwitch"
    >
      <mat-button-toggle value="0" [checked]="templateSwitchPosition === 0">
        {{ 'TEMPLATE_PAGE.DISPLAY_MODES.TEMPLATES' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="1" [checked]="templateSwitchPosition === 1">
        {{ 'TEMPLATE_PAGE.DISPLAY_MODES.ISO' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field>
      <mat-select
        *ngIf="accounts.length"
        class="filter-select"
        multiple="true"
        [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
        [(ngModel)]="selectedAccountIds"
        (change)="updateFilters()"
      >
        <mat-option *ngFor="letaccountof accounts" [value]="account.id">{{
          account.fullDomain }}{{ account.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        class="filter-select"
        multiple="true"
        [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_OS_FAMILIES' | translate"
        [(ngModel)]="selectedOsFamilies"
        (change)="updateFilters()"
      >
        <mat-option
          *ngFor="let family of osFamilies"
          [value]="family"
        >
          {{ family }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        class="filter-select"
        multiple="true"
        [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_TYPES' | translate"
        [(ngModel)]="selectedFilters"
        (change)="updateFilters()"
      >
        <mat-option
          *ngFor="let f of categoryFilters"
          [value]="f"
        >
          {{ filterTranslations[f] | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="zones">
      <mat-select

        class="filter-select"
        multiple="true"
        [placeholder]="'TEMPLATE_PAGE.FILTERS.SELECT_ZONES' | translate"
        [(ngModel)]="selectedZones"
        (change)="updateFilters()"
      >
        <mat-option *ngFor="let z of zones" [value]="z">{{ z.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <cs-divider-vertical></cs-divider-vertical>
    <mat-form-field *ngIf="zones">
      <mat-select

        class="filter-select"
        multiple="true"
        [placeholder]="'TEMPLATE_PAGE.FILTERS.GROUP_BY' | translate"
        [(ngModel)]="selectedGroupingNames"
        (change)="updateFilters()"
      >
        <mat-option *ngFor="let g of availableGroupings" [value]="g">
          {{ g.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</cs-top-bar>

<div
  class="options-panel filter-wrapper"
  [class.delimiter]="showDelimiter"
  *ngIf="dialogMode"
>
  <mat-button-toggle-group
    (change)="setMode($event.value)"
    *ngIf="showIsoSwitch"
  >
    <mat-button-toggle value="0" [checked]="templateSwitchPosition === 0">
      {{ 'TEMPLATE_PAGE.DISPLAY_MODES.TEMPLATES' | translate }}
    </mat-button-toggle>
    <mat-button-toggle value="1" [checked]="templateSwitchPosition === 1">
      {{ 'TEMPLATE_PAGE.DISPLAY_MODES.ISO' | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field>
    <mat-select
      class="filter-select"
      multiple="true"
      placeholder="{{ 'TEMPLATE_PAGE.FILTERS.SELECT_OS_FAMILIES' | translate }}"
      [(ngModel)]="selectedOsFamilies"
      (change)="updateFilters()"
    >
      <mat-option
        *ngFor="let family of osFamilies"
        [value]="family"
      >
        {{ family }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      class="filter-select"
      multiple="true"
      placeholder="{{ 'TEMPLATE_PAGE.FILTERS.SELECT_TYPES' | translate }}"
      [(ngModel)]="selectedFilters"
      (change)="updateFilters()"
    >
      <mat-option
        *ngFor="let f of categoryFilters"
        [value]="f"
      >
        {{ filterTranslations[f] | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div [class.search-bar-white]="searchPanelWhite">
  <cs-search
    [(ngModel)]="query"
    (ngModelChange)="updateFilters()"
  ></cs-search>
</div>
