@import '../../../style/__variables.scss';

.template-iso-switch {
  display: inline-flex;
  width: initial;
  position: relative;
  top: 9px;
  margin: 0 20px 20px 20px;
}

:host /deep/ .mdl-tabs__tab-bar {
  height: 32px;
}

:host /deep/ .mdl-tabs__tab {
  height: 32px;
  line-height: 32px;
}

.filter-select {
  display: inline-block;
  width: $template-filter-select-width;
  margin: 0 20px;
}

.filter-select-container {
  display: inline-block;
}

.search-bar {
  max-width: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0 15px;

  mdl-icon {
    vertical-align: middle;
  }

  /deep/ mdl-textfield {
    max-width: 300px;
    width: 100%;
  }
}
