@import '../../../style/__variables.scss';

:host .tab-switch {
  display: inline-flex;
  width: auto;
  position: relative;
  margin: 0 19px;
  text-transform: uppercase;
}

.filter-select-container {
  display: inline-flex;
}

:host /deep/ .mat-button-toggle-group {
  margin-left: 20px;
}
:host /deep/ .mat-button-toggle-label-content {
  line-height: 30px !important;
}
