<cs-top-bar *ngIf="!dialogMode">
  <mdl-card
    class="options-panel top-bar-height"
  >
    <mdl-tabs
      class="template-iso-switch"
      mdl-ripple
      [mdl-tab-active-index]="templateSwitchPosition"
      (mdl-tab-active-changed)="setMode($event.index)"
      *ngIf="showIsoSwitch"
    >
      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <span>{{ 'TEMPLATES' | translate }}</span>
        </mdl-tab-panel-title>
      </mdl-tab-panel>
      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <span>{{ 'ISO' | translate }}</span>
        </mdl-tab-panel-title>
      </mdl-tab-panel>
    </mdl-tabs>

    <mdl-select
      class="filter-select"
      multiple="true"
      floating-label
      [label]="'OS_FAMILY' | translate"
      [(ngModel)]="selectedOsFamilies"
      (change)="updateFilters()"
    >
      <mdl-option
        *ngFor="let family of osFamilies"
        [value]="family"
      >
        {{ family }}
      </mdl-option>
    </mdl-select>
    <div *ngIf="filterTranslations" class="filter-select-container">
      <mdl-select
        class="filter-select"
        multiple="true"
        floating-label
        [label]="'TEMPLATE_TYPES' | translate"
        [(ngModel)]="selectedFilters"
        (change)="updateFilters()"
      >
        <mdl-option
          *ngFor="let f of categoryFilters"
          [value]="f"
        >
          {{ filterTranslations[f] }}
        </mdl-option>
      </mdl-select>
    </div>
    <mdl-select
      *ngIf="zones"
      class="filter-select"
      multiple="true"
      floating-label
      [label]="'SELECT_ZONES' | translate"
      [(ngModel)]="selectedZones"
      (change)="updateFilters()"
    >
      <mdl-option mdl-ripple *ngFor="let z of zones" [value]="z">{{ z.name }}</mdl-option>
    </mdl-select>

    <mdl-select
      *ngIf="zones"
      class="filter-select"
      multiple="true"
      floating-label
      [label]="'GROUP_BY' | translate"
      [(ngModel)]="selectedGroupingNames"
      (change)="updateFilters()"
    >
      <mdl-option *ngFor="let g of groupings" [value]="g">{{ g }}</mdl-option>
    </mdl-select>
  </mdl-card>
</cs-top-bar>

<mdl-card
  class="options-panel"
  [class.delimiter]="showDelimiter"
  *ngIf="dialogMode"
>
  <mdl-tabs
    class="template-iso-switch"
    mdl-ripple
    [mdl-tab-active-index]="templateSwitchPosition"
    (mdl-tab-active-changed)="setMode($event.index)"
    *ngIf="showIsoSwitch"
  >
    <mdl-tab-panel>
      <mdl-tab-panel-title>
        <span>{{ 'TEMPLATES' | translate }}</span>
      </mdl-tab-panel-title>
    </mdl-tab-panel>
    <mdl-tab-panel>
      <mdl-tab-panel-title>
        <span>{{ 'ISO' | translate }}</span>
      </mdl-tab-panel-title>
    </mdl-tab-panel>
  </mdl-tabs>

  <mdl-select
    class="filter-select"
    [(ngModel)]="selectedOsFamilies"
    (change)="updateFilters()"
    multiple="true"
    placeholder="{{ 'OS_FAMILY' | translate }}"
  >
    <mdl-option
      *ngFor="let family of osFamilies"
      [value]="family"
    >
      {{ family }}
    </mdl-option>
  </mdl-select>
  <div *ngIf="filterTranslations" class="filter-select-container">
    <mdl-select
      class="filter-select"
      [(ngModel)]="selectedFilters"
      (change)="updateFilters()"
      multiple="true"
      placeholder="{{ 'TYPE' | translate }}"
    >
      <mdl-option
        *ngFor="let f of categoryFilters"
        [value]="f"
      >
        {{ filterTranslations[f] }}
      </mdl-option>
    </mdl-select>
  </div>
</mdl-card>

<div [class.search-bar-white]="searchPanelWhite">
  <cs-search
    [(ngModel)]="query"
    (ngModelChange)="updateFilters()"
  ></cs-search>
</div>
