@import '../../../style/__variables.scss';

:host .tab-switch {
  display: inline-flex;
  width: auto;
  position: relative;
  margin: 0 19px;
}

.filter-select-container {
  display: inline-flex;
}

.search-bar-white {
  background-color: white;
}
