<mdl-card class="custom-card" mdl-shadow="2">
  <mdl-card-title>
    <mdl-icon>vpn_key</mdl-icon>
    <h2
      mdl-card-title-text
      [mdTooltip]="key.name"
    >
      {{ key.name }}
    </h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    {{ key.fingerPrint }}
  </mdl-card-supporting-text>

    <button md-icon-button [mdMenuTriggerFor]="actionsMenu">
      <md-icon>more_vert</md-icon>
    </button>
  <md-menu #actionsMenu="mdMenu">
    <button md-menu-item
      (click)="onRemoveClicked()"
    >
      <md-icon>delete</md-icon>
      <span>{{ 'DELETE' | translate }}</span>
    </button>
  </md-menu>
</mdl-card>
