:host {
  display: inline-flex
}

:host md-card {
  width: 340px
}

:host md-card-title {
  line-height: normal;
}

:host md-card-title mdl-icon {
  margin-right: 10px;
}

:host .md-card-title-text {
  max-width: 80%;
}
