<md-card class="custom-card" mdl-shadow="2">
 <md-card-header>
   <md-card-title>
     <mdl-icon>vpn_key</mdl-icon>
     <h2
       class="md-card-title-text"
       [mdTooltip]="key.name"
     >
       {{ key.name }}
     </h2>
   </md-card-title>
   <div class="md-card-header-menu">
     <button
       mdl-button
       (click)="$event.stopPropagation(); popover.toggle($event)"
       mdl-button-type="icon"
       mdl-ripple>
       <mdl-icon>more_vert</mdl-icon>
     </button>
   </div>
 </md-card-header>
  <md-card-content>
    {{ key.fingerPrint }}
  </md-card-content>
  <mdl-popover
    class="card-popover vm-popover"
    #popover
    [hide-on-click]="true"
  >
    <div mdl-shadow="6" class="popover-actions">
      <button
        (click)="onRemoveClicked()"
        [mdTooltip]="'DELETE' | translate"
        mdl-button
        mdl-button-type="icon"
        mdl-ripple
      >
        <mdl-icon>delete</mdl-icon>
      </button>
    </div>
  </mdl-popover>
</md-card>
