:host {
  display: inline-flex
}

:host mdl-card {
  width: 340px
}

:host mdl-card-title mdl-icon {
  margin-right: 10px;
}

:host .mdl-card__title-text {
  max-width: 80%;
}

button {
  &.mat-menu-item {
    padding: 0 10px;
  }

  &.mat-icon-button {
    position: absolute;
    left: 285px;
  }
}
