<md-card class="custom-card">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">
        {{ 'ACCOUNT_PAGE.SIDEBAR.LIMITS' | translate}}
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="md-card-content-container">
      <div *ngFor="let limit of limits" class="height-container">
        <div class="flex-container container">
          <div class="flex-container left">
            <span
              class="name"
              [innerHTML]="limitLabels[limit.resourceType] | translate"
            ></span>
          </div>
          <div *ngIf="!isEdit"
            ngxClipboard
            class="value"
            [innerHTML]="limit.max"
          ></div>
          <div *ngIf="isEdit"
            class="value"
          ><md-form-field class="full-width-input">
            <input
              mdInput
              name="vmlimit"
              [(ngModel)]="limit.max"
              required
            ></md-form-field>
          </div>
        </div>
      </div>
    </div>
    <md-card-actions *ngIf="isAdmin">
      <button *ngIf="!isEdit"
        md-icon-button
        [mdTooltip]="'COMMON.EDIT' | translate"
        mdTooltipPosition="above"
        (click)="isEdit=!isEdit"
      >
        <md-icon>edit</md-icon>
      </button>
      <button *ngIf="isEdit"
        md-icon-button
        [mdTooltip]="'COMMON.SAVE' | translate"
        mdTooltipPosition="above"
        (click)="onSave()"
      >
        <md-icon>save</md-icon>
      </button>
      <button *ngIf="isEdit"
        md-icon-button
        [mdTooltip]="'COMMON.CANCEL' | translate"
        mdTooltipPosition="above"
        (click)="isEdit=!isEdit"
      >
        <md-icon>cancel</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
