<div class="mat-dialog-content notification">
  {{ 'DIALOG_MESSAGES.VM.CONFIRM_DESTROY' | translate }}

  <section *ngIf="canExpunge">
    <mat-checkbox [(ngModel)]="expunge">
      {{ 'VM_PAGE.COMMANDS.EXPUNGE' | translate }}
    </mat-checkbox>
  </section>
</div>
<div class="mat-dialog-actions">
  <button
    mat-button
    color="primary"
    matDialogClose
  >
    {{ 'COMMON.NO' | translate }}
  </button>
  <button
    mat-button
    color="primary"
    (click)="confirmDestroy()"
  >
    {{ 'COMMON.YES' | translate }}
  </button>
</div>
