<mat-card class="vm-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ name }}
      </h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="mat-card-content">
    <div class="expanded-panel grid">
      <cs-nic-fields *ngIf="nic" [nic]="nic"></cs-nic-fields>
      <cs-secondary-ip-list
        [nic]="nic"
        (secondaryIpAdded)="secondaryIpAdded.emit($event)"
        (secondaryIpRemoved)="secondaryIpRemoved.emit($event)">
      </cs-secondary-ip-list>
    </div>
  </mat-card-content>
</mat-card>
