<md-card class="card">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">
        {{ 'ATTACH_VOLUME' | translate }}
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content [class.md-card-content-with-actions]="selectedVolume || !selectedVolume && volumes?.length">
    <div class="md-card-content-container">
      <ng-container *ngIf="volumes?.length">
        <ng-container *ngIf="!selectedVolume">
          {{ 'SELECT_VOLUME' | translate }}
        </ng-container>
        <ng-container *ngIf="selectedVolume">
          {{ selectedVolume.name }}
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!volumes?.length">
        {{ 'NO_AVAILABLE_VOLUMES' | translate }} <a class="mdl-navigation__link" routerLink="/spare-drives">{{
        'NAVIGATE_TO_VOLUME_CREATION_PAGE' | translate }}</a>
      </ng-container>
    </div>
    <md-card-actions *ngIf="selectedVolume">
      <button
        mdl-button
        mdl-button-type="icon"
        mdTooltipPosition="above"
        *ngIf="!loading"
        [mdTooltip]="'ATTACH' | translate"
        (click)="$event.stopPropagation(); attachVolume()"
      >
        <md-icon>attach_file</md-icon>
      </button>
      <button
        mdl-button
        mdl-button-type="icon"
        *ngIf="loading"
        disabled
      >
        <md-icon>attach_file</md-icon>
      </button>
    </md-card-actions>
    <md-card-actions *ngIf="!selectedVolume && volumes?.length">
      <button
        mdl-button
        mdl-button-type="icon"
        mdTooltipPosition="above"
        [mdTooltip]="'SELECT' | translate"
        (click)="$event.stopPropagation(); showDialog()"
      >
        <md-icon>add</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
