:host {
  display: inline-flex;
  z-index: -1;

  & mdl-card {
    z-index: 0;
  }
}

:host(.single-line) {
  cursor: pointer;
}

.os-icon {
  margin-right: 4px;
}

.last {
  margin-left: 20px;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiline {
  word-wrap: break-word;
  overflow: hidden;
}

.template-popover {
  width: 60px !important;
}

.template-header {
  align-self: center;
  max-width: 75% !important;
}
