<md-card
  [class.card-selected]="isSelected && isSelected(item)"
  class="custom-card"
  (click)="handleClick($event)"
>
  <md-card-header>
    <md-card-title>
      <cs-template-os-icon [template]="item" [osTypes]="osTypes"></cs-template-os-icon>
      <h2
        [mdTooltip]="item.name"
        [innerHTML]="item.name | highlight:query"
        class="template-header md-card-title-text"
      ></h2>
    </md-card-title>
    <div *ngIf="isSelf" class="md-card-header-menu">
      <button *ngIf="isSelf" md-icon-button [mdMenuTriggerFor]="actionsMenu">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
  </md-card-header>
  <md-card-content>
    <div class="card-wrapper">
      <div>{{ 'TEMPLATE_PAGE.CARD.OS' | translate }}:</div>
      <div
        *ngIf="singleLine"
        class="flex-2 single-line text-overflow-tooltip-fix"
        [mdTooltip]="item.osTypeName"
        mdTooltipPosition="above"
        [innerHTML]="item.osTypeName | highlight:query"
      ></div>
      <div
        *ngIf="!singleLine"
        class="flex-2 multiline"
        [innerHTML]="item.osTypeName | highlight:query"
      ></div>
    </div>
    <div class="card-wrapper" *ngIf="item">
      <div
        *ngIf="singleLine"
        class="single-line text-overflow-tooltip-fix"
        [mdTooltip]="item.displayText"
        mdTooltipPosition="above"
      >
        <span [innerHTML]="item.displayText | highlight:query"></span>
      </div>
      <div
        *ngIf="!singleLine"
        class="multiline"
        [innerHTML]="item.displayText | highlight:query"
      ></div>
    </div>
  </md-card-content>
  <md-menu #actionsMenu="mdMenu">
    <cs-template-actions
      [template]="item"
      (deleteTemplate)="deleteTemplate.emit($event)"
    ></cs-template-actions>
  </md-menu>
</md-card>
