<mdl-card
  mdl-shadow="2"
  [class.card-selected]="isSelected && isSelected(item)"
  class="custom-card"
  (click)="handleClick($event)"
>
  <mdl-card-title>
    <mdl-icon class="os-icon" [ngSwitch]="item.osType.osFamily">
      <ng-template [ngSwitchCase]="'Linux'">
        <img
          src="img/os/linux.png"
          width="40"
          height="40"
        >
      </ng-template>
      <ng-template [ngSwitchCase]="'Windows'">
        <img
          src="img/os/windows.png"
          width="40"
          height="40"
        >
      </ng-template>
      <ng-template [ngSwitchCase]="'Mac OS'">
        <img
          src="img/os/osx.png"
          width="40"
          height="40"
        >
      </ng-template>
      <ng-template ngSwitchDefault>help</ng-template>
    </mdl-icon>
    <h2
      [mdTooltip]="template.name"
      mdl-card-title-text
      [innerHTML]="item.name | highlight:query"
      class="template-header"
    ></h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div class="card-wrapper">
      <div>{{ 'OS' | translate }}:</div>
      <div
        *ngIf="singleLine"
        class="last single-line text-overflow-tooltip-fix"
        [mdTooltip]="template.osTypeName"
        mdTooltipPosition="above"
        [innerHTML]="item.osTypeName | highlight:query"
      ></div>
      <div
        *ngIf="!singleLine"
        class="last multiline"
        [innerHTML]="item.osTypeName | highlight:query"
      ></div>
    </div>
    <div class="card-wrapper" *ngIf="item">
      <div
        *ngIf="singleLine"
        class="single-line text-overflow-tooltip-fix"
        [mdTooltip]="template.displayText"
        mdTooltipPosition="above"
      >
        <span [innerHTML]="item.displayText | highlight:query"></span>
      </div>
      <div
        *ngIf="!singleLine"
        class="multiline"
        [innerHTML]="item.displayText | highlight:query"
      ></div>
    </div>
  </mdl-card-supporting-text>
  <mdl-card-menu *ngIf="isSelf">
    <button
      mdl-button
      (click)="$event.stopPropagation(); popover.toggle($event)"
      mdl-button-type="icon"
      mdl-ripple
    >
      <mdl-icon>more_vert</mdl-icon>
    </button>
  </mdl-card-menu>
  <mdl-popover
    class="card-popover template-popover"
    #popover
    [hide-on-click]="true"
  >
    <div mdl-shadow="6" class="popover-actions">
      <button
        [mdTooltip]="'DELETE' | translate"
        mdl-button
        mdl-button-type="icon"
        (click)="removeTemplate()"
      >
        <mdl-icon>delete</mdl-icon>
      </button>
    </div>
  </mdl-popover>
</mdl-card>
