<div class="height-container">
  <div class="flex-container container">
    <div class="flex-container left">
      <div
        class="name"
        [innerHTML]="name | translate"
        [matTooltip]="name | translate"
      ></div>
      <div *ngIf="isEdit" class="buttons">
        <button
          class="button-18px"
          mat-icon-button
          (click)="onButtonClicked.emit($event)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div
      *ngIf="!isCopy"
      ngxClipboard
      class="value"
      [innerHTML]="value"
      [matTooltip]="value"
    ></div>
    <cs-input-group *ngIf="isCopy" class="value">
      <mat-form-field class="full-width-input" cs-input-group-textbox>
        <input matInput [value]="value" readonly>
      </mat-form-field>
      <button
        mat-icon-button
        cs-input-group-button
        ngxClipboard
        [cbContent]="value"
        (cbOnSuccess)="onCopySuccess()"
        (cbOnError)="onCopyFail()"
      >
        <mat-icon
          matTooltipPosition="below"
          [matTooltip]="'CLIPBOARD.COPY' | translate"
        >
          content_copy
        </mat-icon>
      </button>
    </cs-input-group>
  </div>
</div>
