.key {
  cursor: default;
  max-width: 50%;
  margin-right: 5px;
  /* For Firefox */
  word-wrap: break-word;
  /* For Chrome and IE */
  word-break: break-word;
  user-select: text !important;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  text-align: right;
  white-space: nowrap;
  max-width: 50%;
  user-select: text !important;

  input {
    text-align: end;
  }

  cs-input-group {
    mat-form-field {
      padding-top: 0.2em;
      max-width: 80%;

      /deep/ div.mat-form-field-infix {
        width: auto !important;
      }
    }
  }
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-right: 15px;
  span {
    width: 100%;
  }
}

.buttons {
  display: none;
  margin-left: 10px;
}

.height-container {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.container {
  width: 100%;
}

.container:hover .buttons {
  display: flex;
}
