<div class="height-container">
  <div class="flex-container container">
    <div
      class="key"
      [innerHTML]="name | translate"
      [matTooltip]="name | translate"
    ></div>
    <div *ngIf="canBeEdit" class="buttons">
      <button
        class="button-18px"
        mat-icon-button
        (click)="buttonClicked.emit($event)"
      >
        <mat-icon class="mdi-pencil"></mat-icon>
      </button>
    </div>
    <div class="value">
      <cs-input-group *ngIf="canBeCopy">
        <mat-form-field cs-input-group-textbox>
          <input matInput [value]="value" readonly>
        </mat-form-field>
        <cs-clipboard-button
          cs-input-group-button
          [value]="value"
          tooltipPosition="below"
        ></cs-clipboard-button>
      </cs-input-group>
    </div>
    <div
      *ngIf="!canBeCopy"
      ngxClipboard
      class="value"
      [innerHTML]="value"
      [matTooltip]="value"
    ></div>
  </div>
</div>
