:host {
  cursor: pointer;
  z-index: -1;

  .info {
    flex-grow: 2;
    flex-basis: 100px;
    font-size: 15px;
  }

  .table {
    text-align: center;
    flex-grow: 3;
    flex-basis: 300px;
    table {
      table-layout: fixed;
      width: 100%;
      font-size: 14px;
    }
  }
}

.custom-row {
  &.has-text-color {
    .mat-list-item-content {
      color: inherit;
    }
  }
  &.dark-background {
    color: rgba(255, 255, 255, 0.87) !important;
  }
  &.light-background {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.state-row-icon {
  display: block;
  /* border-radius: 50%; */
  position: relative;
  left: -15px;
  width: 15px;
  height: 100%;
  /* margin-left: 8px; */
  margin-right: 8px;
  box-shadow: 0 0 0px 1px white;
}

.os-type {
  margin-bottom: 5px;
}

.vm-ip-address {
  display: inline-block;
}

.vm-state {
  float: right;
}

mat-divider {
  flex: 1 0 100%;
  margin: 10px 0;
}
