<mat-list-item
  class="entity-list-item"
  [ngClass]="itemClass"
  (click)="handleClick($event)"
  [style.background-color]="color.value"
  [style.color]="color?.textColor"
>
  <cs-square-state-indicator
    [state]="statusClass"
    [matTooltip]="stateTranslationToken | translate"
    class="entity-list-item-status-indicator"
  ></cs-square-state-indicator>

  <h2
    class="entity-list-item-title"
    [matTooltip]="item.name"
    [innerHTML]="item.name | highlight:query"
  ></h2>

  <div class="entity-list-item-data">{{ item.nic[0]?.ipaddress ? item.nic[0].ipaddress : ('VM_PAGE.CARD.IP_NA' | translate) }}</div>

  <div class="entity-list-item-data">
    <span>{{ 'VM_PAGE.CARD.CPU' | translate }}: </span>
    <span>{{ 'SERVICE_OFFERING.CPU_MHZ' | translate:({ count: item.cpunumber, speed: item.cpuspeed }) }}</span>
  </div>

  <div class="entity-list-item-data">
    <span>{{ 'VM_PAGE.CARD.RAM' | translate }}: </span>
    <span>
      <ng-container *ngIf="item.memory < gigabyte">
        {{ 'UNITS.MB_VALUE' | translate:({ value: getMemoryInMb() }) }}
      </ng-container>
      <ng-container *ngIf="item.memory >= gigabyte">
        {{ 'UNITS.GB_VALUE' | translate:({ value: getMemoryInGb() }) }}
      </ng-container>
    </span>
  </div>

  <div class="entity-list-item-data">
    <span>{{ 'VM_PAGE.CARD.DISKS' | translate }}: </span>
    <span>{{ 'UNITS.GB_VALUE' | translate:({ value: getDisksSize.toFixed(2) }) }}</span>
  </div>

  <div class="entity-list-item-data">OS {{ getOsDescription }} </div>

  <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
    <mat-icon class="mdi-dots-vertical"></mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <cs-vm-actions-container [vm]="item"></cs-vm-actions-container>
  </mat-menu>
</mat-list-item>
