<div class="event-list-container">
  <cs-top-bar cs-panels>
    <div class="options-panel filter-wrapper">
      <cs-date-picker
        [okLabel]="'COMMON.OK' | translate"
        [locale]="locale"
        [firstDayOfWeek]="firstDayOfWeek"
        [DateTimeFormat]="dateTimeFormatterService.dateTimeFormat"
        [cancelLabel]="'COMMON.CANCEL' | translate"
        [ngModel]="date"
        (change)="onDateChange.emit($event)"
      ></cs-date-picker>
      <mat-form-field>
        <mat-select
          class="level-selector"
          [ngModel]="selectedLevels"
          (change)="onSelectedLevelsChange.emit($event.value)"
          multiple="true"
          [placeholder]="'EVENT_PAGE.SELECT_LEVELS' | translate"
        >
          <mat-option
            *ngFor="let level of levels"
            [value]="level"
          >
            {{ level }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [ngModel]="selectedTypes"
          (change)="onEventTypesChange.emit($event.value)"
          multiple="true"
          [placeholder]="'EVENT_PAGE.SELECT_TYPES' | translate"
        >
          <mat-option
            *ngFor="let et of eventTypes"
            [value]="et"
          >
            {{ et }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <cs-search
        [ngModel]="query"
        (ngModelChange)="onQueryChange.emit($event)"
      ></cs-search>
    </div>
  </cs-top-bar>
  <div class="event-list">
    <ng-container *loading="isLoading">
      <cs-table
        *ngIf="events?.length"
        [tableId]="'EVENT_PAGE'"
        [columns]="tableColumns"
        [table-model]="events"
        [searchQuery]="query"
      ></cs-table>
      <span *ngIf="!events?.length">{{ 'EVENT_PAGE.NO_EVENTS' | translate }}</span>
    </ng-container>
  </div>
</div>
