:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.event-list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

cs-date-picker,
mat-select {
  margin: 0 15px;
}

.spinner {
  text-align: center;

  mat-spinner {
    width: 40px;
    height: 40px;
  }
}

.event-type-select {
  display: inline-flex;
}

cs-table {
  width: 100%;
  min-width: 840px;

  & /deep/ mat-table {
    border: 1px solid rgba(0, 0, 0, .12);
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  & /deep/ td:first-child {
    word-wrap: break-word;
  }

  & /deep/ td:nth-child(3) {
    word-wrap: break-word;
  }

  & /deep/ th:first-of-type {
    width: 50%;
  }

  & /deep/ th:nth-of-type(2) {
    width: 10%;
  }
}

.event-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-select {
  width: 170px;
}
