<div class="event-list-container">
  <cs-top-bar cs-panels>
    <div class="filter-wrapper filter">
      <cs-date-picker
        [label]="'EVENT_PAGE.SELECT_DATE' | translate"
        [okLabel]="'COMMON.OK' | translate"
        [locale]="locale"
        [firstDayOfWeek]="firstDayOfWeek"
        [dateTimeFormat]="dateTimeFormatterService.dateTimeFormat"
        [cancelLabel]="'COMMON.CANCEL' | translate"
        [ngModel]="date"
        (changed)="dateChange.emit($event)"
      ></cs-date-picker>
      <mat-form-field>
        <mat-select
          class="level-selector"
          [ngModel]="selectedLevels"
          (selectionChange)="selectedLevelsChanged.emit($event.value)"
          multiple="true"
          [placeholder]="'EVENT_PAGE.SELECT_LEVELS' | translate"
        >
          <mat-option
            *ngFor="let level of levels"
            [value]="level"
          >
            {{ level }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [ngModel]="selectedTypes"
          (selectionChange)="eventTypesChanged.emit($event.value)"
          multiple="true"
          [placeholder]="'EVENT_PAGE.SELECT_TYPES' | translate"
        >
          <mat-option
            *ngFor="let et of eventTypes"
            [value]="et"
          >
            {{ et }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="isAdmin">
        <mat-select
          multiple="true"
          [placeholder]="'VM_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
          [(ngModel)]="selectedAccountIds"
          (selectionChange)="accountChanged.emit($event.value)"
        >
          <mat-option
            *ngFor="let account of accounts"
            [value]="account.id"
          >{{ account.fullDomain }}{{ account.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <cs-search
        [ngModel]="query"
        (ngModelChange)="queryChanged.emit($event)"
      ></cs-search>
    </div>
  </cs-top-bar>

  <div class="event-list" *loading="isLoading">
    <ng-container *ngIf="events?.length; then eventsTable else noEvents"></ng-container>

    <ng-template #eventsTable>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> {{ 'EVENT_PAGE.DESCRIPTION' | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <span [innerHTML]="element.description | highlight:query"></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef> {{ 'EVENT_PAGE.LEVEL' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <span [innerHTML]="element.level | highlight:query"></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> {{ 'EVENT_PAGE.TYPE' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <span [innerHTML]="element.type | highlight:query"></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> {{ 'EVENT_PAGE.TIME' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <span [innerHTML]="element.time | highlight:query"></span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
    </ng-template>

    <ng-template #noEvents>
      <span *ngIf="!events?.length">{{ 'EVENT_PAGE.NO_EVENTS' | translate }}</span>
    </ng-template>
  </div>

</div>
