<div>
  <h3
    *ngIf="config?.title"
    class="mdl-dialog__title"
    [innerHTML]="config?.title | translate"
  ></h3>

  <div
    *ngIf="!messageIsParametrized"
    class="mdl-dialog__content"
    [innerHTML]="config?.message | translate"
  ></div>
  <div
    *ngIf="messageIsParametrized"
    class="mdl-dialog__content"
    [innerHTML]="config?.message?.translationToken | translate:(config?.message?.interpolateParams)"
  ></div>

  <div class="mdl-dialog__actions">
    <button
      #focusButton
      mdl-button
      mdl-colored="primary"
      (click)="confirm()"
      [innerHTML]="config?.confirmText | translate"
    ></button>
    <button
      mdl-button
      mdl-colored="primary"
      (click)="decline()"
      [innerHTML]="config?.declineText | translate"
    ></button>
  </div>
</div>
