<cs-template-filters
  class="options"
  (queries)="filterResults($event)"
  (filters)="filterResults($event)"
  (displayMode)="changeViewMode($event)"
  [showIso]="viewMode === 'Iso'"
  [showIsoSwitch]="false"
  [dialogMode]="true"
  [searchPanelWhite]="selectedGroupings?.length"
  [availableGroupings]="groupings"
></cs-template-filters>

<ng-container [ngSwitch]="!visibleTemplateList?.length && !fetching">
  <ng-template [ngSwitchCase]="true">
    <cs-no-results></cs-no-results>
  </ng-template>
  <ng-template ngSwitchDefault>
    <cs-template-list
      *loading="fetching"
      class="template-list"
      [selectedTemplate]="selectedTemplate"
      (selectedTemplateChange)="selectTemplate($event)"
      (deleteTemplate)="removeTemplate($event)"
      [templateList]="visibleTemplateList"
      [query]="query"
      [radio]="true"
      [dialogMode]="true"
    ></cs-template-list>
  </ng-template>
</ng-container>
