<cs-template-filters
  class="options"
  (queries)="filterResults($event)"
  (filters)="filterResults($event)"
  (displayMode)="changeViewMode($event)"
  [showIso]="viewMode === 'Iso'"
  [showIsoSwitch]="showIsoSwitch"
  [showDelimiter]="showDelimiter"
  [dialogMode]="dialogMode"
  [searchPanelWhite]="anyZoneResults"
></cs-template-filters>

<ng-container *ngIf="!dialogMode">
  <ng-container *ngIf="selectedZones?.length" cs-list>
    <ng-container *ngFor="let s of sections">
      <div class="section" *ngIf="s?.templates?.length">
        <h4 class="section-header">{{ s.zoneName }}</h4>
        <cs-template-card-list
          *loading="fetching"
          class="template-list"
          [query]="query"
          [templateList]="s.templates"
          (deleteTemplate)="removeTemplate($event)"
        >
        </cs-template-card-list>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!selectedZones || !selectedZones.length" cs-list>
    <cs-template-card-list
      *loading="fetching"
      class="template-list"
      [query]="query"
      [templateList]="visibleTemplateList"
      (deleteTemplate)="removeTemplate($event)"
    >
    </cs-template-card-list>
  </ng-container>
</ng-container>

<ng-container *ngIf="dialogMode">
  <cs-template-list
    *loading="fetching"
    class="template-list"
    [selectedTemplate]="selectedTemplate"
    (selectedTemplateChange)="selectTemplate($event)"
    (deleteTemplate)="removeTemplate($event)"
    [templateList]="visibleTemplateList"
    [query]="query"
    [radio]="showRadio"
    [dialogMode]="dialogMode"
  ></cs-template-list>
</ng-container>

<cs-no-results *ngIf="noFilteringResults && !fetching"></cs-no-results>
