:host {
  display: flex;
  flex-direction: column;
}

.template-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  padding: 0;
}

:host mat-icon img {
  vertical-align: top;
}
