<cs-template-filters
  class="options"
  [showIso]="viewMode === 'Iso'"
  [availableGroupings]="groupings"
  [showIsoSwitch]="showIsoSwitch"
  [dialogMode]="dialogMode"
  [groups]="groups"

  [viewMode]="viewMode"
  [selectedGroups]="selectedGroups"
  [selectedOsFamilies]="selectedOsFamilies"
  [selectedTypes]="selectedTypes"
  [query]="query"

  (queryChange)="queryChanged.emit($event)"
  (selectedGroupsChange)="selectedGroupsChanged.emit($event)"
  (selectedTypesChange)="selectedTypesChanged.emit($event)"
  (selectedOsFamiliesChange)="selectedOsFamiliesChanged.emit($event)"
  (viewModeChange)="viewModeChange.emit($event)"
></cs-template-filters>
<cs-template-list
  *loading="fetching"
  class="template-list"
  [selectedTemplate]="selectedTemplate"
  (selectedTemplateChange)="selectTemplate($event)"
  [templateList]="templates"
  [query]="query"
  [radio]="dialogMode"
  [dialogMode]="dialogMode"
  [isLoading]="fetching"
></cs-template-list>
