<cs-template-filters
  class="options"
  [showIso]="viewMode === 'Iso'"
  [availableGroupings]="groupings"
  [showIsoSwitch]="showIsoSwitch"
  [dialogMode]="dialogMode"
  [selectedAccountIds]="selectedAccountIds"
  [selectedGroupings]="selectedGroupings"
  [selectedZones]="zoneId"
  [selectedFilters]="selectedTypes"
  [selectedOsFamilies]="selectedOsFamilies"
  [query]="query"

  (queryChange)="onQueryChange.emit($event)"
  (selectedTypesChange)="onSelectedTypesChange.emit($event)"
  (selectedOsFamiliesChange)="onSelectedOsFamiliesChange.emit($event)"
  (displayMode)="viewModeChange.emit($event)"

></cs-template-filters>
<cs-template-list
  *loading="fetching"
  class="template-list"
  [selectedTemplate]="selectedTemplate"
  (selectedTemplateChange)="selectTemplate($event)"
  [templateList]="templates"
  [query]="query"
  [radio]="dialogMode"
  [dialogMode]="dialogMode"
></cs-template-list>

<cs-no-results *ngIf="!templates?.length && !fetching"></cs-no-results>
