<div>
  <cs-menu-header (buttonClicked)="onMenuButtonClicked()"></cs-menu-header>

  <div class="nav-routes">
    <ng-container *ngFor="let route of routes">
      <a
        class="nav-link"
        [class.link-active]="route && currentRoute && route.id === currentRoute.id"
        [routerLink]="route.path"
        (click)="onMenuButtonClicked()"
      >
        <mat-icon [ngClass]="route.icon"></mat-icon>
        {{ route.text | translate }}
      </a>
    </ng-container>

    <a class="nav-link" routerLink="/logout">
      <mat-icon class="mdi-exit-to-app"></mat-icon>
      {{ 'NAVIGATION_SIDEBAR.LOGOUT' | translate }}
    </a>
  </div>
</div>

<cs-license></cs-license>
