<div>
  <cs-menu-header [username]="username"></cs-menu-header>

  <div class="nav-routes">
    <mat-accordion>
      <ng-container *ngFor="let route of routes">
        <mat-expansion-panel [expanded]="route && currentRoute && route.id === currentRoute.id">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon [ngClass]="route.icon"></mat-icon>
              {{ route.text | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let subroute of route.subroutes">
            <a [routerLink]="subroute.path" class="nav-sub-link" routerLinkActive="link-active">
              <mat-icon [ngClass]="subroute.icon"></mat-icon>
              {{ subroute.text | translate }}
            </a>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <a class="nav-link" routerLink="/logout">
      <mat-icon class="mdi-exit-to-app"></mat-icon>
      {{ 'NAVIGATION_SIDEBAR.LOGOUT' | translate }}
    </a>
  </div>
</div>

<cs-license></cs-license>
