@import '../../../../../style/_variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: $nav-menu-min-width;
  overflow: auto;
}

.nav-routes {
  margin-bottom: 15px;
  font-size: 13px;
  display: flex;
  flex-direction: column;

  .mat-expansion-panel-spacing {
    margin: 0;
  }

  .mat-expansion-panel:not(.mat-expanded) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-expansion-panel {
    border-radius: 0;
    background: none;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: none;

    ::ng-deep .mat-expansion-panel-header-description,
    .mat-expansion-panel-header-title {
      align-items: center;
    }

    .mat-expansion-panel-header-title {
      color: white;
      font-size: 14px;
    }

    ::ng-deep .mat-expansion-panel-header-description,
    ::ng-deep .mat-expansion-indicator::after {
      color: rgba(255, 255, 255, 0.74);
    }

    ::ng-deep .mat-expansion-panel-content {
      font-size: 13px;

      ::ng-deep .mat-expansion-panel-body {
        padding: 10px 0 10px 0;
        box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2) inset,
          0 -3px 2px -1px rgba(0, 0, 0, 0.2) inset;
      }
    }
  }

  mat-icon {
    margin-right: 10px;
  }

  .nav-link {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
  }

  .nav-sub-link {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
}
