<mdl-layout mdl-layout-fixed-header>
  <mdl-layout-header>
     <mdl-layout-header-row>
        <mdl-layout-title>Cloudstack</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
     </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-content>
    <div class="flex-container">
      <div class="login-form" mdl-shadow="2">
        <h3 class="mdl-dialog__title">Login</h3>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="mdl-dialog__content">
            <mdl-textfield
              type="text"
              label="Username"
              id="username"
              name="username"
              [(ngModel)]="username"
              [required]="usernameRequired ? 'true' : null">
            </mdl-textfield>
            <br/>
            <mdl-textfield
              type="password"
              label="Password"
              id="password"
              name="password"
              [(ngModel)]="password"
              [required]="passwordRequired ? 'true' : null">
            </mdl-textfield>
          </div>
          <div class="mdl-dialog__actions">
            <button mdl-button mdl-ripple type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </mdl-layout-content>
</mdl-layout>
