<mat-card
  class="custom-card volume-card"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
  [class.root-disk]="isRoot"
>
  <mat-card-header>
    <mat-card-title>
      <h2
        class="mat-card-title-text"
        [matTooltip]="item.name"
        [innerHTML]="item.name | highlight:query"
      >
        {{ item.name }}
      </h2>
    </mat-card-title>
    <div class="mat-card-header-menu">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-wrapper">
      <div class="flex-1">
        <div class="row" *ngIf="descriptionIncludesQuery">
          {{ 'VOLUME_PAGE.CARD.DESCRIPTION' | translate }}:
        </div>

        <div class="row">{{ 'VOLUME_PAGE.CARD.SIZE' | translate }}:</div>
        <div class="row">{{ 'VOLUME_PAGE.CARD.STATE' | translate }}:</div>
      </div>

      <div class="flex-1">
        <div class="row" *ngIf="descriptionIncludesQuery">
          <span [innerHTML]="item.description | highlight:query"></span>
        </div>
        <div class="row">
          <span>{{ item.size | division:2:30:2 }} {{ 'UNITS.GB' | translate }}</span>
        </div>
        <div class="row">
          <span>{{ stateTranslationToken | translate }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-menu
    #actionsMenu="matMenu"
    [style.width.px]="300"
  >
    <cs-volume-actions [volume]="item"></cs-volume-actions>
  </mat-menu>
</mat-card>
