:host {
  display: inline-flex;
}

mat-card {
  cursor: pointer;
}

.row {
  margin-bottom: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.root-disk {
  background: center/4px 4px repeat radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 2px,
      transparent 2px,
      transparent 100%
  );
}
