<md-select
  class="aggregation-select"
  [(ngModel)]="selectedScale"
  (change)="handleScaleChange($event)"
  [placeholder]="'PULSE.RANGE' | translate"
>
  <md-option *ngFor="let scale of permittedIntervals?.scales" [value]="scale">
    {{ scale.range }}
  </md-option>
</md-select>
<md-select
  class="aggregation-select"
  multiple
  [placeholder]="'PULSE.AGGREGATION' | translate"
  [(ngModel)]="selectedAggregations"
  #aggregationSelect="ngModel"
  (change)="handleAggregationsChange($event)"
>
  <md-option
    *ngFor="let aggregation of selectedScale?.aggregations"
    [value]="aggregation"
  >
    {{ aggregation }}
  </md-option>
</md-select>
<md-form-field class="shift-input">
  <input
    [(ngModel)]="shiftAmount"
    mdInput
    type="number"
    value="0"
    [min]="0"
    [max]="100"
    (input)="handleShiftAmountChange($event)"
  >
</md-form-field>
<md-select
  class="aggregation-select shift-select"
  [(ngModel)]="selectedShift"
  (change)="handleShiftChange($event)"
  [placeholder]="'PULSE.SHIFT' | translate"
>
  <md-option *ngFor="let shift of permittedIntervals?.shifts" [value]="shift">
    {{ shift }}
  </md-option>
</md-select>
<button class="refresh-button" md-icon-button (click)="handleRefresh()">
  <md-icon [mdTooltip]="'COMMON.REFRESH' | translate">sync</md-icon>
</button>
