<mat-form-field class="aggregation-select">
  <mat-select

    [(ngModel)]="selectedScale"
    (selectionChange)="handleScaleChange($event)"
    [placeholder]="'PULSE.RANGE' | translate"
  >
    <mat-option *ngFor="let scale of permittedIntervals?.scales" [value]="scale">
      {{ scale.range }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="aggregation-select">
  <mat-select
    multiple
    [placeholder]="'PULSE.AGGREGATION' | translate"
    [(ngModel)]="selectedAggregations"
    #aggregationSelect="ngModel"
    (selectionChange)="handleAggregationsChange($event)"
  >
    <mat-option
      *ngFor="let aggregation of selectedScale?.aggregations"
      [value]="aggregation"
    >
      {{ aggregation }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="shift-input">
  <input
    [(ngModel)]="shiftAmount"
    matInput
    type="number"
    value="0"
    [min]="0"
    [max]="100"
    csMaxNumber="0"
    csMinNumber="100"
    (input)="handleShiftAmountChange($event)"
  >
</mat-form-field>
<mat-form-field class="aggregation-select shift-select">
  <mat-select
    [(ngModel)]="selectedShift"
    (selectionChange)="handleShiftChange($event)"
    [placeholder]="'PULSE.SHIFT' | translate"
  >
    <mat-option *ngFor="let shift of permittedIntervals?.shifts" [value]="shift">
      {{ shift }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button class="refresh-button" mat-icon-button (click)="handleRefresh()">
  <mat-icon [matTooltip]="'COMMON.REFRESH' | translate" class="mdi-sync"></mat-icon>
</button>
