<div *ngIf="!charts[0]?.datasets?.length" class="no-charts">
  <img src="img/no-charts.svg" alt="">
  <md-spinner *ngIf="fetching; else selectCharts" [strokeWidth]="8"></md-spinner>
  <ng-template #selectCharts><span>{{ 'PULSE.SELECT_DATA' | translate }}</span></ng-template>
</div>
<div *ngIf="fetching && charts[0]?.datasets?.length" class="overlay">
  <md-spinner [strokeWidth]="8"></md-spinner>
</div>
<div *ngFor="let chart of charts" class="chart">
  <div *ngIf="chart.datasets?.length" class="arrow" (click)="previous.emit()">
    <md-icon>keyboard_arrow_left</md-icon>
  </div>
  <canvas
    *ngIf="chart.datasets?.length"
    baseChart
    [datasets]="chart.datasets"
    [chartType]="chart.chartType"
    [options]="chart.options"
    [labels]="chart.labels"
  ></canvas>
  <div *ngIf="hasNext" class="arrow" (click)="next.emit()">
    <md-icon>keyboard_arrow_right</md-icon>
  </div>
</div>
