$badge-size: 24px;
$badge-overlap: 18px;

.badge {
  &[data-badge]::before {
    content: attr(data-badge);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -($badge-size / 2);
    right: -($badge-size - $badge-overlap);
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    width: $badge-size;
    height: $badge-size;
    border-radius: 50%;
    color: white;
    z-index: 2;
  }
}
