.snapshot-name {
  width: 27% !important;
}

.snapshot-date {
  text-align: center;
  width: 18% !important;
}

.snapshot-state {
  text-align: center !important;
  width: 28% !important;
}

.snapshot-buttons {
  position: relative;
  width: 27% !important;
  top: -2px;
  padding-left: 4px;
}

.button-18px {
  min-width: 24px;
  height: 24px;
  width: 24px;
}

.icon-18px {
  font-size: 18px;
}
