<div>
  <div [innerHTML]="translatedMessage | async"></div>
  <div >
    <b>{{ 'VM_POST_ACTION.VM_PASSWORD' | translate }}:</b> {{vm.password}}
    <button md-button color="primary" *ngIf="showSaveButton" [disabled]="disableButton"
            (click)="savePassword()">{{ 'COMMON.SAVE' | translate }}</button>
    <div class="saved">
      <md-icon *ngIf="!showSaveButton"
        mdTooltipPosition="below"
        [mdTooltip]="'COMMON.SAVED' | translate"
      >check_circle</md-icon>
    </div>
  </div>

  <div class="mat-dialog-actions">
    <button md-button color="primary"
            (click)="dialogRef.close()">{{ 'COMMON.OK' | translate }}</button>
  </div>
</div>
