<div *ngIf="vm">
  <div>

    <cs-description
      [description]="description"
      (descriptionChange)="changeDescription($event)"
    ></cs-description>

    <cs-zone [vm]="vm"></cs-zone>

    <cs-instance-group [vm]="vm"></cs-instance-group>

    <cs-service-offering-details [vm]="vm"></cs-service-offering-details>

    <mat-card class="vm-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-card-title-text">{{ 'VM_PAGE.VM_DETAILS.AFFINITY_GROUP.TITLE' | translate }}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-card-content-with-actions">
        <div class="mat-card-content-container">
          <div *ngFor="let affinityGroup of vm.affinityGroup">{{ affinityGroup.name }}</div>
          <div *ngIf="!vm.affinityGroup.length">
            {{ 'VM_PAGE.VM_DETAILS.AFFINITY_GROUP.NO_AFFINITY_GROUP' | translate }}
          </div>
        </div>
        <mat-card-actions *loading="affinityGroupLoading">
          <button
            [matTooltip]="'COMMON.EDIT' | translate"
            matTooltipPosition="above"
            mat-icon-button
            (click)="changeAffinityGroup()"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <cs-vm-detail-template [vm]="vm"></cs-vm-detail-template>

    <mat-card class="vm-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-card-title-text">{{ 'VM_PAGE.VM_DETAILS.SSH_KEY.TITLE' | translate }}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-card-content-with-actions">
        <div class="mat-card-content-container">
          <span *ngIf="vm.keyPair; else noKeys">{{ vm.keyPair }}</span>
          <ng-template #noKeys>{{ 'VM_PAGE.VM_DETAILS.SSH_KEY.NO_SSH_KEY' | translate }}</ng-template>
        </div>
        <mat-card-actions *loading="sskKeyLoading">
          <button
            mat-icon-button
            type="button"
            [matTooltip]="(vm.keyPair ? 'COMMON.EDIT': 'COMMON.ADD') | translate"
            matTooltipPosition="above"
            (click)="resetSshKey()"
          >
            <mat-icon *ngIf="vm.keyPair; else add">edit</mat-icon>
            <ng-template #add><mat-icon>add</mat-icon></ng-template>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <cs-statistics [vm]="vm"></cs-statistics>
  </div>
</div>
