.vm-details-header {
  height: 30px;
  margin: 0 0 6px 6px;
}

.details-select {
  margin: 5px;
  width: 330px;
}

:host /deep/ .mdl-textfield {
  width: 330px;
}

.overflow-card {
  overflow: visible;
  z-index: 10;
}

.md-icon-button--small {
  min-width: 20px;
  width: 20px;
  height: 20px;
}

.md-icon--small {
  font-size: 20px;
}
