<div *ngIf="entity">
  <div class="title-container">
    <cs-template-os-icon [template]="entity" [osTypes]="osTypes$ | async"></cs-template-os-icon>
    <h4 class="details-header">{{ entity.name }}</h4>
    <cs-template-actions-sidebar
      *ngIf="isSelf"
      [template]="entity"
    ></cs-template-actions-sidebar>
  </div>

  <nav md-tab-nav-bar>
    <a
      mdTabLink
      [routerLink]="['./details']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('details')"
    >
      <div
        [mdTooltip]="'TEMPLATE_PAGE.SIDEBAR.TEMPLATE' | translate"
        class="md-tab-tooltip"
      >
        <div class="disc-icon-container">
          <div class="disc-icon"></div>
        </div>
      </div>
    </a>
    <a
      mdTabLink
      [routerLink]="['./zones']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('zones')"
    >
      <div [mdTooltip]="'TEMPLATE_PAGE.SIDEBAR.ZONES' | translate" class="md-tab-tooltip">
        <md-icon>public</md-icon>
      </div>
    </a>
    <a
      mdTabLink
      [routerLink]="['./tags']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('tags')"
    >
      <div
        [mdTooltip]="'TEMPLATE_PAGE.SIDEBAR.TAGS' | translate"
        class="md-tab-tooltip"
      >
        <md-icon>local_offer</md-icon>
      </div>
    </a>
  </nav>
</div>

<router-outlet></router-outlet>

<cs-no-results *ngIf="notFound" [text]="'TEMPLATE_NOT_FOUND'"></cs-no-results>

<cs-overlay-loading [active]="!entity && !notFound"></cs-overlay-loading>
