<div *ngIf="entity">
  <div class="title-container">
    <cs-template-os-icon-container
      [template]="entity"
    ></cs-template-os-icon-container>
    <h4 class="details-header">{{ entity.name }}</h4>
    <cs-template-actions-sidebar-container
      *ngIf="isSelf"
      [template]="entity"
    ></cs-template-actions-sidebar-container>
  </div>

  <nav mat-tab-nav-bar>
    <a
      matTabLink
      [routerLink]="['./details']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('details')"
    >
      <div
        [matTooltip]="'TEMPLATE_PAGE.SIDEBAR.TEMPLATE' | translate"
        class="mat-tab-tooltip"
      >
        <mat-icon class="mdi-disc"></mat-icon>
      </div>
    </a>
    <a
      matTabLink
      [routerLink]="['./zones']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('zones')"
    >
      <div [matTooltip]="'TEMPLATE_PAGE.SIDEBAR.ZONES' | translate" class="mat-tab-tooltip">
        <mat-icon class="mdi-earth"></mat-icon>
      </div>
    </a>
    <a
      matTabLink
      [routerLink]="['./tags']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('tags')"
    >
      <div
        [matTooltip]="'TEMPLATE_PAGE.SIDEBAR.TAGS' | translate"
        class="mat-tab-tooltip"
      >
        <mat-icon class="mdi-tag"></mat-icon>
      </div>
    </a>
  </nav>
</div>

<router-outlet></router-outlet>

<cs-no-results *ngIf="notFound" [text]="'TEMPLATE_NOT_FOUND'"></cs-no-results>

<cs-overlay-loading [active]="!entity && !notFound"></cs-overlay-loading>
