cs-template {
  display: block;
}

.update-button-container {
  text-align: right;
  margin: 5px;
}

.md-card-input-copy {
  max-width: 80%;
}

md-icon {
  line-height: 48px;
}

.disc-icon-container {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
}

.panel-title-container {
  display: flex;
  justify-content: center;
}

:host /deep/ .mat-tab-label {
  min-width: 118px !important;
}
