mat-icon {
  line-height: 48px;
}

.disc-icon-container {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
}

.panel-title-container {
  display: flex;
  justify-content: center;
}

:host /deep/ .mat-tab-link {
  min-width: 96px !important;
}
