<cs-sidebar
  [isOpen]="isOpen"
  (onClickOutside)="onClickOutside.next()"
>
  <div *ngIf="template">
    <mdl-card mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ template.name }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="grid grid-right">
          <div class="row">
            <div>{{ 'DESCRIPTION' | translate }}</div>
            <div>{{ template.displayText }}</div>
          </div>
          <div class="row">
            <div>{{ 'OS' | translate }}</div>
            <div>{{ template.osTypeName }}</div>
          </div>
          <div *ngIf="!template.isReady" class="row">
            <div>{{ 'READY' | translate}}</div>
            <div>{{ 'NO' | translate }}</div>
          </div>
        </div>
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border *ngIf="isSelf">
        <button
          mdl-button
          (click)="delete()"
        >
          {{ 'DELETE' | translate }}
        </button>
      </mdl-card-actions>
    </mdl-card>
    <mdl-card mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ "DETAILS" | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="grid grid-right">
          <div class="row" *ngIf="template.size">
            <div>{{ 'SIZE' | translate }}</div>
            <div>{{ template.size | divByPowerOfTwo:30:2 }} {{ 'GB' | translate }}</div>
          </div>
          <div class="row">
            <div>{{ 'EXTRACTABLE' | translate }}</div>
            <div>{{ template.isExtractable | viewValue }}</div>
          </div>
          <div class="row">
            <div>{{ 'PUBLIC' | translate }}</div>
            <div>{{ template.isPublic | viewValue }}</div>
          </div>
          <div class="row">
            <div>{{ 'RECOMMENDED' | translate }}</div>
            <div>{{ template.isFeatured | viewValue }}</div>
          </div>
          <div class="row" *ngIf="template.isPasswordEnabled !== undefined">
            <div>{{ 'TEMPLATE_PASSWORD_ENABLED' | translate }}</div>
            <div>{{ template.isPasswordEnabled | viewValue }}</div>
          </div>
          <div class="row" *ngIf="template.isDynamicallyScalable !== undefined">
            <div>{{ 'TEMPLATE_DYNAMICALLY_SCALABLE' | translate }}</div>
            <div>{{ template.isDynamicallyScalable | viewValue }}</div>
          </div>
          <div class="row">
            <div>{{ 'CROSS_ZONES' | translate }}</div>
            <div>{{ template.crossZones | viewValue }}</div>
          </div>
          <div class="row">
            <div>{{ 'DOMAIN' | translate }}</div>
            <div>{{ template.domain }}</div>
          </div>
          <div class="row">
            <div>{{ 'CREATED_MASC' | translate }}</div>
            <div>{{ template.created | date:'MMM d' }}</div>
          </div>
          <div *ngIf="template.type" class="row">
            <div>{{ 'TYPE' | translate }}</div>
            <div>{{ (template.type + '_TEMPLATE_TYPE') | translate }}</div>
          </div>
          <div *ngIf="template.hypervisor" class="row">
            <div>{{ 'HYPERVISOR' | translate }}</div>
            <div>{{ template.hypervisor }}</div>
          </div>
        </div>
      </mdl-card-supporting-text>
    </mdl-card>
  </div>
</cs-sidebar>
