:host /deep/ .grid {
  margin: 5px auto;

  .row {
    display: flex;
    flex-flow: row wrap;

    & > div {
      width: 50%;
      padding: 2px;
    }

    & > div:nth-child(2n) {
      text-align: right;
    }
  }
}
