<md-tab-group [dynamicHeight]="true">
  <md-tab [label]="'CPU / RAM' | translate">
    <cs-pulse-cpu-chart
      [vmId]="vmId"
      [permittedIntervals]="permittedIntervals"
    ></cs-pulse-cpu-chart>
  </md-tab>
  <md-tab [label]="'NETWORK' | translate">
    <cs-pulse-network-chart
      [vmId]="vmId"
      [permittedIntervals]="permittedIntervals"
    ></cs-pulse-network-chart>
  </md-tab>
  <md-tab [label]="'DISK' | translate">
    <cs-pulse-disk-chart
      [vmId]="vmId"
      [permittedIntervals]="permittedIntervals"
    ></cs-pulse-disk-chart>
  </md-tab>
</md-tab-group>
