.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block !important;
  width: 100%;
}

mat-table {
  display: table;
  width: 100%;
}

mat-row {
  cursor: pointer;
}

mat-header-cell, mat-cell {
  white-space: nowrap;
}

.mat-column-name {
  flex: 2;
}

.mat-column-radioButton {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20px; // width of radio button
}
