.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block !important;
  width: 100%;
}

table {
  thead {
    text-align: left;
  }
  tbody {
    cursor: pointer;
  }
}

//mat-cell, mat-header-cell {
//  min-width: 150px !important;
//}

.mat-row, .mat-header-row {
  background: white !important;
  min-width: 862px !important;
}
