.disk-offering-list {
  overflow: auto;
  height: 250px;
}

mat-expansion-panel {
  border-top: 1px solid rgba(0,0,0, .12);
  box-shadow: inherit !important;

  &:last-child {
    border-bottom: 1px solid rgba(0,0,0, .12);
  }
}

mat-panel-title {
  flex: 1 1 auto;
  width: 25%;
}

mat-panel-description {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.disk-size, .custom-label {
  color: black;
  margin-left: 20px;
}

.expansion-panel-content {
  margin-left: 25px;
  font-size: 0.9em;
}

table {
  tr td {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.text-right {
  text-align: right;
}
