.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block !important;
  width: 100%;
}

table {
  display: table;
  width: 100%;
}

tr {
  cursor: pointer;
}

th, td {
  white-space: nowrap;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

.mat-column-radioButton {
  width: 48px;
}
