<h3 class="mat-dialog-title">
  {{ 'DISK_OFFERING.CHOOSE_DISK_OFFERING' | translate }}
</h3>

<ng-container *ngIf="diskOfferings.length; then dataTable else noResults"></ng-container>

<ng-template #dataTable>
  <div class="disk-offering-list">
    <mat-accordion displayMode="flat">

      <mat-expansion-panel *ngFor="let offering of diskOfferings">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-radio-button
            [value]="offering"
            [checked]="offering.id === selectedDiskOffering?.id"
            (click)="selectOffering(offering); preventTriggerExpansionPanel($event)"
            ></mat-radio-button>
            {{ offering.name }}
          </mat-panel-title>
          <mat-panel-description>
            <div
              class="truncate"
              [matTooltip]="offering.displaytext"
              matTooltipShowDelay="500"
            >
              {{ offering.displaytext }}
            </div>
            <ng-container *ngIf="offering.iscustomized; then customLabel else diskSize"></ng-container>
            <ng-template #diskSize>
              <div class="disk-size">{{ offering.disksize }} {{ 'UNITS.GB' | translate }}</div>
            </ng-template>
            <ng-template #customLabel>
              <div class="custom-label">{{ 'DISK_OFFERING.CUSTOM' | translate }}</div>
            </ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="expansion-panel-content">
          <table>
            <tr>
              <td>{{ 'DISK_OFFERING.BANDWIDTH_MBPS' | translate }}:</td>
              <td>{{ 'DISK_OFFERING.READ' | translate }}</td>
              <td class="text-right">{{ convertToMb(offering.diskBytesReadRate) || '-' }}</td>
              <td>{{ 'DISK_OFFERING.WRITE' | translate }}</td>
              <td class="text-right">{{ convertToMb(offering.diskBytesWriteRate) || '-' }}</td>
            </tr>
            <tr>
              <td>{{ 'UNITS.IOPS' | translate }}:</td>
              <td>{{ 'DISK_OFFERING.READ' | translate }}</td>
              <td class="text-right">{{ offering.diskIopsReadRate || '-' }}</td>
              <td>{{ 'DISK_OFFERING.WRITE' | translate }}</td>
              <td class="text-right">{{ offering.diskIopsWriteRate || '-' }}</td>
            </tr>
            <tr>
              <td>{{ 'UNITS.IOPS' | translate }}:</td>
              <td>{{ 'DISK_OFFERING.MIN' | translate }}</td>
              <td class="text-right">{{ offering.miniops || '-' }}</td>
              <td>{{ 'DISK_OFFERING.MAX' | translate }}</td>
              <td class="text-right">{{ offering.maxiops || '-' }}</td>
            </tr>
          </table>
          <br>

          <table>
            <tr>
              <td>{{ 'DISK_OFFERING.STORAGE_TYPE' | translate }}:</td>
              <td>{{ 'DISK_OFFERING.STORAGE_TYPE_VALUES.' + offering.storagetype | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'DISK_OFFERING.PROVISIONING_TYPE' | translate }}:</td>
              <td>{{ 'DISK_OFFERING.PROVISIONING_TYPE_VALUES.' + offering.provisioningtype | translate }}</td>
            </tr>
            <tr>
              <td>{{ 'DISK_OFFERING.CREATED' | translate }}: </td>
              <td>{{ offeringCreated(offering.created) | csStringifyDate }}</td>
            </tr>
          </table>
        </div>

      </mat-expansion-panel>

    </mat-accordion>

  </div>
</ng-template>

<ng-template #noResults>
  <cs-no-results></cs-no-results>
</ng-template>

<div class="mat-dialog-actions">
  <button
    mat-button
    color="primary"
    matDialogClose
    type="button"
  >
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="isSubmitButtonDisabled()"
    (click)="onSubmit()"
  >
    {{ 'COMMON.SELECT' | translate }}
  </button>
</div>
