<h3 class="mat-dialog-title">
  {{ 'DISK_OFFERING.CHOOSE_DISK_OFFERING' | translate }}
</h3>

<ng-container *ngIf="diskOfferings.data?.length; then dataTable else noResults"></ng-container>

<ng-template #dataTable>
  <div class="table-wrapper">
    <table mat-table [dataSource]="diskOfferings">

      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ 'DISK_OFFERING.TABLE.' + column | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column === 'name'">
            {{ element[column] }}
          </ng-container>
          <ng-container *ngIf="!isElementInArray(column, fieldsToBeTranslated.concat(['name', 'created']))">
            {{ element[column] || '-'}}
          </ng-container>
          <ng-container *ngIf="column === 'created'">
            {{ (offeringCreated(element[column]) | stringifyDate)  || '-'}}
          </ng-container>
          <ng-container *ngIf="isElementInArray(column, fieldsToBeTranslated)">
            {{ ('DISK_OFFERING.TABLE.' + element[column]?.toString() | translate)  || '-'}}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="radioButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-radio-button
            name="disk-offering"
            [checked]="selectedDiskOffering && element?.id === selectedDiskOffering.id"
          ></mat-radio-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="selectOffering(row)"></tr>
    </table>
  </div>
</ng-template>

<ng-template #noResults>
  <cs-no-results></cs-no-results>
</ng-template>

<div class="mat-dialog-actions">
  <button
    mat-button
    color="primary"
    matDialogClose
    type="button"
  >
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="isSubmitButtonDisabled()"
    (click)="onSubmit()"
  >
    {{ 'COMMON.SELECT' | translate }}
  </button>
</div>
