$line-height: 22px;

.grid.snapshots {
  overflow: hidden;
  max-height: 6 * $line-height;

  &.open {
    max-height: none;
    height: auto;
  }
}

.disk-size {
  padding-bottom: 8px;
}

.volume-popover {
  width: 170px !important;
}
