<md-card class="vm-card" mdl-shadow="2">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">{{ volume.name }}</h2>
    </md-card-title>
    <div *ngIf="!loading" class="md-card-header-menu">
        <button *ngIf="!loading"
                md-icon-button [mdMenuTriggerFor]="actionsMenu">
            <md-icon>more_vert</md-icon>
        </button>
    </div>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="md-card-content-container">
      <div
        *ngIf="!expandDetails"
        class="disk-size"
      >
        {{ (volume.size | division:2:30:2) + ' ' + ('UNITS.GB' | translate) }}
      </div>
      <cs-volume-details
        *ngIf="expandDetails"
        [volume]="volume"
      ></cs-volume-details>
      <cs-snapshots [volume]="volume"></cs-snapshots>
    </div>
    <md-card-actions>
      <div class="card-left-button">
        <button
          *ngIf="showAttachmentActions"
          mdl-button
          mdl-button-type="icon"
          mdTooltipPosition="above"
          [mdTooltip]="'VM_PAGE.STORAGE_DETAILS.VOLUME_ACTIONS.DETACH' | translate"
          [disabled]="loading"
          (click)="detach()"
        >
          <md-icon>remove</md-icon>
        </button>
      </div>
      <div class="card-right-button">
        <button
          mdl-button
          mdl-ripple
          mdl-button-type="icon"
          [class.open]="expandDetails"
          [disabled]="loading"
          (click)="toggleDetails()"
        >
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
      </div>
    </md-card-actions>
  </md-card-content>
    <md-menu
      #actionsMenu="mdMenu"
      [style.width.px]="300"
    >
      <cs-spare-drive-actions [volume]="volume"></cs-spare-drive-actions>
    </md-menu>
</md-card>
