<md-card class="vm-card" mdl-shadow="2">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">{{ volume.name }}</h2>
    </md-card-title>
    <div *ngIf="!loading" class="md-card-header-menu">
        <button *ngIf="!loading"
                md-icon-button [mdMenuTriggerFor]="actionsMenu">
            <md-icon>more_vert</md-icon>
        </button>
    </div>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions" *loading="loading">
    <div class="md-card-content-container">
      <div
        *ngIf="!expandDetails"
        class="disk-size"
      >
        {{ (volume.size | division:2:30:2) + ' ' + ('GB' | translate) }}
      </div>
      <cs-volume-details
        *ngIf="expandDetails"
        [volume]="volume"
      ></cs-volume-details>
      <cs-snapshots [volume]="volume"></cs-snapshots>
    </div>
    <md-card-actions
      *ngIf="!loading"
    >
      <div class="card-left-button">
        <button
          *ngIf="showAttachmentActions"
          mdl-button
          mdl-button-type="icon"
          mdTooltipPosition="above"
          [mdTooltip]="'DETACH' | translate"
          (click)="detach()"
        >
          <md-icon>remove</md-icon>
        </button>
      </div>
      <div class="card-right-button">
        <button
          mdl-button
          mdl-ripple
          mdl-button-type="icon"
          (click)="toggleDetails()"
          [class.open]="expandDetails"
        >
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
      </div>
    </md-card-actions>
  </md-card-content>
    <md-menu #actionsMenu="mdMenu"
             [style.width.px]="300"
    >
        <button md-menu-item
                (click)="takeSnapshot(volume)"
        >
            <md-icon >camera_alt</md-icon>
            <span>{{ 'TAKE_SNAPSHOT_BUTTON' | translate }}</span>
        </button>

        <button md-menu-item
                (click)="showRecurringSnapshotsDialog()"
        >
            <md-icon >schedule</md-icon>
            <span>{{ 'SNAPSHOT_SCHEDULE_BUTTON' | translate }}</span>
        </button>

        <button md-menu-item
                (click)="showVolumeResizeDialog()"
        >
            <md-icon >photo_size_select_small</md-icon>
            <span>{{ 'VOLUME_RESIZE' | translate }}</span>
        </button>
    </md-menu>
</md-card>
