<md-card class="vm-card" mdl-shadow="2">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">{{ volume.name }}</h2>
    </md-card-title>
    <div *ngIf="!loading" class="md-card-header-menu">
      <button
        mdl-button
        (click)="popover.toggle($event)"
        mdl-button-type="icon"
        mdl-ripple>
        <md-icon>more_vert</md-icon>
      </button>
    </div>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions" *loading="loading">
    <div class="md-card-content-container">
      <div
        *ngIf="!expandDetails"
        class="disk-size"
      >
        {{ (volume.size | division:2:30:2) + ' ' + ('GB' | translate) }}
      </div>
      <cs-volume-details
        *ngIf="expandDetails"
        [volume]="volume"
      ></cs-volume-details>
      <cs-snapshots [volume]="volume"></cs-snapshots>
    </div>
    <md-card-actions
      *ngIf="!loading"
    >
      <div class="card-left-button">
        <button
          *ngIf="showAttachmentActions"
          mdl-button
          mdl-button-type="icon"
          mdTooltipPosition="above"
          [mdTooltip]="'DETACH' | translate"
          (click)="detach()"
        >
          <md-icon>remove</md-icon>
        </button>
      </div>
      <div class="card-right-button">
        <button
          mdl-button
          mdl-ripple
          mdl-button-type="icon"
          (click)="toggleDetails()"
          [class.open]="expandDetails"
        >
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
      </div>
    </md-card-actions>
  </md-card-content>
  <mdl-popover
    class="card-popover volume-popover"
    #popover
    [hide-on-click]="true"
    [style.width.px]="300"
  >
    <div mdl-shadow="6" class="popover-actions">
      <button
        [mdTooltip]="'TAKE_SNAPSHOT_BUTTON' | translate"
        mdl-button
        mdl-button-type="icon"
        (click)="takeSnapshot(volume)"
      >
        <md-icon>camera_alt</md-icon>
      </button>

      <button
        [mdTooltip]="'SNAPSHOT_SCHEDULE_BUTTON' | translate "
        mdl-button
        mdl-button-type="icon"
        (click)="showRecurringSnapshotsDialog()"
      >
        <md-icon >schedule</md-icon>
      </button>

      <button
        mdl-button
        mdl-button-type="icon"
        (click)="showVolumeResizeDialog()"
        [mdTooltip]="'VOLUME_RESIZE' | translate"
      >
        <md-icon>photo_size_select_small</md-icon>
      </button>
    </div>
  </mdl-popover>
</md-card>
