<mat-card
  class="custom-card"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
>
  <mat-card-header>
    <mat-card-title>
      <span
        class="state-icon"
        [matTooltip]="stateTranslations[item.state] | translate"
        [ngClass]="item.state"
      ></span>
      <h2
        class="mat-card-title-text"
        [matTooltip]="item.name"
      >{{ item.name }}
      </h2>
    </mat-card-title>
    <div class="mat-card-header-menu" *ngIf="isAdmin() && !isSelf">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      {{ 'ACCOUNT_PAGE.CARD.ROLE' | translate }}: {{item.rolename}}
    </div>

    <div class="row">
      {{ 'ACCOUNT_PAGE.CARD.ROLE_TYPE' | translate }}: {{item.roletype}}
    </div>

    <div class="row">
      {{ 'ACCOUNT_PAGE.CARD.DOMAIN' | translate }}: {{item.domain}}
    </div>
  </mat-card-content>
  <mat-menu
    #actionsMenu="matMenu"
  >
    <cs-account-action-container
      [account]="item"
    ></cs-account-action-container>
  </mat-menu>
</mat-card>
