<div class="flex-container" *ngIf="!loading">
  <img class="logo" src="img/cloudstack_logo.png">
  <div class="login mdl-color--white" mdl-shadow="2">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
        <div class="mat-dialog-content">
          <mdl-textfield
            required
            type="text"
            [label]="'AUTH.USERNAME' | translate"
            floating-label
            name="username"
            [error-msg]="'AUTH.USERNAME_REQUIRED' | translate"
            #user="ngModel"
            [(ngModel)]="username"
            [class.is-invalid]="user.invalid && !user.pristine"
          >
          </mdl-textfield>
          <br/>
          <mdl-textfield
            required
            type="password"
            [label]="'AUTH.PASSWORD' | translate"
            floating-label
            name="password"
            [error-msg]="'AUTH.PASSWORD_REQUIRED' | translate"
            #pass="ngModel"
            [(ngModel)]="password"
            [class.is-invalid]="pass.invalid && !pass.pristine"
          >
          </mdl-textfield>
          <br/>
          <mdl-textfield
            *ngIf="showDomain"
            type="text"
            [label]="'AUTH.DOMAIN' | translate"
            floating-label
            name="domain"
            #domainField="ngModel"
            [(ngModel)]="domain"
            [class.is-invalid]="domainField.invalid && !domainField.pristine"
          >
          </mdl-textfield>
        </div>
        <div class="mat-dialog-actions">
          <!--color-->
          <button
            md-button
            type="submit"
            [disabled]="(pass.invalid && !pass.pristine) || (user.invalid && !user.pristine)"
          >{{ 'AUTH.LOGIN' | translate }}</button>
          <button
            md-icon-button
            class="options-button"
            type="button"
            [mdTooltip]="(showDomain ? 'AUTH.HIDE_ADVANCED' : 'AUTH.SHOW_ADVANCED') | translate"
            mdTooltipPosition="above"
            (click)="toggleDomain()"
          >
            <md-icon [class.domains-visible]="showDomain">settings</md-icon>
          </button>
        </div>
      </form>
  </div>
</div>

