<div class="flex-container">
  <div class="login" mdl-shadow="2">
    <h3 class="mdl-dialog__title">Login</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mdl-dialog__content">
        <mdl-textfield
          required
          type="text"
          label="Username"
          name="username"
          #user="ngModel"
          [(ngModel)]="username"
          [class.is-invalid]="user.invalid && !user.pristine"
        >
        </mdl-textfield>
        <br/>
        <mdl-textfield
          required
          type="password"
          label="Password"
          name="password"
          #pass="ngModel"
          [(ngModel)]="password"
          [class.is-invalid]="pass.invalid && !pass.pristine"
        >
        </mdl-textfield>
      </div>
      <div class="mdl-dialog__actions">
        <button
          mdl-colored="primary"
          mdl-button
          mdl-ripple
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>

