.flex-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  max-width: 100%;
}

.login {
  width: auto;
  height: 18vh;
}

.options-button {
  margin-right: auto;
  height: 32px;

  .domains-visible {
    color: rgba(0,0,0,.26) !important;
  }
}

:host .mat-dialog-actions {
  padding: 8px 8px 8px 24px;
  display: flex;
  flex-direction: row-reverse;
}

:host .mat-dialog-content {
  margin: 15px auto !important;
  overflow: hidden;
}