<div class="flex-container" *ngIf="!loading">
  <img class="logo" src="img/cloudstack_logo.png" />
  <mat-card class="login">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
      <div class="mat-dialog-content">
        <mat-form-field class="full-width-input" hideRequiredMarker>
          <input
            matInput
            name="username"
            [(ngModel)]="username"
            [placeholder]="'AUTH.USERNAME' | translate"
            autofocus
            minlength="1"
            required
            #usernameControl="ngModel"
          />
          <mat-error *ngIf="usernameControl.hasError('required')">
            {{ 'AUTH.USERNAME_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-input" hideRequiredMarker>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            [placeholder]="'AUTH.PASSWORD' | translate"
            minlength="1"
            required
            #passwordControl="ngModel"
          />
          <mat-error *ngIf="passwordControl.hasError('required')">
            {{ 'AUTH.PASSWORD_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-input">
          <input
            matInput
            name="domain"
            [(ngModel)]="domain"
            [placeholder]="'AUTH.DOMAIN' | translate"
          />
        </mat-form-field>
      </div>
      <div class="mat-dialog-actions">
        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="passwordControl.invalid || usernameControl.invalid"
        >
          {{ 'AUTH.LOGIN' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
