<mdl-card class="vm-card custom-card" mdl-shadow="2" (click)="handleClick($event)">
  <mdl-card-title>
    <h2 mdl-card-title-text [mdl-tooltip]="vm.displayName">{{ vm.displayName }}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div>{{ vm.nic[0].ipaddress ? vm.nic[0].ipaddress : ("IP_NA" | translate) }}</div>
    <div class="vm-state">{{ vm.state.toUpperCase() | translate }}</div>
    <table style="width: 100%; text-align: center;">
      <thead>
      <tr>
        <th>{{ 'CPU' | translate }}</th>
        <th>{{ 'RAM' | translate }}</th>
        <th>{{ 'DISKS' | translate }}</th>
      </tr>
      </thead>
      <tr>
        <td>{{ vm.cpuNumber + 'x' + vm.cpuSpeed }} {{ 'GHZ' | translate }}</td>
        <td>{{ vm.memory | divByPowerOfTwo:10:2 }} {{ 'GB' | translate }}</td>
        <td>{{ vm.getDisksSize().toFixed(2) }} {{ 'GB' | translate }}</td>
      </tr>
    </table>
    <div>OS {{ vm.osType.description }}</div>
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button
      *ngFor="let a of actions"
      (click)="getAction($event, a.nameLower)"
      [disabled]="!vm.canApply(a.nameLower)"
      [mdl-tooltip]="a.nameCaps | translate"
      mdl-tooltip-position="top"
      mdl-button
      mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon>{{ a.mdlIcon }}</mdl-icon>
    </button>
  </mdl-card-actions>
</mdl-card>
