<mdl-card
  class="custom-card"
  mdl-shadow="2"
  [class.card-selected]="isSelected(item)"
  [class.error]="item.state === 'Error'"
  (click)="handleClick($event)"
  [style.background-color]="color.value"
  [style.color]="color?.textColor"
  [class.has-text-color]="color?.textColor"
>
  <mdl-card-title>
    <div
      class="state-icon"
      [class.running]="item.state === 'Running'"
      [class.stopped]="item.state === 'Stopped'"
      [class.error]="item.state === 'Error'"
      [class.in-progress]="item.state !== 'Running' && item.state !== 'Stopped'"
      [mdTooltip]="item.state.toUpperCase() | translate"
    ></div>
    <h2
      mdl-card-title-text
      [mdTooltip]="item.name"
    >
      {{ item.name }}
    </h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div class="os-type">OS {{ item?.osType?.description }}</div>
    <div class="vm-ip-address">{{ item.nic[0].ipAddress ? item.nic[0].ipAddress : ("IP_NA" | translate) }}</div>
    <table style="width: 100%; text-align: center;">
      <thead>
      <tr>
        <th>{{ 'CPU' | translate }}</th>
        <th>{{ 'RAM' | translate }}</th>
        <th>{{ 'DISKS' | translate }}</th>
      </tr>
      </thead>
      <tr>
        <td>{{ 'CPU_MHZ' | translate:({ count: item.cpuNumber, speed: item.cpuSpeed }) }}</td>
        <td>
          <ng-container *ngIf="item.memory < gigabyte">
            {{ 'MB_VALUE' | translate:({ value: getMemoryInMb() }) }}
          </ng-container>
          <ng-container *ngIf="item.memory >= gigabyte">
            {{ 'GB_VALUE' | translate:({ value: getMemoryInGb() }) }}
          </ng-container>
        </td>
        <td>{{ 'GB_VALUE' | translate:({ value: item.getDisksSize().toFixed(2) }) }}</td>
      </tr>
    </table>
  </mdl-card-supporting-text>
  <button md-icon-button [mdMenuTriggerFor]="actionsMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #actionsMenu="mdMenu">
    <ng-container *ngFor="let action of firstRowActions">
      <button md-menu-item
        *ngIf="!action.hidden(item)"
        (click)="onAction(action, item)"
        [disabled]="!action.canActivate(item)"
      >
        <md-icon>{{ action.icon }}</md-icon>
        <span>{{ action.name | translate }}</span>
      </button>
    </ng-container>
    <md-divider></md-divider>
    <ng-container *ngFor="let action of secondRowActions">
      <button md-menu-item
        *ngIf="!action.hidden(item)"
        (click)="onAction(action, item)"
        [disabled]="!action.canActivate(item)"
      >
        <md-icon>{{ action.icon }}</md-icon>
        <span>{{ action.name | translate }}</span>
      </button>
    </ng-container>
  </md-menu>
</mdl-card>
