<cs-list
  (onAction)="showVmCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-vm-statistics></cs-vm-statistics>
      <div class="top-border"></div>
      <cs-vm-filter *ngIf="zones && groups  && accounts"
        [zones]="zones"
        [groups]="groups"
        [accounts]="accounts"
        [availableGroupings]="groupings"
        (updateFilters)="updateFiltersAndFilter($event)"
      ></cs-vm-filter>
      <cs-view-mode-switch
        (onModeChange)="changeMode($event)"
        [key]="key">
      </cs-view-mode-switch>
    </cs-top-bar>
  </ng-container>

  <ng-container *loading="fetching" cs-list>
    <cs-grouped-list
      class="padding"
      [list]="visibleVmList"
      [groupings]="selectedGroupings"
      [component]="itemComponent"
      [dynamicInputs]="inputs"
      [dynamicOutputs]="outputs"
    >
    </cs-grouped-list>
    <cs-no-results *ngIf="noFilteringResults"></cs-no-results>
  </ng-container>
  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
