@import '../../../style/__variables';
$vm-detail-width: $sidebar-width + 1;

.vm-list {
  transition: margin 0.3s;

  &.open {
    margin-right: $vm-detail-width;
  }
}

cs-vm-detail {
  width: $vm-detail-width;
  right: -$vm-detail-width;
}

cs-vm-sidebar {
  width: $vm-detail-width;
}
