:host {
  display: inline-flex;
  cursor: pointer;
  z-index: -1;

  & md-card {
    z-index: 0;
    line-height: normal;
  }
}

.custom-card md-card-header {
  padding-bottom: 5px;
}

.custom-card.has-text-color {
  md-card-content,
  md-card-title {
    color: inherit;
  }

  .state-icon {
    box-shadow: 0 0 1px 1px white;
  }
}

.os-type {
  margin-bottom: 5px;
}

md-card.error {
  cursor: auto;
}

.vm-ip-address {
  display: inline-block;
}

.vm-state {
  float: right;
}

.vm-popover {
  width: 252px !important;
}
