:host {
  display: inline-flex;
  margin: 15px;
  cursor: pointer;
  z-index: -1;

  & mdl-card {
    z-index: 0;
  }
}

mdl-card.error {
  cursor: auto;
}

.vm-ip-address {
  display: inline-block;
}

.vm-state {
  float: right;
}

.state-icon {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.running {
  background-color: #388E3C;
}

.in-progress {
  background-color: #FFA726;
}

.stopped,
.error {
  background-color: #B71C1C;
}
