:host {
  display: inline-flex;
  cursor: pointer;
  z-index: -1;

  & mdl-card {
    z-index: 0;
  }
}

.custom-card .mdl-card__title {
  padding-bottom: 5px;

  .mdl-card__title-text {
    max-width: 85%;
  }
}

.custom-card.has-text-color {
  mdl-card-supporting-text,
  mdl-card-title {
    color: inherit;
  }

  .state-icon {
    box-shadow: 0 0 1px 1px white;
  }
}

.os-type {
  margin-bottom: 5px;
}

mdl-card.error {
  cursor: auto;
}

.vm-ip-address {
  display: inline-block;
}

.vm-state {
  float: right;
}

.vm-popover {
  width: 252px !important;
}
