$vm-detail-width: 365px;

:host {
  position: absolute;
  height: 100%;
  width: 100%;
}

.vm-list {
  height: 100%;
  overflow: auto;
  transition: margin 0.3s;

  &.open {
    margin-right: $vm-detail-width;

    & ~ .fab {
      margin-right: $vm-detail-width;
    }
  }
}

cs-vm-detail {
  width: $vm-detail-width;
  right: -$vm-detail-width;
}

cs-vm-sidebar {
  border-left: 1px solid #E0E0E0;
  width: $vm-detail-width;
}
