<div class="vm-list" [class.open]="isDetailOpen">
  <cs-vm-statistics></cs-vm-statistics>
  <cs-vm-filter></cs-vm-filter>
  <cs-vm-list-item
    *ngFor="let vm of vmList"
    [vm]="vm"
    [isSelected]="selectedVm === vm && isDetailOpen"
    (onVmAction)="vmAction($event)"
    (onClick)="showDetail($event)"
  ></cs-vm-list-item>
</div>
<cs-vm-sidebar
  class="mdl-color--grey-100"
  [vm]="selectedVm"
  (onClickOutside)="hideDetail()"
  [isOpen]="isDetailOpen"
>
</cs-vm-sidebar>
<cs-fab
  [open]="isDetailOpen"
  (click)="showVmCreationDialog()"
></cs-fab>
