<cs-list>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-vm-statistics></cs-vm-statistics>
    </cs-top-bar>
    <cs-vm-filter
      [zones]="zones"
      [groups]="groups"
      [availableGroupings]="groupings"
      (updateFilters)="updateFiltersAndFilter($event)"
    ></cs-vm-filter>
  </ng-container>

  <ng-container *loading="!vmList" cs-list>
    <cs-grouped-card-list
      [list]="visibleVmList"
      [groupings]="selectedGroupings"
      [component]="VmListItemComponent"
      [dynamicInputs]="inputs"
      [dynamicOutputs]="outputs"
    >
    </cs-grouped-card-list>
    <cs-no-results *ngIf="noFilteringResults"></cs-no-results>
  </ng-container>
  <router-outlet cs-sidebar></router-outlet>
</cs-list>
