<mat-card
  class="custom-card"
  [ngClass]="cardClass"
  (click)="handleClick($event)"
  [style.background-color]="color.value"
  [style.color]="color?.textColor"
>
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        <span
          class="state-icon"
          [ngClass]="statusClass"
          [matTooltip]="stateTranslationToken | translate"
        ></span>
        <span [matTooltip]="item.name"> {{ item.name }} </span>
      </h2>
    </mat-card-title>
    <div class="mat-card-header-menu">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="os-type">OS {{ item?.osType?.description }}</div>
    <div class="vm-ip-address">
      {{ item.nic[0].ipAddress ? item.nic[0].ipAddress : ('VM_PAGE.CARD.IP_NA' | translate) }}
    </div>
    <table style="width: 100%; text-align: center;">
      <thead>
      <tr>
        <th>{{ 'VM_PAGE.CARD.CPU' | translate }}</th>
        <th>{{ 'VM_PAGE.CARD.RAM' | translate }}</th>
        <th>{{ 'VM_PAGE.CARD.DISKS' | translate }}</th>
      </tr>
      </thead>
      <tr>
        <td>{{ 'SERVICE_OFFERING.CPU_MHZ' | translate:({ count: item.cpuNumber, speed: item.cpuSpeed }) }}</td>
        <td>
          <ng-container *ngIf="item.memory < gigabyte">
            {{ 'UNITS.MB_VALUE' | translate:({ value: getMemoryInMb() }) }}
          </ng-container>
          <ng-container *ngIf="item.memory >= gigabyte">
            {{ 'UNITS.GB_VALUE' | translate:({ value: getMemoryInGb() }) }}
          </ng-container>
        </td>
        <td>{{ 'UNITS.GB_VALUE' | translate:({ value: item.getDisksSize().toFixed(2) }) }}</td>
      </tr>
    </table>

  </mat-card-content>
  <mat-menu #actionsMenu="matMenu">
    <cs-vm-actions [vm]="item"></cs-vm-actions>
  </mat-menu>
</mat-card>
