<mat-card class="vm-card" *ngIf="vm">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'VM_PAGE.NETWORK_DETAILS.FIREWALL_RULES' | translate }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid security-group mat-card-content-container">
      <div
        class="row"
        *ngFor="let group of vm.securityGroup"
      >
        <span
          class="sg-name"
          [matTooltip]="group.name"
        >{{ group.name }}</span>
        <button
          mat-icon-button
          class="mat-icon-button mat-icon-button--small"
          [matTooltip]="'VM_PAGE.NETWORK_DETAILS.VIEW' | translate"
          (click)="showRulesDialog(group)">
          <mat-icon
            class="mat-icon--small"
          >visibility
          </mat-icon>
        </button>
        <button
          mat-icon-button
          class="mat-icon-button mat-icon-button--small"
          [matTooltip]="'VM_PAGE.NETWORK_DETAILS.DETACH' | translate"
          (click)="detachFirewall.emit(group?.id)">
          <mat-icon
            class="mat-icon--small"
          >remove
          </mat-icon>
        </button>
      </div>
    </div>
    <mat-card-actions>
      <button
        mat-icon-button
        [matTooltip]="'VM_PAGE.NETWORK_DETAILS.ATTACH' | translate"
        (click)="showAttachFirewallDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
