<md-card
  class="vm-card"
>
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">{{ 'FIREWALL_RULES' | translate }}</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="grid security-group md-card-content-container">
      <div class="row">
        <div>{{ 'INGRESS' | translate }}</div>
        <div>{{ vm.securityGroup[0]?.ingressRules.length }}</div>
      </div>
      <div class="row">
        <div>{{ 'EGRESS' | translate}}</div>
        <div>{{ vm.securityGroup[0]?.egressRules.length }}</div>
      </div>
    </div>
    <md-card-actions>
      <button
        [mdTooltip]="'COMMON.EDIT' | translate"
        mdTooltipPosition="above"
        mdl-button
        mdl-button-type="icon"
        (click)="showRulesDialog(vm.securityGroup[0])"
      >
        <md-icon>edit</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
