<mdl-card
  class="vm-card"
  mdl-shadow="2"
>
  <mdl-card-title>
    <h2 mdl-card-title-text>{{ 'FIREWALL_RULES' | translate }}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div class="grid security-group">
      <div class="row">
        <div>{{ 'INGRESS' | translate }}</div>
        <div>{{ vm.securityGroup[0]?.ingressRules.length }}</div>
      </div>
      <div class="row">
        <div>{{ 'EGRESS' | translate}}</div>
        <div>{{ vm.securityGroup[0]?.egressRules.length }}</div>
      </div>
    </div>
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button
      [mdTooltip]="'EDIT' | translate"
      mdTooltipPosition="above"
      mdl-button
      mdl-button-type="icon"
      (click)="showRulesDialog(vm.securityGroup[0])"
    >
      <mdl-icon>edit</mdl-icon>
    </button>
  </mdl-card-actions>
</mdl-card>
