.container {
  display: flex;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.table {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  vertical-align: baseline;
}

.title {
  padding-right: 20px;
  font-size: 16px;
}

.button {
  margin-left: auto;
}

.slider-cell {
  padding-right: 20px;
}

.slider {
  min-width: 300px;
}

::ng-deep {
  .slider .mat-slider-thumb-label {
    width: 32px;
    height: 32px;
  }
}

:host .mat-form-field {
  width: 60px !important;
}
