<h3 mat-dialog-title>{{ 'RESOURCE_QUOTAS_PAGE.REQUEST.REQUEST_RESOURCES_TITLE' | translate }}</h3>
<div class="form" mat-dialog-content>
  <table class="table">
    <ng-container *ngFor="let resourceName of resourceQuotaNames; let i = index">
      <tr class="row" *ngIf="resourceQuotas[i] != null && resourceLimits[i] != null">
        <td class="title">
          <h4>{{ resourceName | translate }}</h4>
        </td>
        <td class="slider-cell">
          <mat-slider
            class="slider"
            [min]="resourceQuotas[i].minimum"
            [max]="resourceQuotas[i].maximum"
            [ngModel]="resourceLimits[i]"
            [thumbLabel]="true"
            (ngModelChange)="onLimitChange(i, +$event)"
          ></mat-slider>
        </td>
        <td class="min">
          <mat-form-field>
            <input
              matInput
              type="number"
              [min]="resourceQuotas[i].minimum"
              [max]="resourceQuotas[i].maximum"
              [csMinValue]="resourceQuotas[i].minimum"
              [csMaxValue]="resourceQuotas[i].maximum"
              [ngModel]="resourceLimits[i]"
              (ngModelChange)="onLimitChange(i, +$event)"
            />
          </mat-form-field>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
<mat-dialog-actions>
  <button class="button" mat-button matDialogClose>{{ 'COMMON.CANCEL' | translate }}</button>
  <button class="button" mat-button (click)="onUpdate()" [disabled]="!isRequestButtonActive">
    {{ 'RESOURCE_QUOTAS_PAGE.REQUEST.REQUEST_BUTTON' | translate }}
  </button>
</mat-dialog-actions>
