<cs-list *ngIf="isAdmin()"
  (onAction)="showCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-account-filter-container
        [groupings]="groupings"
        [selectedGroupings]="selectedGroupings"
        (onSelectedGroupingsChange)="selectedGroupings = $event"
        cs-list>
      </cs-account-filter-container>
    </cs-top-bar>
  </ng-container>

  <cs-account-list
    *loading="isLoading"
    [groupings]="selectedGroupings"
    [accounts]="accounts"
    (onAccountChanged)="updateAccount($event)"
    cs-list
  ></cs-account-list>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>

<div class="detail-list margin-right" *ngIf="!isAdmin()">
  <cs-top-bar></cs-top-bar>
  <cs-account-list
    *loading="isLoading"
    [groupings]="selectedGroupings"
    [accounts]="accounts"
    cs-list
  ></cs-account-list>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</div>


