<cs-list *ngIf="isAdmin()"
  (action)="showCreationDialog()"
         [isOpen]="listService?.hasSelected()"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-account-filter-container
        [groupings]="groupings"
        [selectedGroupings]="selectedGroupings"
        cs-list>
      </cs-account-filter-container>
    </cs-top-bar>
  </ng-container>

  <ng-container cs-list>
    <div class="switch-panel">
      <cs-view-mode-switch
        (modeChanged)="changeMode($event)"
        [key]="viewModeKey">
      </cs-view-mode-switch>
    </div>

    <cs-account-list
      *loading="isLoading"
      [groupings]="selectedGroupings"
      [accounts]="accounts"
      [mode]="mode"
      cs-list
    ></cs-account-list>
  </ng-container>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>

<div class="detail-list margin-right" *ngIf="!isAdmin()">
  <cs-top-bar></cs-top-bar>
  <div class="switch-panel">
    <cs-view-mode-switch
      (modeChanged)="changeMode($event)"
      [key]="viewModeKey">
    </cs-view-mode-switch>
  </div>
  <cs-account-list
    *loading="isLoading"
    [groupings]="selectedGroupings"
    [accounts]="accounts"
    [mode]="mode"
    cs-list
  ></cs-account-list>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</div>
