<mat-list-item
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
>
  <h2
    class="row-title"
    [matTooltip]="item.name"
    [innerHTML]="item.name | highlight:query"
  ></h2>

  <div class="desc" *ngIf="item?.description">
    <span >{{ 'SECURITY_GROUP_PAGE.CARD.DESCRIPTION' | translate }}:</span>
    <span
      *ngIf="item.description"
      [matTooltip]="item.description"
      [innerHTML]="item.description | highlight:query"
      matTooltipPosition="above"
    ></span>
  </div>
  <div class="card-wrapper" *ngIf="isPrivate">
    <div class="description flex-1">{{ 'SECURITY_GROUP_PAGE.CARD.VM_NAME' | translate }}:</div>
    <div class="description flex-2">
      <ng-template [ngIf]="item?.virtualMachineIds[0]">
        {{ sgVmName }}
      </ng-template>
      <ng-template [ngIf]="!item?.virtualMachineIds[0]">
          <span>
            {{ 'SECURITY_GROUP_PAGE.DETAILS.EMPTY_VM_NAME' | translate }}
          </span>
      </ng-template>
    </div>
  </div>

  <button class="row-action" mat-icon-button [matMenuTriggerFor]="actionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <cs-security-group-actions-container [securityGroup]="item"></cs-security-group-actions-container>
  </mat-menu>
</mat-list-item>
