<mat-list-item
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
  class="entity-list-item"
>
  <h2 class="entity-list-item-title" [innerHTML]="item.name | highlight:query"></h2>

  <div class="entity-list-item-data" *ngIf="isPrivate">
    {{ 'SECURITY_GROUP_PAGE.CARD.VM_NAME' | translate }}:
    <ng-template [ngIf]="item?.virtualmachineids[0]">
      {{ sgVmName }}
    </ng-template>
    <ng-template [ngIf]="!item?.virtualmachineids[0]">
      {{ 'SECURITY_GROUP_PAGE.DETAILS.EMPTY_VM_NAME' | translate }}
    </ng-template>
  </div>

  <div class="entity-list-item-data" *ngIf="item?.description && !isPrivate">
    {{ 'SECURITY_GROUP_PAGE.CARD.DESCRIPTION' | translate }}:
    <span [innerHTML]="item.description | highlight:query"></span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
    <mat-icon class="mdi-dots-vertical"></mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <cs-security-group-actions-container [securityGroup]="item"></cs-security-group-actions-container>
  </mat-menu>
</mat-list-item>
