<div *ngIf="entity">
  <div class="title-container">
    <h4 class="details-header">{{ entity.name }}</h4>
    <button *ngIf="isAdmin()"
      md-icon-button
      [mdMenuTriggerFor]="actionsMenu"
    >
      <md-icon>more_vert</md-icon>
    </button>
  </div>

  <nav md-tab-nav-bar>
    <a
      mdTabLink
      [routerLink]="['./account']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('account')"
    >
      <div
        class="md-tab-tooltip"
        [mdTooltip]="'ACCOUNT_PAGE.SIDEBAR.GENERAL' | translate"
      >
        <md-icon>local_offer</md-icon>
      </div>
    </a>
    <a
      mdTabLink
      [routerLink]="['./users']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('users')"
    >
      <div
        class="md-tab-tooltip"
        [mdTooltip]="'ACCOUNT_PAGE.SIDEBAR.USERS' | translate"
      >
        <md-icon>person</md-icon>
      </div>
    </a>
  </nav>
</div>

<md-menu #actionsMenu="mdMenu">
  <cs-account-actions  *ngIf="entity" [account]="entity" (onAccountChanged)="loadEntity($event.id)"></cs-account-actions>
</md-menu>

<router-outlet></router-outlet>

<cs-no-results *ngIf="notFound" [text]="'ACCOUNT_NOT_FOUND'"></cs-no-results>

<cs-overlay-loading [active]="!entity && !notFound"></cs-overlay-loading>
