:host ::ng-deep name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host ::ng-deep .value {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 34% !important;
  text-align: right;
  white-space: nowrap;
}

:host ::ng-deep .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host ::ng-deep .left {
  max-width: 66% !important;
  min-width: 66% !important;
  margin-right: 15px;


  span {
    width: 100%;
  }
}

:host ::ng-deep .buttons {
  display: none;
  min-width: 68px;
  margin-left: 10px;
}

:host ::ng-deep .height-container {
  display: flex;
  align-items: center;
  min-height: 32px;
}

:host ::ng-deep .container {
  width: 100%;
}

:host ::ng-deep .container:hover .buttons {
  display: inline-block;
}
