<cs-list
  (onAction)="showCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>

  <!--*ngIf="templates && isos"-->

  <cs-template-filter-list
    [viewMode]="viewMode"
    [templates]="templates"
    [groupings]="groupings"
    [fetching]="isLoading"
    (viewModeChange)="onViewModeChange.emit($event)"
    (onFiltersChange)="onFiltersChange.emit($event)"
    (onQueryChange)="onQueryChange.emit($event)"
    cs-list
  ></cs-template-filter-list>
  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
