@import '../../../style/__variables';
$template-detail-width: $sidebar-width + 1;

.margin-right {
  transition: margin 0.3s;
  &.open {
    margin-right: $template-detail-width;
  }
}

.fab.open {
  margin-right: $template-detail-width;
}

cs-template-detail {
  width: $template-detail-width;
  right: -$template-detail-width;
}

cs-template-sidebar {
  width: $template-detail-width;
}
