<cs-list
  (action)="activate()"
  [isOpen]="listService?.hasSelected()"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-volume-filter-container
        [groupings]="groupings"
        [selectedGroupings]="selectedGroupings"
        cs-list
      ></cs-volume-filter-container>
    </cs-top-bar>
  </ng-container>

  <ng-container cs-list>

    <div class="switch-panel">
      <cs-view-mode-switch
        (modeChanged)="changeMode($event)"
        [key]="viewModeKey">
      </cs-view-mode-switch>
    </div>
    <cs-volume-list
      *loading="isLoading"
      [volumes]="volumes"
      [groupings]="selectedGroupings"
      [query]="query"
      [mode]="mode"
      cs-list
    ></cs-volume-list>
  </ng-container>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
