<cs-list
  (onAction)="activate()"
  [isOpen]="listService?.hasSelected()"
>
  <cs-volume-filter-container
    [groupings]="groupings"
    [selectedGroupings]="selectedGroupings"
    cs-list
  ></cs-volume-filter-container>

  <cs-volume-list
    *loading="isLoading"
    [volumes]="volumes"
    [groupings]="selectedGroupings"
    [query]="query"
    cs-list
  ></cs-volume-list>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
