<mat-card class="vm-card">
  <mat-card-header>
    <h2 class="mat-card-title-text">
      {{ 'VM_PAGE.VM_DETAILS.INSTANCE_GROUP.TITLE' | translate }}
    </h2>
  </mat-card-header>
  <mat-card-content class="overflow-card mat-card-content-with-actions">
    <div class="mat-card-content-container">
      <div *ngIf="groupName">
        {{ groupName }}
      </div>
      <div *ngIf="!groupName">
        {{ 'VM_PAGE.VM_DETAILS.INSTANCE_GROUP.NO_GROUP' | translate }}
      </div>
    </div>
    <mat-card-actions>
      <button
        mat-icon-button
        [matTooltip]="'COMMON.EDIT' | translate"
        matTooltipPosition="above"
        (click)="changeGroup()"
      >
        <mat-icon class="mdi-pencil"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
