<mat-list-item
  class="entity-list-item"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
  [class.root-disk]="isRoot"
>
  <h2
    class="entity-list-item-title"
    [matTooltip]="item.name"
    [innerHTML]="item.name | highlight:query"
  ></h2>

  <div class="entity-list-item-data">
    <span>{{ 'VOLUME_PAGE.CARD.SIZE' | translate }}: </span>
    <span>{{ item.size | division:2:30:2 }} {{ 'UNITS.GB' | translate }}</span>
   </div>

  <div class="entity-list-item-data">
    <span>{{ 'VOLUME_PAGE.CARD.STATE' | translate }}: </span>
    <span>{{ stateTranslationToken | translate }}</span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
    <mat-icon class="mdi-dots-vertical"></mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <cs-volume-actions-container [volume]="item"
    ></cs-volume-actions-container>
  </mat-menu>
</mat-list-item>
