:host {
  display: flex;
  width: 100%;
}

.event-list {
  padding: 15px;
  display: flex;
  overflow: auto;
}

:host mdl-select /deep/ .mdl-textfield {
  width: 200px;
}

:host mdl-table /deep/ table {
  white-space: normal;
}

:host mdl-table /deep/ table.mdl-data-table {
  width: 100%;
}

cs-date-picker,
mdl-select {
  margin: 0 15px;
}

.spinner {
  text-align: center;

  mdl-spinner {
    width: 40px;
    height: 40px;
  }
}

.event-type-select {
  display: inline-flex;
}

:host mdl-table {
  width: 100%;
}

:host .event-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
