:host {
  display: flex;
  width: 100%;
}

.event-list {
  padding: 15px;
  display: flex;
  overflow: auto;
}

:host mdl-select /deep/ .mdl-textfield {
  width: 200px;
}

:host mdl-table /deep/ table {
  white-space: normal;
  table-layout: fixed;
}

:host mdl-table /deep/ td:first-child {
  word-wrap: break-word;
}

:host mdl-table /deep/ td:nth-child(3) {
  word-wrap: break-word;
}

:host mdl-table /deep/ th:first-of-type {
  width: 50%;
}

:host mdl-table /deep/ th:nth-of-type(2) {
  width: 10%;
}

:host mdl-table /deep/ table.mdl-data-table {
  width: 100%;
}

cs-date-picker,
mdl-select {
  margin: 0 15px;
}

.spinner {
  text-align: center;

  mdl-spinner {
    width: 40px;
    height: 40px;
  }
}

.event-type-select {
  display: inline-flex;
}

:host mdl-table {
  width: 100%;
  min-width: 840px;
}

:host .event-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/deep/ .mdl-layout__content {
  display: flex;
}
