<div class="event-list-container">
  <cs-top-bar cs-panels>
    <div class="options-panel top-bar-height">
      <cs-date-picker
        [okLabel]="'COMMON.OK' | translate"
        [locale]="locale"
        [firstDayOfWeek]="firstDayOfWeek$ | async"
        [DateTimeFormat]="dateTimeFormatterService.dateTimeFormat"
        [cancelLabel]="'COMMON.CANCEL' | translate"
        [(ngModel)]="date"
        (change)="getEvents({ reload: true })"
      ></cs-date-picker>

      <md-select
        class="level-selector"
        [(ngModel)]="selectedLevels"
        (change)="getEvents()"
        multiple="true"
        [placeholder]="'EVENT_PAGE.SELECT_LEVELS' | translate"
      >
        <md-option
          *ngFor="let level of levels"
          [value]="level"
        >
          {{ level }}
        </md-option>
      </md-select>

      <md-select
        *ngIf="eventTypes"
        [(ngModel)]="selectedTypes"
        (change)="getEvents()"
        multiple="true"
        [placeholder]="'EVENT_PAGE.SELECT_TYPES' | translate"
      >
        <md-option
          *ngFor="let et of eventTypes"
          [value]="et"
        >
          {{ et }}
        </md-option>
      </md-select>
      <cs-search
        [(ngModel)]="query"
        (ngModelChange)="getEvents()"
      ></cs-search>
    </div>
  </cs-top-bar>
  <div class="event-list">
    <ng-container *loading="loading">
      <cs-table
        *ngIf="visibleEvents?.length"
        [tableId]="'EVENT_PAGE'"
        [columns]="tableColumns"
        [table-model]="tableModel"
        [searchQuery]="query"
      ></cs-table>
      <span *ngIf="!visibleEvents?.length">{{ 'EVENT_PAGE.NO_EVENTS' | translate }}</span>
    </ng-container>
  </div>
</div>
