<div class="event-list-container">
  <cs-top-bar cs-panels>
    <mdl-card class="options-panel top-bar-height">
      <cs-date-picker
        [okLabel]="'OK' | translate"
        [locale]="locale"
        [firstDayOfWeek]="firstDayOfWeek"
        [DateTimeFormat]="dateTimeFormat"
        [cancelLabel]="'CANCEL' | translate"
        [(ngModel)]="date"
        (ngModelChange)="getEvents()"
      ></cs-date-picker>

      <mdl-select
        [(ngModel)]="selectedLevels"
        (change)="filter()"
        multiple="true"
        [placeholder]="'LEVELS' | translate"
      >
        <mdl-option
          *ngFor="let level of levels"
          [value]="level"
        >
          {{ level }}
        </mdl-option>
      </mdl-select>

      <mdl-select
        *ngIf="eventTypes"
        [(ngModel)]="selectedTypes"
        (change)="filter()"
        multiple="true"
        [placeholder]="'EVENT_TYPES' | translate"
      >
        <mdl-option
          *ngFor="let et of eventTypes"
          [value]="et"
        >
          {{ et }}
        </mdl-option>
      </mdl-select>
      <cs-search
        [(ngModel)]="query"
        (ngModelChange)="filter()"
      ></cs-search>
    </mdl-card>
  </cs-top-bar>
  <div class="event-list">
    <ng-container *loading="loading">
      <cs-table
        *ngIf="visibleEvents?.length"
        mdl-shadow="2"
        [table-model]="tableModel"
        [searchQuery]="query"
      ></cs-table>
      <span *ngIf="!visibleEvents?.length">{{ 'NO_EVENTS' | translate }}</span>
    </ng-container>
  </div>
</div>
