<mdl-select
  [(ngModel)]="selectedLevels"
  (ngModelChange)="filterByLevel($event)"
  multiple="true"
  placeholder="Levels"
>
  <mdl-option
    *ngFor="let level of levels"
    [value]="level"
  >
    {{ level }}
  </mdl-option>
</mdl-select>
<h5 translate>EVENTS</h5>
<div class="spinner">
  <mdl-spinner *ngIf="loading" single-color active></mdl-spinner>
</div>
<h4 class="margin-bottom">{{ 'EVENTS' | translate }}</h4>
<mdl-table
  *ngIf="!loading && events?.length"
  mdl-shadow="2"
  [table-model]="tableModel"
></mdl-table>
<span *ngIf="!loading && !events?.length" translate>NO_EVENTS</span>
