<mat-card class="vm-card" *ngIf="vm">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">{{ 'VM_PAGE.VM_DETAILS.AFFINITY_GROUP.TITLE' | translate }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="mat-card-content-container">
      <div *ngFor="let affinityGroup of vm.affinityGroup">{{ affinityGroup.name }}</div>
      <div *ngIf="!vm.affinityGroup.length">
        {{ 'VM_PAGE.VM_DETAILS.AFFINITY_GROUP.NO_AFFINITY_GROUP' | translate }}
      </div>
    </div>
    <mat-card-actions>
      <button
        [matTooltip]="'COMMON.EDIT' | translate"
        matTooltipPosition="above"
        mat-icon-button
        [disabled]="!canActivate"
        (click)="changeAffinityGroup()"
      >
        <mat-icon class="mdi-pencil"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
