<cs-overlay-loading [active]="isLoading"></cs-overlay-loading>
<div [hidden]="isLoading">
  <h3 class="mat-dialog-title">{{ 'VOLUME_PAGE.SPARE_DRIVE_CREATION.TITLE' | translate
    }}</h3>
  <form [formGroup]="volumeForm" (ngSubmit)="onSubmit($event)" #volumeCreationForm="ngForm" novalidate>
    <div class="mat-dialog-content">
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="name"
          formControlName="name"
          [placeholder]="'VOLUME_PAGE.SPARE_DRIVE_CREATION.NAME' | translate"
          required
          autofocus
        >
        <mat-hint align="end">
          <cs-character-count [value]="volumeForm.controls['name'].value" [maxLength]="255"></cs-character-count>
        </mat-hint>
      </mat-form-field>
      <div>
        <mat-form-field class="full-width-input">
          <mat-select
            [placeholder]="'VOLUME_PAGE.SPARE_DRIVE_CREATION.ZONE' | translate"
            id="zone"
            name="zone"
            formControlName="zone"
            required
            (selectionChange)="updateZone($event.value)"
          >
            <mat-option
              *ngFor="let z of zones"
              [value]="z.id"
            >
              {{ z.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="diskOfferings?.length">
        <cs-disk-offering-selector
          name="diskOffering"
          [diskOfferings]="diskOfferings"
          [params]="params"
          formControlName="diskOffering"
          (change)="updateDiskOffering($event)"
        ></cs-disk-offering-selector>
      </div>
      <div *ngIf="showResizeSlider && minSize && maxSize">
        <cs-slider
          [min]="minSize"
          [max]="maxSize"
          [label]="'VOLUME_PAGE.SPARE_DRIVE_CREATION.SIZE' | translate"
          [units]="'UNITS.GB' | translate"
          name="diskSize"
          formControlName="size"
        ></cs-slider>
      </div>
    </div>

    <div>
      <mat-form-field class="full-width-input">
        <mat-select
          formControlName="vm"
          [placeholder]="'VOLUME_PAGE.SPARE_DRIVE_CREATION.VM' | translate"
          id="vm"
          name="vm"
        >
          <mat-option
            *ngFor="let vm of vmList"
            [value]="vm.id"
          >
            {{ vm.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mat-dialog-actions">
      <button
        mat-button
        color="primary"
        matDialogClose
        type="button"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!volumeForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
