<cs-template-filters
  *loading="loading$ | async"
  [dialogMode]="dialogMode"
  [showIsoSwitch]="showIsoSwitch"

  [accounts]="accounts$ | async"
  [domains]="domains$ | async"
  [osTypes]="osTypes$ | async"
  [zones]="zones$ | async"
  [groups]="groups$ | async"
  [availableGroupings]="availableGroupings"
  [query]="query$ | async"

  [viewMode]="selectedViewMode$ | async"
  [selectedAccountIds]="selectedAccountIds$ | async"
  [selectedGroupings]="selectedGroupings$ | async"
  [selectedZones]="selectedZones$ | async"
  [selectedTypes]="selectedTypes$ | async"
  [selectedOsFamilies]="selectedOsFamilies$ | async"
  [selectedGroups]="selectedGroups$ | async"

  (viewModeChange)="onViewModeChange($event)"
  (selectedAccountsChange)="onAccountsChange($event)"
  (selectedGroupingsChange)="onGroupingsChange($event)"
  (selectedTypesChange)="onTypesChange($event)"
  (selectedZonesChange)="onZonesChange($event)"
  (selectedGroupsChange)="onGroupsChange($event)"
  (selectedOsFamiliesChange)="onOsFamiliesChange($event)"
  (queryChange)="onQueryChange($event)"
></cs-template-filters>
