<cs-template-filter-list-selector
  [templates]="templates$ | async"

  [query]="query$ | async"
  [fetching]="isLoading$ | async"

  [selectedGroupings]="selectedGroupings$ | async"
  [selectedZones]="selectedZones$ | async"
  [(selectedTemplate)]="selectedTemplate"
  [selectedOsFamilies]="selectedOsFamilies$ | async"
  [selectedTypes]="selectedTypes$ | async"

  (viewModeChange)="onViewModeChange($event)"

  (onSelectedTypesChange)="onTypesChange($event)"
  (onSelectedOsFamiliesChange)="onOsFamiliesChange($event)"
  (onQueryChange)="onQueryChange($event)"
  (selectedTemplateChange)="selectTemplate($event)"
></cs-template-filter-list-selector>
