<div *ngIf="entity">
  <div class="title-container">
    <h4 class="details-header">{{ entity.name }}</h4>
    <cs-volume-actions-sidebar [volume]="entity"></cs-volume-actions-sidebar>
  </div>

  <nav mat-tab-nav-bar>
    <a
      matTabLink
      [routerLink]="['./volume']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('volume')"
    >
      <div
        class="mat-tab-tooltip"
        [matTooltip]="'VOLUME_PAGE.SIDEBAR.VOLUME' | translate"
      >
        <mat-icon class="mdi-server"></mat-icon>
      </div>
    </a>
    <a
      matTabLink
      [routerLink]="['./snapshots']"
      queryParamsHandling="preserve"
      [active]="tabIsActive('snapshots')"
    >
      <div
        class="mat-tab-tooltip"
        [matTooltip]="'VOLUME_PAGE.SIDEBAR.SNAPSHOTS' | translate"
      >
        <mat-icon class="mdi-camera"></mat-icon>
      </div>
    </a>
  </nav>
</div>

<router-outlet></router-outlet>

<cs-overlay-loading [active]="!entity"></cs-overlay-loading>

