mat-icon {
  line-height: 48px;
}

h4 {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host /deep/ .mat-tab-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

:host /deep/ .mat-tab-link {
  min-width: 177px !important;
}
