/deep/ .vm-template-dialog {
  width: 568px;
  padding: 0.9em;
}

mdl-radio, mdl-checkbox, mdl-switch {
  display: inline;
}

mdl-list {
 height: 216px;
 overflow-y: auto;
}

button {
  float: right;
}

.no-templates {
  text-align: center;
}

.mdl-dialog__content {
  padding-top: 19px;
}
