<div class="security-group-template-form">
  <h4 class="form-title">Create new template</h4>
  <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
    <div class="mdl-dialog__content">
      <mdl-textfield
        type="text"
        label="Name"
        name="name"
        floating-label
        autofocus
        required
        [(ngModel)]="name"
        [style.width]="'100%'"
      >
      </mdl-textfield>
      <br/>
      <mdl-textfield
        type="text"
        label="Description"
        name="description"
        floating-label
        required
        [(ngModel)]="description"
        [style.width]="'100%'"
      >
      </mdl-textfield>
      <br/>
      <mdl-textfield
        type="text"
        label="Labels"
        name="labels"
        floating-label
        [(ngModel)]="labels"
        [style.width]="'100%'"
      >
      </mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
      <button
        mdl-colored="primary"
        mdl-button
        mdl-ripple
        type="submit"
      >
        {{ 'CREATE' | translate }}
      </button>
      <button
        mdl-colored="primary"
        mdl-button
        mdl-ripple
        type="button"
        (click)="dialog.hide()"
      >
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </form>
</div>
