<div *ngIf="mode === 'create'">
  <button
    type="button"
    mdl-button
    (click)="showDialog()"
  >
    <span *ngIf="!savedRules?.templates?.length">{{ 'CREATE' | translate }}</span>
    <span *ngIf="savedRules?.templates?.length">{{ 'EDIT' | translate }}</span>
  </button>
  <div class="template-list" *ngIf="savedRules.templates?.length">
    based on
    <span *ngFor="let sg of savedRules?.templates; let i=index">
    {{ sg.name }}{{i === savedRules?.templates?.length - 1 ? '' : ','}}
  </span>
  </div>
</div>
