@mixin app-sidebar-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  cs-sidenav {
    background: mat-color($primary);
    color: mat-color($background, card);

    .navigation-link:hover,
    .link-active {
      background-color: #757575 !important;
    }
  }
}
