:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation {
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;

  &-link {
    display: block;
    padding: 12px 30px !important;
    flex-shrink: 0;
    color: #757575;
    text-decoration: none;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87;

    mat-icon {
      margin-right: 10px;
    }

    & > div {
      display: inline-block;
    }
  }

  .drag {
    position: relative;
  }
}

.link-element {
  display: inline-block;
  border-color: inherit;
  vertical-align: middle;
  &-edit {
    transform: translateX(60px);
  }
}

a {
  color: inherit !important;
  text-decoration: none;
}

.title-header {
  line-height: 1;
  padding-bottom: 15px;
  text-align: center;
  font-size: 13px;
  word-break: break-all;
}

.top-buttons {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;

  mat-icon {
    color: white !important;
  }
  .hide-button {
    margin: 15px 0 0 15px;
  }

  .lock-button {
    margin: 15px 15px 0 0;
  }
}


.license {
  width: 100%;
  font-size: 12px;
  padding: 5px;
  line-height: 1;
  text-align: center;
  flex: 1;
  align-self: flex-end;

  a {
    text-decoration: underline;
  }

  &-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 40px;
  }
}

div.link-container {
  color: inherit !important;
  background-color: inherit !important;
}

.logo {
  margin: 20px;
  height: 47px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.handle {
  cursor: move !important;
  cursor: grabbing !important;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  z-index: 500;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iIAogICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9ICJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBjbGFzcz0iZHJhZy1oYW5kbGUiIGFyaWEtaGlkZGVuPSJ0cnVlIiB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE1Ij48cGF0aCBkPSJNMTIsNFY1SDRWNGg4Wk00LDhoOFY3SDRWOFptMCwzaDhWMTBINHYxWiI+PC9wYXRoPjwvc3ZnPgo=);
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
  }
}

mat-checkbox {
  display: inline-block;
  position: absolute;
  left: 55px;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
}

.gu-mirror.navigation-link {
  display: block;
  padding: 16px 40px;
  background: rgba(0, 0, 0, 0.2) !important;
}

div.drag.link-container {
  cursor: move !important;
  cursor: grabbing !important;
}
