<div class="top-row">
  <h4 class="dialog-select-header">
    {{ 'VM_PAGE.VM_CREATION.INSTALLATION_SOURCE' | translate }}
  </h4>

  <button type="button" mat-button (click)="onClick()">
    {{ 'COMMON.SELECT' | translate }}
  </button>
</div>

<div class="mat-form-field-wrapper template-list">
  <ng-container *ngIf="template">
    <span class="template-info truncate" [matTooltip]="templateName | async">
      {{ templateName | async }}
    </span>
  </ng-container>
  <ng-container *ngIf="!numberOfTemplates">
    <span class="no-templates">
      {{ 'VM_PAGE.VM_CREATION.NO_TEMPLATES' | translate }}
    </span>
  </ng-container>
</div>
