.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-row /deep/ * {
  margin: 0;
}

.mat-form-field-wrapper {
  text-align: left;
  padding-top: 18px;
}

.template-info {
  display: inline-block;
  width: 100%;
  font-size: 11pt !important;
}
