<h3 class="mat-dialog-title">
  {{ 'VM_PAGE.VM_CREATION.INSTALLATION_SOURCE' | translate }}
</h3>
<div class="mat-dialog-content">
  <cs-template-filter-list-selector
    [templates]="templates"
    [selectedTypes]="selectedTypes"
    [selectedOsFamilies]="selectedOsFamilies"
    [selectedGroups]="selectedGroups"
    [viewMode]="viewMode"
    [query]="query"
    [groups]="groups"
    [fetching]="isLoading"
    [selectedTemplate]="preselectedTemplate"
    (selectedTemplateChange)="onSelectedTemplateChange($event)"
    (viewModeChange)="viewModeChange.emit($event)"
    (selectedTypesChanged)="selectedTypesChange.emit($event)"
    (selectedOsFamiliesChanged)="selectedOsFamiliesChange.emit($event)"
    (selectedGroupsChanged)="selectedGroupsChange.emit($event)"
    (queryChanged)="queryChange.emit($event)"
  ></cs-template-filter-list-selector>
</div>
<div class="mat-dialog-actions">
  <button
    mat-button
    color="primary"
    (click)="cancel.emit(true)"
  >
    {{ 'COMMON.CANCEL' | translate }}
  </button>

  <button
    mat-button
    [disabled]="isSubmitButtonDisabled()"
    color="primary"
    (click)="selectionChange.emit(selectedTemplate)"
  >
    {{ 'COMMON.SELECT' | translate }}
  </button>
</div>
