<h3 class="mat-dialog-title">
  {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.TITLE' | translate }}
</h3>

<div *ngIf="canResize">
  <form
    (ngSubmit)="resizeVolume()"
    #volumeResizeForm="ngForm"
    novalidate
  >
    <div class="mat-dialog-content">
      <div *ngIf="!volumeIsRoot && diskOfferings?.length">
        <cs-disk-offering-selector
          name="diskOffering"
          [diskOfferings]="diskOfferings"
          [ngModel]="diskOffering"
          (changed)="updateDiskOffering($event)"
        ></cs-disk-offering-selector>
        </div>
      <cs-slider
        *ngIf="isCustomizedForVolume(diskOffering) || volumeIsRoot"
        [min]="volume.size | division:2:30"
        [max]="rootDiskSizeLimit"
        [label]="'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.NEW_SIZE' | translate"
        [(ngModel)]="newSize"
        name="new-size"
        [units]="'UNITS.GB' | translate"
      ></cs-slider>
    </div>
    <div class="mat-dialog-actions">
      <button mat-button color="primary" matDialogClose type="button">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        *ngIf="canResize"
        mat-button
        color="primary"
        [disabled]="volumeResizeForm?.invalid"
      >
        {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.RESIZE' | translate }}
      </button>
    </div>
  </form>
</div>

<div *ngIf="!canResize">
  <div class="mat-dialog-content">
    {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_RESIZE.NO_AVAILABLE_OFFERINGS' | translate }}
  </div>
</div>
