<ng-container *ngIf="reachabilityState !== Reachability.Unknown" [ngSwitch]="reachabilityState">
  <span *ngSwitchCase="Reachability.Unreachable">{{ 'HTTP_ACCESS.UNREACHABLE' | translate }}</span>
  <a
    *ngSwitchDefault
    [href]="vm | vmHttpAddress"
    class="action-link"
    target="_blank"
    rel="noopener"
    >{{ vm | vmHttpAddress }}</a
  >
</ng-container>

<mat-icon
  *ngIf="!checkingStatus && reachabilityState === Reachability.ServiceUnresponsive"
  class="mdi-alert warn-icon"
  color="warn"
  [matTooltip]="'HTTP_ACCESS.SERVICE_DOWN' | translate"
  inline
></mat-icon>
<mat-spinner
  *ngIf="checkingStatus || reachabilityState === Reachability.Unknown"
  [diameter]="20"
  [strokeWidth]="2"
></mat-spinner>
