input {
  outline: none;
}

@import "../../../node_modules/angular2-mdl/scss/variables";

:host {
  &--floating-label {
    @extend .mdl-textfield--floating-label !optional;

    :host /deep/ .mdl-textfield {
      &.is-dirty {
        @extend .mdl-textfield--floating-label.is-dirty !optional;
      }
    }

    padding: 0;

    :host /deep/ .mdl-textfield__label {
      &:after {
        @extend .mdl-textfield__label:after !optional;
      }

      &.is-dirty {
        &:after {
          @extend .mdl-textfield__label.is-dirty:after !optional;
        }
      }
    }
  }

  &__toggle {
    cursor: pointer;
    float: right;
    margin-top: -1.75rem;
  }

  :host /deep/ .mdl-textfield {
    &__input {
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden;
      padding-right: 1.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.is-focused {
      .mdl-select__toggle {
        color: $input-text-highlight-color;
      }
    }

    &.is-invalid {
      .mdl-select__toggle {
        color: $input-text-error-color;
      }
    }

    &.is-disabled {
      .mdl-select__toggle {
        color: $input-text-disabled-text-color;
      }
    }
  }

  /deep/ .mdl-list {
    max-height: 280px;
    overflow-y: auto;
    padding: 0;

    &__item {
      cursor: pointer;

      &:hover {
        background-color: $default-item-hover-bg-color;
      }

      &.is-active {
        color: $checkbox-color;
        background-color: $default-item-active-bg-color;
      }
    }
  }
}
