<div class="dialog">
  <h3 class="mdl-dialog__title">{{ 'ATTACH_AN_ISO' | translate }}</h3>
  <div class="mdl-dialog__content">
    <div
      class="filters"
      [class.open]="isDetailOpen"
    >
      <cs-template-filters
        (queries)="filterResults($event)"
        (filters)="filterResults($event)"
        (displayMode)="updateDisplayMode($event)"
        [showIso]="true"
        [showIsoSwitch]="false"
        [showDelimiter]="false"
      ></cs-template-filters>
    </div>
    <div
      class="template-list"
      [class.open]="isDetailOpen"
    >
      <cs-template-list
        (selectedTemplate)="selectIso($event)"
        [templateList]="visibleTemplateList"
        [query]="query"
        [radio]="true"
      ></cs-template-list>
    </div>
  <div class="mdl-dialog__actions">
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onAttach()"
      [disabled]="!selectedIso"
    >
      {{ 'ATTACH' | translate }}
    </button>
    <button
      mdl-button
      mdl-ripple
      (click)="onCancel()"
    >
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</div>
