mdl-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.os-icon {
  color: black;
  background: transparent;
}

:host /deep/ .highlight {
  background: #ffeb3b;
}

mdl-list-item {
  cursor: pointer;
}

.selected-template span {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

.template-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  padding: 0;
}

:host mdl-icon img {
  vertical-align: top;
}

.template-text {
  display: inline-block;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
