$template-detail-width: 366px;
$select-width: 195px;

:host {
  position: absolute;
  height: 100%;
  width: 100%;
}

.template-list {
  height: 100%;
  overflow: auto;
  transition: margin 0.3s;

  &.open {
    margin-right: $template-detail-width;

    & ~ .fab {
      margin-right: $template-detail-width;
    }
  }
}

cs-template-detail {
  width: $template-detail-width;
  right: -$template-detail-width;
}

cs-template-sidebar {
  width: $template-detail-width;
}

.options {
  flex-direction: row;
  width: 100%;
  min-height: 0;
  border-bottom: 1px solid #dedede;
  overflow: visible;
}

.template-iso-switch {
  display: inline-flex;
  align-items: center;

  mdl-switch {
    margin: 0 40px;
  }
}

.os-type-select {
  display: inline-block;
  width: $select-width;
  margin: 0 20px;
}

.filter-select {
  display: inline-block;
  width: $select-width;
  margin: 0 20px;
}

.search-bar {
  margin: 0;
  padding: 0 15px;

  mdl-icon {
    vertical-align: middle;
  }
}

.os-icon {
  color: black;
  background: transparent;
}
