<button
  mat-icon-button
  style="overflow: visible;"
  [csPopoverTrigger]="popover"
  popoverPositionX="end"
  (popoverOpened)="onOpen()"
  (popoverClosed)="onClose()"
>
  <div [csBadge]="notificationCount$ | async">
    <mat-icon class="mdi-bell"></mat-icon>
  </div>
</button>

<cs-popover #popover>
  <mat-card class="mat-elevation-z4">
    <mat-card-header class="mat-card-header">
      <mat-card-title>
        <h2 class="mat-card-title-text">
          {{ 'NOTIFICATIONS.PENDING_OPERATIONS' | translate }}
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-list>
      <cs-notification-box-item
        *ngFor="let notification of jobsNotificationService.notifications"
        [notification]="notification"
      >
      </cs-notification-box-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button (click)="removeCompleted()">
        {{ 'COMMON.CLEAR_COMPLETED' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</cs-popover>
