<mat-list-item>
  <h4 matLine class="mat-list-item-content">
    <ng-container [ngSwitch]="notification.status">
      <mat-icon
        *ngSwitchCase="notificationStatus.Finished"
        matListIcon
      >
        done
      </mat-icon>
      <mat-spinner
        *ngSwitchCase="notificationStatus.Pending"
      ></mat-spinner>
      <mat-icon
        *ngSwitchCase="notificationStatus.Failed"
        matListIcon
      >
        close
      </mat-icon>
    </ng-container>
    {{ notification.message | translate }}
  </h4>
  <span>
    <mat-icon
      class="close"
      *ngIf="notification.status !== notificationStatus.Pending"
      (click)="remove()"
      matListIcon
    >
      close
    </mat-icon>
  </span>
</mat-list-item>
