mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

mat-list {
  min-height: 100px;
  max-height: 288px;
  overflow: auto;
  line-height: 20px;
  padding-top: 0;
  margin-bottom: -5px !important;
}

cs-popover {
  width: 300px;
  right: 20px;
}

.mat-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px;

  mat-card-title {
    margin: 0;
  }

  .mat-card-title-text {
    font-size: 1.4em;
    margin: 0;
    line-height: normal;
  }
}

mat-card-actions {
  box-sizing: content-box;
}
