:host {
  display: block;
  line-height: 26px;
}

:host mat-spinner {
  background: transparent !important;
  margin-right: 16px;
  width: 40px;
  height: 40px;
}

:host mat-icon.close {
  float: right;
  cursor: pointer;
}
