<cs-overlay-loading [active]="isLoading"></cs-overlay-loading>
<div *ngIf="!isLoading">
  <h3 class="mat-dialog-title">{{ 'ACCOUNT_PAGE.CREATION.CREATE_ACCOUNT' | translate }}</h3>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="accountForm"
  >
    <div class="mat-dialog-content">
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="username"
          autocomplete="new-username"
          [placeholder]="'ACCOUNT_PAGE.CREATION.USER_NAME' | translate"
          autofocus
          required
          formControlName="username"
        >
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="email"
          name="email"
          [placeholder]="'ACCOUNT_PAGE.CREATION.EMAIL' | translate"
          required
          formControlName="email"
        >
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [type]="showPassword ? 'password' : 'text'"
          name="password"
          autocomplete="new-password"
          [placeholder]="'ACCOUNT_PAGE.CREATION.PASSWORD' | translate"
          required
          formControlName="password"
        >
        <mat-icon
          matSuffix
          (click)="showPassword = !showPassword"
          [ngClass]="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        >
        </mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="firstname"
          [placeholder]="'ACCOUNT_PAGE.CREATION.FIRST_NAME' | translate"
          required
          formControlName="firstname"
        >
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="lastname"
          [placeholder]="'ACCOUNT_PAGE.CREATION.LAST_NAME' | translate"
          formControlName="lastname"
          required
          [formGroup]="accountForm"
        >
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-select
          class="form-select-control"
          name="domainid"
          [placeholder]="'ACCOUNT_PAGE.CREATION.DOMAIN' | translate"
          required
          formControlName="domainid"
        >
          <mat-option
            *ngFor="let domain of domains"
            [value]="domain.id"
          >
            {{ domain.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-select
          class="form-select-control"
          name="roleid"
          [placeholder]="'ACCOUNT_PAGE.CREATION.ROLE' | translate"
          required
          formControlName="roleid"
        >
          <mat-option
            *ngFor="let role of roles"
            [value]="role.id"
          >
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <cs-time-zone
        name="timezone"
        formControlName="timezone"
      ></cs-time-zone>
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="networkdomain"
          [placeholder]="'ACCOUNT_PAGE.CREATION.NETWORK_DOMAIN' | translate"
          formControlName="networkdomain"
        >
      </mat-form-field>
    </div>
    <div class="mat-dialog-actions">
      <button
        mat-button
        color="primary"
        matDialogClose
        type="button"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!accountForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
