<h5 [innerHTML]="'SETTINGS.SECURITY.INACTIVITY_TIMEOUT' | translate"></h5>
<form
  class="settings-control"
  (ngSubmit)="changeInactivityTimeout($event)"
  #inactivityTimeoutForm="ngForm"
  novalidate
>
  <mat-form-field class="full-width-input">
    <input
      matInput
      name="inactivityTimeout"
      type="number"
      integerValue
      [(ngModel)]="tempInactivityTimeout"
      [min]="0"
      [minValue]="0"
      [max]="maxInactivityTimeout"
      [maxValue]="maxInactivityTimeout"
      step="1"
      required
      (blur)="onBlur()"
      #inactivityTimeoutControl="ngModel"
    >
    <mat-error *ngIf="inactivityTimeoutControl.invalid">
      {{ 'SETTINGS.SECURITY.INACTIVITY_LIMITS' | translate }}
    </mat-error>
  </mat-form-field>
  <div class="pull-right-button">
    <button
      type="submit"
      mat-button
      [disabled]="changeButtonDisabled"
    >
      {{ 'COMMON.UPDATE' | translate }}
    </button>
  </div>
</form>
