<h5 [innerHTML]="'SETTINGS.SECURITY.INACTIVITY_TIMEOUT' | translate"></h5>
<form
  class="settings-control"
  (ngSubmit)="changeInactivityTimeout($event)"
  #inactivityTimeoutForm="ngForm"
  novalidate
>
  <mdl-textfield
    #inactivityTimeoutField="ngModel"
    name="inactivityTimeout"
    type="number"
    [min]="0"
    [minValue]="0"
    [max]="maxInactivityTimeout"
    [maxValue]="maxInactivityTimeout"
    step="1"
    required
    integerValue
    error-msg="{{ 'SETTINGS.SECURITY.INACTIVITY_LIMITS' | translate }}"
    [(ngModel)]="tempInactivityTimeout"
    [class.is-invalid]="inactivityTimeoutField.dirty && inactivityTimeoutField.invalid"
    (blur)="onBlur()"
  ></mdl-textfield>
  <div class="pull-right-button">
    <button
      type="submit"
      md-button
      [disabled]="changeButtonDisabled"
    >
      {{ 'COMMON.UPDATE' | translate }}
    </button>
  </div>
</form>
