.mat-icon-button--small {
  min-width: 20px;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.mat-icon--small {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
  line-height: 18px !important;
}
