<md-select
  class="form-select-control"
  [ngModel]="serviceOffering"
  (change)="changeOffering($event)"
>
  <md-option *ngFor="let so of serviceOfferings" [value]="so">
    {{ so.name }}
  </md-option>
</md-select>

<div class="flex-container">
  <span *ngIf="customOfferingDescription" class="custom-offering-info">
    {{ customOfferingDescription | async }}
  </span>
  <button
    *ngIf="serviceOffering?.isCustomized"
    mdl-button
    mdl-button-type="text"
    type="button"
    (click)="changeOffering({ value: serviceOffering })"
  >
    {{ 'CHANGE' | translate }}
  </button>
</div>
