<mat-form-field
  class="form-select-control"
>
  <mat-select
    [ngModel]="serviceOffering?.id"
    (selectionChange)="changeOffering($event)"
  >
    <mat-option
      *ngFor="let so of serviceOfferings"
      [disabled]="isDisabled(so)"
      [value]="so.id"
    >
      {{ so.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="flex-container">
  <span *ngIf="customOfferingDescription" class="custom-offering-info">
    {{ customOfferingDescription | async }}
  </span>

  <button
    *ngIf="serviceOffering?.iscustomized"
    mat-button
    type="button"
    (click)="changeOffering({ value: serviceOffering.id })"
  >
    {{ 'COMMON.CHANGE' | translate }}
  </button>
</div>
