:host {
  z-index: -1;
}

:host(.single-line) {
  cursor: pointer;
}

.last {
  margin-left: 20px;
}

.info {
  flex-grow: 1;
  flex-basis: 100px;
}

.template-header {
  max-width: 235px !important;
  margin-left: 5px;
}

mat-card-title {
  display: flex;
  align-items: center;
}

cs-template-os-icon {
  flex-shrink: 1;
  flex-basis: 70px;
}
