<mat-list-item
  (click)="handleClick($event)"
  [class.card-selected]="isSelected && isSelected(item)"
  class="entity-list-item"
>
  <cs-template-os-icon-container [template]="item"></cs-template-os-icon-container>

  <h2
    [matTooltip]="item.name"
    [innerHTML]="item.name | highlight:query"
    class="entity-list-item-title"
  ></h2>

  <div class="entity-list-item-data">
    {{ 'TEMPLATE_PAGE.CARD.OS' | translate }}: {{ item.ostypename }}
  </div>

  <div class="entity-list-item-data">
    {{ 'TEMPLATE_PAGE.CARD.DESCRIPTION' | translate }}:
    <span [innerHTML]="item.displaytext | highlight:query"></span>
  </div>

  <!-- Use visibility to make the element take up space and not broke the layout -->
  <button
    [style.visibility]="isSelf ? 'visible' : 'hidden'"
    mat-icon-button
    [matMenuTriggerFor]="actionsMenu"
  >
    <mat-icon class="mdi-dots-vertical"></mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <cs-template-actions-container [template]="item"></cs-template-actions-container>
  </mat-menu>
</mat-list-item>
