<div class="custom-slider">
  <h5 *ngIf="label">{{ label }}</h5>
  <div class="current-value">
    <md-form-field class="custom-slider-input">
      <input
        mdInput
        type="number"
        [ngModel]="size"
        (ngModelChange)="handleSliderChange($event)"
        step="1"
        [min]="min"
        [max]="max"
        (blur)="onBlur($event)"
      >
    </md-form-field>
    <div class="custom-slider-label">{{ units }}</div>
  </div>
</div>

<md-slider
  [min]="min"
  [max]="max"
  [thumb-label]="true"
  [ngModel]="sliderValue"
  (ngModelChange)="handleSliderChange($event)"
></md-slider>
