<div class="custom-slider">
  <h5 *ngIf="label">{{ label }}</h5>
  <div class="current-value">
    <md-input-container class="custom-slider-input">
      <input
        mdInput
        type="number"
        [ngModel]="size"
        (ngModelChange)="onVolumeChange($event)"
        step="1"
        [min]="min"
        [max]="max"
        (blur)="onBlur($event)"
      >
    </md-input-container>
    <div class="custom-slider-label">{{ units }}</div>
  </div>
</div>
<mdl-slider
  min="{{ sliderMinValue || 0 }}"
  max="{{ sliderMaxValue || 0 }}"
  value="0"
  step="0.0001"
  mdTooltipPosition="above"
  [ngModel]="sliderValue"
  (ngModelChange)="handleSliderChange($event)"
></mdl-slider>
