<div class="custom-slider">
  <h4 *ngIf="label">{{ label }}</h4>
  <div class="current-value">
    <mat-form-field class="custom-slider-input">
      <input
        matInput
        type="number"
        [ngModel]="size"
        (ngModelChange)="handleSliderChange($event)"
        step="1"
        [min]="min"
        [max]="max"
        [csMinValue]="min"
        [csMaxValue]="max"
        (blur)="onBlur($event)"
      >
    </mat-form-field>
    <div class="custom-slider-label">{{ units }}</div>
  </div>
</div>
<mat-slider
  [min]="min"
  [max]="max"
  [thumbLabel]="true"
  [ngModel]="sliderValue"
  (ngModelChange)="handleSliderChange($event)"
></mat-slider>

