.custom-slider {
  display: flex;
  justify-content: space-between;

  & h5 {
    margin: 0;
    align-self: center;
  }
}

.custom-slider-input {
  width: 60px;
  padding: 0;

  input {
    text-align: center;
    font-size: 20px;
  }
}

.custom-slider-label {
  align-self: center;
  display: inline-flex;
  font-size: 20px;
}

.current-value {
  display: flex;
}

mat-slider {
  width: 100%;
}
