mat-expansion-panel {
  width: 500px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

:host /deep/ .mat-expansion-panel-content {
  height: 25vh;
  overflow-y: auto !important;
}

td {
  vertical-align: top;
}

:host /deep/ mat-card-actions {
  margin: 0;
}
