mdl-radio {
  width: 100%;
}

/deep/ mdl-radio div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

:host /deep/ md-select {
  margin: 25px 0 20px;
  width: 100%;
}

.mdl-dialog__content {
  padding-bottom: 0;
}
