:host /deep/ md-select {
  margin: 25px 0 20px;
  width: 100%;
}

md-radio-button {
  margin: 5px 0;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.mat-dialog-content {
  min-height: 85px;
  overflow: visible;
}

md-form-field {
  margin-top: 4px;
}
