<h3
   *ngIf="title" class="mat-dialog-title">
  {{ title | translate }}
</h3>

<form
  (ngSubmit)="submit()"
  #form="ngForm"
  novalidate
>
  <div class="mat-dialog-content">
    <md-radio-group
      name="radio"
      [ngModel]="mode"
      (ngModelChange)="setMode($event)"
    >
      <md-radio-button
        *ngIf="enableAssign"
        [value]="modes.assign"
      >
        {{ assignLabel | translate }}
      </md-radio-button>

      <md-radio-button
        *ngIf="enableCreate"
        [value]="modes.create"
      >
        {{ createLabel | translate }}
      </md-radio-button>

      <md-radio-button
        *ngIf="defaultValue && enableRemove"
        [value]="modes.remove"
      >
        <div>{{ removeLabel | translate:{ value: defaultValue } }}</div>
      </md-radio-button>
    </md-radio-group>

    <md-form-field *ngIf="mode === modes.create" class="full-width-input">
      <input
        mdInput
        type="text"
        name="textValue"
        [(ngModel)]="newValue"
        [placeholder]="textFieldPlaceholder | translate"
        [maxlength]="maxLength"
        autofocus
        required
      >
    </md-form-field>

    <md-select
      name="selectValue"
      *ngIf="mode === modes.assign"
      [(ngModel)]="newValue"
      [placeholder]="selectPlaceholder | translate"
    >
      <md-option
        *ngFor="let option of options"
        [value]="option"
      >
        {{ option }}
      </md-option>
    </md-select>
  </div>

  <div class="mat-dialog-actions">
    <button
      md-button
      color="primary"
      type="button"
      (click)="cancel()"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      *ngIf="mode !== modes.remove"
      md-button
      color="primary"
      type="submit"
      [disabled]="!valueChanged || !form.valid"
    >
      {{ 'COMMON.ASSIGN' | translate }}
    </button>
    <button
      *ngIf="mode === modes.remove"
      md-button
      color="primary"
      type="submit"
    >
      {{ 'COMMON.REMOVE' | translate }}
    </button>
  </div>
</form>
