.draggable-select-panel mat-option {
  cursor: move !important;
  cursor: grab !important;
}

.draggable-select-panel mat-option,
mat-option.gu-mirror {
  padding-left: 8px;
}

.draggable-select-panel mat-option:before,
mat-option.gu-mirror:before {
  content: "";
  position: relative;
  top: -1px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iIAogICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9ICJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBjbGFzcz0iZHJhZy1oYW5kbGUiIGFyaWEtaGlkZGVuPSJ0cnVlIiB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE1Ij48cGF0aCBkPSJNMTIsNFY1SDRWNGg4Wk00LDhoOFY3SDRWOFptMCwzaDhWMTBINHYxWiI+PC9wYXRoPjwvc3ZnPgo=);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
  line-height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.gu-mirror {
  cursor: move !important;
  cursor: grabbing !important;
}
