a {
  display: inline-block;
  margin: 10px 0;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-form-field {
  width: 268px;

  input {
    cursor: text;
  }
}

cs-input-group {
  width: 100%;
}

.header-wrap {
  display: flex;
  width: 320px;

  .mat-icon-button {
    margin-left: auto;
  }
}
