<section>
  <div class="header-wrap">
    <h4>{{ 'SETTINGS.API_CONFIGURATION.TITLE' | translate }}</h4>
    <button
      md-icon-button
      type="button"
      mdTooltipPosition="above"
      [mdTooltip]="'SETTINGS.API_CONFIGURATION.REGENERATE_KEYS' | translate"
      (click)="askToRegenerateKeys()"
    >
      <md-icon>sync</md-icon>
    </button>
  </div>
  <div class="section-container">
    <div class="settings-control">
      <div *loading="loading">
        <div *ngIf="inputFields.apiKey.value">
          <h5 [translate]="inputFields.apiKey.title"></h5>
          <cs-input-group>
            <md-form-field cs-input-group-textbox class="full-width-input">
              <input
                mdInput
                [value]="inputFields.apiKey.value"
                readonly
              >
            </md-form-field>
            <button
              md-icon-button
              cs-input-group-button
              ngxClipboard
              [cbContent]="inputFields.apiKey.value"
              (cbOnSuccess)="onCopySuccess()"
              (cbOnError)="onCopyFail()"
            >
              <md-icon
                mdTooltipPosition="after"
                [mdTooltip]="'CLIPBOARD.COPY' | translate"
              >
                content_copy
              </md-icon>
            </button>
          </cs-input-group>
        </div>

        <div *ngIf="inputFields.apiSecretKey.value">
          <h5 [translate]="inputFields.apiSecretKey.title"></h5>
          <cs-input-group>
            <md-form-field cs-input-group-textbox class="full-width-input">
              <input
                mdInput
                [value]="inputFields.apiSecretKey.value"
                readonly
              >
            </md-form-field>
            <button
              md-icon-button
              cs-input-group-button
              ngxClipboard
              [cbContent]="inputFields.apiSecretKey.value"
              (cbOnSuccess)="onCopySuccess()"
              (cbOnError)="onCopyFail()"
            >
              <md-icon
                mdTooltipPosition="after"
                [mdTooltip]="'CLIPBOARD.COPY' | translate"
              >
                content_copy
              </md-icon>
            </button>
          </cs-input-group>
        </div>
        <div>
          <h5 [translate]="linkFields.apiUrl.title"></h5>
          <a target="_blank" [href]="linkFields.apiUrl.href">
            {{ linkFields.apiUrl.href }}
          </a>
        </div>

        <div *ngIf="linkFields.apiDocLink.href">
          <h5 [translate]="linkFields.apiDocLink.title"></h5>
          <a target="_blank" [href]="linkFields.apiDocLink.href">
            {{ linkFields.apiDocLink.href }}
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
