h5 {
  margin: 0;
}

a {
  display: inline-block;
  margin: 20px 0;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mdl-textfield {
  width: 268px;
}

mdl-textfield /deep/ input {
  cursor: text;
}

.settings-control {
  max-width: 300px;
}
