<md-card
  class="custom-card"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
>
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdTooltip]="item.name"
      >
        <span
          class="state-icon"
          [class.enabled]="item.state === 'enabled'"
          [class.disabled]="item.state === 'disabled'"
          [class.locked]="item.state === 'locked'"
        ></span>
        <span
          [mdTooltip]="item.name"
        > {{ item.name }} </span>
      </h2>
    </md-card-title>
    <div class="md-card-header-menu">
      <button md-icon-button [mdMenuTriggerFor]="actionsMenu">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
  </md-card-header>
  <md-card-content>
    <div class="row">
      {{ 'ACCOUNT_PAGE.CARD.ROLE' | translate }}: {{item.rolename}}
    </div>

    <div class="row">
      {{ 'ACCOUNT_PAGE.CARD.ROLE_TYPE' | translate }}: {{item.roletype}}
    </div>

    <div class="row">
      {{ 'ACCOUNT_PAGE.CARD.DOMAIN' | translate }}: {{item.domain}}
    </div>
  </md-card-content>
  <md-menu
    #actionsMenu="mdMenu"
  >
    <cs-account-actions [account]="item" (onAccountChanged)="onAccountChanged.emit($event)"></cs-account-actions>
  </md-menu>
</md-card>
