.os-icon {
  display: inline-flex;
  color: black;
  background: transparent;
  text-align: center;
  font-size: 40px;
  vertical-align: bottom;

  &.mat-card-avatar {
    width: 40px !important;
    height: 40px !important;
  }
}
