.os-icon {
  display: inline-flex;
  color: black;
  background: transparent;
  text-align: center;
  font-size: 40px;
  vertical-align: bottom;
  height: 36px !important;
}

img {
  width: 36px;
  height: 36px;
}
