<div class="entity-select-container">
  <mat-form-field class="aggregation-select entity-select">
    <mat-select

      [placeholder]="'PULSE.DISK' | translate"
      [(ngModel)]="selectedVolume"
      (selectionChange)="volumeChange.emit()"
    >
      <mat-option *ngFor="let volume of availableVolumes" [value]="volume">
        {{ volume.name }} ({{ volume.id }})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<cs-chart-area-component
  [charts]="charts"
  [hasNext]="shift > 0"
  [fetching]="loading"
  (previous)="previous.emit()"
  (next)="next.emit()"
></cs-chart-area-component>

