<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'VM_PAGE.STORAGE_DETAILS.ISO.TITLE' | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions" [ngSwitch]="!!iso">
    <ng-template [ngSwitchCase]="true">
      <div class="mat-card-content-container">
        {{ iso.name }}
      </div>
      <mat-card-actions>
        <button
          mat-icon-button
          matTooltipPosition="above"
          [matTooltip]="'VM_PAGE.STORAGE_DETAILS.ISO.DETACH' | translate"
          (click)="detachIso()"
        >
          <mat-icon class="mdi-minus"></mat-icon>
        </button>
      </mat-card-actions>
    </ng-template>
    <ng-template ngSwitchDefault>
      <div class="mat-card-content-container">
        {{ 'VM_PAGE.STORAGE_DETAILS.ISO.NO_MEDIUM' | translate }}
      </div>
      <mat-card-actions>
        <button
          mat-icon-button
          matTooltipPosition="above"
          [matTooltip]="'VM_PAGE.STORAGE_DETAILS.ISO.ATTACH' | translate"
          (click)="attachIso()"
        >
          <mat-icon class="mdi-plus"></mat-icon>
        </button>
      </mat-card-actions>
    </ng-template>
  </mat-card-content>
</mat-card>
