<div class="options-panel filter-wrapper">
  <mat-form-field>
    <mat-select
      class="filter-select"
      multiple="true"
      [placeholder]="'ACCOUNT_PAGE.FILTERS.SELECT_DOMAINS' | translate"
      [ngModel]="selectedDomainIds"
      (change)="onDomainsChange.emit($event.value)"
    >
      <mat-option *ngFor="let domain of domains" [value]="domain.id">{{ domain.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      class="filter-select"
      multiple="true"
      [placeholder]="'ACCOUNT_PAGE.FILTERS.SELECT_ROLES' | translate"
      [ngModel]="selectedRoleNames"
      (change)="onRolesChange.emit($event.value)"
    >
      <mat-option *ngFor="let role of roles" [value]="role.name">{{ role.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      class="filter-select"
      multiple="true"
      [placeholder]="'ACCOUNT_PAGE.FILTERS.SELECT_ROLE_TYPES' | translate"
      [ngModel]="selectedRoleTypes"
      (change)="onRoleTypesChange.emit($event.value)"
    >
      <mat-option *ngFor="let roleType of roleTypes" [value]="roleType">{{ roleType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      class="filter-select"
      multiple="true"
      [placeholder]="'ACCOUNT_PAGE.FILTERS.SELECT_STATES' | translate"
      [ngModel]="selectedStates"
      (change)="onStatesChange.emit($event.value)"
    >
      <mat-option *ngFor="let state of states" [value]="state">{{
        stateTranslationToken(state) | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <cs-divider-vertical></cs-divider-vertical>
  <mat-form-field>
    <cs-draggable-select
      class="filter-select"
      multiple="true"
      [placeholder]="'ACCOUNT_PAGE.FILTERS.GROUP_BY' | translate"
      [(ngModel)]="selectedGroupings"
      [dragItems]="groupings"
      (change)="onGroupingsChange.emit($event.value)"
    >
      <mat-option *ngFor="let g of groupings" [value]="g">
        {{ g.label | translate }}
      </mat-option>
    </cs-draggable-select>
  </mat-form-field>
</div>

