<table class="mdl-data-table">
  <thead>
  <tr>
    <th *ngIf="selectable">
      <md-checkbox
        name="select-all-checkbox"
        [ngModel]="isAllSelected()"
        (ngModelChange)="toogleAll()"
      ></md-checkbox>
    </th>
    <th
      *ngFor="let column of model.columns"
      [ngClass]="{'mdl-data-table__cell--non-numeric': !column.numeric}">
      {{column.name}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let data of model.data; let i = index"
    [ngClass]="{'is-selected': selectable && data.selected}"
  >
    <td *ngIf="selectable">
      <md-checkbox
        name="select-item-checkbox"
        [(ngModel)]="data.selected"
        (ngModelChange)="selectionChanged(data)"
      ></md-checkbox>
    </td>
    <td
      *ngFor="let column of model.columns"
      [ngClass]="{'mdl-data-table__cell--non-numeric': !column.numeric}"
      [innerHTML]="data[column.key] | highlight:searchQuery"
    ></td>
  </tr>
  </tbody>
</table>
