<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container cdkColumnDef="select">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>
      <mat-checkbox
        name="select-all-checkbox"
        [ngModel]="isAllSelected()"
        (ngModelChange)="toggleAll()"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <mat-checkbox
        name="select-item-checkbox"
        [(ngModel)]="row.selected"
        (ngModelChange)="selectionChanged(row)"
      ></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container *ngFor="let column of columns">
    <ng-container [cdkColumnDef]="column">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>
        {{ tableId.toUpperCase() + '.' + column.toUpperCase() | translate }}
      </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span [innerHTML]="row[column] | highlight:searchQuery"></span>
      </mat-cell>
    </ng-container>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
