<md-table #table [dataSource]="dataSource" mdSort>
  <ng-container cdkColumnDef="select">
    <md-header-cell *cdkHeaderCellDef md-sort-header>
      <mdl-checkbox
        mdl-ripple
        [ngModel]="isAllSelected()"
        (ngModelChange)="toggleAll()"
      ></mdl-checkbox>
    </md-header-cell>
    <md-cell *cdkCellDef="let row">
      <mdl-checkbox
        mdl-ripple
        [(ngModel)]="row.selected"
        (ngModelChange)="selectionChanged(row)"
      ></mdl-checkbox>
    </md-cell>
  </ng-container>

  <ng-container *ngFor="let column of columns">
    <ng-container [cdkColumnDef]="column">
      <md-header-cell *cdkHeaderCellDef md-sort-header>
        {{ tableId.toUpperCase() + '.' + column.toUpperCase() | translate }}
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <span [innerHTML]="row[column] | highlight:searchQuery"></span>
      </md-cell>
    </ng-container>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
