<div *ngIf="loaded">
  <h4 class="form-title">{{ 'TEMPLATES' | translate }}</h4>
  <div class="mdl-dialog__content">

    <mdl-tabs
      *ngIf="templates.length > 1"
      mdl-ripple
      [mdl-tab-active-index]="activeTab"
    >
      <mdl-tab-panel
        *ngFor="let templateSet of templates"
        [mdl-tab-panel-title]="templateSet.name"
      >
        <mdl-list>
          <cs-vm-creation-template-dialog-list-element
            *ngFor="let template of templateSet.templates"
            [template]="template"
            [radioOption]="preselectedTemplate"
            (selected)="onSelect($event)"
          ></cs-vm-creation-template-dialog-list-element>
        </mdl-list>
      </mdl-tab-panel>
    </mdl-tabs>

    <mdl-list *ngIf="templates.length == 1">
      <cs-vm-creation-template-dialog-list-element
        *ngFor="let template of templates[0].templates"
        [template]="template"
        [radioOption]="preselectedTemplate"
        (selected)="onSelect($event)"
      ></cs-vm-creation-template-dialog-list-element>
    </mdl-list>

    <div *ngIf="templates.length == 0"  class="no-templates">
      <h5>{{ 'VM_CREATION_TEMPLATE.YOU_DONT_HAVE_TEMPLATES' | translate }}</h5>
    </div>

  </div>

  <div class="mdl-dialog__actions">
    <button
      mdl-button
      mdl-colored="primary"
      (click)="onOk()"
    >{{ 'SELECT' | translate }}</button>

    <button
      mdl-button
      mdl-colored="primary"
      (click)="onCancel()"
    >{{ 'CANCEL' | translate }}</button>
  </div>
</div>
