<h3 class="mat-dialog-title">{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.TITLE' | translate }}</h3>
<form [formGroup]="hardwareForm" (ngSubmit)="onSubmit()">
  <div class="mat-dialog-content">
    <h5>{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.CPU_NUMBER' | translate }}</h5>
    <mat-form-field *ngIf="offering" class="full-width-input">
      <input
        matInput
        type="number"
        name="cpuNumber"
        [min]="offering.customOfferingRestrictions.cpunumber.min"
        [max]="offering.customOfferingRestrictions.cpunumber.max"
        [csMinValue]="offering.customOfferingRestrictions.cpunumber.min"
        [csMaxValue]="offering.customOfferingRestrictions.cpunumber.max"
        formControlName="cpuNumber"
        required
      >
    </mat-form-field>

    <h5>{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.CPU_SPEED' | translate }}</h5>
    <mat-form-field *ngIf="offering" class="full-width-input">
      <input
        matInput
        type="number"
        name="cpuSpeed"
        [min]="offering.customOfferingRestrictions.cpuspeed.min"
        [max]="offering.customOfferingRestrictions.cpuspeed.max"
        [csMinValue]="offering.customOfferingRestrictions.cpuspeed.min"
        [csMaxValue]="offering.customOfferingRestrictions.cpuspeed.max"
        formControlName="cpuSpeed"
        required
      >
    </mat-form-field>

    <h5>{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.MEMORY' | translate }}</h5>
    <mat-form-field *ngIf="offering" class="full-width-input">
      <input
        matInput
        type="number"
        name="memory"
        [min]="offering.customOfferingRestrictions.memory.min"
        [max]="offering.customOfferingRestrictions.memory.max"
        [csMinValue]="offering.customOfferingRestrictions.memory.min"
        [csMaxValue]="offering.customOfferingRestrictions.memory.max"
        formControlName="memory"
        required
      >
    </mat-form-field>
  </div>

  <span class="error-message" *ngIf="!offering.isAvailableByResources">
    {{ 'ERRORS.COMPUTE_OFFERING.RESOURCE_LIMIT_EXCEEDED' | translate }}
  </span>

  <div class="mat-dialog-actions">
    <button
      mat-button
      color="primary"
      matDialogClose
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="!hardwareForm.valid || !offering.isAvailableByResources"
    >
      {{ 'COMMON.CONFIRM' | translate }}
    </button>
  </div>
</form>
