@import '../../../style/_variables';

:host .mat-dialog-content {
  overflow: hidden !important;
}

h5 {
  margin-bottom: 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.error-message {
  color: $error-message-color;
  font-size: 13px;
}
