<h3 class="mat-dialog-title">{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.TITLE' | translate }}</h3>
<form (ngSubmit)="onSubmit()" #customOfferingForm="ngForm" novalidate>
  <div class="mat-dialog-content">
    <h5>{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.CPU_NUMBER' | translate }}</h5>
    <mat-form-field *ngIf="offering && restrictions" class="full-width-input">
      <input
        matInput
        name="cpuNumber"
        type="number"
        [(ngModel)]="offering.cpuNumber"
        [min]="restrictions.cpuNumber.min"
        [max]="restrictions.cpuNumber.max"
        [minValue]="restrictions.cpuNumber.min"
        [maxValue]="restrictions.cpuNumber.max"
        step="1"
        required
        #cpuNumberControl="ngModel"
      >
      <mat-error *ngIf="cpuNumberControl.invalid">
        {{ errorMessage(restrictions.cpuNumber.min, restrictions.cpuNumber.max) | async }}
      </mat-error>
    </mat-form-field>

    <h5>{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.CPU_SPEED' | translate }}</h5>
    <mat-form-field *ngIf="offering && restrictions" class="full-width-input">
      <input
        matInput
        name="cpuSpeed"
        type="number"
        [(ngModel)]="offering.cpuSpeed"
        [min]="restrictions.cpuSpeed.min"
        [max]="restrictions.cpuSpeed.max"
        [minValue]="restrictions.cpuSpeed.min"
        [maxValue]="restrictions.cpuSpeed.max"
        step="1"
        required
        #cpuSpeedControl="ngModel"
      >
      <mat-error *ngIf="cpuSpeedControl.invalid">
        {{ errorMessage(restrictions.cpuSpeed.min, restrictions.cpuSpeed.max) | async }}
      </mat-error>
    </mat-form-field>

    <h5>{{ 'SERVICE_OFFERING.CUSTOM_SERVICE_OFFERING.MEMORY' | translate }}</h5>
    <mat-form-field *ngIf="offering && restrictions" class="full-width-input">
      <input
        matInput
        name="memory"
        type="number"
        [(ngModel)]="offering.memory"
        [min]="restrictions.memory.min"
        [max]="restrictions.memory.max"
        [minValue]="restrictions.memory.min"
        [maxValue]="restrictions.memory.max"
        step="1"
        required
        #memoryControl="ngModel"
      >
      <mat-error *ngIf="memoryControl.invalid">
        {{ errorMessage(restrictions.memory.min, restrictions.memory.max) | async }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="mat-dialog-actions">
    <button
      mat-button
      color="primary"
      matDialogClose
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="!customOfferingForm.valid"
    >
      {{ 'COMMON.CONFIRM' | translate }}
    </button>
  </div>
</form>
