<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'ACCOUNT_PAGE.SIDEBAR.STATISTIC' | translate}}
      </h2>
    </mat-card-title>
    <div class="mat-card-header-menu">
      <button
        mat-icon-button
        [matTooltip]="'COMMON.REFRESH' | translate"
        matTooltipPosition="before"
        (click)="confirmUpdateStats()"
      >
        <mat-icon class="mdi-sync"></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="mat-card-content-container">
      <div *ngFor="let stat of stats">
        <cs-parameters-pair
          [name]="resourceLabels[stat.resourcetype]"
          [value]="stat.resourcecount"
        ></cs-parameters-pair>
      </div>
    </div>
  </mat-card-content>
</mat-card>
