// All supported states and their colors
// Selectors with ":before" used for round indicator

.running,
.enabled,
.backed-up,
.ready,
.running:before,
.enabled:before,
.backed-up:before,
.ready:before {
  color: #388e3c;
  background-color: #388e3c;
}

.in-progress,
.stopping,
.backing-up,
.creating,
.in-progress:before,
.stopping:before,
.backing-up:before,
.creating:before {
  color: #ffa726;
  background-color: #ffa726;
}

.allocated,
.allocated:before {
  color: #a3a3a3;
  background-color: #a3a3a3;
}

.stopped,
.disabled,
.locked,
.error,
.stopped:before,
.disabled:before,
.locked:before,
.error:before {
  color: #b71c1c;
  background-color: #b71c1c;
}

.destroyed,
.destroyed:before {
  background-color: #212121;
}
