<cs-overlay-loading></cs-overlay-loading>
<h3 class="mat-dialog-title">{{ modeTranslationToken | translate }}</h3>
<form (ngSubmit)="onCreate()" #templateCreationForm="ngForm" novalidate>
  <div class="mat-dialog-content">
    <div class="flex-dialog-content">
      <div class="column">
        <mat-form-field class="full-width-input">
          <input
            matInput
            name="name"
            [(ngModel)]="name"
            [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.NAME' | translate"
            autofocus
            maxlength="255"
            required
          >
          <mat-hint align="end">
            <cs-character-count [value]="name" [maxLength]="255"></cs-character-count>
          </mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <input
            matInput
            name="displayText"
            [(ngModel)]="displayText"
            [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.DESCRIPTION' | translate"
            maxlength="255"
            required
          >
          <mat-hint align="end">
            <cs-character-count
              [value]="displayText"
              [maxLength]="255"
            ></cs-character-count>
          </mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="!snapshot" class="full-width-input">
          <input
            matInput
            type="url"
            name="url"
            [csUrl]="{http: true, https: true}"
            [(ngModel)]="url"
            [placeholder]=" 'TEMPLATE_PAGE.TEMPLATE_CREATION.URL' | translate "
            maxlength="255"
            required
            #urlField="ngModel"
          >
          <mat-error
            *ngIf="urlField.hasError('pattern')"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.INVALID_URL' | translate }}
          </mat-error>
          <mat-hint align="end">
            <cs-character-count [value]="url" [maxLength]="255"></cs-character-count>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="full-width-input">
          <mat-select
            [required]="true"
            class="form-select-control"
            [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.OS_TYPE' | translate"
            [(ngModel)]="osTypeId"
            id="osType"
            name="osTypeId"
            ngDefaultControl
          >
            <mat-option
              *ngFor="let osType of osTypes"
              [value]="osType.id"
            >
              {{ osType.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="!snapshot">
          <mat-form-field class="full-width-input">
            <mat-select
              [required]="true"
              class="form-select-control"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.ZONE' | translate"
              [(ngModel)]="zoneId"
              id="zoneId"
              name="zoneId"
              ngDefaultControl
            >
              <mat-option
                *ngFor="let zone of zones"
                [value]="zone.id"
              >
                {{ zone.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width-input">
          <mat-select
            class="form-select-control"
            [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.GROUP' | translate"
            [(ngModel)]="templateGroup"
            id="templateGroup"
            name="templateGroup"
            ngDefaultControl
          >
            <mat-option
              *ngFor="let group of groups"
              [value]="group"
            >
              {{ group.translations && group.translations[locale] || group.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="additional" *ngIf="mode === TemplateResourceType.template">
          <mat-checkbox
            name="passwordEnabled"
            [(ngModel)]="passwordEnabled"
            ngDefaultControl
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.PASSWORD_ENABLED' | translate }}
          </mat-checkbox>
          <mat-checkbox
            name="dynamicallyScalable"
            [(ngModel)]="dynamicallyScalable"
            ngDefaultControl
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.DYNAMICALLY_SCALABLE' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div>
      <button mat-button type="button" (click)="showAdditional=!showAdditional">
        {{ (showAdditional ? 'TEMPLATE_PAGE.TEMPLATE_CREATION.HIDE_ADDITIONAL'
        : 'TEMPLATE_PAGE.TEMPLATE_CREATION.SHOW_ADDITIONAL') | translate }}
      </button>
    </div>

    <div *ngIf="showAdditional" class="additional">
      <div class="flex-dialog-content">
        <div class="column" *ngIf="mode === TemplateResourceType.template && !snapshot">
          <mat-form-field class="full-width-input">
            <mat-select
              class="form-select-control"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.HYPERVISOR' | translate"
              [(ngModel)]="hypervisor" (valueChange)="changeHypervisor(hypervisor)"
              name="hypervisor"
              ngDefaultControl
            >
              <mat-option
                *ngFor="let h of hypervisors"
                [value]="h.name"
              >{{h.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-select
              class="form-select-control"
              [disabled]="!hypervisor"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.FORMAT' | translate"
              [(ngModel)]="format"
              name="format"
              ngDefaultControl
            >
              <mat-option *ngFor="let f of visibleFormats" [value]="f.name">{{f.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [class.column]="mode === TemplateResourceType.template" class="additional">
          <mat-checkbox *ngIf="!snapshot"
            name="extract"
            ngDefaultControl
            [(ngModel)]="isExtractable"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.IS_EXTRACTABLE' | translate }}
          </mat-checkbox>
          <mat-checkbox
            name="public"
            ngDefaultControl
            [(ngModel)]="isPublic"
            *ngIf="isRootAdmin"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.IS_PUBLIC' | translate }}
          </mat-checkbox>
          <mat-checkbox
            name="feature"
            ngDefaultControl
            [(ngModel)]="isFeatured"
            *ngIf="isRootAdmin"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.IS_FEATURED' | translate }}
          </mat-checkbox>

          <mat-checkbox
            name="routing"
            ngDefaultControl
            [(ngModel)]="isRouting"
            *ngIf="isRootAdmin && !snapshot"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.IS_ROUTING' | translate }}
          </mat-checkbox>
          <mat-checkbox
            name="hvm"
            ngDefaultControl
            [(ngModel)]="requiresHvm"
            *ngIf="mode === TemplateResourceType.template"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.REQUIRES_HVM' | translate }}
          </mat-checkbox>
          <mat-checkbox
            *ngIf="mode === TemplateResourceType.iso && !snapshot"
            name="bootable"
            ngDefaultControl
            [(ngModel)]="bootable"
          >
            {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.BOOTABLE' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-dialog-actions">
    <button
      mat-button
      color="primary"
      matDialogClose
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="!templateCreationForm.valid"
    >
      {{ 'COMMON.CREATE' | translate }}
    </button>
  </div>
</form>
