:host {
  position: relative;
  display: block;
}

:host .mdl-dialog__content {
  padding-bottom: 5px;
}

.column {
  min-width: 300px;
  max-width: 300px;
}

.flex-dialog-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.dynscal-checkbox {
  margin: 1px 0;
}
