:host {
  position: relative;
  display: block;

  .mat-dialog-content {
    overflow: hidden;
  }
}

.column {
  min-width: 300px;
  max-width: 300px;
  &:first-child {
    margin-right: 10px;
  }
  &:last-child {
    margin-left: 10px;
  }
}

.flex-dialog-content {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  overflow: auto;
}

.dynscal-checkbox {
  margin: 1px 0;
}

.additional {
  display: flex;
  flex-direction: column;
}
