:host {
  position: relative;
  display: block;
}

/deep/ .template-creation-dialog {
  width: 720px;
}

/deep/ .template-creation-dialog-snapshot {
  width: 376px !important;
}

:host .mdl-dialog__content {
  padding-bottom: 5px;
}

.column {
  max-width: 300px;
}

.flex-dialog-content {
  display: flex;
  justify-content: space-between;
}

.dynscal-checkbox {
  margin: 1px 0;
}
