:host {
  position: relative;
  display: block;
}

:host .mdl-dialog__content {
  padding-bottom: 5px;
}

.column {
  min-width: 300px;
  max-width: 300px;
  &:first-child {
    margin-right: 10px;
  }
  &:last-child {
    margin-left: 10px;
  }
}

.flex-dialog-content {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  overflow: auto;
}

.dynscal-checkbox {
  margin: 1px 0;
}

md-input-container {
  width: 100%;
}
