<cs-overlay-loading [active]="loading"></cs-overlay-loading>
<div [hidden]="loading">
  <h3 class="mat-dialog-title">{{ modeTranslationToken | translate }}</h3>
  <form (ngSubmit)="onCreate()" #templateCreationForm="ngForm" novalidate>
    <div class="mat-dialog-content">
      <div [class.flex-dialog-content]="!snapshot">
        <div [class.column]="!snapshot">
          <md-form-field class="full-width-input">
            <input
              mdInput
              name="name"
              [(ngModel)]="name"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.NAME' | translate"
              autofocus
              maxlength="255"
              required
            >
            <md-hint align="end">
              <cs-character-count [value]="name" [maxLength]="255"></cs-character-count>
            </md-hint>
          </md-form-field>
          <br>
          <md-form-field class="full-width-input">
            <input
              mdInput
              name="description"
              [(ngModel)]="displayText"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.DESCRIPTION' | translate"
              maxlength="255"
              required
            >
            <md-hint align="end">
              <cs-character-count
                [value]="displayText"
                [maxLength]="255"
              ></cs-character-count>
            </md-hint>
          </md-form-field>
          <br>
          <md-form-field *ngIf="!snapshot" class="full-width-input">
            <input
              mdInput
              type="url"
              name="url"
              [(ngModel)]="url"
              [placeholder]=" 'TEMPLATE_PAGE.TEMPLATE_CREATION.URL' | translate "
              pattern="^(http|https):\/\/.*$"
              maxlength="255"
              required
              #urlField="ngModel"
            >
            <md-error
              *ngIf="urlField.hasError('pattern')"
            >
              {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.INVALID_URL' | translate }}
            </md-error>
            <md-hint align="end">
              <cs-character-count [value]="url" [maxLength]="255"></cs-character-count>
            </md-hint>
          </md-form-field>
        </div>
        <div [class.column]="!snapshot">
          <div>
            <md-select
              class="form-select-control"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.OS_TYPE' | translate"
              [(ngModel)]="osTypeId"
              id="osType"
              name="osType"
            >
              <md-option
                *ngFor="let osType of osTypes"
                [value]="osType.id"
              >
                {{ osType.description }}
              </md-option>
            </md-select>
          </div>
          <div *ngIf="!snapshot">
            <md-select
              class="form-select-control"
              [placeholder]="'TEMPLATE_PAGE.TEMPLATE_CREATION.ZONE' | translate"
              [(ngModel)]="zoneId"
              id="serviceOffering"
              name="serviceOffering"
            >
              <md-option
                *ngFor="let zone of zones"
                [value]="zone.id"
              >
                {{ zone.name }}
              </md-option>
            </md-select>
          </div>
          <div>
            <md-checkbox
              *ngIf="mode === 'Template'"
              name="pass"
              [(ngModel)]="passwordEnabled"
            >
              {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.PASSWORD_ENABLED' | translate }}
            </md-checkbox>
            <md-checkbox
              class="dynscal-checkbox"
              name="dynscal"
              [(ngModel)]="dynamicallyScalable"
              *ngIf="mode === 'Template'"
            >
              {{ 'TEMPLATE_PAGE.TEMPLATE_CREATION.DYNAMICALLY_SCALABLE' | translate }}
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-dialog-actions">
      <button
        md-button
        color="primary"
        mdDialogClose
        type="button"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        md-button
        color="primary"
        type="submit"
        [disabled]="!templateCreationForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
