:host {
  position: relative;
  display: block;
}

/deep/ .instance-group-selector-dialog {
  width: 350px;
}

.mdl-dialog__content {
  padding-bottom: 0;
}

mdl-radio {
  width: 100%;
}

/deep/ mdl-radio div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
