:host /deep/ .fancy-select-button {
  margin-right: 6px !important;
}

:host /deep/ .fancy-select-content {
  padding: 0 16px 16px 16px;
  display: block;
}

.volume-attachment-dialog {
  width: 375px !important;
}

.card {
  min-height: 87px;
}
