<mat-card class="card">

  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.ATTACH_VOLUME' | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content [class.mat-card-content-with-actions]="selectedVolume || !selectedVolume && volumes?.length">
    <div class="mat-card-content-container">
      <ng-container *ngIf="volumes?.length; then avaliableVolumesExist else avaliableVolumesNotExist"></ng-container>

      <ng-template #avaliableVolumesExist>
        <ng-container *ngIf="selectedVolume; then showVolumeName else showSelectVolumeMessage"></ng-container>
        <ng-template #showSelectVolumeMessage>
          {{ 'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.SELECT_VOLUME' | translate }}
        </ng-template>
        <ng-template #showVolumeName>
          {{ selectedVolume.name }}
        </ng-template>
      </ng-template>

      <ng-template #avaliableVolumesNotExist>
        {{ 'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.NO_AVAILABLE_VOLUMES_1' | translate }}
        <a routerLink="/storage/create">
          {{'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.NO_AVAILABLE_VOLUMES_2' | translate }}
        </a>
        {{'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.NO_AVAILABLE_VOLUMES_3' | translate }}
      </ng-template>
    </div>

    <mat-card-actions *ngIf="volumes?.length">
      <ng-container *ngIf="selectedVolume; then attachButton else selectButton"></ng-container>

      <ng-template #attachButton>
        <button
          mat-icon-button
          [matTooltip]="'VM_PAGE.STORAGE_DETAILS.SPARE_DRIVE_ATTACHMENT.ATTACH' | translate"
          matTooltipPosition="above"
          (click)="$event.stopPropagation(); attachVolume()"
        >
          <mat-icon class="mdi-paperclip"></mat-icon>
        </button>
      </ng-template>

      <ng-template #selectButton>
        <button
          mat-icon-button
          [matTooltip]="'COMMON.SELECT' | translate"
          matTooltipPosition="above"
          (click)="$event.stopPropagation(); showDialog()"
        >
          <mat-icon class="mdi-plus"></mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>

  </mat-card-content>

</mat-card>
