<!-- todo: refactor scrollContainer -->
<cs-list
  infiniteScroll
  (scrolled)="onScroll()"
  [infiniteScrollContainer]="'.list-scroll-container'"
  [immediateCheck]="true"
  [scrollWindow]="false"
  [creationEnabled]="false"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-vm-logs-filter-container></cs-vm-logs-filter-container>
    </cs-top-bar>
  </ng-container>

  <ng-container cs-list>
    <cs-vm-logs-table-container></cs-vm-logs-table-container>
  </ng-container>
</cs-list>

<div
  *ngIf="!isAutoUpdateEnabled"
  class="fab"
  [matTooltip]="'LOGS_PAGE.FAB.FOLLOW_LOG' | translate"
  [matTooltipPosition]="'left'"
>
  <button
    mat-fab
    [disabled]="!selectedVmId"
    (click)="autoUpdateStarted.emit()"
  >
    <mat-icon class="mdi-format-vertical-align-bottom"></mat-icon>
  </button>
</div>

<div
  *ngIf="isAutoUpdateEnabled"
  class="fab"
  [matTooltip]="'LOGS_PAGE.FAB.STOP_FOLLOWING' | translate"
  [matTooltipPosition]="'left'"
>
  <button
    mat-fab
    (click)="autoUpdateStopped.emit()"
  >
    <mat-icon class="mdi-cancel"></mat-icon>
  </button>
</div>
