@import '../../../style/_variables';
@import '../../../style/mat-fab-resize';

.fab {
  transition: margin 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 99;
  height: 50px;
  width: 50px;
}
