<!-- todo: refactor scrollContainer -->
<cs-list
  class="list-container"
  infiniteScroll
  (scrolled)="onScroll()"
  [infiniteScrollContainer]="scrollContainerSelector"
  [immediateCheck]="true"
  [scrollWindow]="false"
  [creationEnabled]="false"
>
  <div #filterContainer cs-panels>
    <cs-top-bar>
      <cs-vm-logs-filter-container></cs-vm-logs-filter-container>
    </cs-top-bar>
  </div>

  <div class="table-container" #tableContainer cs-list>
    <cs-vm-logs-table-container></cs-vm-logs-table-container>
  </div>
</cs-list>

<div
  *ngIf="!isAutoUpdateEnabled"
  class="fab"
  [style.top.px]="fabPosition$ | async"
  [matTooltip]="'LOGS_PAGE.FAB.FOLLOW_LOG' | translate"
  [matTooltipPosition]="'left'"
>
  <button mat-fab [disabled]="!selectedVmId" (click)="autoUpdateStarted.emit()">
    <mat-icon *ngIf="newestFirst" class="mdi-format-vertical-align-top"></mat-icon>
    <mat-icon *ngIf="!newestFirst" class="mdi-format-vertical-align-bottom"></mat-icon>
  </button>
</div>

<div
  *ngIf="isAutoUpdateEnabled"
  class="fab"
  [style.top.px]="fabPosition$ | async"
  [matTooltip]="'LOGS_PAGE.FAB.STOP_FOLLOWING' | translate"
  [matTooltipPosition]="'left'"
>
  <button mat-fab (click)="autoUpdateStopped.emit()">
    <mat-icon class="mdi-cancel"></mat-icon>
  </button>
</div>
