<mdl-card-title>
  {{ 'GROUP' | translate }}
</mdl-card-title>
<mdl-card-supporting-text class="overflow-card">
  <mdl-autocomplete
    class="details-select"
    [placeholder]="'NO_GROUP' | translate"
    [(ngModel)]="groupName"
    [options]="groupNames"
  ></mdl-autocomplete>
</mdl-card-supporting-text>
<mdl-card-actions *ngIf="doShowChangeGroupButton" mdl-card-border>
  <mdl-button
    class="button-align-right"
    type="button"
    mdl-button
    mdl-ripple
    (click)="$event.stopPropagation(); changeGroup()"
  >
    {{ 'ASSIGN' | translate }}
  </mdl-button>
</mdl-card-actions>
</mdl-card>
