<md-card class="vm-card" mdl-shadow="2">
  <md-card-header>
    <h2 class="md-card-title-text">
      {{ 'VM_PAGE.VM_DETAILS.INSTANCE_GROUP.TITLE' | translate }}
    </h2>
  </md-card-header>
  <md-card-content class="overflow-card md-card-content-with-actions">
    <div class="md-card-content-container">
      <div *ngIf="groupName">
        {{ vm.instanceGroup.name }}
      </div>
      <div *ngIf="!groupName">
        {{ 'VM_PAGE.VM_DETAILS.INSTANCE_GROUP.NO_GROUP' | translate }}
      </div>
    </div>
    <md-card-actions>
      <button
        md-icon-button
        [mdTooltip]="'COMMON.EDIT' | translate"
        mdTooltipPosition="above"
        (click)="changeGroup()"
      >
        <md-icon>edit</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
