<md-card mdl-shadow="2">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">
        {{ 'GROUP' | translate }}
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="overflow-card">
    <div class="edit-line">
      <span
        *ngIf="groupName"
        class="text-content"
        (click)="changeGroup()"
      >
        {{ groupName }}
      </span>
      <span
        *ngIf="!groupName"
        class="text-content"
        (click)="changeGroup()"
      >
        {{ 'CLICK_TO_ASSIGN' | translate }}
      </span>

      <button
        *ngIf="groupName"
        mdl-button
        mdl-button-type="icon"
        (click)="changeGroup()"
        class="edit-button"
      >
        <mdl-icon>edit</mdl-icon>
      </button>
    </div>
  </md-card-content>
</md-card>
