<cs-list
  (action)="showCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-ssh-key-filter-container cs-list></cs-ssh-key-filter-container>
    </cs-top-bar>
  </ng-container>

  <ng-container cs-list>
    <div class="switch-panel">
      <cs-view-mode-switch
        (modeChanged)="changeMode($event)"
        [key]="viewModeKey">
      </cs-view-mode-switch>
    </div>

    <cs-ssh-key-list
      *loading="isLoading"
      [mode]="mode"
      [keys]="sshKeyList"
      [groupings]="selectedGroupings"
      (remove)="removeKey($event)"
      cs-list
    ></cs-ssh-key-list>
  </ng-container>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
