<!--<pre [innerHTML]="sshKeyList | json"></pre>-->

<cs-list
  (onAction)="showCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>
  <!--<cs-ssh-key-filter-->
    <!--[groupings]="groupings"-->
    <!--(updateFilters)="updateFilters($event)"-->
    <!--cs-list-->
  <!--&gt;</cs-ssh-key-filter>-->

  <cs-ssh-key-list
    *loading="!sshKeyList"
    [keys]="sshKeyList"
    [groupings]="selectedGroupings"
    (onRemove)="removeKey($event)"
    cs-list
  ></cs-ssh-key-list>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
