<cs-list
  (onAction)="showCreationDialog()"
  [isOpen]="listService?.hasSelected()"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-ssh-key-filter *ngIf="isAdmin()"
        [groupings]="groupings"
        [accounts]="accounts"
        [selectedAccountIds]="selectedAccountIds"
        [selectedGroupings]="selectedGroupings"
        (onGroupingsChange)="onGroupingsChange.emit($event)"
        (onAccountsChange)="onAccountsChange.emit($event)"
        cs-list
      ></cs-ssh-key-filter>
      <cs-view-mode-switch
        (onModeChange)="changeMode($event)"
        [key]="key">
      </cs-view-mode-switch>
    </cs-top-bar>
  </ng-container>

  <cs-ssh-key-list
    *loading="!sshKeyList"
    [mode]="mode"
    [keys]="sshKeyList"
    [groupings]="selectedGroupings"
    (onRemove)="removeKey($event)"
    cs-list
  ></cs-ssh-key-list>

  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService?.hasSelected()">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>
