.key {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: right;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-right: 15px;
  max-width: 70%;
}

.buttons {
  display: none;
  margin-left: 10px;
}

.height-container {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.container {
  width: 100%;
}

.container:hover .buttons {
  display: flex;
}
