<div class="height-container">
  <div class="flex-container container">
    <div class="flex-container left">
      <span
        class="key"
        [matTooltip]="tag.key"
        [innerHTML]="tag.key | highlight:query"
      ></span>
      <div class="buttons" *ngIf="hasPermissions">
        <button
          class="button-18px"
          mat-icon-button
          (click)="edit()"
          [disabled]="loading"
        >
          <mat-icon class="mdi-pencil"></mat-icon>
        </button>
        <button
          class="button-18px"
          mat-icon-button
          (click)="showRemoveDialog()"
          [disabled]="loading"
        >
          <mat-icon class="mdi-delete"></mat-icon>
        </button>
      </div>
    </div>
    <div
      ngxClipboard
      class="value"
      [matTooltip]="tag.value"
      [innerHTML]="tag.value | highlight:query"
      [cbContent]="tag.value"
      (cbOnSuccess)="onCopySuccess()"
      (cbOnError)="onCopyFail()"
    ></div>
  </div>
</div>
