<div class="height-container">
  <div class="flex-container container">
    <div class="flex-container left">
    <span
      class="key"
      [mdl-tooltip]="keyTooltip"
      mdl-tooltip-position="bottom"
      [innerHTML]="tag.key | highlight:query"
    ></span>
      <div class="buttons">
        <button
          class="button-18px"
          mdl-button
          mdl-button-type="icon"
          (click)="edit()"
          [disabled]="loading"
        >
          <mdl-icon>edit</mdl-icon>
        </button>
        <button
          class="button-18px"
          mdl-button
          mdl-button-type="icon"
          (click)="showRemoveDialog()"
          [disabled]="loading"
        >
          <mdl-icon>delete</mdl-icon>
        </button>
      </div>
    </div>
    <div
      ngxClipboard
      class="value"
      mdl-tooltip-position="bottom"
      [mdl-tooltip]="valueTooltip"
      [innerHTML]="tag.value | highlight:query"
      [cbContent]="tag.value"
      (cbOnSuccess)="onCopySuccess()"
      (cbOnError)="onCopyFail()"
    ></div>
  </div>
</div>
<mdl-tooltip style="z-index: 10000000000000" #keyTooltip="mdlTooltip">
  {{ tag.key }}
</mdl-tooltip>
<mdl-tooltip style="z-index: 10000000000000" #valueTooltip="mdlTooltip">
  {{ tag.value }}
</mdl-tooltip>
