<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'ACCOUNT_PAGE.SIDEBAR.LIMITS' | translate}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="mat-card-content-container">
      <div *ngFor="let limit of limits" class="height-container">
        <div class="flex-container container">
          <div class="flex-container left">
            <div
              class="name"
              [innerHTML]="limitLabels[limit.resourceType] | translate"
            ></div>
          </div>
          <div *ngIf="!isEdit"
            ngxClipboard
            class="value"
            [innerHTML]="limit.max"
          ></div>
          <div *ngIf="isEdit"
            class="value"
          ><mat-form-field class="full-width-input">
            <input
              matInput
              name="vmlimit"
              [(ngModel)]="limit.max"
              required
            ></mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin">
      <mat-card-actions *ngIf="!isEdit">
        <button
          mat-icon-button
          [matTooltip]="'COMMON.EDIT' | translate"
          matTooltipPosition="above"
          (click)="isEdit=!isEdit"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="isEdit" class="buttons">
        <button
          mat-button
          color="primary"
          (click)="isEdit=!isEdit"
        >
          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button
          mat-button
          color="primary"
          (click)="onSave()"
        >
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
