<md-card class="custom-card">
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">
        {{ 'ACCOUNT_PAGE.SIDEBAR.LIMITS' | translate}}
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="md-card-content-container">


      <div *ngIf="!isEdit">
      <div *ngFor="let limit of limits; let i = index;" class="height-container">
        <div class="flex-container container">
          <div class="flex-container left">
            <div
              class="name"
              [innerHTML]="limitLabels[limit.resourcetype] | translate"
            ></div>
          </div>
          <div
            ngxClipboard
            class="value"
            [innerHTML]="limit.max"
          ></div>
        </div>
      </div>
      </div>


      <div *ngIf="isEdit">
      <div *ngFor="let limit of localLimits; let i = index;trackBy: trackByIndex" class="height-container">
        <div class="flex-container container">
          <div class="flex-container left">
            {{localLimits[i].max}}
          </div>
          <div class="value"
          ><md-form-field class="full-width-input">
            <input
              mdInput
              name="{{'vmlimit'+i}}"
              [(ngModel)]="localLimits[i].max"
              required
            ></md-form-field>

          </div>
        </div>
      </div>
      </div>


    </div>
    <div *ngIf="isAdmin">
      <md-card-actions *ngIf="!isEdit">
        <button
          md-icon-button
          [mdTooltip]="'COMMON.EDIT' | translate"
          mdTooltipPosition="above"
          (click)="editLimits()"
        >
          <md-icon>edit</md-icon>
        </button>
      </md-card-actions>
      <md-card-actions *ngIf="isEdit" class="buttons">
        <button
          md-button
          color="primary"
          (click)="isEdit=!isEdit"
        >
          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button
          md-button
          color="primary"
          (click)="onSave()"
        >
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </md-card-actions>
    </div>
  </md-card-content>
</md-card>
