<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'ACCOUNT_PAGE.SIDEBAR.LIMITS' | translate}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="mat-card-content-container">

      <div *ngIf="!isEdit">
        <div *ngFor="let limit of limits; let i = index;" class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [innerHTML]="limitLabels[limit.resourcetype] | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="limit.max"
            ></div>
          </div>
        </div>
      </div>

      <div *ngIf="isEdit">
        <div *ngFor="let limit of localLimits; let i = index" class="height-container">
          <div class="flex-container container">
            <div
              class="name"
              [innerHTML]="limitLabels[limit.resourcetype] | translate"
            ></div>
            <div class="value"
            ><mat-form-field class="full-width-input">
              <input
                matInput
                name="{{'vmlimit'+i}}"
                [(ngModel)]="localLimits[i].max"
                required
              ></mat-form-field>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="isAdmin">
      <mat-card-actions *ngIf="!isEdit">
        <button
          mat-icon-button
          [matTooltip]="'COMMON.EDIT' | translate"
          matTooltipPosition="above"
          (click)="editLimits()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="isEdit" class="buttons">
        <button
          mat-button
          color="primary"
          (click)="isEdit=!isEdit"
        >
          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button
          mat-button
          color="primary"
          (click)="onSave()"
        >
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
