<mdl-card
  class="custom-card spare-drive-card"
  mdl-shadow="2"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected"
  [class.arrow]="popover.isVisible"
>
  <mdl-card-title>
    <h2
      mdl-card-title-text
      [mdl-tooltip]="volume.name"
    >
      {{ volume.name }}
    </h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div class="card-wrapper">
      <div>
        <div class="row">{{ 'STATE' | translate }}: </div>
        <div class="row">{{ 'SIZE' | translate }}: </div>
      </div>
      <div>
        <div class="row">
          <span>{{ ('SPARE_DRIVE_STATE.' + volume.state.toUpperCase()) | translate }}</span>
        </div>
        <div class="row">
          <span>{{ (volume.size | division:2:30:2) }} {{ ('GB' | translate) }}</span>
        </div>
      </div>
    </div>
  </mdl-card-supporting-text>
  <mdl-card-menu>
    <button
      mdl-button
      (click)="$event.stopPropagation(); popover.toggle($event)"
      mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon>more_vert</mdl-icon>
    </button>
  </mdl-card-menu>
  <mdl-popover
    class="card-popover spare-drive-popover"
    #popover
    [hide-on-click]="true"
    [style.width.px]="300"
  >
    <div mdl-shadow="6" class="popover-actions">
      <button
        [mdl-tooltip]="'ATTACH' | translate"
        mdl-tooltip-position="bottom"
        mdl-button
        mdl-button-type="icon"
        mdl-ripple
        (click)="$event.stopPropagation(); attach()"
      >
        <mdl-icon>attach_file</mdl-icon>
      </button>
      <button
        [mdl-tooltip]="'RESIZE' | translate"
        mdl-tooltip-position="bottom"
        mdl-button
        mdl-button-type="icon"
        mdl-ripple
        (click)="$event.stopPropagation(); resize()"
      >
        <mdl-icon>photo_size_select_small</mdl-icon>
      </button>
      <button
        [mdl-tooltip]="'DELETE' | translate"
        mdl-tooltip-position="bottom"
        mdl-button
        mdl-button-type="icon"
        mdl-ripple
        (click)="$event.stopPropagation(); remove()"
      >
        <mdl-icon>delete</mdl-icon>
      </button>
    </div>
  </mdl-popover>
</mdl-card>
