<md-card
  class="custom-card spare-drive-card"
  mdl-shadow="2"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
  [class.arrow]="popover.isVisible"
>
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdTooltip]="item.name"
      >
        {{ item.name }}
      </h2>
    </md-card-title>
    <div class="md-card-header-menu">
      <button
        mdl-button
        (click)="$event.stopPropagation(); popover.toggle($event)"
        mdl-button-type="icon"
        mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>
    </div>
  </md-card-header>
  <md-card-content>
    <div class="card-wrapper">
      <div class="first">
        <div class="row">{{ 'STATE' | translate }}:</div>
        <div class="row">{{ 'SIZE' | translate }}:</div>
      </div>
      <div class="last">
        <div class="row">
          <span>{{ ('SPARE_DRIVE_STATE.' + item.state.toUpperCase()) | translate }}</span>
        </div>
        <div class="row">
          <span>{{ (item.size | division:2:30:2) }} {{ ('GB' | translate) }}</span>
        </div>
      </div>
    </div>
  </md-card-content>
  <mdl-popover
    class="card-popover spare-drive-popover"
    #popover
    [hide-on-click]="true"
    [style.width.px]="300"
  >
    <div mdl-shadow="6" class="popover-actions">
      <button
        [mdTooltip]="'ATTACH' | translate"

        mdl-button
        mdl-button-type="icon"
        mdl-ripple
        (click)="$event.stopPropagation(); attach()"
      >
        <mdl-icon>attach_file</mdl-icon>
      </button>
      <button
        [mdTooltip]="'RESIZE' | translate"

        mdl-button
        mdl-button-type="icon"
        mdl-ripple
        (click)="$event.stopPropagation(); resize()"
      >
        <mdl-icon>photo_size_select_small</mdl-icon>
      </button>
      <button
        [mdTooltip]="'DELETE' | translate"

        mdl-button
        mdl-button-type="icon"
        mdl-ripple
        (click)="$event.stopPropagation(); remove()"
      >
        <mdl-icon>delete</mdl-icon>
      </button>
    </div>
  </mdl-popover>
</md-card>
