<md-card
  class="custom-card spare-drive-card"
  (click)="handleClick($event)"
  [class.card-selected]="isSelected(item)"
>
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdTooltip]="item.name"
        [innerHTML]="item.name | highlight:query"
      >
        {{ item.name }}
      </h2>
    </md-card-title>
    <div class="md-card-header-menu">
      <button md-icon-button [mdMenuTriggerFor]="actionsMenu">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
  </md-card-header>
  <md-card-content>
    <div class="card-wrapper">
      <div class="first">
        <div class="row">{{ 'SPARE_DRIVE_PAGE.CARD.STATE' | translate }}:</div>
        <div class="row">{{ 'SPARE_DRIVE_PAGE.CARD.SIZE' | translate }}:</div>
      </div>
      <div class="last">
        <div class="row">
          <span>
            {{ stateTranslationToken | translate }}
          </span>
        </div>
        <div class="row">
          <span>{{ item.size | division:2:30:2 }} {{ 'UNITS.GB' | translate }}</span>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-menu
    #actionsMenu="mdMenu"
    [style.width.px]="300"
  >
    <button
      md-menu-item
      (click)="attach()"
    >
      <md-icon>attach_file</md-icon>
      <span>{{ 'SPARE_DRIVE_PAGE.CARD.ATTACH' | translate }}</span>
    </button>
    <button
      md-menu-item
      (click)="resize()"
    >
      <md-icon>photo_size_select_small</md-icon>
      <span>{{ 'SPARE_DRIVE_PAGE.CARD.RESIZE' | translate }}</span>
    </button>
    <button
      md-menu-item
      (click)="remove()"
    >
      <md-icon>delete</md-icon>
      <span>{{ 'COMMON.DELETE' | translate }}</span>
    </button>
  </md-menu>
</md-card>
