:host {
  display: inline-flex;
  cursor: pointer;
}

.row {
  height: 20px;
  margin-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spare-drive-card {
  min-height: 0;
}

/deep/ .volume-attachment-dialog {
  width: 380px;
  overflow: visible;
  padding-bottom: 15px; //blur fix
}

.spare-drive-popover {
  width: 133px !important;
}
