:host {
  display: inline-flex;
  cursor: pointer;
}

.row {
  height: 20px;
  margin-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spare-drive-popover {
  width: 135px !important;
}

/deep/ .spare-drive-attachment-dialog {
  width: 375px !important;
  overflow: visible !important;
}
