<div class="flex-container">
  <button *ngIf="canAddTag && hasPermissions" md-mini-fab (click)="addTag()">
    <md-icon>add</md-icon>
  </button>

  <cs-search
    [(ngModel)]="query"
    (ngModelChange)="updateFilterResults()"
  ></cs-search>

</div>

<md-checkbox
  name="showSystemTags"
  [(ngModel)]="showSystemTags"
  (change)="onShowSystemTagsChange()"
>
  {{ 'TAGS.SHOW_SYSTEM_TAGS' | translate }}
</md-checkbox>


<cs-tag-category
  *ngFor="let category of visibleCategories"
  [category]="category"
  [tags]="tags"
  [query]="query"
  [hasPermissions]="hasPermissions"
  (onTagAdd)="addTag($event)"
  (onTagEdit)="editTag($event)"
  (onTagDelete)="removeTag($event)"
></cs-tag-category>

<cs-no-results *ngIf="!visibleCategories?.length"></cs-no-results>
