button {
  margin: 5px;
}

cs-search {
  flex: 1;
}

mat-checkbox {
  display: inline-block;
  margin: 5px 20px 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
