<div class="flex-container">
  <button *ngIf="canAddTag"
    mdl-button
    mdl-button-type="mini-fab"
    mdl-colored="accent"
    (click)="addTag()"
  >
    <md-icon>add</md-icon>
  </button>

  <cs-search
    [(ngModel)]="query"
    (ngModelChange)="updateSearchResults(query)"
  ></cs-search>
</div>

<cs-tag-category
  *ngFor="let category of visibleCategories"
  [category]="category"
  [tags]="tags"
  [query]="query"
  (onTagAdd)="addTag($event)"
  (onTagEdit)="editTag($event)"
  (onTagDelete)="removeTag($event)"
></cs-tag-category>

<cs-no-results *ngIf="!visibleCategories?.length"></cs-no-results>
