<mat-card class="custom-card" *ngIf="!!configurations?.length">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'ACCOUNT_PAGE.SIDEBAR.SETTINGS' | translate}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="mat-card-content-container">
      <cs-account-configuration
        *ngFor="let configuration of configurations"
        [configuration]="configuration"
        (configurationEdited)="configurationEdited.emit($event)"
      ></cs-account-configuration>
    </div>
  </mat-card-content>
</mat-card>
