<div class="height-container">
  <div class="flex-container container">
    <div class="flex-container left">
      <div
        class="name"
        [mdTooltip]="configuration.name"
        [innerHTML]="configuration.name"
      ></div>
      <div class="buttons">
        <button
          class="button-18px"
          md-icon-button
          (click)="edit()"
        >
          <md-icon>edit</md-icon>
        </button>
      </div>
    </div>
    <div
      ngxClipboard
      class="value"
      [mdTooltip]="configuration.value"
      [innerHTML]="configuration.value"
    ></div>
  </div>
</div>
