<cs-top-bar>
  <div class="options-panel">
    <md-button-toggle-group (change)="setMode($event.value)">
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="0">
          <md-button-toggle value="0" checked="true">
            {{ 'SECURITY_GROUP_PAGE.FILTERS.TEMPLATES' | translate }}
          </md-button-toggle>
          <md-button-toggle value="1">
            {{ 'SECURITY_GROUP_PAGE.FILTERS.SHARED' | translate }}
          </md-button-toggle>
        </ng-container>

        <ng-container *ngSwitchCase="1">
          <md-button-toggle value="0" >
            {{ 'SECURITY_GROUP_PAGE.FILTERS.TEMPLATES' | translate }}
          </md-button-toggle>
          <md-button-toggle value="1" checked="true">
            {{ 'SECURITY_GROUP_PAGE.FILTERS.SHARED' | translate }}
          </md-button-toggle>
        </ng-container>
      </ng-container>

    </md-button-toggle-group>
  </div>
</cs-top-bar>
<cs-search [(ngModel)]="query" (ngModelChange)="update()"></cs-search>
