<div class="filter-wrapper">
  <mat-button-toggle-group
    name="viewMode"
    [(ngModel)]="viewMode"
    (change)="viewModeChange.emit(this.viewMode)"
  >
    <mat-button-toggle
      [value]="SecurityGroupViewMode.Templates">
      {{ 'SECURITY_GROUP_PAGE.FILTERS.TEMPLATES' | translate }}
    </mat-button-toggle>
    <mat-button-toggle
      [value]="SecurityGroupViewMode.Shared"
      [attr.cdkFocusRegionStart]="viewMode === SecurityGroupViewMode.Shared">
      {{ 'SECURITY_GROUP_PAGE.FILTERS.SHARED' | translate }}
    </mat-button-toggle>
    <mat-button-toggle
      [value]="SecurityGroupViewMode.Private"
      [attr.cdkFocusRegionStart]="viewMode === SecurityGroupViewMode.Private">
      {{ 'SECURITY_GROUP_PAGE.FILTERS.PRIVATE' | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="filter-wrapper">
  <mat-form-field *ngIf="accounts.length > 1">
    <mat-select
      multiple="true"
      [placeholder]="'SECURITY_GROUP_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
      [ngModel]="selectedAccountIds"
      (selectionChange)="accountsChanged.emit($event.value)"
    >
      <mat-option
        *ngFor="let account of accounts"
        [value]="account.id"
      >{{ account.fullDomain }}{{ account.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngIf="viewMode === SecurityGroupViewMode.Private">
    <mat-checkbox
      name="rule-checkbox"
      [(ngModel)]="orphan"
      (ngModelChange)="orphanChanged.emit(orphan)"
    >
      {{ 'SECURITY_GROUP_PAGE.FILTERS.ORPHAN' | translate }}
    </mat-checkbox>
  </span>
  <cs-search [(ngModel)]="query" (ngModelChange)="queryChange.emit($event)"></cs-search>
</div>
