<div class="filter-wrapper">
  <mat-form-field *ngIf="accounts.length">
    <mat-select
      multiple="true"
      [placeholder]="'VM_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
      [(ngModel)]=" selectedAccountIds" (change)="update()"
    >
      <mat-option
        *ngFor="let account of accounts"
        [value]="account.id"
      >{{ account.fullDomain }}{{ account.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      multiple="true"
      [placeholder]="'VM_PAGE.FILTERS.SELECT_ZONES' | translate"
      [(ngModel)]="selectedZones"
      (change)="update()"
    >
      <mat-option *ngFor="let z of zones" [value]="z">{{ z.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      multiple="true"
      [placeholder]="'VM_PAGE.FILTERS.SELECT_GROUPS' | translate"
      [(ngModel)]="selectedGroups"
      (change)="update()"
    >
      <mat-option *ngIf="showNoGroupFilter" [value]="noGroup">
        <em>{{ 'VM_PAGE.FILTERS.NO_GROUP' | translate }}</em>
      </mat-option>

      <mat-option
        *ngFor="let g of groups"
        [value]="g"
      >
        {{ g.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      multiple="true"
      [placeholder]="'VM_PAGE.FILTERS.SELECT_STATES' | translate"
      [(ngModel)]="selectedStates"
      (change)="update()"
    >
      <mat-option *ngFor="let s of states" [value]="s.state">
        {{ s.name | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <cs-draggable-select
      multiple="true"
      [placeholder]="'VM_PAGE.FILTERS.GROUP_BY' | translate"
      [(ngModel)]="selectedGroupings"
      [dragItems]="availableGroupings"
      (change)="update()"
    >
      <mat-option *ngFor="let g of availableGroupings" [value]="g">
        {{ g.label | translate }}
      </mat-option>
    </cs-draggable-select>
  </mat-form-field>
</div>
