<mdl-card class="options-panel delimiter">
  <md-select
    class="filter-select"
    multiple="true"
    [placeholder]="'SELECT_ZONES' | translate"
    [(ngModel)]="selectedZones"
    (change)="update()"
  >
    <md-option *ngFor="let z of zones" [value]="z">{{ z.name }}</md-option>
  </md-select>
  <md-select
    class="filter-select"
    multiple="true"
    [placeholder]="'SELECT_GROUPS' | translate"
    [(ngModel)]="selectedGroups"
    (change)="update()"
  >
    <md-option
      *ngIf="showNoGroupFilter"
      [value]="noGroup"
    >
      <em>{{ 'NO_GROUP' | translate }}</em>
    </md-option>

    <md-option *ngFor="let g of groups" [value]="g">
      {{ g.name }}
    </md-option>
  </md-select>

  <md-select
    class="filter-select"
    multiple="true"
    [placeholder]="'SELECT_STATES' | translate"
    [(ngModel)]="selectedStates"
    (change)="update()"
  >
    <md-option *ngFor="let s of states" [value]="s.state">{{ s.name | translate }}</md-option>
  </md-select>
  <cs-divider-vertical></cs-divider-vertical>
  <cs-draggable-select
    class="filter-select"
    multiple="true"
    [placeholder]="'GROUP_BY_LABEL' | translate"
    [(ngModel)]="selectedGroupings"
    [dragItems]="availableGroupings"
    (change)="update()"
  >
    <md-option *ngFor="let g of availableGroupings" [value]="g">
      {{ g.label | translate }}
    </md-option>
  </cs-draggable-select>
</mdl-card>
