:host mdl-checkbox {
  width: 0;
}

:host /deep/ .filter-checkbox .mdl-checkbox__label {
  display: block;
  width: 185px;
}

:host /deep/ .filter-checkbox {
  display: inline-block;
  margin: 20px;
  width: 210px
}
