---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #1dafec;
    background-image: url("/cloudstack-ui/assets/images/cs-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #1dafec;
}
