.vm-logs {
  padding: 15px;
}

.mat-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mat-header-cell {
  display: flex;
  align-items: center;
}

.mat-row {
  height: auto;
}

.mat-cell {
  word-break: break-all;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  align-self: flex-start;
}

.mat-column-text {
  flex: 1 0 50%;
  white-space: pre-line;
}

.mat-header-cell {
  padding-right: 24px;
}
