<mat-card class="vm-card" *ngIf="vm">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">{{ 'VM_PAGE.VM_DETAILS.STATISTICS.TITLE' | translate }}</h2>
    </mat-card-title>
    <div class="mat-card-header-menu">
      <button
        mat-icon-button
        [matTooltip]="'COMMON.REFRESH' | translate"
        matTooltipPosition="before"
        (click)="updateStats()"
      >
        <mat-icon class="mdi-sync"></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="grid statistics">
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.CPU_UTILIZED' | translate }}</div>
        <div>{{ vm.cpuused || 0 }}</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.NETWORK_READ' | translate }}</div>
        <div>{{ vm.networkkbsread || 0 }} KB</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.NETWORK_WRITE' | translate }}</div>
        <div>{{ vm.networkkbswrite || 0 }} KB</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.DISK_READ' | translate }}</div>
        <div>{{ vm.diskkbsread || 0 }} KB</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.DISK_WRITE' | translate }}</div>
        <div>{{ vm.diskkbswrite || 0 }} KB</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.DISK_READ_IO' | translate }}</div>
        <div>{{ 'IOPS' | translate:{ value: vm.diskioread || 0 } }}</div>
      </div>
      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.STATISTICS.DISK_WRITE_IO' | translate }}</div>
        <div>{{ 'IOPS' | translate:{ value: vm.diskiowrite || 0 } }}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
