<md-icon class="hide-button" (click)="toggleDrawer()">
  keyboard_arrow_left
</md-icon>
<mdl-layout-title>
  <img class="logo" [src]="logoSource">
  <div class="title-header">
    <md-icon class="link-element">person</md-icon>
    <div class="link-element">{{ 'WELCOME' | translate:{ name: title } }}</div>
  </div>
</mdl-layout-title>
<nav #navigationBar class="mdl-navigation" [dragula]='"first-bag"'>
  <a
    *ngFor="let route of routes"
    class="mdl-navigation__link link-container"
    [routerLink]="route.path"
    [class.link-hover-light]="isLightTheme"
    [class.link-hover-dark]="!isLightTheme"
    [routerLinkActive]="linkActiveStyle"
    (click)="linkClick(route.path)"
  >
    <md-icon class="link-element" [ngClass]="route.className">
      {{ route.icon }}
    </md-icon>
    <div class="link-element" [innerHTML]="route.text | translate"></div>
  </a>
</nav>

<div class="license-container">
  <div class="license">
    {{ 'LICENSE_1' | translate: { year: currentYear } }}
    <a href="https://bitworks.software/" target="_blank">
      {{ 'LICENSE_2' | translate }}
    </a>
    <br>
    {{ 'LICENSE_3' | translate }}
  </div>
</div>
