<mdl-layout
  [mdl-layout-fixed-drawer]="loggedIn ? true : null"
  #mainLayout="mdlLayout"
  mdl-layout-no-drawer-button
>
  <mdl-layout-drawer
    *ngIf="loggedIn"
    class="mdl-color--grey-50 flex-container"
    [class.drawer-open]="isDrawerOpen"
  >
    <cs-app-sidebar [title]="title"></cs-app-sidebar>
  </mdl-layout-drawer>
  <mdl-layout-content
    cdk-scrollable
    class="mdl-color--grey-100"
    [class.content-margin]="isDrawerOpen && loggedIn"
  >
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
