<mdl-layout
  mdl-layout-fixed-header
  [mdl-layout-fixed-drawer] = "loggedIn ? true : null">
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title *ngIf="!loggedIn">Cloudstack</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <cs-notification-box *ngIf="loggedIn"></cs-notification-box>
      <cs-logout *ngIf="loggedIn"></cs-logout>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer *ngIf="loggedIn">
    <mdl-layout-title>{{ title }}</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/instances">{{ 'INSTANCES' | translate }}</a>
      <a class="mdl-navigation__link" routerLink="/sg-templates">{{ 'SECURITY_GROUP_TEMPLATES' | translate }}</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content class="demo-content">
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
