<mdl-layout
  mdl-layout-fixed-header
  [mdl-layout-fixed-drawer] = "loggedIn ? true : null"
  #mainLayout="mdlLayout"
>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title *ngIf="!loggedIn">Cloudstack</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <cs-notification-box *ngIf="loggedIn"></cs-notification-box>
      <cs-logout *ngIf="loggedIn"></cs-logout>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer *ngIf="loggedIn" class="mdl-color--grey-50">
    <mdl-layout-title>{{ title }}</mdl-layout-title>
    <nav class="mdl-navigation">

      <a
        (click)="componentSelected(mainLayout)"
        class="mdl-navigation__link link-container"
        routerLink="/instances"
        routerLinkActive="link-active"
      >
        <mdl-icon class="link-element">cloud</mdl-icon>
        <div class="link-element" [innerHTML]="'VM_NAVBAR' | translate"></div>
      </a>

      <a
        *ngIf="!disableSecurityGroups"
        (click)="componentSelected(mainLayout)"
        class="mdl-navigation__link link-container"
        routerLink="/sg-templates"
        routerLinkActive="link-active"
      >
        <mdl-icon class="link-element">security</mdl-icon>
        <div class="link-element" [innerHTML]="'SG_TEMPLATES_NAVBAR' | translate"></div>
      </a>

      <a
        (click)="componentSelected(mainLayout)"
        class="mdl-navigation__link link-container"
        routerLink="/templates"
        routerLinkActive="link-active"
      >
        <span class="link-element disc-icon"></span>
        <div class="link-element" [innerHTML]="'TEMPLATES_ISO' | translate"></div>
      </a>

      <a
        (click)="componentSelected(mainLayout)"
        class="mdl-navigation__link link-container"
        routerLink="/spare-drives"
        routerLinkActive="link-active"
      >
        <mdl-icon class="link-element">dns</mdl-icon>
        <div class="link-element" [innerHTML]="'SPARE_DRIVES_NAVBAR' | translate"></div>
      </a>

      <a
        (click)="componentSelected(mainLayout)"
        class="mdl-navigation__link link-container"
        routerLink="/events"
        routerLinkActive="link-active"
      >
        <mdl-icon>event_note</mdl-icon>
        <div class="link-element" [innerHTML]="'EVENTS' | translate"></div>
      </a>

      <a
        (click)="componentSelected(mainLayout)"
        class="mdl-navigation__link link-container"
        routerLink="/settings"
        routerLinkActive="link-active"
      >
        <mdl-icon>settings</mdl-icon>
        <div class="link-element" [innerHTML]="'SETTINGS' | translate"></div>
      </a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content class="mdl-color--grey-100">
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
