// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.mdl-layout__header-row {
  padding-left: 16px;
}

mdl-layout-drawer {
  border: none;
}

mdl-layout-title {
  padding-left: 0 !important;
  text-align: center;
}

.drawer-open {
  transform: translateX(0) !important;
}

.content-margin {
  margin-left: 240px !important;
}

/deep/ button {
  &.mat-menu-item {
    padding: 0 10px;
  }

  &.mat-icon-button {
    position: absolute !important;
    right: 0 !important;
  }
}
