:host {
  display: inline-flex;
  cursor: pointer;
}

:host md-card {
  width: 340px
}

:host md-card-title {
  line-height: normal;
}

:host md-card-title md-icon {
  margin-right: 10px;
}

:host md-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
}
