.secondary-ips {
  margin-left: 5%;
}

cs-secondary-ip {
  width: 100%;
}

.md-icon-button--small {
  min-width: 20px;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.md-icon--small {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
  line-height: 18px !important;
}
