<ng-container *ngIf="showVMList()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="mat-card-title-text">
          <ng-template [ngIf]="isModePrivate">
            {{ 'SECURITY_GROUP_PAGE.DETAILS.VM_LIST_PRIVATE' | translate }}
          </ng-template>
          <ng-template [ngIf]="!isModePrivate">
            {{ 'SECURITY_GROUP_PAGE.DETAILS.VM_LIST_SHARED' | translate }}
          </ng-template>
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-with-actions">
      <div class="mat-card-content-container">
        <div *ngFor="let vm of vmList">
          <div class="vm-link">
            <ng-template [ngIf]="isModeShared">
              <a routerLink="{{ getVmLink(vm) }}">{{ vm.name }}</a>
            </ng-template>
            <ng-template [ngIf]="isModePrivate">
              <span>{{ vm.name }}</span>
            </ng-template>
          </div>
        </div>
        <div class="vm-link" *ngIf="!vmList.length">
          <ng-template [ngIf]="isModePrivate">
            {{ 'SECURITY_GROUP_PAGE.DETAILS.EMPTY_VM_NAME' | translate }}
          </ng-template>
          <ng-template [ngIf]="isModeShared">
            {{ 'SECURITY_GROUP_PAGE.DETAILS.EMPTY_VM_LIST' | translate }}
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
