.vm-link {
  display: block;
  padding-bottom: 16px;
  flex-shrink: 0;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: .87;
  position: relative;
}

a {
  text-decoration: none;
}
