@import '../../../../style/__variables.scss';

.stat-card-mdl {
  display: inline-flex;
  margin:  0 15px 15px 0;
  min-height: 156px;

  mdl-card-supporting-text {
    width: 100%;
  }
}

.single-bar {
  margin-top: 24px;
}

.bar {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  md-progress-bar {
    margin-top: 4px;
  }
}

.stat-list {
  font-size: 0; // hack to remove extra space between stat cards
  transition: margin 0.3s;

  &.open {
    margin-right: $sidebar-width;
  }
}

.stat-values {
  float: right;
}

.toggle {
  position: relative;
  top: -1px;
}

.toggle.closed {
  transform: rotate(180deg);
}

div.closed {
  height: 0;
  transition: margin 0.3s;
  overflow: hidden;
}

.stat-section {
  padding: 0 15px;
  width: 100%;
  flex-direction: column !important;
}

.stat-collapse {
  text-align: right;
}

.stat-header {
  margin: 18px 0;
  align-self: auto;
}
