<div class="stat-section options-panel">
  <h4 class="stat-header">
    {{ 'VM_PAGE.RESOURCE_USAGE.TITLE' | translate }}
    <button
      md-icon-button
      class="toggle"
      [class.closed]="!isOpen"
      (click)="handleCollapse($event)"
    >
      <md-icon>keyboard_arrow_up</md-icon>
    </button>
  </h4>
  <div class="stat-list" [class.closed]="!isOpen">
    <ng-container *ngIf="isAdmin">
      <md-button-toggle-group (change)="switchType()">
        <md-button-toggle value="0" checked="0">
          {{ 'VM_PAGE.RESOURCE_USAGE.ACCOUNT' | translate }}
        </md-button-toggle>
        <md-button-toggle value="1">
          {{ 'VM_PAGE.RESOURCE_USAGE.DOMAIN' | translate }}
        </md-button-toggle>
      </md-button-toggle-group>
      <cs-divider-vertical></cs-divider-vertical>
    </ng-container>
    <md-button-toggle-group (change)="switchMode()">
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="0">
          <md-button-toggle value="0" checked="true">
            {{ 'VM_PAGE.RESOURCE_USAGE.USED' | translate }}
          </md-button-toggle>
          <md-button-toggle value="1">
            {{ 'VM_PAGE.RESOURCE_USAGE.FREE' | translate }}
          </md-button-toggle>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <md-button-toggle value="0">
            {{ 'VM_PAGE.RESOURCE_USAGE.USED' | translate }}
          </md-button-toggle>
          <md-button-toggle value="1" checked="true">
            {{ 'VM_PAGE.RESOURCE_USAGE.FREE' | translate }}
          </md-button-toggle>
        </ng-container>
      </ng-container>
    </md-button-toggle-group>
    <div class="stat-list-container">
      <md-card *ngFor="let stat of statsList" class="stat-card-md">
        <md-card-header>
          <md-card-title>
            <h2 class="md-card-title-text">{{ stat.header | translate }}</h2>
          </md-card-title>
        </md-card-header>
        <md-card-content *loading="fetching">
          <div
            *ngFor="let bar of stat.bars; first as f; last as l"
            class="bar"
            [class.single-bar]="f && l"
          >
            {{ bar.title | translate }}
            <div class="stat-values">{{ bar.value() | async}}</div>
            <md-progress-bar [value]="bar.progress()"></md-progress-bar>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
