<div class="stat-section options-panel">
  <h5 class="stat-header">
    {{ 'VM_PAGE.RESOURCE_USAGE.TITLE' | translate }}
    <button
      mat-icon-button
      class="toggle"
      [class.closed]="!isOpen"
      (click)="handleCollapse($event)"
    >
      <mat-icon class="mdi-chevron-up"></mat-icon>
    </button>
  </h5>
  <div class="stat-list" [class.closed]="!isOpen">
    <ng-container *ngIf="isAdmin">
      <mat-button-toggle-group (change)="switchType()">
        <mat-button-toggle value="0" [checked]="statsType === 0">
          {{ 'VM_PAGE.RESOURCE_USAGE.ACCOUNT' | translate }}
        </mat-button-toggle>
        <mat-button-toggle value="1" [checked]="statsType === 1">
          {{ 'VM_PAGE.RESOURCE_USAGE.DOMAIN' | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
    <mat-button-toggle-group (change)="switchMode()">
      <mat-button-toggle value="0" [checked]="mode === 0">
        {{ 'VM_PAGE.RESOURCE_USAGE.USED' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="1" [checked]="mode === 1">
        {{ 'VM_PAGE.RESOURCE_USAGE.FREE' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="stat-list-container">
      <mat-card
        *ngFor="let stat of statsList"
        class="stat-card-md"
      >
        <mat-card-header>
          <mat-card-title>
            <h2 class="mat-card-title-text">{{ stat.header | translate }}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *loading="fetching">
          <div
            *ngFor="let bar of stat.bars; first as f; last as language"
            class="bar"
            [class.single-bar]="f && l"
          >
            {{ bar.title | translate }}
            <div class="stat-values">{{ bar.value() | async}}</div>
            <mat-progress-bar [value]="bar.progress()"></mat-progress-bar>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
