<div class="stat-section options-panel">
  <h4 class="stat-header">
    {{ 'VM_PAGE.RESOURCE_USAGE.TITLE' | translate }}
    <button
      mdl-button
      mdl-button-type="icon"
      class="toggle"
      [class.closed]="!isOpen"
      (click)="handleCollapse($event)"
    >
      <md-icon>keyboard_arrow_up</md-icon>
    </button>
  </h4>
  <div class="stat-list" [class.closed]="!isOpen">
    <md-tab-group
      class="tab-switch"
      [selectedIndex]="mode"
      (selectChange)="switchMode()"
    >
      <md-tab label="{{ 'VM_PAGE.RESOURCE_USAGE.USED' | translate }}"></md-tab>
      <md-tab label="{{ 'VM_PAGE.RESOURCE_USAGE.FREE' | translate }}"></md-tab>
    </md-tab-group>
    <div class="stat-list-container">
      <md-card *ngFor="let stat of statsList" class="stat-card-md">
        <md-card-header>
          <md-card-title>
            <h2 class="md-card-title-text">{{ stat.header | translate }}</h2>
          </md-card-title>
        </md-card-header>
        <md-card-content *loading="fetching">
          <div
            *ngFor="let bar of stat.bars; first as f; last as l"
            class="bar"
            [class.single-bar]="f && l"
          >
            {{ bar.title | translate }}
            <div class="stat-values">{{ bar.value() | async}}</div>
            <mdl-progress [progress]="bar.progress()"></mdl-progress>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
