@import '../../../../style/__variables.scss';

.tab-switch {
  margin: 0 auto 0px 15px;
  text-transform: uppercase;
}

.progress {
  margin-left: 16px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
}

.progress-title {
  padding-bottom: 16px;
}

.single-bar {
  margin-top: 24px !important;
}

.bar {
  padding-bottom: 4px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;

  &.bar:last-child {
    margin-bottom: 0;
  }
}

.second-bar {
  margin-top: 20px;
}

.stat-list {
  font-size: 0; // hack to remove extra space between stat cards
  transition: margin 0.3s;

  &.open {
    margin-right: $sidebar-width;
  }

  & .stat-list-container {
    min-height: 156px;
    max-width: 100%;
    margin: 0 15px 15px 0;
  }
}

.stat-values {
  position: absolute;
  padding-right: 16px;
  right: 0;
  display: inline-block;
}

.stat-list-container md-card {
  display: inline-flex;
  min-height: 156px;
  flex-direction: column;
  overflow: hidden;
}

.footnote {
  color: red;
}

.toggle {
  position: relative;
  top: -1px;
}

.toggle.closed {
  transform: rotate(180deg);
}

div.closed {
  height: 0;
  transition: margin 0.3s;
  overflow: hidden;
}

.stat-section {
  width: 100%;
  flex-direction: column !important;
  box-shadow: none !important;
  margin: 0px;
}

.stat-collapse {
  text-align: right;
}

.stat-header {
  margin: 18px  0 8px 0 !important;
  padding-left: 15px;
  align-self: auto;
}

:host /deep/ md-card-actions {
  padding: 0;
}

md-card md-card-content {
  padding: 0px 16px 16px 16px;
  margin: 0px;
}

:host /deep/ .mat-tab-label {
  min-width: 70px !important;
}

:host /deep/ .mat-tab-header-pagination {
  display: none !important;
}
