@import '../../../../style/__variables.scss';

.progress {
  margin-left: 16px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
}

.progress-title {
  padding-bottom: 16px;
}

.single-bar {
  margin-top: 24px !important;
}

.bar {
  padding-bottom: 4px;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;

  &.bar:last-child {
    margin-bottom: 0;
  }

  mat-progress-bar {
    margin-top: 4px;
  }
}

.second-bar {
  margin-top: 20px;
}

.stat-list {
  transition: margin 0.3s;
  align-self: flex-start;

  &.open {
    margin-right: $sidebar-width;
  }

  & .stat-list-container {
    min-height: 156px;
    max-width: 100%;
    margin: 15px 0 0 15px;
  }
}

.stat-values {
  position: absolute;
  padding-right: 16px;
  right: 0;
  display: inline-block;
}

.stat-list-container mat-card {
  display: inline-flex;
  min-height: 156px;
  flex-direction: column;
  overflow: hidden;
}

.footnote {
  color: red;
}

.toggle {
  position: relative;
  top: -1px;
}

.toggle.closed {
  transform: rotate(180deg);
}

div.closed {
  height: 0;
  transition: margin 0.3s;
  overflow: hidden;
}

.stat-section {
  width: 100%;
  flex-direction: column !important;
  box-shadow: none !important;
  margin: 0;
}

.stat-collapse {
  text-align: right;
}

.stat-header {
  margin: 18px 0 2px 0 !important;
  padding-left: 15px;
  align-self: auto;
  font-size: 20px !important;
}

:host /deep/ mat-card-actions {
  padding: 0;
}

mat-card mat-card-content {
  padding: 0 16px 16px 16px;
  margin: 0;
}

cs-divider-vertical {
  height: 40px;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

:host /deep/ .mat-button-toggle-group {
  margin-left: 15px;
}
