.overlay {
  position: static;
  max-height: 50vh;
  height: 40vh;
  background: white;
  z-index: 9999999999999;

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
