<div *ngIf="entity">
  <div class="title-container">
    <h4 class="details-header">{{ entity.name }}</h4>
    <button *ngIf="isAdmin()"
      mat-icon-button
      [matMenuTriggerFor]="actionsMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

</div>

<mat-menu #actionsMenu="matMenu">
  <cs-account-action-container *ngIf="entity"
    [account]="entity"
  ></cs-account-action-container>
</mat-menu>

<router-outlet></router-outlet>

<cs-overlay-loading [active]="!entity"></cs-overlay-loading>
