:host ::ng-deep .name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

:host ::ng-deep .value {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  text-align: right;
  white-space: nowrap;
}

:host ::ng-deep .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host ::ng-deep .left {
  margin-right: 15px;
  span {
    width: 100%;
  }
}

:host ::ng-deep .buttons {
  display: none;
  margin-left: 10px;
}

:host ::ng-deep .height-container {
  display: flex;
  align-items: center;
  min-height: 32px;
}

:host ::ng-deep .container {
  width: 100%;
}

:host ::ng-deep .container:hover .buttons {
  display: flex;
}
