<div *loading="changingGroupInProgress">
  <h3 class="mdl-dialog__title">{{ 'SELECT_AFFINITY_GROUP' | translate }}</h3>
  <div *loading="!affinityGroups" class="mdl-dialog__content">
    <mdl-select
      *ngIf="affinityGroups?.length; else noGroups"
      [(ngModel)]="selectedAffinityGroup"
    >
      <mdl-option *ngIf="vm.affinityGroup.length" value="">{{ 'NO_GROUP' | translate }}</mdl-option>
      <mdl-option *ngFor="let ag of affinityGroups" [value]="ag.id">
        {{ ag.name }}
      </mdl-option>
    </mdl-select>
    <ng-template #noGroups>{{ 'NO_AFFINITY_GROUPS' | translate }}</ng-template>
  </div>
  <div class="mdl-dialog__actions">
    <button
      (click)="changeAffinityGroup()"
      [disabled]="selectedAffinityGroup == null"
      mdl-button
      mdl-colored="primary"
    >
      {{ 'CHANGE' | translate }}
    </button>
    <button (click)="hide()" mdl-button mdl-colored="primary">
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</div>
