<div *ngIf="vm">
  <div>
    <h2 class="details-header vm-details-header">{{ 'COLOR' | translate }}</h2>
    <cs-color-picker
      class="details-select"
      [selectedColor]="color"
      (onColorChanged)="changeColor($event)"
    ></cs-color-picker>
  </div>

  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'ZONE' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.zoneName }}</div>
    </mdl-card-supporting-text>
  </mdl-card>

  <mdl-card
    class="vm-card overflow-card"
    *ngIf="groupNames"
    mdl-shadow="2"
  >
    <mdl-card-title>
      {{ 'GROUP' | translate }}
    </mdl-card-title>
    <mdl-card-supporting-text class="overflow-card">
      <mdl-autocomplete
        class="details-select"
        [placeholder]="'NO_GROUP' | translate"
        [(ngModel)]="groupName"
        [options]="groupNames"
      ></mdl-autocomplete>
    </mdl-card-supporting-text>
    <mdl-card-actions *ngIf="doShowChangeGroupButton" mdl-card-border>
      <mdl-button
        class="button-align-right"
        type="button"
        mdl-button
        mdl-ripple
        (click)="$event.stopPropagation(); changeGroup()"
      >
        {{ 'ASSIGN' | translate }}
      </mdl-button>
    </mdl-card-actions>
  </mdl-card>

  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'SERVICE_OFFERING' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="grid service-offering" [class.open]="expandServiceOffering">
        <div class="row" *ngFor="let key of vm.serviceOffering.keys">
          <template [ngIf]="isNotFormattedField(key)">
            <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
            <div>{{ vm.serviceOffering[key] | viewValue | async }}</div>
          </template>
          <template [ngIf]="isDateField(key)">
            <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
            <div>{{ vm.serviceOffering[key] | date:'y-MM-dd H:m:s' }}</div>
          </template>
          <template [ngIf]="isDiskStatsField(key)">
            <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
            <div>{{ vm.serviceOffering[key] | division:10:6 }}</div>
          </template>
        </div>
      </div>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <div class="card-left-button">
        <button
          mdl-button
          mdl-button-type="icon"
          (click)="changeServiceOffering()"
        >
          <mdl-icon>edit</mdl-icon>
        </button>
      </div>
      <div class="card-right-button">
        <button
          mdl-button
          mdl-ripple
          mdl-button-type="icon"
          (click)="toggleServiceOffering()"
          [class.open]="expandServiceOffering"
        >
          <mdl-icon>keyboard_arrow_down</mdl-icon>
        </button>
      </div>
    </mdl-card-actions>
    <mdl-card-menu>
    </mdl-card-menu>
  </mdl-card>

  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'NETWORK_CONFIGURATION' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="collapsed-panel grid nic" *ngIf="!expandNIC">
        <div class="row" *ngFor="let nic of vm.nic; let i = index">
          <div>
            {{ 'NIC' | translate }} {{ i+1 }}
          </div>
          <div>
            {{ nic.ipAddress }}
          </div>
        </div>
      </div>
      <div class="expanded-panel grid nic" *ngIf="expandNIC">
        <div *ngFor="let nic of vm.nic; let i = index">
          <div class="nic-name">{{ 'NIC' | translate }} {{i+1}}</div>
          <div *ngFor="let key of nic.keys; let i = index">
            <div class="row"
              *ngIf="key !== 'id' && key !== 'networkId' &&
                  key !== 'deviceid' && key !== 'virtualMachineId' && key !== 'secondaryIp'"
            >
              <div>{{ 'NETWORK_INTERFACE_CONTROLLER_FIELDS.' + key | translate }}</div>
              <div>{{ nic[key] | viewValue | async }}</div>
            </div>
            <ng-container *ngIf="key === 'secondaryIp'">
              <div class="row">
                <div>{{ 'NETWORK_INTERFACE_CONTROLLER_FIELDS.' + key | translate }}</div>
                <div>
                  <button
                    mdl-button
                    mdl-button-type="icon"
                    class="mdl-icon-button--small"
                    (click)="confirmAddSecondaryIp(vm)"
                  >
                    <mdl-icon class="mdl-icon--small">add</mdl-icon>
                  </button>
                </div>
              </div>
              <div class="secondary-ips">
                <div class="row" *ngFor="let ip of nic.secondaryIp">
                  <div>{{ip.ipaddress}}</div>
                  <div>
                    <button
                      mdl-button
                      mdl-button-type="icon"
                      class="mdl-icon-button--small"
                      (click)="confirmRemoveSecondaryIp(ip.id, vm)"
                    >
                      <mdl-icon class="mdl-icon--small">delete</mdl-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border style="text-align: right;">
      <button
        mdl-button
        mdl-ripple
        mdl-button-type="icon"
        (click)="toggleNIC()"
        [class.open]="expandNIC"
      >
        <mdl-icon>keyboard_arrow_down</mdl-icon>
      </button>
    </mdl-card-actions>
  </mdl-card>

  <mdl-card
    *ngIf="!disableSecurityGroup"
    class="vm-card"
    mdl-shadow="2"
  >
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'FIREWALL_RULES' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="grid security-group">
        <div class="row">
          <div>{{ 'INGRESS' | translate }}</div>
          <div>{{ vm.securityGroup[0]?.ingressRules.length }}</div>
        </div>
        <div class="row">
          <div>{{ 'EGRESS' | translate}}</div>
          <div>{{ vm.securityGroup[0]?.egressRules.length }}</div>
        </div>
      </div>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button
        mdl-button
        mdl-button-type="icon"
        (click)="showRulesDialog(vm.securityGroup[0])"
      >
        <mdl-icon>edit</mdl-icon>
      </button>
    </mdl-card-actions>
  </mdl-card>

  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'AFFINITY_GROUP' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div *ngFor="let affinityGroup of vm.affinityGroup">{{ affinityGroup.name }}</div>
      <div *ngIf="!vm.affinityGroup.length">{{ 'NO_AFFINITY_GROUP' | translate }}</div>
    </mdl-card-supporting-text>
  </mdl-card>

  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'TEMPLATE' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.templateName }}</div>
    </mdl-card-supporting-text>
  </mdl-card>

  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>{{ 'STATISTICS' | translate }}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="grid statistics">
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.CPU_UTILIZED' | translate }}</div>
          <div>{{ vm.cpuUsed }}</div>
        </div>
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.NETWORK_READ' | translate }}</div>
          <div>{{ vm.networkKbsRead }} KB</div>
        </div>
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.NETWORK_WRITE' | translate }}</div>
          <div>{{ vm.networkKbsWrite }} KB</div>
        </div>
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.DISK_READ' | translate }}</div>
          <div>{{ vm.diskKbsRead }} KB</div>
        </div>
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.DISK_WRITE' | translate }}</div>
          <div>{{ vm.diskKbsWrite }} KB</div>
        </div>
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.DISK_READ_IO' | translate }}</div>
          <div>{{ vm.diskIoRead }}</div>
        </div>
        <div class="row">
          <div>{{ 'STATISTICS_FIELDS.DISK_WRITE_IO' | translate }}</div>
          <div>{{ vm.diskIoWrite }}</div>
        </div>
      </div>
    </mdl-card-supporting-text>
  </mdl-card>
</div>
