<div *ngIf="vm">
  <div>
    <cs-vm-color [vm]="vm"></cs-vm-color>

    <cs-description
      [description]="description"
      (descriptionChange)="changeDescription($event)"
    ></cs-description>

    <mdl-card class="vm-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ 'ZONE' | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div>{{ vm.zoneName }}</div>
      </mdl-card-supporting-text>
    </mdl-card>

    <cs-instance-group [vm]="vm"></cs-instance-group>

    <mdl-card class="vm-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ 'SERVICE_OFFERING' | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="grid service-offering" [class.open]="expandServiceOffering">
          <div class="row" *ngFor="let key of vm.serviceOffering.keys">
            <ng-template [ngIf]="isNotFormattedField(key)">
              <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
              <div>{{ vm.serviceOffering[key] | viewValue | async }}</div>
            </ng-template>
            <ng-template [ngIf]="isDateField(key)">
              <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
              <div>{{ vm.serviceOffering[key] | date:'y-MM-dd H:m:s' }}</div>
            </ng-template>
            <ng-template [ngIf]="isDiskStatsField(key)">
              <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
              <div>{{ vm.serviceOffering[key] | division:10:6 }}</div>
            </ng-template>
            <ng-template [ngIf]="isTranslatedField(key)">
              <div>{{ ('SERVICE_OFFERING_FIELDS.' + key) | translate }}</div>
              <div *ngIf="vm?.serviceOffering[key]">
                {{ 'SERVICE_OFFERING_VALUES.' + vm.serviceOffering[key] | translate }}
              </div>
            </ng-template>
          </div>
        </div>
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <div class="card-left-button">
          <button
            [mdTooltip]="'CHANGE' | translate"
            mdTooltipPosition="above"
            mdl-button
            mdl-button-type="icon"
            (click)="changeServiceOffering()"
          >
            <mdl-icon>edit</mdl-icon>
          </button>
        </div>
        <div class="card-right-button">
          <button
            mdl-button
            mdl-ripple
            mdl-button-type="icon"
            (click)="toggleServiceOffering()"
            [class.open]="expandServiceOffering"
          >
            <mdl-icon>keyboard_arrow_down</mdl-icon>
          </button>
        </div>
      </mdl-card-actions>
      <mdl-card-menu>
      </mdl-card-menu>
    </mdl-card>

    <mdl-card class="vm-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ 'AFFINITY_GROUP' | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div *ngFor="let affinityGroup of vm.affinityGroup">{{ affinityGroup.name }}</div>
        <div *ngIf="!vm.affinityGroup.length">{{ 'NO_AFFINITY_GROUP' | translate }}</div>
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <button
          [mdTooltip]="'EDIT' | translate"
          mdTooltipPosition="above"
          mdl-button
          mdl-button-type="icon"
          (click)="changeAffinityGroup()"
        >
          <mdl-icon>edit</mdl-icon>
        </button>
      </mdl-card-actions>
    </mdl-card>

    <mdl-card class="vm-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ 'TEMPLATE' | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div>{{ vm.templateName }}</div>
      </mdl-card-supporting-text>
    </mdl-card>

    <mdl-card class="vm-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ 'SSH_KEY' | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <span *ngIf="vm.keyPair; else noKeys">{{ vm.keyPair }}</span>
        <ng-template #noKeys>{{ 'NO_SSH_KEY' | translate }}</ng-template>
      </mdl-card-supporting-text>
      <mdl-card-actions mdl-card-border>
        <mdl-button
          [mdTooltip]="(vm.keyPair ? 'EDIT': 'ADD') | translate"
          mdTooltipPosition="above"
          mdl-button-type="icon"
          (click)="resetSshKey()"
        >
          <mdl-icon *ngIf="vm.keyPair; else add">edit</mdl-icon>
          <ng-template #add><mdl-icon>add</mdl-icon></ng-template>
        </mdl-button>
      </mdl-card-actions>
    </mdl-card>

    <mdl-card class="vm-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>{{ 'STATISTICS' | translate }}</h2>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="grid statistics">
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.CPU_UTILIZED' | translate }}</div>
            <div>{{ vm.cpuUsed || 0 }}</div>
          </div>
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.NETWORK_READ' | translate }}</div>
            <div>{{ vm.networkKbsRead || 0 }} KB</div>
          </div>
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.NETWORK_WRITE' | translate }}</div>
            <div>{{ vm.networkKbsWrite || 0 }} KB</div>
          </div>
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.DISK_READ' | translate }}</div>
            <div>{{ vm.diskKbsRead || 0 }} KB</div>
          </div>
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.DISK_WRITE' | translate }}</div>
            <div>{{ vm.diskKbsWrite || 0 }} KB</div>
          </div>
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.DISK_READ_IO' | translate }}</div>
            <div>{{ 'IOPS' | translate:{ value: vm.diskIoRead || 0 } }}</div>
          </div>
          <div class="row">
            <div>{{ 'STATISTICS_FIELDS.DISK_WRITE_IO' | translate }}</div>
            <div>{{ 'IOPS' | translate:{ value: vm.diskIoWrite || 0 } }}</div>
          </div>
        </div>
      </mdl-card-supporting-text>
      <mdl-card-menu>
        <button
          mdl-button
          mdl-ripple
          mdl-button-type="icon"
          mdTooltipPosition="before"
          [mdTooltip]="'REFRESH' | translate"
          (click)="updateStats()"
        >
          <mdl-icon>sync</mdl-icon>
        </button>
      </mdl-card-menu>
    </mdl-card>
  </div>
</div>
