@import '../../../style/__variables';

.grid.service-offering {
  overflow: hidden;
  height: 5 * $sidebar-card-line-height;

  &.open {
    height: auto;
  }
}

.nic .row > div:nth-child(2n),
.security-group .row > div:nth-child(2n),
.service-offering .row > div:nth-child(2n),
.statistics .row > div:nth-child(2n)
{
  text-align: right;
}

.nic-name {
  font-weight: bolder;
  padding: 2px;
}

.expand-button {
  float: right;
}

.change-offering-button {
  display: inline-block;
}

.color-header {
  height: 30px;
  margin: 0 0 6px 6px;
}
