<div>
  <div *ngIf="vm">
    <h4 class="details-header">{{ vm.displayName }}</h4>
    <mdl-tabs mdl-ripple mdl-tab-active-index="0">

      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <mdl-icon [mdl-tooltip]="vmTooltip">computer</mdl-icon>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          <cs-vm-detail [vm]="vm"></cs-vm-detail>
        </mdl-tab-panel-content>
      </mdl-tab-panel>

      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <mdl-icon [mdl-tooltip]="storageTooltip">storage</mdl-icon>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          <cs-storage-detail [vm]="vm"></cs-storage-detail>
        </mdl-tab-panel-content>
      </mdl-tab-panel>

      <mdl-tab-panel>
        <mdl-tab-panel-title [mdl-tooltip]="networkTooltip">
          <mdl-icon>router</mdl-icon>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          <cs-network-detail [vm]="vm"></cs-network-detail>
        </mdl-tab-panel-content>
      </mdl-tab-panel>

      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <mdl-icon>local_offer</mdl-icon>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          <cs-vm-tags [entity]="vm"></cs-vm-tags>
        </mdl-tab-panel-content>
      </mdl-tab-panel>

    </mdl-tabs>
  </div>
</div>
<mdl-tooltip #vmTooltip="mdlTooltip">
  {{ 'VM_VIEW' | translate }}
</mdl-tooltip>
<mdl-tooltip #storageTooltip="mdlTooltip">
  {{ 'VM_STORAGE_VIEW' | translate }}
</mdl-tooltip>
<mdl-tooltip #networkTooltip="mdlTooltip">
  {{ 'VM_NETWORK_VIEW' | translate }}
</mdl-tooltip>
<mdl-tooltip #tagsTooltip="mdlTooltip">
  {{ 'VM_TAGS_VIEW' | translate }}
</mdl-tooltip>
