$line-height: 22px;
$sidebar-width: 365px;

:host {
  height: 100%;
  position: absolute;
  top: 0;
  right: -($sidebar-width);
  width: $sidebar-width;
  box-sizing: border-box;
  transition: right 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fafafa;
  padding: 10px 5px;
  border-left: 1px solid #E0E0E0;
  z-index: 5;
}

:host.open {
  right: 0;
}

:host /deep/ h4 {
  margin: 0 5px;
}

:host /deep/ mdl-card {
  min-height: initial;
  margin: 5px;
}

:host /deep/ .grid {
  margin: 5px auto;

  .row {
    display: flex;
    flex-flow: row wrap;

    & > div {
      width: 50%;
      padding: 2px;
    }
  }
}

:host /deep/ button {
  transition: transform 0.3s;
}

:host /deep/ button.open {
  transform: rotate(180deg);
}

:host /deep/ .mdl-tabs__tab-bar {
  & > div {
    width: 50%;
  }
  .mdl-tabs__tab {
    width: 100%;
  }
  width: 340px;
}

:host /deep/ mdl-card-supporting-text {
  width: 100%
}

.details-header {
  width: 340px;
}

:host /deep/ .collapsed-panel .row,
:host /deep/ .expanded-panel .row {
  display: flex;
  justify-content: space-between;
}
