mat-icon {
  line-height: 48px;
}

h3 {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px !important;
}

:host /deep/ .mat-tab-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

:host /deep/ .mat-tab-link {
  min-width: 75px !important;
}

.title-color-container {
  width: 35px;
}

:host /deep/ .security-group {
  .row {
    padding: 2px;
  }
  .sg-name {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .mat-icon-button--small {
    min-width: 20px;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    margin-left: 5px;
  }

  .mat-icon--small {
    width: 18px !important;
    height: 18px !important;
    font-size: 18px !important;
    line-height: 18px !important;
  }
}

.vm-actions-button {
  margin: 5px;
  position: relative !important;
}

.vm-actions-container {
  text-align: right;
}
