<h3 class="mdl-dialog__title">{{ 'VOLUME_RESIZE_VOLUME' | translate }}</h3>
<div class="mdl-dialog__content">
  <form (ngSubmit)="resizeVolume()" #volumeResizeForm="ngForm">
    <cs-volume-size-control
      [min]="volume.size | divByPowerOfTwo:30"
      [max]="maxSize"
      [label]="'VOLUME_NEW_SIZE' | translate"
      [(ngModel)]="newSize"
      name="new-size"
    ></cs-volume-size-control>
  </form>
</div>
<div class="mdl-dialog__actions">
  <button
    mdl-button
    mdl-colored="primary"
    mdl-ripple
    (click)="resizeVolume()"
    [disabled]="volumeResizeForm.invalid"
  >
    {{ 'VOLUME_RESIZE' | translate }}
  </button>
  <button mdl-button mdl-ripple (click)="dialog.hide()">{{ 'CANCEL' | translate }}</button>
</div>
