<h3 class="mdl-dialog__title">{{ 'VOLUME_RESIZE_VOLUME' | translate }}</h3>
<div class="mdl-dialog__content">
  <div *ngIf="canResize">
    <form
      (ngSubmit)="resizeVolume()"
      #volumeResizeForm="ngForm"
      novalidate
    >
      <div *ngIf="!volume?.isRoot">
        <h5>{{ 'DISK_OFFERING' | translate }}</h5>
        <cs-disk-offering
          [diskOfferingList]="diskOfferingList"
          (offeringUpdated)="updateDiskOffering($event)"
        ></cs-disk-offering>
      </div>
      <cs-slider
        *ngIf="diskOffering?.isCustomized || volume?.isRoot"
        [min]="volume.size | division:2:30"
        [max]="maxSize"
        [label]="'VOLUME_NEW_SIZE' | translate"
        [(ngModel)]="newSize"
        name="new-size"
        [units]="'GB' | translate"
      ></cs-slider>
    </form>
  </div>
  <div *ngIf="!canResize">{{ 'NO_AVAILABLE_OFFERINGS' | translate }}</div>
</div>
<div class="mdl-dialog__actions">
  <button
    *ngIf="canResize"
    mdl-button
    mdl-colored="primary"
    mdl-ripple
    (click)="resizeVolume()"
    [disabled]="volumeResizeForm?.invalid"
  >
    {{ 'VOLUME_RESIZE' | translate }}
  </button>
  <button
    mdl-button
    mdl-colored="primary"
    mdl-ripple
    (click)="dialog.hide()"
  >
    {{ 'CANCEL' | translate }}
  </button>
</div>
