<cs-list
  (action)="showCreationDialog()"
  [isOpen]="listService.hasSelected() && showSidebarDetails"
  [creationEnabled]="isCreationEnabled"
>
  <ng-container cs-panels>
    <cs-top-bar>
      <cs-sg-filter-container></cs-sg-filter-container>
    </cs-top-bar>
  </ng-container>

  <ng-container *loading="isLoading" cs-list>
    <div class="switch-panel">
      <cs-view-mode-switch
        (modeChanged)="changeMode($event)"
        [key]="viewModeKey"
      >
      </cs-view-mode-switch>
    </div>
    <cs-security-group-list
      [securityGroups]="securityGroups"
      [query]="query"
      [viewMode]="viewMode"
      [mode]="mode"
      [vmList]="vmList"
      cs-list
    ></cs-security-group-list>
  </ng-container>


  <ng-container cs-sidebar>
    <cs-sidebar [isOpen]="listService.hasSelected() && showSidebarDetails">
      <router-outlet></router-outlet>
    </cs-sidebar>
  </ng-container>
</cs-list>

