:host {
  width: 100%;
}

button {
  transition: margin .4s cubic-bezier(.25,.8,.25,1);
  right: 10px;
  align-self: flex-end;
  margin-bottom: 15px;
  margin-right: 7px;
  margin-top: 10px;
  z-index: 99;
}
