@import "../../node_modules/@angular/material/theming";

@import "../app/navigation/app-sidebar-theme";
@import "../app/settings/api-info/api-info-theme";
@import "../app/shared/components/date-picker/date-picker-theme";
@import "../app/shared/badge/badge-theme";
@import "../app/ssh-keys/ssh-key-creation/ssh-key-creation-dialog-theme";

@mixin cs-ui-theme($theme) {
  @include app-sidebar-theme($theme);
  @include api-info-theme($theme);
  @include badge-theme($theme);
  @include date-picker-theme($theme);
  @include ssh-key-creation-dialog-theme($theme);
}
