// styles in src/style directory are applied to the whole page
@import "~@angular/material/theming";
@import "~dragula/dist/dragula.css";
@import '__variables.scss';
@import '../app/shared/styles/overlay';
@import '../app/shared/styles/text-overflow-tooltip-fix';
@import '../app/shared/styles/mat-input';
@import '../app/shared/styles/entity-cards';
@import '../app/shared/styles/entity-list-item';
@import '../app/shared/directives/badge/badge';
@import "typography";
@import "app-theme";


@include mat-core();

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-red, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include cs-ui-theme($theme);

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.switch-panel {
  display: flex;
  justify-content: flex-end;
  button {
    right: 10px;
    align-self: flex-end;
    margin-top: 10px;
  }
}

.disabled-link {
  cursor: pointer;
}

.mat-tooltip {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-position-fix {
  overflow: hidden;
  max-width: 100%;
  display: inline-block !important;
  text-overflow: ellipsis;
  width: auto !important;
  @extend .text-overflow-tooltip-fix;
}

mat-list-item {
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.row-title {
  margin: 0 5px 0 0;
  font-size: 15px;
  line-height: normal;
  flex-grow: 2;
  flex-basis: 100px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row-action {
  position: absolute !important;
  right: 3px;
  top: 8px;
}

.mat-list-item-content {
  z-index: 0;
  line-height: normal;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px !important;
}

mat-card {
  padding: 0 !important;
  width: 288px;
  margin: 0 15px 15px 0;
}

cs-sidebar mat-card {
  width: auto;
  margin: 5px;
}

mat-card mat-card-header {
  padding: 16px;
}

mat-card mat-card-title,
mat-card .mat-card-header-text {
  margin: 0 !important;
}

mat-card mat-card-header h2 {
  margin: 0;
  font-size: 17px;
  line-height: normal;

  &.mat-card-title-text {
    max-width: 250px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

mat-card mat-card-header .mat-card-header-menu {
  position: absolute;
  top: 8px !important;
  right: 8px !important;
}

mat-card mat-card-content {
  color: rgba(0, 0, 0, 0.54);
  padding: 0 16px 16px 16px;
  margin-bottom: 0 !important;
  line-height: 18px;
  font-size: 13.5px !important;
}

mat-card .mat-card-content-with-actions {
  padding-bottom: 0;
}

mat-card .mat-card-content-container {
  padding-bottom: 16px;
  word-wrap: break-word;
}

mat-card.custom-card {
  min-height: 0;

  & .mat-card-title-text {
    @extend .tooltip-position-fix;
  }

  & mat-card-actions {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  & mat-card-title > h2 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    height: 1.2em;
  }
}

.options-panel {
  box-sizing: border-box;
  z-index: 1;
  background-color: #fff;
  width: 100% !important;
  min-height: initial !important;
  overflow: visible !important;
  margin: 0 !important;
  position: relative;
  box-shadow: none !important;
  display: flex;

  & > * {
    align-self: center;
  }

  &.delimiter {
    border-bottom: 1px solid #dedede;
  }
}

.grid {
  .row {
    display: flex;
    flex-flow: row wrap;

    & > div {
      width: 50%;
      padding: 2px 2px 2px 0 !important;
    }

    & > div:nth-child(2n) {
      text-align: right;
    }
  }
}

.card-selected {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
  transition: 0.25s, box-shadow 0.25s;
  z-index: 1;
  position: relative;
}

.padding {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-bottom: 15px;
}

mat-form-field.form-select-control {
  width: 100%;
  //margin: 20px 0;
}

.mat-form-field-infix {
  width: 160px !important;
}

.filter-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  > * {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  + .filter-wrapper {
    border-top: 1px solid #dedede;
  }
}

.mat-dialog-content .filter-wrapper {
  padding: 0;
}

.section-header {
  margin: 0;
  padding: 15px 15px 0 15px;
}

.popover-actions {
  padding: 1rem;
  color: rgba(0, 0, 0, .87);
}

.mat-icon-button mat-icon {
  color: black !important;
}

.mat-card-header-menu .mat-icon-button mat-icon {
  color: inherit !important;
}

.mat-icon-button[disabled] mat-icon {
  color: rgba(0, 0, 0, .26) !important;
  cursor: default;
  background-color: transparent;
}

.dialog-overflow-visible {
  overflow: visible !important;
}

mat-card-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px !important;
  min-height: 49px;
  background-color: transparent;
}

.card-left-button {
  display: inline-block;
}

.card-right-button {
  float: right;
}

.arrow {
  cursor: initial;
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.dialog-container-overlay {
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
}

.dialog-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dialog-backdrop {
  position: absolute !important;
  background: initial !important;
  width: 100vw;
  height: 100vh;
  margin: -20px;
}

.highlight {
  background: #ffeb3b;
}

.search-bar-white {
  background-color: white;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-header {
  width: 340px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

h4.details-header {
  font-size: 17px !important;
}

.mat-row:hover {
  background-color: #eeeeee;
}

mat-cell.mat-cell {
  font-size: 13px;
}

.table-form {
  height: 95px !important;
}

.mat-dialog-container {
  max-height: 95vh !important;
  .mat-dialog-title {
    margin: 0 0 10px !important;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;

  button {
    text-transform: uppercase;
  }
}

.mat-button {
  text-transform: uppercase;
  font-size: 13px !important;
}

.mat-radio-label {
  white-space: initial !important;
}

.mat-dialog-content {
  &.notification {
    color: rgba(0, 0, 0, .54);
    word-wrap: break-word;
  }
  font-size: 13pt;
  padding: 0 24px !important;
  max-height: 100% !important;
}

.mat-icon-button {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
}

/deep/ button {
  &.mat-menu-item {
    font-size: 15px;
    height: 43px;
  }
}

.button-18px {
  min-width: 24px !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;

  mat-icon {
    font-size: 18px !important;
  }
}

.icon-18px {
  font-size: 18px !important;
}

mat-radio-button, mat-checkbox, mat-dialog-content {
  font-size: 11pt !important;
}

mat-button-toggle, mat-form-field, mat-option {
  font-size: 14px !important;
}

h5 {
  font-size: 14px !important;
}

h4 {
  font-size: 16px !important;
}

h3 {
  font-size: 18px !important;
}

.content-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mdi {
  font-size: 24px;
  line-height: 1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

// !workaround ie11 alight-items: center bug
// https://github.com/philipwalton/flexbugs/issues/231
.mat-header-row, .mat-row {
  height: 0;
}

.icmp-autocomplete-width {
  width: 294px;
  left: -72px;
}
