// styles in src/style directory are applied to the whole page
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular-mdl/core/scss/material-design-lite';
@import '~@angular-mdl/popover/popover';
@import '~@angular-mdl/select/select';
@import "~@angular-mdl/core/scss/color-definitions";
@import "~dragula/dist/dragula.css";
@import '__variables.scss';
@import '../app/shared/styles/overlay';
@import '../app/shared/styles/text-overflow-tooltip-fix';
@import '../app/shared/styles/tab-switch';

* {
  box-sizing: border-box;
}

.disabled-link {
  cursor: pointer;
}

.mat-tooltip {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-position-fix {
  overflow: hidden;
  max-width: 100%;
  display: inline-block !important;
  text-overflow: ellipsis;
  width: auto !important;
  @extend .text-overflow-tooltip-fix;
}

md-card {
  padding: 0px !important;
  width: 320px;
  margin: 15px 0px 0px 15px;
}

cs-sidebar md-card {
  width: auto;
  margin: 5px;
}

md-card md-card-header {
  padding: 16px;
}

md-card md-card-title,
md-card .mat-card-header-text {
  margin: 0px !important;
}

md-card md-card-header h2 {
  margin: 0px;
  font-size: 18px;
  line-height: normal;

  &.md-card-title-text {
    max-width: 250px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

md-card md-card-header .md-card-header-menu {
  position: absolute;
  top: 5px !important;
  right: 5px !important;
}

md-card md-card-content {
  color: rgba(0, 0, 0, 0.54);
  padding: 0px 16px 16px 16px;
  margin-bottom: 0px !important;
  line-height: 18px;
}

md-card .md-card-content-with-actions {
  padding-bottom: 0px;
}

md-card .md-card-content-container {
  padding-bottom: 16px;
  word-wrap: break-word;
}

md-card.custom-card {
  min-height: 0;

  & .md-card-title-text {
    @extend .tooltip-position-fix;
  }

  & md-card-actions {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  & md-card-title > h2 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    height: 1.2em;
  }

  & table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
  }

  & table td, table th {
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
  }

  & table tr:first-child th {
    border-top: 0;
  }
  & table tr:last-child td {
    border-bottom: 0;
  }

  & table tr td:first-child,
  & table tr th:first-child {
    border-left: 0;
  }
  & table tr td:last-child,
  & table tr th:last-child {
    border-right: 0;
  }
}

.options-panel {
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  background-color: #fff;
  flex-direction: row !important;
  width: 100% !important;
  min-height: initial !important;
  overflow: visible !important;
  flex-wrap: wrap;
  margin: 0px !important;
  position: relative;
  box-shadow: none !important;

  & > * {
    align-self: center;
  }

  &.delimiter {
    border-bottom: 1px solid #dedede;
  }
}

.mdl-dialog__title {
  font-size: 24px !important;
  font-weight: bold !important;
}

mdl-simple-tooltip div {
  white-space: normal;
  word-break: break-all;
}

.mdl-tabs__tab {
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  padding: 2px;

  & > div.first {
    flex: 1;
  }

  & > div.last {
    flex: 2;

    & span.fixed-length-span {
      display: block;
      width: 215px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.grid {
  .row {
    display: flex;
    flex-flow: row wrap;

    & > div {
      width: 50%;
      padding: 2px;
    }

    & > div:nth-child(2n) {
      text-align: right;
    }
  }
}

.card-selected {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
  transition: 0.25s, box-shadow 0.25s;
}

.padding {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-bottom: 15px;
}

.form-select-control {
  width: 100%;
  margin: 20px 0;
}

.filter-select {
  display: inline-block;
  width: $template-filter-select-width;
  margin: 20px;
}

.section-header {
  margin: 0;
  padding: 15px 15px 0 15px;
}

.detail-list-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.popover-actions {
  padding: 1rem;
  color: rgba(0,0,0,.87);
}

.mdl-layout--fixed-drawer > .mdl-layout__drawer {
  transform: translateX(-240px) !important;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 0 !important;
}

.mdl-layout__drawer-button {
  margin-top: 6px !important;
}

.mdl-button md-icon {
  color: black !important;
}

.mdl-button[disabled] md-icon,
.mdl-button.mdl-button--disabled md-icon {
  color: rgba(0, 0, 0, .26) !important;
  cursor: default;
  background-color: transparent;
}

.mdl-checkbox .mdl-checkbox__box-outline {
  @include material-animation-default(0.28s);
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 0 $checkbox-color;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  box-shadow: inset 0 0 0 1px $checkbox-color;
}

.card-popover {
  top: 0;
  right: 50px;
}

.dialog-overflow-visible {
  overflow: visible !important;
}

.card-list-container md-card {
  margin-top: 15px;
  margin-left: 15px;
}

.card-list-container:last-child {
  margin-bottom: 15px;
}

md-card-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px !important;
  min-height: 49px;
  background-color: transparent;
}

.card-left-button {
  display: inline-block;
}

.card-right-button {
  float: right;
}

.arrow {
  cursor: initial;
}

.state-icon {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.running {
  background-color: #388E3C;
}

.in-progress {
  background-color: #FFA726;
}

.stopped,
.error {
  background-color: #B71C1C;
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.dialog-container-overlay {
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
}

.dialog-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dialog-backdrop {
  position: absolute !important;
  background: initial !important;
  width: 100vw;
  height: 100vh;
  margin: -20px;
}

.highlight {
  background: #ffeb3b;
}

.disc-icon {
  width: 24px;
  height: 24px;
  border: 9px solid #757575;
  border-radius: 50%;
}

.search-bar-white {
  background-color: white;
}
