
input.input-type-number {
  line-height: 24px !important;
}

.input-type-number-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  > button.mat-icon-button {
    width: 24px !important;
    height: 16px !important;
    line-height: 10px !important;

    .mat-icon {
      width: 24px !important;
      height: 16px !important;
      line-height: 10px !important;
    }
  }
}
