// todo: sg template item copypasta, move to app.scc
:host {
  display: inline-flex;
  margin: 15px;
  cursor: pointer;
}

.row {
  height: 20px;
  margin-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper {
  display: flex;

  & > div:first-child {
    flex: 1;
  }

  & > div:last-child {
    flex: 2;

    & span {
      display: block;
      width: 215px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.spare-drive-card {
  min-height: 0;
}

.selected {
  transform: scale(1.03);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s, box-shadow 0.25s;
}
