<ng-container *ngIf="account">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="mat-card-title-text">{{ 'ACCOUNT_PAGE.DETAILS.TITLE' | translate }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-with-actions">
      <div class="mat-card-content-container">
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.ID' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.ID' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.id"
              [matTooltip]="account.id"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.ROLE' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.ROLE' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.rolename"
              [matTooltip]="account.rolename"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.ROLE_TYPE' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.ROLE_TYPE' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.roletype"
              [matTooltip]="account.roletype"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.DOMAIN' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.DOMAIN' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.domain"
              [matTooltip]="account.domain"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.VMS' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.VMS' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.vmtotal"
              [matTooltip]="account.vmtotal"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.IPS' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.IPS' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.iptotal"
              [matTooltip]="account.iptotal"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.R_BYTES' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.R_BYTES' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.receivedbytes"
              [matTooltip]="account.receivedbytes"
            ></div>
          </div>
        </div>
        <div class="height-container">
          <div class="flex-container container">
            <div class="flex-container left">
              <div
                class="name"
                [matTooltip]="'ACCOUNT_PAGE.DETAILS.S_BYTES' | translate"
                [innerHTML]="'ACCOUNT_PAGE.DETAILS.S_BYTES' | translate"
              ></div>
            </div>
            <div
              ngxClipboard
              class="value"
              [innerHTML]="account.sentbytes"
              [matTooltip]="account.sentbytes"
            ></div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<cs-account-settings *ngIf="account && isAdmin()" [account]="account"></cs-account-settings>
<cs-account-limits *ngIf="limits" [limits]="limits" [isAdmin]="isAdmin()" (onLimitsEdit)="updateLimits($event)"></cs-account-limits>
<cs-account-statistics *ngIf="account  && isAdmin()"  [account]="account"></cs-account-statistics>
