<md-card *ngIf="template.downloadUrl" mdl-shadow="2">
  <md-card-header>
    <md-card-title><h2>{{ 'TEMPLATE_PAGE.TEMPLATE_DETAILS.DOWNLOAD_URL' | translate }}</h2></md-card-title>
  </md-card-header>
  <md-card-content>
    <cs-input-group>
      <mdl-textfield
        class="md-card-input-copy"
        cs-input-group-textbox
        readonly
        [ngModel]="template.downloadUrl"
      >
      </mdl-textfield>
      <button
        mdl-button
        mdl-button-type="icon"
        cs-input-group-button
        ngxClipboard
        [cbContent]="template.downloadUrl"
        (cbOnSuccess)="onCopySuccess()"
        (cbOnError)="onCopyFail()"
      >
        <md-icon
          mdTooltipPosition="below"
          [mdTooltip]="'CLIPBOARD.COPY' | translate"
        >
          content_copy
        </md-icon>
      </button>
    </cs-input-group>
  </md-card-content>
</md-card>
