<cs-overlay-loading [active]="isLoading"></cs-overlay-loading>
<div *ngIf="!isLoading">
  <h3 class="mat-dialog-title">{{ 'SSH_KEYS.CREATE_SSH_KEY' | translate }}</h3>
  <form
    (ngSubmit)="onSubmit($event)"
    #sshCreationForm="ngForm"
    novalidate
  >
    <div class="mat-dialog-content">
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="name"
          [(ngModel)]="name"
          [placeholder]="'SSH_KEYS.NAME' | translate"
          autofocus
          required
        >
      </mat-form-field>
      <br/>
      <span class="public-key-label">{{ 'SSH_KEYS.PUBLIC_KEY' | translate }}</span>
      <mat-form-field floatLabel="never" class="full-width-input">
        <textarea
          matInput
          name="public-key"
          [(ngModel)]="publicKey"
          [placeholder]="'SSH_KEYS.AUTO_GENERATED' | translate"
          rows="3"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="mat-dialog-actions">
      <button
        mat-button
        color="primary"
        matDialogClose
        type="button"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!sshCreationForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
