:host {
  display: flex;
  align-items: center;
}

.ssh-creation-form {
  flex: 1;
}

.public-key-label {
  font-size: 12px;
}

.public-key-input {
  padding-top: 0;
}

.public-key-input /deep/ label {
  top: 4px;
}
