<div>
  <div class="mat-dialog-content" [style.padding-bottom.px]="0">
    <p>{{ 'SSH_KEYS.SAVE_THIS_KEY' | translate }}</p>
    <md-input-container class="full-width-input">
      <textarea
        mdInput
        [(ngModel)]="privateKey"
        rows="12"
        readonly
      ></textarea>
    </md-input-container>
  </div>
  <div class="mat-dialog-actions">
    <button
      md-button
      color="primary"
      ngxClipboard
      [cbContent]="privateKey"
      (cbOnSuccess)="onCopySuccess()"
      (cbOnError)="onCopyFail()"
    >
      {{ 'CLIPBOARD.COPY' | translate }}
    </button>
    <button md-button color="primary" mdDialogClose>
      {{ 'COMMON.OK' | translate }}
    </button>
  </div>
</div>
