<div class="list-builder">
  <div class="left-list">
    <div class="flex-container">
      <h5>{{ 'SECURITY_GROUP_SELECTOR.ALL_GROUPS' | translate }}</h5>
      <button
        mat-button
        *ngIf="securityGroups[SecurityGroupBuilderTemplates.NotSelected].length"
        (click)="selectAll()"
      >
        {{ 'COMMON.SELECT_ALL' | translate }}
      </button>
    </div>
    <mat-list>
      <mat-list-item
        *ngFor="let securityGroup of securityGroups[SecurityGroupBuilderTemplates.NotSelected]; let i = index"
        [class.active]="selectedColumnIndex === SecurityGroupBuilderTemplates.NotSelected && selectedGroupIndex === i"
        (click)="selectGroup(i, true)"
      >
        <h4 matLine>
          {{ securityGroup.name }}
        </h4>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="buttons-container">
    <button
      mat-icon-button
      (click)="moveRight()"
      disabled="{{ selectedColumnIndex !== 0 }}"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="moveLeft()"
      disabled="{{ selectedColumnIndex !== 1 }}"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
  <div class="right-list">
    <div class="flex-container">
      <h5>{{ 'SECURITY_GROUP_SELECTOR.SELECTED_GROUPS' | translate }}</h5>
      <button
        mat-button
        *ngIf="securityGroups[SecurityGroupBuilderTemplates.Selected].length"
        (click)="reset()"
      >{{ 'COMMON.RESET' | translate }}
      </button>
    </div>
    <mat-list>
      <mat-list-item
        *ngFor="let securityGroup of securityGroups[SecurityGroupBuilderTemplates.Selected]; let i=index"
        [class.active]="selectedColumnIndex === SecurityGroupBuilderTemplates.Selected && selectedGroupIndex === i"
        (click)="selectGroup(i, false)"
      >
        <h4 matLine>
          {{ securityGroup.name }}
        </h4>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div class="rules-list">
  <h5>{{ 'SECURITY_GROUP_SELECTOR.NETWORK_RULES' | translate }}</h5>
  <mat-list>
    <cs-security-group-builder-rule
      *ngFor="let rule of selectedRules[NetworkRuleTypes.Ingress]"
      [item]="rule"
      [type]="NetworkRuleType.Ingress"
      (onCheckChange)="onRulesChange($event)"
    ></cs-security-group-builder-rule>
    <cs-security-group-builder-rule
      *ngFor="let rule of selectedRules[NetworkRuleTypes.Egress]"
      [item]="rule"
      [type]="NetworkRuleType.Egress"
      (onCheckChange)="onRulesChange($event)"
    ></cs-security-group-builder-rule>
  </mat-list>
</div>

