<div class="list-builder">
  <div class="left-list">
    <div class="flex-container">
      <h3>{{ 'SECURITY_GROUP_SELECTOR.ALL_GROUPS' | translate }}</h3>
      <button
        mat-button
        *ngIf="securityGroups.available.length"
        (click)="selectAll()"
      >
        {{ 'COMMON.SELECT_ALL' | translate }}
      </button>
    </div>
    <mat-list>
      <mat-list-item
        *ngFor="let securityGroup of securityGroups.available; let i = index"
        [class.active]="selectedColumnIndex === 0 && selectedGroupIndex === i"
        (click)="selectGroup(i, true)"
      >
        <h5 matLine>
          {{ securityGroup.name }}
        </h5>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="buttons-container">
    <button
      mat-icon-button
      (click)="moveRight()"
      disabled="{{ selectedColumnIndex !== 0 }}"
    >
      <mat-icon class="mdi-chevron-right"></mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="moveLeft()"
      disabled="{{ selectedColumnIndex !== 1 }}"
    >
      <mat-icon class="mdi-chevron-left"></mat-icon>
    </button>
  </div>
  <div class="right-list">
    <div class="flex-container">
      <h3>{{ 'SECURITY_GROUP_SELECTOR.SELECTED_GROUPS' | translate }}</h3>
      <button
        mat-button
        *ngIf="securityGroups.selected.length"
        (click)="reset()"
      >{{ 'COMMON.RESET' | translate }}
      </button>
    </div>
    <mat-list>
      <mat-list-item
        *ngFor="let securityGroup of securityGroups.selected; let i=index"
        [class.active]="selectedColumnIndex === 1 && selectedGroupIndex === i"
        (click)="selectGroup(i, false)"
      >
        <h5 matLine>
          {{ securityGroup.name }}
        </h5>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div class="rules-list">
  <h3>{{ 'SECURITY_GROUP_SELECTOR.NETWORK_RULES' | translate }}</h3>
  <mat-list>
    <cs-security-group-builder-rule
      *ngFor="let rule of selectedRules.ingress"
      [item]="rule"
      [type]="NetworkRuleType.Ingress"
      (checkChanged)="onRulesChange($event)"
    ></cs-security-group-builder-rule>
    <cs-security-group-builder-rule
      *ngFor="let rule of selectedRules.egress"
      [item]="rule"
      [type]="NetworkRuleType.Egress"
      (checkChanged)="onRulesChange($event)"
    ></cs-security-group-builder-rule>
  </mat-list>
</div>

