$list-height: 187px;
:host {
  display: block;
  padding: 5px;
}

.list-builder {
  display: flex;
}

.left-list,
.right-list {
  flex: 1;
  min-width: 45%;
}

.left-list > mat-list,
.right-list > mat-list,
.rules-list > mat-list {
  height: $list-height;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.rules-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-list-item.active {
  background-color: rgba(0, 0, 0, 0.14);
}

:host mat-list-item h3 {
  display: block;
  width: 305px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
