<div class="dialog">
  <h3 class="mdl-dialog__title">{{ 'SELECT_VOLUME' | translate }}</h3>
  <div class="mdl-dialog__content">
    <mdl-select
      [(ngModel)]="selectedVolume"
    >
      <mdl-option
        *ngFor="let v of volumes"
        [value]="v"
      >
        {{ v.name }}
      </mdl-option>
    </mdl-select>
  </div>
  <div class="mdl-dialog__actions">
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onAttach()"
      [disabled]="!selectedVolume"
    >
      {{ 'ATTACH' | translate }}
    </button>
    <button
      mdl-button
      mdl-colored="primary"
      mdl-ripple
      (click)="onCancel()"
    >
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</div>
