:host {
  display: block;
}

.menu-header {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  height: 64px;

  .mdi-menu {
    color: inherit !important;
  }

  .logo {
    width: 210px;
    margin: auto;
    align-self: center;
  }
}
