mdl-dialog-host-component {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  padding: 1em;
  background: white;
  color: black;
  opacity: 1;
  visibility: hidden;
  display: block;
  left: 0;
  right: 0;
  transition: all;
  position: absolute;
  margin: 0 auto;
}

mdl-dialog-host-component.open {
  visibility: visible;
}
