<form (ngSubmit)="onSubmit()" #inlineInputForm="ngForm" novalidate>
  <div
    class="container"
    *ngIf="!editing && !showContentPlaceholder"
  >
    <span
      class="text-content"
      (click)="edit()"
      style="overflow: hidden"
    >
      {{ content }}
    </span>
    <button
      class="edit-button"
      mat-icon-button
      (click)="edit()"
    >
      <mat-icon class="mdi-pencil"></mat-icon>
    </button>
  </div>

  <span
    class="text-content text-content-empty"
    (click)="edit()"
    *ngIf="!editing && showContentPlaceholder"
  >
    {{ contentPlaceholder | translate }}
  </span>

  <mat-form-field *ngIf="editing" class="full-width-input">
    <textarea
      matInput
      matTextareaAutosize
      name="textField"
      [ngModel]="textFieldText"
      (ngModelChange)="updateTextFieldText($event)"
      [placeholder]="inputPlaceholder | translate"
      [rows]="rows"
      (keyup)="onKeyUp($event)"
    ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button
      *ngIf="editing"
      mat-button
      color="primary"
      (click)="onCancel()"
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>

    <button
      mat-button
      color="primary"
      *ngIf="editing"
      type="submit"
    >
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
