<form (ngSubmit)="onSubmit()" #inlineInputForm="ngForm" novalidate>
  <div
    class="container"
    *ngIf="!editing && !showContentPlaceholder"
  >
    <span
      class="text-content"
      (click)="edit()"
      style="overflow: hidden"
    >
      {{ content }}
    </span>
    <button
      class="edit-button"
      mdl-button
      mdl-button-type="icon"
      (click)="edit()"
    >
      <md-icon>edit</md-icon>
    </button>
  </div>

  <span
    class="text-content text-content-empty"
    (click)="edit()"
    *ngIf="!editing && showContentPlaceholder"
  >
    {{ contentPlaceholder | translate }}
  </span>

  <mdl-textfield
    mdl-textarea-autoresize
    name="textField"
    *ngIf="editing"
    [ngModel]="textFieldText"
    (ngModelChange)="updateTextFieldText($event)"
    [placeholder]="inputPlaceholder | translate"
    [rows]="rows"
    (keyup)="onKeyUp($event)"
  ></mdl-textfield>

  <div class="buttons">
    <button
      mdl-button
      *ngIf="editing"
      (click)="onCancel()"
      type="button"
    >
      {{ 'COMMON.CANCEL' | translate }}
    </button>

    <button
      mdl-button
      *ngIf="editing"
      type="submit"
    >
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
