<div class="mat-dialog-content" *ngIf="affinityGroups">
  <table mat-table [dataSource]="affinityGroups">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{ 'AFFINITY_GROUP.NAME' | translate }}</th>
      <td [class.preselected]="element.isPreselected && enablePreselected"  class="name-column" mat-cell *matCellDef="let element">
        <span
          *ngIf="element.description; else noDescription"
          [matTooltip]="element.description">
          {{ element.name }}
        </span>
        <ng-template #noDescription>
          <span *ngIf="element.name !== emptyAffinityGroup; else noGroup">{{ element.name }}</span>
          <ng-template #noGroup>
            {{ 'VM_PAGE.VM_DETAILS.AFFINITY_GROUP.NO_AFFINITY_GROUP' | translate }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{ 'AFFINITY_GROUP.TYPE' | translate }}</th>
      <td [class.preselected]="element.isPreselected && enablePreselected" mat-cell *matCellDef="let element">
        <span>{{ element.type | csAffinityGroupType }}</span>
      </td>
    </ng-container>

    <ng-container class="mat-column-radioButton" matColumnDef="radioButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td [class.preselected]="element.isPreselected && enablePreselected" mat-cell *matCellDef="let element">
        <mat-radio-button
          *ngIf="!isDisabledAffinityGroup(element.id)"
          name="service-offering"
          [value]="element"
          [checked]="isSelectedAffinityGroup(element)"
          (click)="selectAffinityGroup(element)"
        ></mat-radio-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectAffinityGroup(row)"
    ></tr>

  </table>
</div>

<cs-no-results *ngIf="!affinityGroups?.length"></cs-no-results>
