<ng-container *ngIf="affinityGroups?.length">
  <div class="mat-dialog-content">
    <table mat-table [dataSource]="affinityGroups">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'AFFINITY_GROUP.NAME' | translate }} </th>
        <td [class.preselected]="element.isPreselected && !isVmCreation" mat-cell *matCellDef="let element">
          <span [innerHTML]="element.name"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> {{ 'AFFINITY_GROUP.TYPE' | translate }} </th>
        <td [class.preselected]="element.isPreselected && !isVmCreation" mat-cell *matCellDef="let element">
          <span>{{ element.type | affinityGroupType }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> {{ 'AFFINITY_GROUP.DESCRIPTION' | translate }} </th>
        <td [class.preselected]="element.isPreselected && !isVmCreation" mat-cell *matCellDef="let element">
          <span>{{ element.description }}</span>
        </td>
      </ng-container>
      <ng-container class="mat-column-radioButton" matColumnDef="radioButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td [class.preselected]="element.isPreselected && !isVmCreation" mat-cell *matCellDef="let element">
          <mat-radio-button
            name="service-offering"
            [value]="element"
            [disabled]="isDisabledAffinityGroup(element.id)"
            [checked]="isSelectedAffinityGroup(element)"
            (click)="selectAffinityGroup(element.id)"
          ></mat-radio-button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          (click)="selectGroupChange(row)"
      ></tr>
    </table>
  </div>
</ng-container>

<cs-no-results *ngIf="!affinityGroups?.length"></cs-no-results>
