<div class="color-preview-container" (click)="popover.toggle($event)">
  <div
    class="color-preview"
    [style.background-color]="selectedColor?.value"
  ></div>
</div>
<mdl-textfield
  [value]="selectedColor?.value"
  (click)="popover.toggle($event)"
  readonly
></mdl-textfield>

<div class="popover-container">
  <mdl-popover #popover mdl-shadow="6">
    <div class="color-picker-container" [style.width.px]="containerWidth">
      <div
        *ngFor="let color of colors"
        class="color"
        [class.active]="color.value === selectedColor?.value"
        [style.background-color]="color.value"
        [style.width.px]="colorWidth"
        [style.height.px]="colorWidth"
        (click)="selectColor(color)"
      ></div>
    </div>
  </mdl-popover>
</div>
