<div
  class="color-preview-container"
  [class.disabled]="disabled"
  (click)="toggle($event)"
>
  <div class="color-preview" [style.background-color]="selectedColor?.value"></div>
</div>
<md-input-container class="full-width-input">
  <input
    mdInput
    [value]="selectedColor?.value"
    [disabled]="disabled"
    readonly
    (click)="toggle($event)"
  >
</md-input-container>

<div class="popover-container">
  <mdl-popover #popover mdl-shadow="6">
    <div class="color-picker-container" [style.width.px]="containerWidth">
      <div
        *ngFor="let color of colors"
        class="color"
        [class.active]="color.value === selectedColor?.value"
        [style.background-color]="color.value"
        [style.width.px]="colorWidth"
        [style.height.px]="colorWidth"
        (click)="selectColor(color)"
      ></div>
    </div>
  </mdl-popover>
</div>
