<div
  class="color-preview-container"
  [class.disabled]="disabled"
  (click)="handlePreviewClick($event)"
>
  <div *ngIf="hasColorField"
       class="color-preview"
       [style.background-color]="selectedColor?.value"></div>
  <div *ngIf="!hasColorField"
       class="color-preview"
       [csPopoverTrigger]="popover"
       [style.background-color]="selectedColor?.value"></div>
</div>
<mat-form-field *ngIf="hasColorField" [csPopoverTrigger]="popover" class="full-width-input">
  <input
    matInput
    [value]="selectedColor?.value.toLowerCase()"
    [disabled]="disabled"
    readonly
  >
</mat-form-field>

<div class="popover-container">
  <cs-popover #popover>
    <div
      class="color-picker-container mat-elevation-z2"
      [ngClass]="{'color-picker-no-field': !hasColorField}"
      [style.width.px]="containerWidth"
    >
      <div
        *ngFor="let color of colors"
        class="color"
        [class.active]="color.value === selectedColor?.value"
        [style.background-color]="color.value"
        [style.width.px]="colorWidth"
        [style.height.px]="colorWidth"
        (click)="selectColor(color)"
      ></div>
    </div>
  </cs-popover>
</div>
