$preview-width: 24px;
$input-margin: 10px;

:host {
  position: relative;
  display: inline-flex;
  align-items: baseline;
}

.color-preview-container {
  flex-shrink: 0;
  cursor: pointer;
  display: inline-block;
  width: $preview-width;
  height: $preview-width;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  overflow: hidden;
  position: relative;
  top: 7px;
  background-color: #fff;

  .color-preview {
    width: 100%;
    height: 100%;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

:host mat-form-field {
  width: 260px - $input-margin - $preview-width !important;
  margin-left: $input-margin;
  input {
    cursor: pointer;
  }

  input:disabled {
    cursor: not-allowed;
  }
}

.popover-container {
  position: relative;
  top: 5px;
  left: $input-margin + $preview-width;
}

.color {
  transition: transform 0.3s, box-shadow 0.3s;
  transform-origin: center center;
  cursor: pointer;

  &:hover,
  &.active {
    transform: scale(0.85, 0.85);
    box-shadow: 0 0 2px 0 #adadad;
  }
}

.color-picker-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: content-box;
}

.color-picker-no-field {
  margin-left: 47%;
  margin-top: 10px;
}
