:host {
  display: inline-flex;
  padding: 20px 0;
}

:host mdl-select {
  display: flex;
  font-size: 24px;
}

:host /deep/ mdl-select > div {
  padding: 0;
}

:host /deep/ .mdl-list__item {
  background-color: inherit;
}

:host /deep/ .mdl-select .mdl-list__item:hover {
  background-color: inherit !important;
  border: 1px solid rgba(0,0,0,0.3);
}

:host /deep/ .mdl-select .mdl-list__item.is-active {
  background-color: inherit;
  border: 1px solid rgba(0,0,0,0.3);
}
