mdl-select {
  font-size: 24px;
  width: 330px;
  margin: 5px;
}

/deep/ .mdl-textfield__input {
  padding: 0;
}

/deep/ .mdl-textfield {
  width: 330px;
}

/deep/ .mdl-list__item {
  background-color: inherit;
}

/deep/ mdl-select .mdl-list__item:hover {
  background-color: inherit !important;
  border: 1px solid rgba(0,0,0,0.3);
}

/deep/ .mdl-select .mdl-list__item.is-active {
  background-color: inherit;
  border: 1px solid rgba(0,0,0,0.3);
}
