<h3 class="no-margin nowrap">
  {{ 'SETTINGS.VM_LOGS.SHOW_LAST_MINUTES' | translate }}
</h3>

<cs-update-button-field-group>
  <mat-form-field>
    <input
      #minutesField
      matInput
      type="number"
      [value]="minutes"
      min="1"
      csMinValue="1"
      max="10"
      csMaxValue="10"
      step="1"
      required
    />
  </mat-form-field>

  <button
    mat-button
    [disabled]="minutes == +minutesField.value"
    (click)="minutesChanged.emit(+minutesField.value)"
  >
    {{ 'COMMON.UPDATE' | translate }}
  </button>
</cs-update-button-field-group>
