<div class="volume-size">
  <h5 *ngIf="!label">{{ 'VM_CREATION_FORM.ROOT_DISK_SIZE' | translate }}</h5>
  <h5 *ngIf="label">{{ label }}</h5>
  <div>
    <mdl-textfield
      class="volume-input"
      type="number"
      step="1"
      min="{{ min }}"
      max="{{ max }}"
      [ngModel]="floor(size)"
      (ngModelChange)="onVolumeChange($event)"
      (blur)="onBlur($event)"
    ></mdl-textfield>
    <div class="volume-label">{{ 'GB' | translate }}</div>
  </div>
</div>
<mdl-slider
  min="{{ log(min) || 0 }}"
  max="{{ log(max) || 0 }}"
  value="0"
  step="0.0001"
  mdl-tooltip-position="top"
  [ngModel]="_size > min ? log(_size) : log(min)"
  (ngModelChange)="onVolumeChangeExp($event)"
></mdl-slider>
