$badge-size: 24px;
$badge-offset: 4px;
$badge-overlap: 14px;

.badge {
  position: relative;
  white-space: nowrap;

  &[data-badge]::before {
    @extend .mdl-color--accent; // TODO(andrewbents): remove
    content: attr(data-badge);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -($badge-size / 2);
    right: -($badge-size + $badge-offset);
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    width: $badge-size;
    height: $badge-size;
    border-radius: 50%;
    color: white;
    z-index: 2;
  }

  &.badge--overlap::before {
    right: -($badge-size - $badge-overlap);
  }
}
