<h3 class="no-margin">{{ 'SETTINGS.SECURITY.CHANGE_PASSWORD' | translate }}</h3>
<form [formGroup]="passwordForm" (ngSubmit)="onPasswordChange()">

  <mat-form-field>
    <input
      matInput
      formControlName="password"
      type="password"
      [placeholder]="'SETTINGS.SECURITY.NEW_PASSWORD' | translate"
      [errorStateMatcher]="errorStateMatcher"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      formControlName="passwordRepeat"
      type="password"
      [placeholder]="'SETTINGS.SECURITY.REPEAT_PASSWORD' | translate"
      [errorStateMatcher]="errorStateMatcher"
    >
    <mat-error>{{ 'SETTINGS.SECURITY.PASSWORD_DOES_NOT_MATCH' | translate }}</mat-error>
  </mat-form-field>

  <div class="update-button">
    <button mat-button type="submit" [disabled]="!passwordForm.valid">
      {{ 'COMMON.UPDATE' | translate }}
    </button>
  </div>

</form>
