<cs-parameters-pair
  [name]="'VM_PAGE.NETWORK_DETAILS.ipAddress'"
  [value]="ipWithSuffix | translate"
></cs-parameters-pair>
<cs-parameters-pair
  *ngIf="nic.macaddress"
  [name]="'VM_PAGE.NETWORK_DETAILS.macAddress'"
  [value]="nic.macaddress"
></cs-parameters-pair>
<cs-parameters-pair
  *ngIf="nic.gateway"
  [name]="'VM_PAGE.NETWORK_DETAILS.gateway'"
  [value]="nic.gateway"
></cs-parameters-pair>
<cs-parameters-pair
  *ngIf="nic.type"
  [name]="'VM_PAGE.NETWORK_DETAILS.type'"
  [value]="nic.type"
></cs-parameters-pair>

<cs-parameters-pair
  *ngIf="nic.ip6address"
  [name]="'VM_PAGE.NETWORK_DETAILS.ip6Address'"
  [value]="nic.ip6address"
></cs-parameters-pair>
<cs-parameters-pair
  *ngIf="nic.ip6cidr"
  [name]="'VM_PAGE.NETWORK_DETAILS.ip6Cidr'"
  [value]="nic.ip6cidr"
></cs-parameters-pair>
<cs-parameters-pair
  *ngIf="nic.ip6gateway"
  [name]="'VM_PAGE.NETWORK_DETAILS.ip6Gateway'"
  [value]="nic.ip6gateway"
></cs-parameters-pair>
