@import '../../../../style/__variables';
@import '../../../../style/app';

:host {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 99;
  height: 50px;
  width: 50px;
}

/deep/ .mat-fab {
  @include mat-fab-shrunk;
}

/deep/ .mat-mini-fab {
  @include mat-mini-fab-shrunk;
}
