:host {
  display: inline-flex;
  cursor: pointer;
}

.row {
  margin-bottom: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.root-disk {
  background-image: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 20px,
      rgba(0, 0, 0, 0.05) 20px,
      rgba(0, 0, 0, 0.05) 40px
  );
}
