<div [class.error-message]="isErrorMessage" [class.highlighted-message]="isHighlighted">
  <ng-container *ngIf="!isInProgress && !isDone && !isError">
    {{ message.text | translate }}
  </ng-container>

  <ng-container *ngIf="isInProgress">
    {{ message.text | translate }} <cs-animated-slash></cs-animated-slash>
  </ng-container>

  <ng-container *ngIf="isDone">
    {{ message.text | translate }} {{ 'COMMON.OK' | translate }}
  </ng-container>

  <ng-container *ngIf="isError">
    {{ message.text | translate }} <span class="error-message">{{ 'COMMON.ERROR' | translate }}</span>
  </ng-container>
</div>
