<md-card
  class="custom-card"
>
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdl-tooltip]="category.name"
        mdl-tooltip-position="bottom"
      >
        <span [innerHTML]="category.name | highlight:query"></span>
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="md-card-content-container">
      <cs-tag
        *ngFor="let tag of category.tags"
        [tag]="tag"
        [query]="query"
        (onTagEdit)="editTag($event)"
        (onTagRemove)="removeTag($event)"
      ></cs-tag>
    </div>
    <md-card-actions>
      <button
        mdl-button
        mdl-button-type="icon"
        mdl-tooltip-position="top"
        [mdl-tooltip]="'COMMON.ADD' | translate"
        (click)="$event.stopPropagation(); addTag()"
      >
        <md-icon>add</md-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>
