<md-card
  class="custom-card"
>
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdl-tooltip]="categoryTooltip"
        mdl-tooltip-position="bottom"
      >
        <span [innerHTML]="category.name | highlight:query"></span>
      </h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions">
    <div class="md-card-content-container">
      <cs-tag
        *ngFor="let tag of category.tags"
        [tag]="tag"
        [query]="query"
        (onTagEdit)="editTag($event)"
        (onTagRemove)="removeTag($event)"
      ></cs-tag>
    </div>
    <md-card-actions>
      <button
        mdl-button
        mdl-button-type="icon"
        mdl-tooltip-position="top"
        [mdl-tooltip]="'ADD' | translate"
        (click)="$event.stopPropagation(); addTag()"
      >
        <mdl-icon>add</mdl-icon>
      </button>
    </md-card-actions>
  </md-card-content>
</md-card>

<mdl-tooltip #categoryTooltip="mdlTooltip">
  {{ category.name }}
</mdl-tooltip>



