<mdl-card
  mdl-shadow="2"
  class="custom-card"
>
  <mdl-card-title>
    <h2
      mdl-card-title-text
      [mdTooltip]="category.name"
    >
      <span [innerHTML]="category.name | highlight:query"></span>
    </h2>
  </mdl-card-title>

  <mdl-card-supporting-text>
    <cs-tag
      *ngFor="let tag of category.tags"
      [tag]="tag"
      [query]="query"
      (onTagEdit)="editTag($event)"
      (onTagRemove)="removeTag($event)"
    ></cs-tag>
  </mdl-card-supporting-text>

  <mdl-card-actions mdl-card-border>
    <button
      mdl-button
      mdl-button-type="icon"
      [mdTooltip]="'ADD' | translate"
      (click)="$event.stopPropagation(); addTag()"
    >
      <mdl-icon>add</mdl-icon>
    </button>
  </mdl-card-actions>
</mdl-card>
