.account-info {
  margin: 25px;
}

.account-info-username {
  font-size: 20px;
  font-weight: 500;
}

.account-info-role {
  font-size: 14px;
  color: #ffffffa8;
}

.account-info-domain {
  font-size: 18px;
  font-weight: 400;
}
