<div class="entity-select-container">
  <mat-select
    class="aggregation-select entity-select"
    [placeholder]="'NIC' | translate"
    [(ngModel)]="selectedNic"
    (change)="nicChange.emit()"
  >
    <mat-option *ngFor="let nic of availableNics; index as i" [value]="nic">
      NIC{{ i + 1 }} ({{ nic.macAddress }})
    </mat-option>
  </mat-select>
  <cs-divider-vertical></cs-divider-vertical>
</div>
<cs-chart-area-component
  [charts]="charts"
  [hasNext]="shift > 0"
  [fetching]="loading"
  (previous)="previous.emit()"
  (next)="next.emit()"
></cs-chart-area-component>

