<cs-aggregation-selector
  [permittedIntervals]="permittedIntervals"
  [(scale)]="selectedScale"
  [(shift)]="selectedShift"
  [(aggregations)]="selectedAggregations"
  [shiftAmount]="shift"
  (shiftAmountChange)="updateShift($event)"
></cs-aggregation-selector>
<md-select class="aggregation-select" [(ngModel)]="selectedNic">
  <md-option *ngFor="let nic of availableNics; index as i" [value]="nic">
    NIC{{ i + 1 }} ({{ nic.macAddress }})
  </md-option>
</md-select>
<cs-chart-area-component
  [charts]="charts"
  [hasNext]="shift > 0"
  (previous)="previous()"
  (next)="next()"
></cs-chart-area-component>
