<div class="entity-select-container">
  <mat-form-field class="aggregation-select entity-select">
    <mat-select

      [placeholder]="'NIC' | translate"
      [(ngModel)]="selectedNic"
      (selectionChange)="nicChange.emit()"
    >
      <mat-option *ngFor="let nic of availableNics; index as i" [value]="nic">
        NIC{{ i + 1 }} ({{ nic.macaddress }})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<cs-chart-area-component
  [charts]="charts"
  [hasNext]="shift > 0"
  [fetching]="loading"
  (previous)="previous.emit()"
  (next)="next.emit()"
></cs-chart-area-component>

