<mdl-dialog
  #vmCreateDialog
  id="vmCreateDialog"
  name="vmCreateDialog"
  [mdl-dialog-config]="{
    clickOutsideToClose: true,
    styles: {'width': '780px'},
    isModal: true,
    enterTransitionDuration: 400,
    leaveTransitionDuration: 400
  }"
>
  <h5 class="form-title">New virtual machine</h5>
  <form #vmCreateForm="ngForm" (ngSubmit)="onVmCreationSubmit()">
    <div class="container">
      <div class="left-column">
        <div>
          <mdl-textfield
            type="text"
            label="{{ 'VM_CREATION_FORM.NAME' | translate }}"
            id="name"
            name="name"
            pattern="^[a-zA-Z]{1}[a-zA-Z0-9\-]{0,61}[a-zA-Z0-9]{0,1}$"
            #vmname="ngModel"
            [(ngModel)]="vmCreationData.vm.displayName"
            [class.is-invalid]="!vmname.valid"
          >
          </mdl-textfield>
        </div>

        <div class="dialog-select-wrapper">
          <h5 class="dialog-select-header">{{ 'VM_CREATION_FORM.TEMPLATE' | translate }}</h5>
        <cs-vm-creation-template
          [selectedIn]="vmCreationData.vm.template"
          class="dialog-select-select template-select"
          (selectedOut)="onTemplateChange($event)"
        ></cs-vm-creation-template>
        </div>
      
        <h5>{{ 'VM_CREATION_FORM.SERVICE_OFFERING' | translate }}</h5>
        <div>
          <mdl-select
            [(ngModel)]="vmCreationData.vm.serviceOfferingId"
            id="serviceOffering"
            name="serviceOffering"
          >
            <mdl-option
              *ngFor="let so of vmCreationData.serviceOfferings"
              [value]="so.id"
            >
              {{ so.name }}
            </mdl-option>
          </mdl-select>
        </div>
        <h5>{{ 'VM_CREATION_FORM.ZONE' | translate }}</h5>
        <div>
          <mdl-select
            [(ngModel)]="vmCreationData.vm.zoneId"
            id="zone"
            name="zone"
          >
            <mdl-option *ngFor="let z of vmCreationData.zones" [value]="z.id" >
              {{ z.name }}
            </mdl-option>
          </mdl-select>
        </div>
        <div class="root-disk-size">
          <h5 class="root-disk-size-header">{{ 'VM_CREATION_FORM.ROOT_DISK_SIZE' | translate }}</h5>
          <h5 class="root-disk-size-limit">
            {{ vmCreationData.rootDiskSize >= 10 ? vmCreationData.rootDiskSize + ' GB' : 'Auto' }}
          </h5>
        </div>
        <div class="root-disk-size-slider">
          <mdl-slider
            max="{{ vmCreationData.rootDiskSizeLimit || 10 }}"
            id="rootDiskSize"
            name="rootDiskSize"
            value="9"
            [(ngModel)]="vmCreationData.rootDiskSize"
            mdl-tooltip-position="top"
            min="9"
          >
          </mdl-slider>
        </div>
      </div>
      <div class="right-column">
        <h5>{{ 'VM_CREATION_FORM.AFFINITY_GROUPS' | translate }}</h5>
        <div>
          <mdl-select
            [(ngModel)]="vmCreationData.affinityGroupId"
            id="affinityGroup"
            name="affinityGroup"
          >
            <mdl-option [value]="''">{{ 'NO_AFFINITY_GROUP' | translate }}</mdl-option>
            <mdl-option
              *ngFor="let ag of vmCreationData.affinityGroups"
              [value]="ag.id"
            >
              {{ ag.name }}
            </mdl-option>
          </mdl-select>
        </div>
        <div class="dialog-select-wrapper">
          <h5 class="dialog-select-header">{{ 'VM_CREATION_FORM.SECURITY_GROUPS' | translate }}</h5>
          <cs-security-group-rules-manager class="dialog-select-select"></cs-security-group-rules-manager>
        </div>
        <h5>{{ 'VM_CREATION_FORM.KEYBOARD_LAYOUT' | translate }}</h5>
        <div>
          <mdl-select
            id="keyboard"
            name="keyboard"
            [(ngModel)]="vmCreationData.keyboard"
          >
            <mdl-option
              *ngFor="let k of keyboards"
              [value]="k"
            >
              {{ ('KB_' + k.toUpperCase()) | translate }}
            </mdl-option>
          </mdl-select>
        </div>
        <h5>{{ 'VM_CREATION_FORM.SSH_KEYPAIR' | translate }}</h5>
        <div>
          <mdl-select
            id="ssh"
            name="ssh"
            [(ngModel)]="vmCreationData.vm.keyPair"
          >
            <mdl-option
              *ngFor="let k of vmCreationData.sshKeyPairs"
              [value]="k.name"
            >
              {{ k.name }}
            </mdl-option>
          </mdl-select>
        </div>
        <div class="start-vm-checkbox">
          <mdl-checkbox
            id="startVm"
            name="startVm"
            [(ngModel)]="vmCreationData.doStartVm"
          >
            {{ 'VM_CREATION_FORM.START_VM' | translate }}
          </mdl-checkbox>
        </div>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button
        [disabled]="!vmCreateForm.valid"
        type="submit"
        mdl-button
        mdl-ripple>{{ 'CONFIRM' | translate }}
      </button>
      <button
        type="button"
        mdl-button
        (click)="hide()"
        mdl-ripple
      >
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </form>
</mdl-dialog>


