.container {
  padding: 15px 15px 0px 15px;
  display: flex;
}

h5 {
  margin-bottom: 0px;
}

.network-security-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-vm-checkbox {
  margin-top: 20px;
}

.left-column {
  padding:0px 16px 1px 0px;
}

.root-disk-size {
  position:relative;
  width: 300px;
}

.root-disk-size-header {
  padding-bottom: 24px;
  display: inline-block;
}

.root-disk-size-limit {
  display:inline-block;
  position:absolute;
  right: 0px;
}

.root-disk-size-slider {
  width: 348px;
  position: relative;
  left: -24px;
}

.right-column {
  margin-left: 57px;
  padding-right: 30px;
}

.security-groups {
  position: relative;
  width: 300px;
}

.dialog-select-header {
  display: inline-block;
}

.dialog-select-create-button {
  margin-top: 16px;
  margin-right: 16px;
  display:inline-block;
  position:absolute;
  right: 0;
}

.form-title {
  margin: 20px 0 0 16px;
}

.dialog-select-select {
  position: absolute;
  right: -8px;
  display: inline-block;
  text-align: right;
  margin-top: 16px;
}

.dialog-select-wrapper {
  position: relative;
  margin-bottom: 60px;
}

.template-select {
  margin-right: 48px;
}
