.container {
  padding: 15px;
  display: inline-block;
}

h5 {
  margin-bottom: 0px;
}

.network-security-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-vm-checkbox {
  margin-top: 20px;
}
