<div *ngIf="vm">
  <h4>{{ vm.displayName }}</h4>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Status</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.state }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Service offering</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="grid service-offering">
        <div>Name</div>
        <div>{{ vm.serviceOffering.name }}</div>
        <div>Description</div>
        <div>{{ vm.serviceOffering.displaytext }}</div>
        <div>CPU cores</div>
        <div>{{ vm.serviceOffering.cpuNumber }}</div>
        <div>CPU (MHz)</div>
        <div>{{ vm.serviceOffering.cpuSpeed }}</div>
        <div>Memory (GB)</div>
        <div>{{ vm.serviceOffering.memory | divByPowerOfTwo:10:2 }}</div>
        <div>Storage type</div>
        <div>{{ vm.serviceOffering.storagetype }}</div>
        <div>Provisioning type</div>
        <div>{{ vm.serviceOffering.provisioningtype }}</div>
      </div>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border style="text-align: right;">
      <button
        mdl-button
        mdl-ripple
        mdl-button-type="icon"
        (click)="toggleServiceOffering()"
        [class.open]="expandServiceOffering"
      >
        <mdl-icon>keyboard_arrow_down</mdl-icon>
      </button>
    </mdl-card-actions>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>IP addresses</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div *ngFor="let nic of vm.nic">
        {{ nic.ipaddress }}
        <div *ngFor="let ip of nic.secondaryip">
          {{ ip }}
        </div>
      </div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Volumes</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="grid volumes" *ngFor="let volume of vm.volumes">
        <div>{{ volume.name }}</div>
        <div>{{ volume.size | divByPowerOfTwo:30:2 }} GB</div>
        <div>
          <button
            [mdl-tooltip]="'Take snapshot'"
            mdl-tooltip-position="top"
            mdl-button
            mdl-button-type="icon"
          >
            <mdl-icon >camera_alt</mdl-icon>
          </button>
        </div>
      </div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Security group</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.securityGroup[0].name }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Affinity group</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div *ngFor="let affinityGroup of vm.affinityGroup">{{ vm.affinityGroup }}</div>
      <div *ngIf="!vm.affinityGroup.length">No affinity groups</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Zone</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.zoneName }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>OS type</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.osType.description }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Template</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.templateName }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Statistics</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div class="grid statistics">
        <div>CPU Utilized</div>
        <div>{{ vm.cpuUsed }}</div>
        <div>Network read</div>
        <div>{{ vm.networkKbsRead }} KB</div>
        <div>Network write</div>
        <div>{{ vm.networkKbsWrite }} KB</div>
        <div>Disk read</div>
        <div>{{ vm.diskKbsRead }} KB</div>
        <div>Disk write</div>
        <div>{{ vm.diskKbsWrite }} KB</div>
        <div>Disk read (IO)</div>
        <div>{{ vm.diskIoRead }}</div>
        <div>Disk write (IO)</div>
        <div>{{ vm.diskIoWrite }}</div>
      </div>
    </mdl-card-supporting-text>
  </mdl-card>
</div>

