<div *ngIf="vm">
  <h4>{{ vm.displayName }}</h4>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Status</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.state }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Service offering</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <table class="service-offering">
        <tr><td>Name</td><td>{{ vm.serviceOffering.name }}</td></tr>
        <tr><td>Description</td><td>{{ vm.serviceOffering.displaytext }}</td></tr>
        <tr><td>CPU cores</td><td>{{ vm.serviceOffering.cpuNumber }}</td></tr>
        <tr><td>CPU (MHz)</td><td>{{ vm.serviceOffering.cpuSpeed }}</td></tr>
        <tr><td>Memory (GB)</td><td>{{ vm.serviceOffering.memory | divByPowerOfTwo:10:2 }}</td></tr>
        <tr><td>Storage type</td><td>{{ vm.serviceOffering.storagetype }}</td></tr>
        <tr><td>Provisioning type</td><td>{{ vm.serviceOffering.provisioningtype }}</td></tr>
        <!--<tr><td *ngIf="expandServiceOffering">shown when expanded</td></tr>-->
      </table>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border style="text-align: right;">
      <button
        mdl-button
        mdl-ripple
        mdl-button-type="icon"
        (click)="toggleServiceOffering()"
        [class.open]="expandServiceOffering"
      >
        <mdl-icon>keyboard_arrow_down</mdl-icon>
      </button>
    </mdl-card-actions>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>IP addresses</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div *ngFor="let nic of vm.nic">
        {{ nic.ipaddress }}
        <div *ngFor="let ip of nic.secondaryip">
          {{ ip }}
        </div>
      </div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Volumes</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <table class="volumes">
        <tr *ngFor="let volume of vm.volumes">
          <td>{{ volume.name }}</td>
          <td>{{ volume.size | divByPowerOfTwo:30:2 }} GB</td>
          <td>
            <button mdl-button>Take snapshot</button>
          </td>
        </tr>
      </table>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Security group</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.securityGroup[0].name }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Affinity group</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div *ngFor="let affinityGroup of vm.affinityGroup">{{ vm.affinityGroup }}</div>
      <div *ngIf="!vm.affinityGroup.length">No affinity groups</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Zone</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.zoneName }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>OS type</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.osType.description }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Template</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <div>{{ vm.templateName }}</div>
    </mdl-card-supporting-text>
  </mdl-card>
  <mdl-card class="vm-card" mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Statistics</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <table class="statistics">
        <tr><td>CPU Utilized</td><td>{{ vm.cpuUsed }}</td></tr>
        <tr><td>Network read</td><td>{{ vm.networkKbsRead }} KB</td></tr>
        <tr><td>Network write</td><td> {{ vm.networkKbsWrite }} KB</td></tr>
        <tr><td>Disk read</td><td> {{ vm.diskKbsRead }} KB</td></tr>
        <tr><td>Disk write</td><td> {{ vm.diskKbsWrite }} KB</td></tr>
        <tr><td>Disk read (IO)</td><td> {{ vm.diskIoRead }}</td></tr>
        <tr><td>Disk write (IO)</td><td> {{ vm.diskIoWrite }}</td></tr>
      </table>
    </mdl-card-supporting-text>
  </mdl-card>
</div>

