:host {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s;
  overflow: auto;
  background: #fafafa;
  padding: 10px 5px;
  z-index: 5;
}

:host.open {
  transform: translateX(0);
}

h4 {
  margin: 0 5px;
}

mdl-card {
  min-height: initial;
  margin: 5px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 5px auto;
}

.grid > div {
  width: 50%;
  padding: 2px;
}

.grid.volumes > div {
  width: 33%;
}

.service-offering > div:nth-child(2n),
.statistics > div:nth-child(2n),
.volumes > div:nth-child(2n),
.volumes > div:nth-child(3n)
{
  text-align: right;
}

.volumes > div:nth-child(3n) {
  position: relative;
  top: -7px;
}

button {
  transition: transform 0.3s;
}

button.open {
  transform: rotate(180deg);
}
