<mdl-card class="vm-card" mdl-shadow="2" (click)="handleClick($event)">
  <mdl-card-title>
    <h2 mdl-card-title-text [mdl-tooltip]="vm.displayName">{{ vm.displayName }}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div>{{ vm.nic[0].ipaddress }}</div>
    <div class="vm-state">{{ 'VMSTATE.' + vm.state.toUpperCase() | translate }}</div>
    <table style="width: 100%; text-align: center;">
      <thead>
      <tr>
        <th>{{ 'CPU' | translate }}</th>
        <th>{{ 'RAM' | translate }}</th>
        <th>{{ 'DISKS' | translate }}</th>
      </tr>
      </thead>
      <tr>
        <td>{{ vm.cpuNumber + 'x' + vm.cpuSpeed }}</td>
        <td>{{ vm.memory | divByPowerOfTwo:10:2 }} GB</td>
        <td>{{ vm.getDisksSize().toFixed(2) }} GB</td>
      </tr>
    </table>
    <div>OS {{ vm.osType.description }}</div>
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button
      (click)="start($event)"
      [disabled]="!vm.canApply"
      [mdl-tooltip]="'START' | translate"
      mdl-tooltip-position="top"
      mdl-button mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon >play_arrow</mdl-icon>
    </button>
    <button
      (click)="stop($event)"
      [disabled]="!vm.canApply"
      [mdl-tooltip]="'STOP' | translate"
      mdl-tooltip-position="top"
      mdl-button
      mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon >stop</mdl-icon>
    </button>
    <button
      (click)="reboot($event)"
      [disabled]="!vm.canApply"
      [mdl-tooltip]="'REBOOT' | translate"
      mdl-tooltip-position="top"
      mdl-button
      mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon >replay</mdl-icon>
    </button>
    <button
      (click)="restore($event)"
      [disabled]="!vm.canApply"
      [mdl-tooltip]="'RESTORE' | translate"
      mdl-tooltip-position="top"
      mdl-button
      mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon >settings_backup_restore</mdl-icon>
    </button>
    <button
      (click)="destroy($event)"
      [disabled]="!vm.canApply"
      [mdl-tooltip]="'DESTROY' | translate"
      mdl-tooltip-position="top"
      mdl-button
      mdl-button-type="icon"
      mdl-ripple>
      <mdl-icon >close</mdl-icon>
    </button>
  </mdl-card-actions>
</mdl-card>
