<mdl-card class="vm-card" mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>{{ vm.displayName }}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div>{{ vm.nic[0].ipaddress }}</div>
    <div class="vm-state">{{ 'VMSTATE.' + vm.state.toUpperCase() | translate }}</div>
    <table style="width: 100%; text-align: center;">
      <thead>
      <tr>
        <th>{{ 'CPU' | translate }}</th>
        <th>{{ 'RAM' | translate }}</th>
        <th>{{ 'DISKS' | translate }}</th>
      </tr>
      </thead>
      <tr>
        <td>{{ vm.cpuNumber + 'x' + vm.cpuSpeed }}</td>
        <td>{{ (vm.memory / 1024).toPrecision(2) }} GB</td>
        <td>{{ vm.getDisksSize().toPrecision(3) }} GB</td>
      </tr>
    </table>
    <div>OS {{ vm.osType.description }}</div>
  </mdl-card-supporting-text>
</mdl-card>
