<h3 class="mat-dialog-title">
  {{ 'SERVICE_OFFERING.CHOOSE_SERVICE_OFFERING' | translate }}
</h3>
<div *loading="loading">
  <div class="mat-dialog-content" *loading="!serviceOfferings">
    <cs-service-offering-filter
      [classes]="classes"
      [viewMode]="viewMode"
      (viewModeChange)="viewModeChanged.emit($event)"
      (selectedClassesChange)="selectedClassesChanged.emit($event)"
      (queryChange)="queryChange.emit($event)"
    ></cs-service-offering-filter>
    <cs-service-offering-list
      [classes]="classes"
      [selectedClasses]="selectedClasses"
      [query]="query"
      [account]="account"
      [offeringList]="serviceOfferings"
      [selectedOffering]="serviceOffering"
      [showFields]="showFields"
      (selectedOfferingChange)="updateOffering($event)"
    ></cs-service-offering-list>

    <div
      class="message warning"
      *ngIf="showRebootMessage"
    >{{ "SERVICE_OFFERING.VM_WILL_BE_RESTARTED" | translate }}
    </div>
    <span class="error-message" *ngIf="!serviceOffering?.isAvailableByResources && isSelectedOfferingViewMode()">
      {{ 'ERRORS.COMPUTE_OFFERING.RESOURCE_LIMIT_EXCEEDED' | translate }}
    </span>
  </div>


  <div class="mat-dialog-actions">
    <div>
      <button mat-button color="primary" (click)="showFields = !showFields">
        {{ (showFields ? 'SERVICE_OFFERING.HIDE_ADDITIONAL_FIELDS'
        : 'SERVICE_OFFERING.SHOW_ADDITIONAL_FIELDS' )| translate }}
      </button>
    </div>
    <div>
      <button mat-button color="primary" matDialogClose>
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        mat-button
        color="primary"
        [disabled]="isSubmitButtonDisabled()"
        (click)="onChange()"
      >
        {{ (formMode ? 'COMMON.SELECT' : 'COMMON.CHANGE') | translate }}
      </button>
    </div>
  </div>
</div>
