<h3 class="mdl-dialog__title">
  {{ 'SERVICE_OFFERING.CHOOSE_SERVICE_OFFERING' | translate }}
</h3>
<div *loading="loading">
  <div class="mdl-dialog__content" *loading="!serviceOffering || !serviceOfferings">
    <cs-service-offering-selector
      *ngIf="serviceOfferings?.length"
      class="service-offering-selector"
      [serviceOfferings]="serviceOfferings"
      [customOfferingRestrictions]="restrictions$ | async"
      [zoneId]="virtualMachine.zoneId"
      [ngModel]="serviceOffering"
      (change)="updateOffering($event)"
    ></cs-service-offering-selector>
    <div
      class="message warning"
      *ngIf="virtualMachine?.state !== 'Stopped' && serviceOffering.id !== virtualMachine.serviceOfferingId"
    >{{ "SERVICE_OFFERING.VM_WILL_BE_REBOOTED" | translate }}
    </div>
    <div
      *ngIf="!serviceOfferings?.length"
    >{{ "SERVICE_OFFERING.NO_AVAILABLE_OFFERINGS" | translate }}
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button
      mdl-button
      (click)="onChange()"
      mdl-colored="primary"
      [disabled]="serviceOffering?.id === virtualMachine.serviceOfferingId"
      *ngIf="serviceOfferings?.length"
    >
      {{ 'COMMON.CHANGE' | translate }}
    </button>
    <button mdl-button (click)="onCancel()" mdl-colored="primary">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
  </div>
</div>
