<h3 class="mdl-dialog__title">
  {{ "CHOOSE_SERVICE_OFFERING" | translate }}
</h3>
<div class="mdl-dialog__content" *loading="!serviceOfferings">
  <cs-service-offering-selector
    class="service-offering-selector"
    [serviceOfferings]="serviceOfferings"
    [zoneId]="virtualMachine.zoneId"
  ></cs-service-offering-selector>
  <div
    class="message"
    *ngIf="virtualMachine && serviceOfferingId"
  >
    <div
      class="warning"
      *ngIf="virtualMachine.state !== 'Stopped' && serviceOffering?.id !== virtualMachine.serviceOfferingId"
    >{{ "VM_WILL_BE_REBOOTED" | translate }}</div>
    <div
      *ngIf="serviceOffering?.id === virtualMachine.serviceOfferingId"
    >{{ "THIS_IS_YOU_CURRENT_OFFERING" | translate }}</div>
  </div>
</div>
<div class="mdl-dialog__actions">
  <button
    mdl-button
    (click)="onChange()"
    mdl-colored="primary"
    [disabled]="serviceOffering?.id === virtualMachine.serviceOfferingId"
  >
    {{ 'CHANGE' | translate }}
  </button>
  <button mdl-button (click)="onCancel()" mdl-colored="primary">
    {{ 'CANCEL' | translate }}
  </button>
</div>
