.top-bar {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #dedede;
}

.top-bar-content {
  flex: 1 1 100%;
  min-width: 0;
  min-height: 67px;
}

.top-bar-notifications {
  position: absolute;
  right: 16px;
  z-index: 1;
  margin: 16px;
  height: 40px;
}

.drawer-button {
  height: 20px;
  padding: 20px 0 20px 20px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .drawer-button {
    display: none;
  }
}
