@import '../../../../style/_variables';

.top-bar {
  position: relative !important;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #dedede;
}

.top-bar-content {
  width: 100%;
  min-height: 70px;
}

.top-bar-notifications {
  position: absolute;
  z-index: 2;
  right: 0;
  margin: 19px;
  transition: right 300ms;
}

.sidebar-open {
  right: $sidebar-width;
  z-index: 6;
}
