.top-bar {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #dedede;
  min-height: 64px;
}

.top-bar-content {
  flex: 1 1 100%;
  min-width: 0;
}

.top-bar-notifications {
  flex: 0 0 40px;
  margin: 16px;
}

@media screen and (max-width: 1024px) {
  .top-bar {
    padding-left: 40px;
  }
}
