:host {
  position: relative;
  display: block;
}

/deep/ .recurring-snapshots-dialog {
  width: 730px !important;
}
/deep/ .mat-dialog-content {
  overflow: hidden;
  .mat-dialog-actions {
    margin-bottom: 0px;
  }
}

.editor,
.list {
  margin-top: 10px;
}
