<div class="top-buttons">
  <button
    class="hide-button"
    mdl-button
    mdl-button-type="icon"
    (click)="toggleDrawer()"
  >
    <md-icon>keyboard_arrow_left</md-icon>
  </button>
  <button
    *ngIf="canEdit"
    class="lock-button"
    mdl-button
    mdl-button-type="icon"
    [disabled]="updatingOrder"
    (click)="toggleEditing()"
  >
    <mdl-spinner *ngIf="updatingOrder; else icon" active></mdl-spinner>
    <ng-template #icon>
      <md-icon *ngIf="editing">lock_open</md-icon>
      <md-icon *ngIf="!editing">lock_outline</md-icon>
    </ng-template>
  </button>
</div>
<mdl-layout-title>
  <img class="logo" [src]="logoSource" >
  <div class="title-header">
    <md-icon class="link-element">person</md-icon>
    <div class="link-element">{{ 'WELCOME' | translate:{ name: title } }}</div>
  </div>
</mdl-layout-title>

<nav
  *ngIf="navigationLoaded"
  #navigationBar
  class="mdl-navigation"
>
  <div
    [dragula]="dragulaContainerName"
    [dragulaModel]="routes"
  >
    <ng-container *ngFor="let route of routes">
      <a
        *ngIf="!editing && route.enabled"
        class="mdl-navigation__link link-container"
        [routerLink]="route.path"
        [class.link-hover-light]="isLightTheme"
        [class.link-hover-dark]="!isLightTheme"
        [routerLinkActive]="linkActiveStyle"
        (click)="linkClick(route.path)"
      >
        <div [@linkSlide]="'in'">
          <md-icon class="link-element" [ngClass]="route.className">
            {{ route.icon }}
          </md-icon>
          <div class="link-element" [innerHTML]="route.text | translate"></div>
        </div>
      </a>
      <div
        *ngIf="editing"
        class="drag mdl-navigation__link link-container"
      >
        <span
          class="handle"
          [@handleSlide]="'in'"
        ></span>
        <md-checkbox
          [(ngModel)]="route.enabled"
          (change)="handleRouteChecked($event)"
          [@handleSlide]="!editing ? 'in' : ''"
        ></md-checkbox>
        <div [@linkSlide]="'out'">
          <div class="link-element" [innerHTML]="route.text | translate"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngFor="let route of nonDraggableRoutes">
    <a
      *ngIf="!editing && route.enabled"
      class="mdl-navigation__link link-container"
      [routerLink]="route.path"
      [class.link-hover-light]="isLightTheme"
      [class.link-hover-dark]="!isLightTheme"
      [routerLinkActive]="linkActiveStyle"
      (click)="linkClick(route.path)"
    >
      <md-icon class="link-element" [ngClass]="route.className">
        {{ route.icon }}
      </md-icon>
      <div class="link-element" [innerHTML]="route.text | translate"></div>
    </a>
  </ng-container>
</nav>

<div class="license-container">
  <div class="license">
    {{ 'LICENSE_1' | translate: { year: currentYear } }}
    <a href="https://bitworks.software/" target="_blank">
      {{ 'LICENSE_2' | translate }}
    </a>
    <br>
    {{ 'LICENSE_3' | translate }}
  </div>
</div>
