<div class="top-buttons">
  <button
    class="hide-button"
    mat-icon-button
    (click)="toggleDrawer()"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button
    *ngIf="canEdit"
    class="lock-button"
    mat-icon-button
    [disabled]="updatingOrder"
    (click)="toggleEditing()"
  >
    <mat-progress-spinner
      *ngIf="updatingOrder; else icon"
      color="accent"
      mode="indeterminate"
      [style.width.px]="32"
      [style.height.px]="32"
    ></mat-progress-spinner>
    <ng-template #icon>
      <mat-icon *ngIf="editing">lock_open</mat-icon>
      <mat-icon *ngIf="!editing">lock_outline</mat-icon>
    </ng-template>
  </button>
</div>
<div>
  <div class="logo" [style.background-image]="imgUrl"></div>
  <div class="title-header">
    <mat-icon class="link-element">person</mat-icon>
    <div class="link-element">
      {{ 'NAVIGATION_SIDEBAR.WELCOME' | translate:{ name: title } }}
    </div>
  </div>
</div>

<nav *ngIf="navigationLoaded" class="navigation" #navigationBar>
  <div
    [dragula]="dragulaContainerName"
    [dragulaModel]="routes"
  >
    <ng-container *ngFor="let route of routes">
      <a
        *ngIf="!editing && route.enabled"
        class="navigation-link link-container"
        [routerLink]="route.path"
        routerLinkActive="link-active"
        (click)="linkClick(route.path)"
      >
        <mat-icon [@linkSlide]="'in'" class="link-element" [ngClass]="route.className">
          {{ route.icon }}
        </mat-icon>
        <div [@linkSlide]="'in'" class="link-element" [innerHTML]="route.text | translate"></div>
      </a>
      <div
        *ngIf="editing"
        class="drag navigation-link link-container"
      >
        <span
          class="handle"
          [@handleSlide]="'in'"
        ></span>
        <mat-checkbox
          [(ngModel)]="route.enabled"
          (change)="handleRouteChecked($event)"
          [@handleSlide]="!editing ? 'in' : ''"
        ></mat-checkbox>
        <div [@linkSlide]="'out'">
          <div class="link-element" [innerHTML]="route.text | translate"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngFor="let route of nonDraggableRoutes">
    <a
      *ngIf="!editing && route.enabled"
      class="navigation-link link-container"
      [routerLink]="route.path"
      routerLinkActive="link-active"
      (click)="linkClick(route.path)"
    >
      <mat-icon class="link-element" [ngClass]="route.className">
        {{ route.icon }}
      </mat-icon>
      <div class="link-element" [innerHTML]="route.text | translate"></div>
    </a>
  </ng-container>
</nav>

<div class="license-container">
  <div class="license">
    {{ 'NAVIGATION_SIDEBAR.LICENSE.LICENSE_1' | translate: { year: currentYear } }}
    <a href="https://bitworks.software/" target="_blank">
      {{ 'NAVIGATION_SIDEBAR.LICENSE.LICENSE_2' | translate }}
    </a>
    <br>
    {{ 'NAVIGATION_SIDEBAR.LICENSE.LICENSE_3' | translate }}
  </div>
</div>
