:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mdl-navigation__link md-icon {
  margin-right: 10px;
}

.mdl-navigation .drag {
  position: relative;
}

.mdl-navigation__link > div {
  display: inline-block;
}

.link {
  &-container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  &-element {
    display: inline-block;
    vertical-align: middle;
  }

  &-active {
    &-light {
      background-color: #757575 !important;
    }

    &-dark {
      background-color: #E0E0E0 !important;
    }
  }

  &-hover {
    &-light:hover {
      background-color: #757575 !important;
    }

    &-dark:hover {
      background-color: #E0E0E0 !important;

    }
  }
}

a {
  color: inherit !important;
}

:host /deep/ .link-element {
  border-color: inherit;
}

.title-header {
  line-height: 1;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  word-break: break-all;
}

.top-buttons {
  display: flex;
  justify-content: space-between;

  md-icon {
    color: white !important;
  }
  .hide-button {
    margin: 15px 0 0 15px;
  }

  .lock-button {
    margin: 15px 15px 0 0;
  }
}


.license {
  width: 100%;
  font-size: 12px;
  padding: 5px;
  line-height: 1;
  text-align: center;
  flex: 1;
  align-self: flex-end;

  &-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 40px;
  }
}

div.link-container {
  color: inherit !important;
  background-color: inherit !important;
}

.logo {
  padding: 20px;
  max-width: 100%;
}

.handle {
  cursor: move !important;
  cursor: grabbing !important;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  z-index: 500;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iIAogICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9ICJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBjbGFzcz0iZHJhZy1oYW5kbGUiIGFyaWEtaGlkZGVuPSJ0cnVlIiB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE1Ij48cGF0aCBkPSJNMTIsNFY1SDRWNGg4Wk00LDhoOFY3SDRWOFptMCwzaDhWMTBINHYxWiI+PC9wYXRoPjwvc3ZnPgo=);
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
  }
}

md-checkbox {
  display: inline-block;
  position: absolute;
  left: 55px;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
}

.gu-mirror.mdl-navigation__link {
  display: block;
  padding: 16px 40px;
  background: rgba(0, 0, 0, 0.2) !important;
}

div.drag.link-container {
  cursor: move !important;
  cursor: grabbing !important;
}
