.mat-form-field-wrapper {
  text-align: left;
  padding-top: 18px !important;
  font-size: 11pt !important;
}

.ellipsis-overflow {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-container {
  display: flex;
  justify-content: start;
}
