<ng-container *ngIf="!vmIsDestroyed">
  <ng-container *ngFor="let action of vmActions$ | async">
    <ng-container *ngIf="!action.hidden || !action.hidden(vm)">
      <button
        mat-menu-item
        [disabled]="!action.canActivate(vm)"
        (click)="onAction(action, vm)"
      >
        <mat-icon [ngClass]="action.icon"></mat-icon>
        <span>{{ action.name | translate }}</span>
      </button>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="vmIsDestroyed && canExpungeOrRecoverVm">
  <ng-container *ngFor="let action of destroyedVmActions">
    <button
      mat-menu-item
      [disabled]="!action.canActivate(vm)"
      (click)="onAction(action, vm)"
    >
      <mat-icon [ngClass]="action.icon"></mat-icon>
      <span>{{ action.name | translate }}</span>
    </button>
  </ng-container>
</ng-container>
