@import '../../../../style/_variables';

h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin-bottom: 0;
}

::ng-deep .mat-tab-label {
  width: 33% !important;
}

.parameters-wrapper {
  margin: 16px;
}

.action-link {
  cursor: pointer;
}

.error-message {
  color: $error-message-color;
  display: block;
}

cs-vm-http-access-link {
  margin-left: 5px;
}
