<ng-template #menuItems let-actions>
  <ng-container *ngFor="let action of actions">
    <button
      *ngIf="!action.hidden(vm)"
      md-menu-item
      [disabled]="!action.canActivate(vm)"
      (click)="onAction(action, vm)"
    >
      <md-icon>{{ action.icon }}</md-icon>
      <span>{{ action.name | translate }}</span>
    </button>
  </ng-container>
</ng-template>

<ng-container *ngIf="!vmIsDestroyed; else ExpungeRecoverActions">
  <ng-container *ngTemplateOutlet="menuItems; context: vmActionsContext">
  </ng-container>
</ng-container>
<ng-template #ExpungeRecoverActions>
  <ng-container *ngTemplateOutlet="menuItems; context: destroyedVmActionsContext">
  </ng-container>
</ng-template>
<md-divider *ngIf="hasPrimaryActions"></md-divider>
<ng-container *ngTemplateOutlet="menuItems; context: pluginActionsContext ">
</ng-container>
