<mat-card class="vm-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">{{ volume.name }}</h2>
    </mat-card-title>
    <div *ngIf="!loading" class="mat-card-header-menu">
      <button *ngIf="!loading"
              mat-icon-button [matMenuTriggerFor]="actionsMenu">
        <mat-icon class="mdi-dots-vertical"></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="mat-card-content-container">
      <div
        *ngIf="!expandDetails"
        class="disk-size"
      >
        {{ (volume.size | division:2:30:2) + ' ' + ('UNITS.GB' | translate) }}
      </div>
      <cs-vm-volume-details-container
        *ngIf="expandDetails"
        [volume]="volume"
      ></cs-vm-volume-details-container>
      <cs-snapshots-container [volume]="volume"></cs-snapshots-container>
    </div>
    <mat-card-actions>
      <div class="card-right-button">
        <button
          mat-icon-button
          [class.open]="expandDetails"
          [disabled]="loading"
          (click)="toggleDetails()"
        >
          <mat-icon class="mdi-chevron-down"></mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
    <mat-menu
      #actionsMenu="matMenu"
      [style.width.px]="300"
    >
      <cs-volume-actions-container [volume]="volume"></cs-volume-actions-container>
    </mat-menu>
</mat-card>
