:host {
  margin: 15px;
  display: inline-flex;
}

.description,
.domain,
.account,
.labels {
  height: 20px;
  margin-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host /deep/ mdl-simple-tooltip div {
  white-space: normal;
  word-break: break-all;
}

.custom-card {
  min-height: 182px;
}
