<md-card class="custom-card">
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdTooltip]="securityGroupTemplate.name"
      >
        {{ securityGroupTemplate.name }}
      </h2>
      <div class="md-card-header-menu">
        <button
          mdl-button
          (click)="$event.stopPropagation(); myPopover.toggle($event)"
          mdl-button-type="icon"
          mdl-ripple
        >
          <md-icon>more_vert</md-icon>
        </button>
      </div>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class="card-wrapper" *ngIf="!securityGroupTemplate?.description">
      <div class="description"></div>
    </div>

    <div class="card-wrapper" *ngIf="securityGroupTemplate?.description">
      <div class="description first">{{ 'DESCRIPTION' | translate }}:</div>
      <div class="description last">
        <span
          class="tooltip-position-fix fixed-width-span"
          *ngIf="securityGroupTemplate.description"
          [mdTooltip]="securityGroupTemplate.description"
          mdTooltipPosition="above"
        >
          {{ securityGroupTemplate.description }}
        </span>
      </div>
    </div>
  </md-card-content>

  <mdl-popover
    class="card-popover"
    #myPopover
    [hide-on-click]="true"
  >
    <div mdl-shadow="6" class="popover-actions">
      <ng-container *ngIf="securityGroupTemplate.isPredefinedTemplate">
        <button
          *ngIf="securityGroupTemplate.isPredefinedTemplate"
          mdl-button
          mdl-button-type="icon"

          [mdTooltip]="'VIEW' | translate"
          (click)="onClick.emit()"
        >
          <md-icon>visibility</md-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!securityGroupTemplate.isPredefinedTemplate">
        <button
          mdl-button
          mdl-button-type="icon"
          [mdTooltip]="'EDIT' | translate"
          (click)="onClick.emit()"
        >
          <md-icon>edit</md-icon>
        </button>
        <button
          mdl-button
          mdl-button-type="icon"
          [mdTooltip]="'DELETE' | translate"
          (click)="$event.stopPropagation(); onDelete.emit(securityGroupTemplate)"
        >
          <md-icon>delete</md-icon>
        </button>
      </ng-container>
    </div>
  </mdl-popover>
</md-card>
