<cs-list (onAction)="showCreationDialog()">
  <cs-sg-filter
    [viewMode]="viewMode"
    (updateFilters)="updateFiltersAndFilter($event)"
    cs-list
  ></cs-sg-filter>

  <ng-container *loading="!loaded" cs-list>
    <ng-container *ngIf="isViewModeTemplates">
      <ng-container *ngIf="predefinedSecurityGroupList.length">
        <h4 class="section-header">{{ "SECURITY_GROUP_PAGE.LIST.SYSTEM_SECURITY_GROUPS" | translate }}</h4>
        <div class="card-list-container">
          <cs-security-group-template-list-item
            *ngFor="let group of predefinedSecurityGroupList"
            [securityGroupTemplate]="group"
          ></cs-security-group-template-list-item>
        </div>
      </ng-container>

      <ng-container *ngIf="customSecurityGroupList.length">
        <h4 class="section-header">{{ "SECURITY_GROUP_PAGE.LIST.CUSTOM_SECURITY_GROUPS" | translate }}</h4>
        <div class="card-list-container">
          <cs-security-group-template-list-item
            *ngFor="let group of customSecurityGroupList"
            [securityGroupTemplate]="group"
          ></cs-security-group-template-list-item>
        </div>
      </ng-container>

      <cs-no-results
        *ngIf="!predefinedSecurityGroupList.length && !customSecurityGroupList.length"
      ></cs-no-results>
    </ng-container>

    <ng-container *ngIf="isViewModeShared">
      <ng-container *ngIf="sharedSecurityGroupList.length">
        <div class="card-list-container">
          <cs-security-group-template-list-item
            *ngFor="let group of sharedSecurityGroupList"
            [securityGroupTemplate]="group"
          ></cs-security-group-template-list-item>
        </div>
      </ng-container>

      <cs-no-results *ngIf="!sharedSecurityGroupList.length"></cs-no-results>
    </ng-container>
  </ng-container>

  <ng-container *loading="!loaded"></ng-container>
</cs-list>

<router-outlet></router-outlet>
