<mdl-card class="custom-card" mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>{{ securityGroupTemplate.name }}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <div class="card-wrapper">
      <div>
        <div class="description">{{ 'DESCRIPTION' | translate }}: </div>
        <div class="domain">{{ 'DOMAIN' | translate }}: </div>
        <div class="labels">{{ 'LABELS' | translate }}: </div>
      </div>
      <div>
        <div class="description">
          <span
            *ngIf="securityGroupTemplate.description"
            [mdl-tooltip]="securityGroupTemplate.description"
          >
            {{ securityGroupTemplate.description }}
          </span>
        </div>
        <div class="domain">
          <span
            *ngIf="securityGroupTemplate.domain"
            [mdl-tooltip]="securityGroupTemplate.domain"
          >
            {{ securityGroupTemplate.domain }}
          </span>
        </div>
        <div class="labels">
          <span
            *ngIf="securityGroupTemplate.labels"
            [mdl-tooltip]="securityGroupTemplate.labels"
          >
            {{ securityGroupTemplate.labels }}
          </span>
        </div>
      </div>
    </div>
  </mdl-card-supporting-text>
  <mdl-card-actions>
    <button
      mdl-button
      mdl-button-type="icon"
      mdl-tooltip-position="top"
      [mdl-tooltip]="(securityGroupTemplate.isPredefinedTemplate() ? 'VIEW' : 'EDIT') | translate"
      (click)="onClick.emit()"
    >
      <mdl-icon *ngIf="securityGroupTemplate.isPredefinedTemplate()">
        visibility
      </mdl-icon>
      <mdl-icon *ngIf="!securityGroupTemplate.isPredefinedTemplate()">
        edit
      </mdl-icon>
    </button>
    <button
      *ngIf="!securityGroupTemplate.isPredefinedTemplate()"
      mdl-button
      mdl-button-type="icon"
      mdl-tooltip-position="top"
      [mdl-tooltip]="'DELETE' | translate"
      (click)="$event.stopPropagation(); onDelete.emit(securityGroupTemplate)"
    >
      <mdl-icon>delete</mdl-icon>
    </button>
  </mdl-card-actions>
</mdl-card>
