<md-card class="custom-card">
  <md-card-header>
    <md-card-title>
      <h2
        class="md-card-title-text"
        [mdTooltip]="securityGroupTemplate.name"
      >
        {{ securityGroupTemplate.name }}
      </h2>
      <div class="md-card-header-menu">
        <button md-icon-button [mdMenuTriggerFor]="actionsMenu">
          <md-icon>more_vert</md-icon>
        </button>
      </div>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class="card-wrapper" *ngIf="!securityGroupTemplate?.description">
      <div class="description"></div>
    </div>

    <div class="card-wrapper" *ngIf="securityGroupTemplate?.description">
      <div class="description first">{{ 'SECURITY_GROUP_PAGE.CARD.DESCRIPTION' | translate }}:</div>
      <div class="description last">
        <span
          class="tooltip-position-fix fixed-width-span"
          *ngIf="securityGroupTemplate.description"
          [mdTooltip]="securityGroupTemplate.description"
          mdTooltipPosition="above"
        >
          {{ securityGroupTemplate.description }}
        </span>
      </div>
    </div>
  </md-card-content>

  <md-menu #actionsMenu="mdMenu">
    <cs-security-group-actions [securityGroup]="securityGroupTemplate"></cs-security-group-actions>
  </md-menu>
</md-card>
