<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>VM logs key</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cs-input-group class="full-width-input">
      <mat-form-field class="full-width-input" cs-input-group-textbox>
        <input matInput [value]="'9378535y32hr9823h832f832fg23fg23'" readonly>
      </mat-form-field>
      <cs-clipboard-button
        cs-input-group-button
        [value]="'9378535y32hr9823h832f832fg23fg23'"
        tooltipPosition="below"
      ></cs-clipboard-button>
      <button
        cs-input-group-button
        mat-icon-button
        class="mat-icon-button"
        (click)="onRefresh()"
      >
        <mat-icon class="mdi-replay"></mat-icon>
      </button>
    </cs-input-group>

    <a class="truncate" target="_blank" [href]="apiUrl">
      http://link_to_docs
    </a>
  </mat-card-content>
</mat-card>
