<div *ngIf="entity">
  <div *ngIf="!readyInEveryZone" class="update-button-container">
    <button mat-button (click)="updateStatus()">{{ 'COMMON.UPDATE' | translate }}</button>
  </div>
  <mat-card *ngFor="let zone of entity.zones" class="vm-card">
    <mat-card-header>
      <mat-card-title>
        <h2 class="mat-card-title-text">{{ zone.zonename }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="grid">
      <div class="row">
        <div>{{ 'TEMPLATE_PAGE.ZONE_DETAILS.READY' | translate }}</div>
        <div>{{ zone.isready | viewValue | async }}</div>
      </div>
      <div *ngIf="!zone.isready && zone.status" class="row">
        <div>{{ 'COMMON.STATUS' | translate }}</div>
        <div>{{ zone.status }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<cs-no-results *ngIf="!entity" [text]="'TEMPLATE_NOT_FOUND'"></cs-no-results>
