<div class="overlay" *ngIf="sgCreationInProgress">
  <div class="message">
    <p *ngIf="sgCreationInProgress">{{ 'CREATING_SG' | translate }}</p>
    <p *ngIf="agCreationInProgress">{{ 'CREATING_AG' | translate }}</p>
    <mdl-progress
      [indeterminate]="sgCreationInProgress || agCreationInProgress"
    ></mdl-progress>
  </div>
</div>
<div class="vm-creation-container">
  <h3 class="mdl-dialog__title">{{ 'NEW_VM' | translate }}</h3>
  <form
    (ngSubmit)="onVmCreationSubmit($event)"
    #vmCreateForm="ngForm"
    *loading="fetching"
    novalidate
  >
    <div class="container">
      <div class="left-column">

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.NAME' | translate }}
          </h5>
          <mdl-textfield
            type="text"
            [label]="'VM_CREATION_FORM.NAME' | translate"
            name="name"
            pattern="^[a-zA-Z]{1}[a-zA-Z0-9\-]{0,61}[a-zA-Z0-9]$"
            [error-msg]="(takenName ? 'THIS_NAME_IS_TAKEN' : '') | translate"
            #vmName="ngModel"
            [ngModel]="formState.state.displayName"
            (change)="displayNameChange($event)"
            [class.is-invalid]="!vmName.valid || formState.state.displayName === takenName"
          >
          </mdl-textfield>
        </div>

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.ZONE' | translate }}
          </h5>
          <mdl-select
            name="zone"
            [ngModel]="formState.state.zone"
            (change)="zoneChange($event)"
          >
            <mdl-option
              *ngFor="let z of formState.data.zones"
              [value]="z"
            >
              {{ z.name }}
            </mdl-option>
          </mdl-select>
        </div>

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.SERVICE_OFFERING' | translate }}
          </h5>
          <cs-service-offering-selector
            name="serviceOffering"
            [serviceOfferings]="formState.data.serviceOfferings"
            [zoneId]="formState.state.zone.id"
            [ngModel]="formState.state.serviceOffering"
            (change)="serviceOfferingChange($event)"
          ></cs-service-offering-selector>
        </div>

        <div class="dialog-select-wrapper">
          <h5 class="dialog-select-header">
            {{ 'VM_CREATION_FORM.INSTALLATION_SOURCE' | translate }}
          </h5>
          <cs-vm-creation-template
            name="template"
            class="dialog-select-select template-select"
            [templates]="formState.data.templates"
            [isos]="formState.data.isos"
            [zoneId]="formState.state.zone.id"
            [ngModel]="formState.state.template"
            (ngModelChange)="templateChange($event)"
          ></cs-vm-creation-template>
        </div>

        <div>
          <h5>
            {{ 'DISK_OFFERING' | translate }}
          </h5>
          <cs-disk-offering
            name="diskOfferingSelector"
            [diskOfferingList]="formState.data.diskOfferings"
            [ngModel]="formState.state.diskOffering"
            (ngModelChange)="diskOfferingChange($event)"
          ></cs-disk-offering>
        </div>

        <div *ngIf="formState.state.rootDiskSizeMin">
          <cs-slider
            name="rds"
            *ngIf="showResizeSlider"
            [min]="formState.state.rootDiskSizeMin"
            [max]="formState.data.rootDiskSizeLimit"
            [label]="'VM_CREATION_FORM.DISK_SIZE' | translate"
            [ngModel]="formState.state.rootDiskSize"
            (ngModelChange)="rootDiskSizeChange($event)"
            [units]="'GB' | translate"
          ></cs-slider>
        </div>

      </div>

      <div class="right-column">

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.GROUP' | translate }}
          </h5>
          <mdl-autocomplete
            name="group"
            [placeholder]="'NO_GROUP' | translate"
            [options]="formState.data.instanceGroupNames"
            [ngModel]="formState.state.instanceGroup.name"
            (ngModelChange)="instanceGroupChange($event)"
          ></mdl-autocomplete>
        </div>

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.AFFINITY_GROUPS' | translate }}
          </h5>
          <mdl-autocomplete
            name="affinityGroup"
            [placeholder]="'NO_GROUP' | translate"
            [options]="formState.data.affinityGroupNames"
            [ngModel]="formState.state.affinityGroup.name"
            (ngModelChange)="affinityGroupChange($event)"
          ></mdl-autocomplete>
        </div>

        <div>
          <cs-security-group-rules-manager
            name="sgm"
            class="sg-rules-manager"
            *ngIf="formState.state.showSecurityGroups"
            [ngModel]="formState.state.securityRules"
            (ngModelChange)="securityRulesChange($event)"
          ></cs-security-group-rules-manager>
        </div>

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.KEYBOARD_LAYOUT' | translate }}
          </h5>
          <cs-keyboards
            name="keyboard"
            [ngModel]="formState.state.keyboard"
            (ngModelChange)="keyboardChange($event)"
          ></cs-keyboards>
        </div>

        <div>
          <h5>
            {{ 'VM_CREATION_FORM.SSH_KEYPAIR' | translate }}
          </h5>
          <mdl-select
            name="ssh"
            [ngModel]="formState.state.sshKeyPair"
            (change)="sshKeyPairChange($event)"
          >
            <mdl-option
              *ngFor="let keyPair of formState.data.sshKeyPairs"
              [value]="keyPair"
            >
              {{ keyPair.name }}
            </mdl-option>
          </mdl-select>
        </div>

        <div class="start-vm-checkbox">
          <mdl-checkbox
            name="startVm"
            [ngModel]="formState.state.doStartVm"
            (ngModelChange)="doStartVmChange($event)"
          >
            {{ 'VM_CREATION_FORM.START_VM' | translate }}
          </mdl-checkbox>
        </div>

      </div>
      <div *ngIf="!enoughResources">
        {{ 'INSUFFICIENT_RESOURCES_VM' | translate }}
        <div *ngIf="insufficientResources.length">
          {{ 'VM_CREATION_FORM.YOU_RAN_OUT_OF' | translate }}
          <ng-container *ngFor="let resource of insufficientResources; let l = last">
            {{ insufficientResourcesErrorMap[resource] | translate }}<ng-container *ngIf="!l">,</ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button
        mdl-colored="primary"
        [disabled]="!vmCreateForm.valid || formState.state.displayName === takenName"
        type="submit"
        mdl-button
        mdl-ripple
      >
        {{ 'CREATE' | translate }}
      </button>
      <button
        mdl-colored="primary"
        type="button"
        mdl-button
        (click)="onCancel()"
        mdl-ripple
      >
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </form>
</div>
