:host {
  display: block;

  /deep/ .mat-tab-body-content {
    overflow: hidden !important;
  }

  /deep/ .mat-tab-label {
    width: 50% !important;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  .message {
    position: static;
    transform: none;
  }

  mat-progress-bar, .overlay-content {
    width: 500px;
  }
}

mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  overflow: visible;
}

.vm-creation-container {
  position: relative;
  padding: 0.9em;
  min-height: 200px;

  /deep/ cs-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

h4 {
  margin: 0;
}

.network-security-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-vm-checkbox {
  margin-top: 20px;
}

.settings-column {
  width: 95%;
  margin-left: 10px;
  padding-top: 10px;
}

.root-disk-size {
  position: relative;
  width: 300px;
}

.security-groups {
  position: relative;
  width: 300px;
}

.dialog-select-header {
  display: inline-block;
}

.dialog-select-create-button {
  margin-top: 16px;
  margin-right: 16px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.dialog-select-select {
  width: 100%;
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;
}

.dialog-select-wrapper {
  position: relative;
}


.sg-rules-manager {
  width: 100%;
}

.progress-hidden {
  visibility: hidden;
}

mat-progress-bar {
  margin-top: 10px;
}

.message {
  line-height: 1.4 !important;
}

.disk-offerings {
  padding-bottom: 13px;
}

.mat-tab-label {
  width: 50% !important;
}

mat-tab-group {
  width: 100% !important;
}
