:host {
  position: relative;
  display: block;
}

:host .overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    position: static;
    transform: none;
  }

  mdl-progress {
    width: 500px;
  }
}

:host mdl-textfield {
  padding-top: 15px;
}

.vm-creation-container {
  position: relative;
  padding: 0.9em;
  min-height: 200px;

  /deep/ cs-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  overflow: auto;
}

h5 {
  margin-bottom: 0;
}

.network-security-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-vm-checkbox {
  margin-top: 20px;
}

.left-column{
  width: 300px;
  margin-right: 10px;
}

.right-column {
  width: 300px;
  margin-left: 10px;
}

.root-disk-size {
  position:relative;
  width: 300px;
}

.security-groups {
  position: relative;
  width: 300px;
}

.dialog-select-header {
  display: inline-block;
}

.dialog-select-create-button {
  margin-top: 16px;
  margin-right: 16px;
  display:inline-block;
  position:absolute;
  right: 0;
}

.dialog-select-select {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;
  margin-top: 16px;

  /deep/ .mdl-textfield {
    padding-top: 10px;
  }

  /deep/ .mdl-textfield__input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    border: none;
  }
}

.dialog-select-wrapper {
  position: relative;
  margin-bottom: 86px;
}

.progress-hidden {
  visibility: hidden;
}
