.container {
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

h5 {
  margin-bottom: 0;
}

.network-security-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-vm-checkbox {
  margin-top: 20px;
}

.left-column,
.right-column {
  width: 300px;
}

.root-disk-size {
  position:relative;
  width: 300px;
}

.security-groups {
  position: relative;
  width: 300px;
}

.dialog-select-header {
  display: inline-block;
}

.dialog-select-create-button {
  margin-top: 16px;
  margin-right: 16px;
  display:inline-block;
  position:absolute;
  right: 0;
}

.dialog-select-select {
  position: absolute;
  right: -8px;
  display: inline-block;
  text-align: right;
  margin-top: 16px;
}

.dialog-select-wrapper {
  position: relative;
  margin-bottom: 60px;
}
