<md-card>
  <md-card-header>
    <md-card-title>
      <h2 class="md-card-title-text">{{ 'ISO' | translate }}</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content class="md-card-content-with-actions" [ngSwitch]="!!iso">
    <ng-template [ngSwitchCase]="true">
      <div class="md-card-content-container">
        {{ iso.name }}
      </div>
      <md-card-actions>
        <button
          mdl-button
          mdl-button-type="icon"
          mdTooltipPosition="above"
          [mdTooltip]="'DETACH' | translate"
          (click)="detachIso()"
        >
          <md-icon>remove</md-icon>
        </button>
      </md-card-actions>
    </ng-template>
    <ng-template ngSwitchDefault>
      <div class="md-card-content-container">
        {{ 'NO_MEDIUM' | translate }}
      </div>
      <md-card-actions>
        <button
          mdl-button
          mdl-button-type="icon"
          mdTooltipPosition="above"
          [mdTooltip]="'ATTACH' | translate"
          (click)="attachIso()"
        >
          <md-icon>add</md-icon>
        </button>
      </md-card-actions>
    </ng-template>
  </md-card-content>
</md-card>
