<div
  class="mdl-textfield is-upgraded"
  [class.is-focused]="popoverComponent.isVisible || focused"
  [class.is-disabled]="disabled"
  [class.is-dirty]="isDirty()"
>
  <span
    [attr.tabindex]="!this.disabled ? 1 : null"
    (focus)="open($event);addFocus();"
    (blur)="removeFocus()">
    <!-- don't want click to also trigger focus -->
  </span>
  <input
    #selectInput
    readonly
    tabindex="-1"
    [placeholder]="placeholder"
    class="mdl-textfield__input"
    (click)="toggle($event)"
    [attr.id]="textfieldId"
    [value]="text"
  >
  <span
    class="mdl-select__toggle material-icons"
    (click)="toggle($event)"
  >
    keyboard_arrow_down
  </span>
  <label class="mdl-textfield__label" [attr.for]="textfieldId">{{ label }}</label>
  <span class="mdl-textfield__error"></span>
  <mdl-popover hide-on-click="!multiple" [style.width.%]="100">
    <div
      class="mdl-list mdl-shadow--6dp"
      [dragula]="textfieldId"
      [dragulaModel]="dragItems"
    >
      <ng-content></ng-content>
    </div>
  </mdl-popover>
</div>
