<h3 class="mat-dialog-title">
  {{ title[savedData.mode] | translate }}
</h3>

<div class="mat-dialog-content">
  <mat-button-toggle-group
    [(ngModel)]="savedData.mode"
  >
    <mat-button-toggle [value]="VmCreationSecurityGroupMode.Builder">
      {{ 'SECURITY_GROUP_SELECTOR.CREATE' | translate }}
    </mat-button-toggle>
    <mat-button-toggle [value]="VmCreationSecurityGroupMode.Selector">
      {{ 'SECURITY_GROUP_SELECTOR.SELECT_SHARED' | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <cs-security-group-builder
    *ngIf="isModeBuilder"
    [inputRules]="savedData?.rules"
    (changed)="onBuilderGroupChange($event)"
  ></cs-security-group-builder>

  <cs-security-group-selector
    *ngIf="isModeSelector && sharedGroups"
    [securityGroups]="sharedGroups"
    [(ngModel)]="savedData.securityGroups"
  ></cs-security-group-selector>
</div>

<div class="mat-dialog-actions">
  <button
    mat-button
    type="button"
    color="primary"
    (click)="canceled.emit()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>

  <button
    mat-button
    type="button"
    color="primary"
    [disabled]="(isModeBuilder && !savedData.rules?.templates?.length)
     || (isModeSelector && !savedData.securityGroups?.length)"
    (click)="saved.emit(savedData)"
  >
    {{ 'COMMON.SAVE' | translate }}
  </button>
</div>
