<h3 class="mat-dialog-title">
  {{ title | translate }}
</h3>

<div class="mat-dialog-content">
  <mat-button-toggle-group
    (change)="setMode($event.value)"
  >
    <mat-button-toggle value="0" [checked]="displayMode === 0">
      {{ 'SECURITY_GROUP_SELECTOR.BUILD' | translate }}
    </mat-button-toggle>
    <mat-button-toggle value="1" [checked]="displayMode === 1">
      {{ 'SECURITY_GROUP_SELECTOR.SELECT' | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <cs-security-group-builder
    *ngIf="isModeBuilder"
    [inputRules]="savedData?.rules"
    (onChange)="onBuilderGroupChange($event)"
  ></cs-security-group-builder>

  <cs-security-group-selector
    *ngIf="isModeSelector && sharedGroups"
    [securityGroups]="sharedGroups"
    [(ngModel)]="savedData.securityGroup"
  ></cs-security-group-selector>
</div>

<div class="mat-dialog-actions">
  <button mat-button (click)="onCancel()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>

  <button mat-button (click)="onSave()">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</div>
