:host /deep/ .mat-tab-label {
  line-height: 30px !important;
  height: 30px !important;
  min-width: 100px;
  text-transform: uppercase;
}

mat-tab-group {
  margin: 0 !important;
}

cs-security-group-selector {
}
