<mat-card class="vm-card" *ngIf="offering">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.TITLE' | translate }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content-with-actions">
    <div class="grid service-offering mat-card-content-container" [class.open]="expandServiceOffering">

      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.name' | translate }}</div>
        <div>{{ offering.name }}</div>
      </div>

      <div class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.description' | translate }}</div>
        <div>{{ offering.displaytext }}</div>
      </div>

      <div *ngIf="offering?.cpunumber != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.cpuNumber' | translate }}</div>
        <div>{{ offering.cpunumber }}</div>
      </div>

      <div *ngIf="offering?.cpuspeed != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.cpuSpeed' | translate }}</div>
        <div>{{ offering.cpuspeed }}</div>
      </div>

      <div *ngIf="offering?.memory != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.memory' | translate }}</div>
        <div>{{ offering.memory }}</div>
      </div>

      <div *ngIf="offering?.created" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.created' | translate }}</div>
        <div>{{ offeringCreated | csStringifyDate }}</div>
      </div>

      <div *ngIf="offering?.networkrate" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.networkRate' | translate }}</div>
        <div>{{ offering.networkrate }}</div>
      </div>

      <div *ngIf="offering?.offerha != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.offerHa' | translate }}</div>
        <div>{{ offering.offerha | viewValue | async }}</div>
      </div>

      <div *ngIf="offering?.limitcpuuse != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.limitCpu' | translate }}</div>
        <div>{{ offering.limitcpuuse | viewValue | async }}</div>
      </div>

      <div *ngIf="offering?.isvolatile != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.isVolatile' | translate }}</div>
        <div>{{ offering.isvolatile | viewValue | async }}</div>
      </div>

      <div *ngIf="offering?.issystem != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.isSystem' | translate }}</div>
        <div>{{ offering.issystem | viewValue | async }}</div>
      </div>

      <div *ngIf="offering?.defaultuse != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.defaultUse' | translate }}</div>
        <div>{{ offering.defaultuse | viewValue | async }}</div>
      </div>

      <div *ngIf="offering?.deploymentplanner != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.deploymentPlanner' | translate }}</div>
        <div>{{ offering.deploymentplanner | viewValue | async }}</div>
      </div>

      <div *ngIf="offering?.domain" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.domain' | translate }}</div>
        <div>{{ offering.domain }}</div>
      </div>

      <div *ngIf="offering?.diskBytesReadRate" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskBytesReadRate' | translate }}</div>
        <div>{{ offering.diskBytesReadRate | division:10:6 }}</div>
      </div>

      <div *ngIf="offering?.diskIopsWriteRate != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskBytesWriteRate' | translate }}</div>
        <div>{{ offering.diskBytesWriteRate | division:10:6 }}</div>
      </div>

      <div *ngIf="offering?.diskIopsReadRate != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskIopsReadRate' | translate }}</div>
        <div>{{ offering.diskIopsReadRate }}</div>
      </div>

      <div *ngIf="offering?.diskIopsWriteRate != null" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.diskIopsWriteRate' | translate }}</div>
        <div>{{ offering.diskIopsWriteRate }}</div>
      </div>

      <div *ngIf="offering?.provisioningtype" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.provisioningType' | translate }}</div>
        <div>{{ offering.provisioningtype | translate }}</div>
      </div>

      <div *ngIf="offering?.storagetype" class="row">
        <div>{{ 'VM_PAGE.VM_DETAILS.SERVICE_OFFERING.storageType' | translate }}</div>
        <div>{{ offering.storagetype | translate }}</div>
      </div>

    </div>
    <mat-card-actions>
      <div class="card-left-button">
        <button
          [matTooltip]="'COMMON.CHANGE' | translate"
          matTooltipPosition="above"
          mat-icon-button
          [disabled]="!canActivate"
          (click)="changeServiceOffering()"
        >
          <mat-icon class="mdi-pencil"></mat-icon>
        </button>
      </div>
      <div class="card-right-button">
        <button
          mat-icon-button
          (click)="toggleServiceOffering()"
          [class.open]="expandServiceOffering"
        >
          <mat-icon class="mdi-chevron-down"></mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
