<div
  *ngIf="securityGroups?.length"
  class="security-group-radio-list"
>
  <mat-list>
    <mat-list-item
      *ngFor="let sg of securityGroups"
      lines="2"
      (click)="$event.stopPropagation(); selectSecurityGroup(sg)"
      [class.selected-security-group]="securityGroup?.id === sg?.id"
    >
      <h4 matLine>
        <span>{{ sg.name }}</span>
      </h4>
      <p
        matLine
        class="matLine-secondary"
      >
        {{ sg.description }}
      </p>
      <span>
        <mat-radio-button [checked]="sg?.id === securityGroup?.id"></mat-radio-button>
      </span>
    </mat-list-item>
  </mat-list>
</div>

<cs-no-results *ngIf="!securityGroups?.length"></cs-no-results>
