:host {
  height: 100%;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

mat-sidenav-container {
  flex-grow: 1;
  min-height: 100%;
  height: auto !important;
  max-width: 100%;
  margin: 0;

  mat-sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 216px;
    height: 100%;
    max-height: 100%;
    will-change: transform;
    color: #424242;
    overflow: hidden;
  }

  cs-sidenav {
    overflow: auto;
  }
}
