@import '../../../../style/__variables.scss';

.margin-right {
  transition: margin 0.3s;
}

.fab.open {
  margin-right: $sidebar-width + 1;
}

cs-sidebar {
  width: $sidebar-width + 1;
}

.detail-list {
  height: 100%;
  overflow: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
  z-index: 5;
}
