@import '../../../../style/__variables.scss';

:host {
  display: block;
  height: 100%;
}

md-sidenav-container {
  height: 100%;
}

cs-sidebar, md-sidenav {
  width: $sidebar-width + 1;
}

.detail-list {
  height: 100%;
  overflow: auto;
}
