<div *ngIf="mode === 'create'">
  <cs-fancy-select>
    <h5 class="fancy-select-header">{{ header | translate }}</h5>
    <mdl-button
      class="fancy-select-button"
      (click)="showDialog()"
    >
      <span *ngIf="!savedRules?.templates?.length">{{ 'ADD' | translate }}</span>
      <span *ngIf="savedRules?.templates?.length">{{ 'EDIT' | translate }}</span>
    </mdl-button>
    <span class="fancy-select-content">
      <div class="mdl-textfield template-list">
        <div class="mdl-textfield__input">
          <ng-container *ngIf="savedRules.templates?.length">
            {{ 'BASED_ON' | translate }}
            <span *ngFor="let sg of savedRules?.templates; let i=index">
              {{ sg.name }}{{ i === savedRules?.templates?.length - 1 ? '' : ',' }}
            </span>
          </ng-container>
          <ng-container *ngIf="!savedRules.templates?.length">
            {{ 'NONE' | translate }}
          </ng-container>
        </div>
      </div>
    </span>
  </cs-fancy-select>
</div>
