:host {
  display: inline-block;
  text-align: right;
  margin-top: 16px;

  .mat-input-wrapper {
    text-align: left;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
