.root-volume-size {
  display: flex;
  justify-content: space-between;
}

.root-volume-size-limit {
  display:inline-block;
  position:absolute;
  right: 0;
}

.root-volume-input {
  /deep/ .mdl-textfield__input {
    text-align: center;
    font-size: 20px;
  }
  width: 50px;
  display: inline-block;
}

.root-volume-label {
  display: inline-block;
  font-size: 20px;
}

.root-volume-size-il {
  display: inline-block;
  position: absolute;
  right: 0;
}
