/deep/ .sg-template-creation-dialog {
  width: 450px;
  padding: 0;
}

:host md-progress-bar {
  width: 300px;
}

.security-group-template-form {
  padding: 1em;
}

cs-security-group-rules-manager {
  width: 100%;
  margin-top: 0;
}

:host /deep/ cs-security-group-rules-manager .mdl-textfield {
  padding-bottom: 0;
  width: 100%;
}

.basic-rules {
  /deep/ {
    h5 {
      font-size: 16px;
    }
  }
}
