<cs-overlay-loading [active]="creationInProgress"></cs-overlay-loading>
<div [hidden]="creationInProgress">
  <h3 *ngIf="isModeTemplates" class="mat-dialog-title">
    {{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.CREATE_NEW_TEMPLATE' | translate }}
  </h3>

  <h3 *ngIf="isModeShared" class="mat-dialog-title">
    {{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.CREATE_NEW_SHARED_GROUP' | translate }}
  </h3>

  <form (ngSubmit)="onSubmit($event)" #templateCreationForm="ngForm" novalidate>
    <div class="mat-dialog-content">
      <mdl-textfield
        type="text"
        label="{{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.NAME' | translate }}"
        name="name"
        floating-label
        autofocus
        required
        [(ngModel)]="name"
        #nameField="ngModel"
        [class.is-invalid]="nameField.invalid && !nameField.pristine"
        [style.width]="'100%'"
      >
      </mdl-textfield>
      <br/>
      <mdl-textfield
        type="text"
        label="{{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.DESCRIPTION' | translate }}"
        name="description"
        floating-label
        [(ngModel)]="description"
        #descriptionField="ngModel"
        [class.is-invalid]="descriptionField.invalid && !descriptionField.pristine"
        [style.width]="'100%'"
      >
      </mdl-textfield>

      <cs-security-group-creation-rules-manager
        class="basic-rules"
        name="sgm"
        [(ngModel)]="securityRules"
      ></cs-security-group-creation-rules-manager>
    </div>
    <div class="mat-dialog-actions">
      <button
        mdl-colored="primary"
        mdl-button
        mdl-ripple
        type="submit"
        [disabled]="!templateCreationForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
      <button
        mdl-colored="primary"
        mdl-button
        mdl-ripple
        type="button"
        (click)="dialogRef.close()"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </form>
</div>
