<cs-overlay-loading [active]="creationInProgress"></cs-overlay-loading>
<div [hidden]="creationInProgress">
  <h3 class="mat-dialog-title">{{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.CREATE_NEW_TEMPLATE' | translate }}</h3>

  <form (ngSubmit)="onSubmit($event)" #templateCreationForm="ngForm" novalidate>
    <div class="mat-dialog-content">
      <md-input-container class="full-width-input">
        <input
          mdInput
          name="name"
          [(ngModel)]="name"
          [placeholder]="'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.NAME' | translate"
          autofocus
          maxlength="255"
          required
        >
        <md-hint align="end">{{ name?.length || 0 }} / 255</md-hint>
      </md-input-container>
      <br/>
      <md-input-container class="full-width-input">
        <input
          mdInput
          name="description"
          [(ngModel)]="description"
          [placeholder]="'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.DESCRIPTION' | translate"
          maxlength="255"
        >
        <md-hint align="end">{{ description?.length || 0 }} / 255</md-hint>
      </md-input-container>
      <!--<br />-->
      <cs-security-group-rules-manager
        class="basic-rules"
        [header]="'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.BASIC_RULES'"
        name="sgm"
        [(ngModel)]="securityRules"
      ></cs-security-group-rules-manager>
    </div>
    <div class="mat-dialog-actions">
      <button
        mdl-colored="primary"
        mdl-button
        mdl-ripple
        type="submit"
        [disabled]="!templateCreationForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
      <button
        mdl-colored="primary"
        mdl-button
        mdl-ripple
        type="button"
        (click)="dialogRef.close()"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </form>
</div>
