:host {
  display: block;
}

.grouped-section {
  width: 100%;
  padding-bottom: 15px;

  .grouped-section {
    border: none;
  }

  h4 {
    font-size: 20px !important;
    margin: 0;
    padding-bottom: 15px;
  }

  & h4 {
    padding-top: 0;
  }

  & & h4 {
    font-size: 20px;
  }

  & & & h4 {
    font-size: 16px;
  }
}
