.grouped-section {
  width: 100%;
  padding-bottom: 15px;

  .grouped-section {
    border: none;
    padding-bottom: 0;
  }

  h4 {
    font-size: 24px;
    margin: 0;
    padding: 15px 15px 0 15px;
  }

  & & h4 {
    font-size: 20px;
    padding-top: 5px;
  }

  & & & h4 {
    font-size: 16px;
    padding-top: 5px;
  }
}

.card-container {
  margin-top: 10px;
  padding-bottom: 10px;
}

.list-container {
  margin-top: 15px;
}

mat-list {
  margin: 15px;
}
