:host {
  display: block;
}

.search-bar {
  display: flex;
  max-width: 100%;
  white-space: nowrap;
  margin: 0;

  mat-icon {
    align-self: center;
  }

  mat-form-field {
    max-width: 300px;
    width: 100%;
  }
}
