.search-bar {
  display: flex;
  max-width: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0 15px;

  md-icon {
    align-self: center;
  }

  md-input-container {
    max-width: 300px;
    width: 100%;
  }
}
