<ng-container *ngIf="entity">
  <cs-template-description [template]="entity"></cs-template-description>

  <cs-instance-group
    *ngIf="isSelf"
    [entity]="entity"
    [entityService]="templateService"
  ></cs-instance-group>
  <cs-read-only-instance-group
    *ngIf="!isSelf"
    [entity]="entity"
  ></cs-read-only-instance-group>

  <cs-template-os [template]="entity"></cs-template-os>
  <cs-template-general-information [entity]="entity"></cs-template-general-information>
  <cs-download-url [template]="entity"></cs-download-url>
</ng-container>
