<cs-overlay-loading [active]="creationInProgress"></cs-overlay-loading>
<div [hidden]="creationInProgress">
  <h3 *ngIf="isModeTemplates" class="mat-dialog-title">
    {{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.CREATE_NEW_TEMPLATE' | translate }}
  </h3>

  <h3 *ngIf="isModeShared" class="mat-dialog-title">
    {{ 'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.CREATE_NEW_SHARED_GROUP' | translate }}
  </h3>
  <form (ngSubmit)="onSubmit($event)" #templateCreationForm="ngForm" novalidate>
    <div class="mat-dialog-content">
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="name"
          [(ngModel)]="name"
          [placeholder]="'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.NAME' | translate"
          autofocus
          maxlength="255"
          required
        >
        <mat-hint align="end">
          <cs-character-count [value]="name" [maxLength]="255"></cs-character-count>
        </mat-hint>
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-input">
        <input
          matInput
          name="description"
          [(ngModel)]="description"
          [placeholder]="'SECURITY_GROUP_PAGE.TEMPLATE_CREATION.DESCRIPTION' | translate"
          maxlength="255"
        >
        <mat-hint align="end">
          <cs-character-count
            [value]="description"
            [maxLength]="255"
          ></cs-character-count>
        </mat-hint>
      </mat-form-field>
      <br/>

      <cs-security-group-creation-rules-manager
        class="basic-rules"
        name="sgm"
        [(ngModel)]="securityRules"
      ></cs-security-group-creation-rules-manager>
    </div>
    <div class="mat-dialog-actions">
      <button
        mat-button
        color="primary"
        matDialogClose
        type="button"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!templateCreationForm.valid"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
