<h3 class="mat-dialog-title">{{ 'SECURITY_GROUP_PAGE.BUILDER.SECURITY_GROUP_TEMPLATES' | translate }}</h3>
<div class="mat-dialog-content">
  <div class="list-builder">
    <div class="left-list">
      <div class="flex-container">
        <h5>{{ 'SECURITY_GROUP_PAGE.BUILDER.ALL_GROUPS' | translate }}</h5>
        <button
          *ngIf="items[0].length"
          md-button
          (click)="selectAll()"
        >
          {{ 'COMMON.SELECT_ALL' | translate }}
        </button>
      </div>
      <md-list>
        <md-list-item
          *ngFor="let securityGroup of items[0]; let i=index"
          [class.active]="selectedColumnIndex === 0 && selectedGroupIndex === i"
          (click)="selectGroup(i, true)"
        >
          <h4 md-line>
            {{ securityGroup.name }}
          </h4>
        </md-list-item>
      </md-list>
    </div>
    <div class="buttons-container">
      <button
        md-icon-button
        (click)="moveRight()"
        disabled="{{ selectedColumnIndex !== 0 }}"
      >
        <md-icon>navigate_next</md-icon>
      </button>
      <button
        md-icon-button
        (click)="moveLeft()"
        disabled="{{ selectedColumnIndex !== 1 }}"
      >
        <md-icon>navigate_before</md-icon>
      </button>
    </div>
    <div class="right-list">
      <div class="flex-container">
        <h5>{{ 'SECURITY_GROUP_PAGE.BUILDER.SELECTED_GROUPS' | translate }}</h5>
        <button
          *ngIf="items[1].length"
          md-button
          (click)="reset()"
        >{{ 'COMMON.RESET' | translate }}</button>
      </div>
      <md-list>
        <md-list-item
          *ngFor="let securityGroup of items[1]; let i=index"
          [class.active]="selectedColumnIndex === 1 && selectedGroupIndex === i"
          (click)="selectGroup(i, false)"
        >
          <h4 md-line>
            {{ securityGroup.name }}
          </h4>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="rules-list">
    <h5>{{ 'SECURITY_GROUP_PAGE.BUILDER.NETWORK_RULES' | translate }}</h5>
    <md-list>
      <cs-sg-creation-rule
        *ngFor="let item of selectedRules[0]"
        [item]="item"
        [type]="NetworkRuleTypes.Ingress"
      ></cs-sg-creation-rule>
      <cs-sg-creation-rule
        *ngFor="let item of selectedRules[1]"
        [item]="item"
        [type]="NetworkRuleTypes.Egress"
      ></cs-sg-creation-rule>
    </md-list>
  </div>
</div>
<div class="mat-dialog-actions" style="text-align: right;">
  <!--color-->
  <button md-button (click)="onCancel()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <!--color-->
  <button md-button (click)="onSave()">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</div>
