<h4 class="form-title">{{ 'SECURITY_GROUP_TEMPLATES' | translate }}</h4>
<div class="mdl-dialog__content">
  <div class="list-builder">
    <div class="left-list">
      <h5>{{ 'ALL_GROUPS' | translate }}</h5>
      <mdl-list>
        <mdl-list-item
          *ngFor="let secuityGroup of items[0]; let i=index"
          [class.active]="selectedColumnIndex === 0 && selectedGroupIndex === i"
          (click)="selectGroup(i, true)"
          mdl-ripple
        >
          <mdl-list-item-primary-content>
            {{ secuityGroup.name }}
          </mdl-list-item-primary-content>
        </mdl-list-item>
      </mdl-list>
    </div>
    <div class="buttons-container">
      <button
        mdl-button
        mdl-button-type="icon"
        (click)="move(false)"
        disabled="{{ selectedColumnIndex !== 0 }}"
      >
        <mdl-icon>navigate_next</mdl-icon>
      </button>
      <button
        mdl-button
        mdl-button-type="icon"
        (click)="move(true)"
        disabled="{{ selectedColumnIndex !== 1 }}"
      >
        <mdl-icon>navigate_before</mdl-icon>
      </button>
    </div>
    <div class="right-list">
      <h5>{{ 'SELECTED_GROUPS' | translate }}</h5>
      <mdl-list>
        <mdl-list-item
          *ngFor="let secuityGroup of items[1]; let i=index"
          [class.active]="selectedColumnIndex === 1 && selectedGroupIndex === i"
          (click)="selectGroup(i, false)"
          mdl-ripple
        >
          <mdl-list-item-primary-content>
            {{ secuityGroup.name }}
          </mdl-list-item-primary-content>
        </mdl-list-item>
      </mdl-list>
    </div>
  </div>
  <div class="rules-list">
    <h5>{{ 'NETWORK_RULES' | translate }}</h5>
    <mdl-list>
      <mdl-list-item *ngFor="let item of selectedRules[0]">
        <mdl-list-item-primary-content>
          {{ 'INGRESS' | translate }}
          {{ item.rule.CIDR }}
          {{ item.rule.protocol.toUpperCase() }}
          <template [ngIf]="item.rule.protocol === 'icmp'">
            {{ item.rule.icmpCode }}
            {{ item.rule.icmpType }}
          </template>
          <template [ngIf]="item.rule.protocol !== 'icmp'">
            {{ item.rule.startPort }}
            {{ item.rule.endPort }}
          </template>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
          <mdl-checkbox mdl-ripple [(ngModel)]="item.checked"></mdl-checkbox>
        </mdl-list-item-secondary-action>
      </mdl-list-item>
      <mdl-list-item *ngFor="let item of selectedRules[1]">
        <mdl-list-item-primary-content>
          {{ 'EGRESS' | translate }}
          {{ item.rule.CIDR }}
          {{ item.rule.protocol.toUpperCase() }}
          <template [ngIf]="item.rule.protocol === 'icmp'">
            {{ item.rule.icmpCode }}
            {{ item.rule.icmpType }}
          </template>
          <template [ngIf]="item.rule.protocol !== 'icmp'">
            {{ item.rule.startPort }}
            {{ item.rule.endPort }}
          </template>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
          <mdl-checkbox mdl-ripple [(ngModel)]="item.checked"></mdl-checkbox>
        </mdl-list-item-secondary-action>
      </mdl-list-item>
    </mdl-list>
  </div>
</div>
<div class="mdl-dialog__actions" style="text-align: right;">
  <button mdl-button (click)="onSave()" mdl-colored="primary">
    {{ 'SAVE' | translate }}
  </button>
  <button mdl-button (click)="onCancel()" mdl-colored="primary">
    {{ 'CANCEL' | translate }}
  </button>
</div>
