<md-list-item class="flex-container">
  <h4 md-line>
    {{ type.toUpperCase() | translate }}
    {{ item.rule.CIDR }}
    {{ item.rule.protocol.toUpperCase() }}
    <ng-container *ngIf="item.rule.protocol === NetworkProtocols.ICMP">
      {{ item.rule.icmpCode }}
      {{ item.rule.icmpType }}
    </ng-container>
    <ng-container *ngIf="item.rule.protocol !== NetworkProtocols.ICMP">
      {{ item.rule.startPort }}
      {{ item.rule.endPort }}
    </ng-container>
  </h4>
  <span>
    <mdl-checkbox [(ngModel)]="item.checked"></mdl-checkbox>
  </span>
</md-list-item>
