@mixin date-picker-theme($theme) {
  $primary: map-get($theme, primary);

  .date-display,
  .button-state {
    background: mat-color($primary);
  }

  .label.selected {
    color: mat-color($primary);
  }
}
