.calendar {
  display: flex;
  flex-direction: column;
}

.calendar-container {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  padding: 0 8px;
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  height: 48px;

  align-items: center;
}

.title-div {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.title-text {
  height: inherit;
  padding-top: 12px;
}

.week-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  height: 20px;
  line-height: 15px;
  opacity: 0.5;
  text-align: center;
}

.week-title-day {
  width: 42px;
}
