<div class="mat-dialog-title">
  <cs-date-display
    [dateTimeFormat]="dateTimeFormat"
    [locale]="locale"
    [selectedDate]="selectedDate"
    [showMonth]="displayMonth"
    (yearClick)="displayMonth = false"
    (monthClick)="displayMonth = true"
  ></cs-date-display>
</div>
<div class="mat-dialog-content">
  <div class="calendar">
    <div class="calendar-container" *ngIf="displayMonth">
      <div class="calendar-toolbar">
        <button
          mat-icon-button
          (click)="onMonthChange(-1)"
        >
          <mat-icon class="mdi-chevron-left"></mat-icon>
        </button>
        <div class="title-div">{{ dateTimeFormatted }}</div>
        <button
          mat-icon-button
          (click)="onMonthChange(1)"
        >
          <mat-icon class="mdi-chevron-right"></mat-icon>
        </button>
      </div>
      <div class="week-title">
        <span class="week-title-day" *ngFor="let day of weekTitles">
          {{ day }}
        </span>
      </div>
      <cs-calendar-month
        [locale]="locale"
        [firstDayOfWeek]="firstDayOfWeek"
        [dateTimeFormat]="dateTimeFormat"
        [displayDate]="displayDate"
        [selectedDate]="selectedDate"
        (dateSelected)="onDateSelected($event)"
      ></cs-calendar-month>
    </div>
    <cs-calendar-year
      *ngIf="!displayMonth"
      [locale]="locale"
      [dateTimeFormat]="dateTimeFormat"
      [selectedDate]="selectedDate"
      [minDate]="minDate"
      [maxDate]="maxDate"
      (yearSelected)="onYearSelected($event)"
    ></cs-calendar-year>
  </div>
</div>
