.date-display {
  width: 100%;
  height: auto;
  float: none;
  font-weight: 700;
  display: inline-block;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.month-day {
  display: block;
  font-size: 36px;
  line-height: 36px;
  height: 38px;
  opacity: 0.7;
  width: 100%;
  font-weight: 500;

  cursor: pointer;
}

.month-day-title {
  width: 100%;
  display: block;
}

.year {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
  opacity: 0.7;
  margin: 0 0 10px;

  cursor: pointer;
}

.month-day.selected,
.year.selected {
  opacity: 1;
}
