/deep/ .date-picker-dialog {
  width: 310px;

  md-dialog-container {
    padding: 0;

    .mat-dialog-actions:last-child {
      margin-bottom: 0;
    }
  }
}

:host /deep/ .mat-dialog-actions {
  padding-top: 0;
}
