<div class="event-list-container">
  <div class="event-list">
    <ng-container *ngIf="logFiles?.length; then logFilesTable else noLogFiles"></ng-container>

    <ng-template #logFilesTable>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="logFile">
          <th mat-header-cell *matHeaderCellDef>Log file</th>
          <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="goToLogs()">
            <span [innerHTML]="element | highlight"></span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
    </ng-template>

    <ng-template #noLogFiles>
      <span *ngIf="!logFiles?.length">{{ 'EVENT_PAGE.NO_EVENTS' | translate }}</span>
    </ng-template>
  </div>
</div>
