<div class="options-panel filter-wrapper">
  <mat-form-field>
    <mat-select
      [placeholder]="'Select a VM'"
      [ngModel]="vms"
    >
      <mat-option *ngFor="let vm of vms" [value]="vm.id">{{ vm.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <cs-date-picker
    [okLabel]="'COMMON.OK' | translate"
    [locale]="'ru'"
    [firstDayOfWeek]="1"
    [DateTimeFormat]="dateTimeFormat"
    [cancelLabel]="'COMMON.CANCEL' | translate"
    [ngModel]="date"
  ></cs-date-picker>

  <mat-form-field>
    <input
      matInput
      [ngModel]="'12:00'"
      [placeholder]="'Start time'"
    >
  </mat-form-field>

  <cs-date-picker
    [okLabel]="'COMMON.OK' | translate"
    [locale]="'ru'"
    [firstDayOfWeek]="1"
    [DateTimeFormat]="dateTimeFormat"
    [cancelLabel]="'COMMON.CANCEL' | translate"
    [ngModel]="date"
  ></cs-date-picker>

  <mat-form-field>
    <input
      matInput
      [ngModel]="'12:00'"
      [placeholder]="'End time'"
    >
  </mat-form-field>
</div>
