:host {
  display: inline-flex;
  cursor: pointer;
  z-index: -1;

  & mat-card {
    z-index: 0;
    line-height: normal;
  }
}

.custom-card {
  mat-card-header {
    padding-bottom: 5px;
  }

  &.has-text-color {
    mat-card-content,
    mat-card-title {
      color: inherit;
    }
  }
  &.dark-background {
    mat-card-content,
    mat-card-title {
      color: rgba(255, 255, 255, 0.87) !important;
    }
  }
  &.light-background {
    mat-card-content,
    mat-card-title {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

.os-type {
  margin-bottom: 5px;
}

mat-card {
  &.error {
    cursor: auto;
  }
  &.destroyed {
    opacity: 0.65;
  }
}

.vm-ip-address {
  display: inline-block;
}

.vm-state {
  float: right;
}

mat-divider {
  flex: 1 0 100%;
  margin: 10px 0;
}
