:host {
  display: inline-flex;
}

mat-card-content {
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;

    td, th {
      border-right: 1px solid black;
    }

    td:last-child, th:last-child {
      border-right: 0;
    }
  }
}

.error {
  cursor: auto;
}

.destroyed {
  opacity: 0.65;
}

.has-text-color {
  mat-card-content,
  mat-card-title {
    color: inherit;
  }
}

.dark-background {
  mat-card-content,
  mat-card-title {
    color: rgba(255, 255, 255, 0.87) !important;
  }
}

.light-background {
  mat-card-content,
  mat-card-title {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
