<h3 mat-dialog-title>{{ 'LOGS_PAGE.TOKEN.TOKEN_CREATED' | translate }}</h3>

<mat-dialog-content>
  <mat-form-field class="full-width-input">
    <textarea matInput [(ngModel)]="token.token" rows="12" readonly></textarea>
  </mat-form-field>
</mat-dialog-content>

<div class="mat-dialog-actions">
  <button
    mat-button
    color="primary"
    ngxClipboard
    [cbContent]="token.token"
    (cbOnSuccess)="onCopySuccess()"
    (cbOnError)="onCopyFail()"
  >
    {{ 'CLIPBOARD.COPY' | translate }}
  </button>
  <button mat-button color="primary" matDialogClose>{{ 'COMMON.OK' | translate }}</button>
</div>
