<cs-disk-offering-selector-chooser
  *ngIf="enableSelector"
  [diskOfferings]="diskOfferings"
  [diskOffering]="diskOffering"
  [availableStorage]="availableStorage"
  [customDiskOfferingMinSize]="customDiskOfferingMinSize"
  (changed)="changedOffering($event)"
></cs-disk-offering-selector-chooser>

<cs-disk-offering-selector-slider
  *ngIf="enableSlider"
  [min]="min"
  [max]="max"
  [newSize]="newSize"
  [diskOffering]="diskOffering"
  (changedOffering)="changed.next($event)"
></cs-disk-offering-selector-slider>
