<div class="grid grid-right">
  <div class="detail-section">
    <div class="detail-section-header">
      {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.GENERAL_INFORMATION' | translate }}
    </div>
    <div class="row" *ngIf="volume.size">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.SIZE' | translate }}</div>
      <div>{{ (volume.size | division:2:30:2) }} {{ ('UNITS.GB' | translate) }}</div>
    </div>
    <div class="row" *ngIf="volumeDescription">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.DESCRIPTION' | translate }}</div>
      <div>{{ volumeDescription }}</div>
    </div>
    <div class="row" *ngIf="volume.created">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.CREATED' | translate }}</div>
      <div>{{ volumeCreated | date:'y-MM-dd H:m:s' }}</div>
    </div>
    <div class="row"  *ngIf="volume.storagetype">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.STORAGE_TYPE' | translate }}</div>
      <div>{{ storageTypeTranslationToken | translate }}</div>
    </div>
    <div class="row"
         *ngIf="volume?.diskOffering?.name"
         [matTooltip]="volume?.diskOffering?.displaytext"
         matTooltipPosition="above"
    >
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.DISK_OFFERING' | translate }}</div>
      <div>{{ volume.diskOffering.name }}</div>
    </div>
  </div>

  <div
    *ngIf="hasPerformanceInfo()"
    class="detail-section"
  >
    <div class="detail-section-header">
      {{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.PERFORMANCE' | translate }}
    </div>

    <div class="row" *ngIf="volume.diskOffering.miniops">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.MIN_IO' | translate }}</div>
      <div>{{ 'UNITS.IOPS_VALUE' | translate:{ value: volume.diskOffering.minIops } }}</div>
    </div>

    <div class="row" *ngIf="volume.diskOffering.maxiops">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.MAX_IO' | translate }}</div>
      <div>{{ 'UNITS.IOPS_VALUE' | translate:{ value: volume.diskOffering.maxIops } }}</div>
    </div>

    <div class="row" *ngIf="volume.diskOffering.diskBytesReadRate">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.READ_RATE_MB' | translate }}</div>
      <div>{{ 'UNITS.MBPS_VALUE' | translate:{ value: volume.diskOffering.diskBytesReadRate | division:10:6 } }}</div>
    </div>

    <div class="row" *ngIf="volume.diskOffering.diskBytesWriteRate">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.WRITE_RATE_MB' | translate }}</div>
      <div>{{ 'UNITS.MBPS_VALUE' | translate:{ value: volume.diskOffering.diskBytesWriteRate | division:10:6 } }}</div>
    </div>

    <div class="row" *ngIf="volume.diskOffering.diskIopsReadRate">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.READ_RATE_IOPS' | translate }}</div>
      <div>{{ 'UNITS.IOPS_VALUE' | translate:{ value: volume.diskOffering.diskIopsReadRate } }}</div>
    </div>

    <div class="row" *ngIf="volume.diskOffering.diskIopsWriteRate">
      <div>{{ 'VM_PAGE.STORAGE_DETAILS.VOLUME_DETAILS.WRITE_RATE_IOPS' | translate }}</div>
      <div>{{ 'UNITS.IOPS_VALUE' | translate:{ value: volume.diskOffering.diskIopsWriteRate } }}</div>
    </div>
  </div>
</div>
