<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-card-title-text">
        {{ 'VOLUME_PAGE.DETAILS.GENERAL_INFORMATION' | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid grid-right">
      <div class="row" *ngIf="volume">
        <div>{{ 'VOLUME_PAGE.DETAILS.SIZE' | translate }}</div>
        <div>{{ (volume.size | division:2:30:2) }} {{ ('UNITS.GB' | translate) }}</div>
      </div>
      <div class="row" *ngIf="volume">
        <div>{{ 'VOLUME_PAGE.DETAILS.CREATED' | translate }}</div>
        <div>{{ volumeCreated | csStringifyDate }}</div>
      </div>
      <div class="row" *ngIf="volume">
        <div>{{ 'VOLUME_PAGE.DETAILS.STORAGE_TYPE' | translate }}</div>
        <div>{{ diskOfferingStorageType | translate }}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
