:host {
  display: inline-block;
  text-align: right;
  margin-top: 16px;

  /deep/ .mdl-textfield {
    padding-top: 10px;
  }

  /deep/ .mdl-textfield__input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    border: none;
  }
}
