<div class="padding">
  <div *ngIf="language">
    <h4 class="no-margin">{{ 'LANGUAGE' | translate }}</h4>
    <mdl-select
      [(ngModel)]="language"
      (change)="changeLanguage($event)"
    >
      <mdl-option [value]="'en'">English</mdl-option>
      <mdl-option [value]="'ru'">Русский</mdl-option>
    </mdl-select>
  </div>
  <div>
    <h4>{{ 'PALETTE' | translate }}</h4>
    <div>
      <cs-color-picker
        *ngIf="primaryColor"
        [selectedColor]="primaryColor"
        [colorList]="primaryColors"
        (onColorChanged)="updatePrimaryColor($event)"
      ></cs-color-picker>
    </div>
    <div>
      <cs-color-picker
        *ngIf="accentColor"
        [selectedColor]="accentColor"
        [colorList]="accentColors"
        (onColorChanged)="updateAccentColor($event)"
      ></cs-color-picker>
    </div>
  </div>
</div>
