$section-width: 320px;
$section-padding: 20px;

:host {
  width: 100%;
}

:host /deep/ .settings-container {
  padding: 20px;

  section {
    h4 {
      margin: 16px 0;
      font-size: 1.4em;
    }

    .section-container {
      padding-left: $section-padding;

      h5 {
        margin: 8px 0;
        font-size: 1.25em;
      }
    }

    .settings-control {
      width: $section-width - $section-padding;
    }
  }

  .save-password {
    margin: 20px 0;
  }

  section:first-of-type h4 {
    margin-top: 0;
  }
}

:host /deep/ .pull-right-button {
  text-align: right;
  width: 100%;
}
