<cs-top-bar></cs-top-bar>

<div class="settings-container">
  <section>
    <h4>{{ 'SETTINGS.SECURITY.TITLE' | translate }}</h4>
    <div class="section-container">
      <h5>{{ 'SETTINGS.SECURITY.CHANGE_PASSWORD' | translate }}</h5>
      <form
        class="settings-control"
        [formGroup]="passwordUpdateForm"
        (ngSubmit)="updatePassword()"
        novalidate
        #passwordForm="ngForm"
      >
        <md-input-container class="full-width-input">
          <input
            mdInput
            type="password"
            formControlName="password"
            [placeholder]="'SETTINGS.SECURITY.NEW_PASSWORD' | translate"
            required
          >
        </md-input-container>
        <br>
        <md-input-container class="full-width-input">
          <input
            mdInput
            type="password"
            formControlName="passwordRepeat"
            [placeholder]="'SETTINGS.SECURITY.REPEAT_PASSWORD' | translate"
            required
          >
        </md-input-container>
        <br>
        <div class="pull-right-button">
          <button md-button type="submit" [disabled]="!passwordUpdateForm.valid">
            {{ 'COMMON.UPDATE' | translate }}
          </button>
        </div>
      </form>

      <cs-inactivity-timeout></cs-inactivity-timeout>
    </div>
  </section>

  <cs-api-info [userId]="userId"></cs-api-info>

  <section>
    <h4>{{ 'SETTINGS.LOOK_AND_FEEL.TITLE' | translate }}</h4>
    <div class="section-container">
      <div *ngIf="language" class="settings-control">
        <h5 class="no-margin">{{ 'SETTINGS.LOOK_AND_FEEL.LANGUAGE' | translate }}</h5>
        <md-select
          class="form-select-control"
          [(ngModel)]="language"
          (change)="changeLanguage($event)"
        >
          <md-option
            *ngFor="let l of languages"
            [value]="l.value"
          >
            {{ l.text }}
          </md-option>
        </md-select>
      </div>
      <div *ngIf="firstDayOfWeek != null" class="settings-control">
        <h5 class="no-margin">{{ 'SETTINGS.LOOK_AND_FEEL.FIRST_DAY_OF_WEEK' | translate }}</h5>
        <md-select
          *ngIf="dayTranslations"
          class="form-select-control"
          [ngModel]="firstDayOfWeek"
          [disabled]="updatingFirstDayOfWeek"
          (change)="firstDayOfWeekChange($event)"
        >
          <md-option
            *ngFor="let d of daysOfTheWeek"
            [value]="d.value"
          >
            {{ d.text | translate }}
          </md-option>
        </md-select>
      </div>
      <div class="settings-control">
        <h5 class="no-margin">{{ 'SETTINGS.LOOK_AND_FEEL.TIME_FORMAT' | translate }}</h5>
        <md-select
          class="form-select-control"
          [ngModel]="timeFormat"
          [disabled]="updatingTimeFormat"
          (change)="changeTimeFormat($event)"
        >
          <md-option
            *ngFor="let format of timeFormats"
            [value]="TimeFormat[format]"
          >
            {{ getTimeFormatTranslationToken(format) | translate }}
          </md-option>
        </md-select>
      </div>
      <div class="settings-control">
        <h5>{{ 'SETTINGS.LOOK_AND_FEEL.PALETTE' | translate }}</h5>
        <div>
          <cs-color-picker
            *ngIf="primaryColor"
            [colors]="primaryColors"
            [selectedColor]="primaryColor"
            [formControl]="primaryColorControl"
            (change)="updatePrimaryColor($event)"
          ></cs-color-picker>
        </div>
        <div>
          <cs-color-picker
            *ngIf="accentColor"
            [colors]="accentColors"
            [selectedColor]="accentColor"
            [formControl]="accentColorControl"
            (change)="updateAccentColor($event)"
          ></cs-color-picker>
        </div>
      </div>
    </div>
  </section>
</div>
